<div class="row">
  <div class="col-md-6">
    <div class="card personal-details-card">
      <div class="card-content top-card-content-height">
        <p style="margin-bottom:15px;"><strong>Contact Details</strong></p>
        <p>{{ user.personal_information.first_name }} {{ user.personal_information.last_name }}</p>
        <p>{{ user.email }}</p>
        <p style="width: 75%;">
          {{ user.personal_information.bio }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card company-details-card">
      <div class="card-content">
        <p style="margin-bottom:15px;"><strong>Company Details</strong></p>
        <p>{{ user.company_information.company_name }}</p>
        <p>{{ user.company_information.country }}</p>
        <p>{{ user.company_information.city }}</p>
        <p>{{ user.company_information.street }}</p>
        <p>{{ user.company_information.zipcode }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row margin-none">
  <div class="col-md-12">
    <!-- <a class="status-bar" data-toggle="tab" href="#transactions" (click)="activateTab('transactions')">
      <p>{{ counter.transactions }}</p>
      <p>TRANSACTIONS</p>
    </a> -->
    <a class="status-bar" data-toggle="tab" href="#orders" (click)="activateTab('orders')">
      <p>{{ counter.orders }}</p>
      <p>ORDERS</p>
    </a>
    <a class="status-bar" data-toggle="tab" href="#invoices" (click)="activateTab('invoices')">
      <p>{{ counter.invoices }}</p>
      <p>INVOICES</p>
    </a>
    <a class="status-bar" data-toggle="tab" href="#documents" (click)="activateTab('documents')">
      <p>{{ counter.documents }}</p>
      <p>DOCUMENTS</p>
    </a>
  </div>
</div>
