<div class="row">
  <div class="col-md-6">
    <div class="card personal-details-card">
      <div class="card-content top-card-content-height">
        <p style="margin-bottom:15px;"><strong>Contact Details</strong></p>
        <p>Tony Stark</p>
        <p>tony.stark@gmail.com</p>
        <p style="width: 75%;">
          Bio Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card company-details-card">
      <div class="card-content">
        <p style="margin-bottom:15px;"><strong>Company Details</strong></p>
        <p>Avenews-GT</p>
        <p>Israel</p>
        <p>Tel-Aviv</p>
        <p>Ahad Haam 54</p>
        <p>6808852</p>
      </div>
    </div>
  </div>
</div>

<div class="row margin-none">
  <div class="col-md-12">
    <div class="status-bar">
      <p>10</p>
      <p>TRANSACTIONS</p>
    </div>
    <div class="status-bar">
      <p>10</p>
      <p>ORDERS</p>
    </div>
    <div class="status-bar">
      <p>10</p>
      <p>INVOICES</p>
    </div>
    <div class="status-bar">
      <p>10</p>
      <p>DOCUMENTS</p>
    </div>
  </div>
</div>
