<div class="modal-box-heading">
  <a (click)="onExit()"><i class="material-icons pull-right">close</i></a>
  <h2 translate class="modal-title">Add Agricultural Product</h2>
</div>
<div class="padding-all">
  <form>
    <p class="heading-2">Product</p>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="product-name">Product Name *</label>
        <input
          type="text"
          id="product-name"
          class="form-control"
          name="name"
          placeholder="Ex. Green coffee beans"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="variety">Variety *</label>
        <input type="text" id="variety" class="form-control" name="variety" placeholder="Ex. Kona" required />
      </div>
    </div>
    <p class="heading-2">Amount</p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="weight-unit">Weight Unit *</label>
        <select id="weight-unit" name="weight_unit" class="form-control" required>
          <option *ngFor="let unit of units" [value]="unit.value" selected="selected">{{ unit.viewValue }}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="total-amount">Total Amount *</label>
        <input
          type="number"
          min="0"
          id="total-amount"
          name="total_weight"
          (ngModelChange)="setPackageAmount()"
          class="form-control"
          placeholder="Ex. 100"
          required
        />
      </div>
    </div>
    <p class="heading-2">Package</p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="product-name">Package Type *</label>
        <input
          type="text"
          id="package-type"
          name="type_of_package"
          class="form-control"
          placeholder="Ex. Box"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="average-amount-packaged-product">Average Amount () per Packaged Product *</label>
        <input
          type="number"
          min="0"
          id="average-amount-packaged-product"
          name="package_weight"
          class="form-control"
          (ngModelChange)="setPackageAmount()"
          placeholder="Ex. 2.5"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="variety">Total Number of Packages *</label>
        <input type="number" id="total-packages" name="quantity" class="form-control" required disabled />
      </div>
    </div>
    <p class="heading-2">Specifications</p>
    <div class="form-row">
      <div class="form-group col">
        <label for="variety">Specifications</label>
        <textarea
          type="text"
          rows="3"
          placeholder="Type specifications here..."
          id="specifications"
          name="specifications"
          class="form-control"
        ></textarea>
      </div>
    </div>
    <button type="submit" class="bttn-primary pull-right">
      Add Product
    </button>
  </form>
</div>
