<div class="row margin-bottom-2" >
  <div class="col-md-9">
    <p class="heading-2">BUYER</p>
    <p class="heading-4">Avenews-gt</p>
    <p class="heading-4">Ishai Ben Or</p>
    <p class="heading-4">Ahad Ha'am 54</p>
  </div>
  <div class="col-md-3">
    <p class="heading-2">SELLER</p>
    <p class="heading-4">Avenews-gt</p>
    <p class="heading-4">Ishai Ben Or</p>
    <p class="heading-4">Ahad Ha'am 54</p>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <p class="heading-2">Product Details</p>
    <table class="table table-striped margin-bottom-2">
      <thead>
        <tr style="font-size: 1.34rem;">
        <th>Produce</th>
        <th>Variety</th>
        <th>Tolerance</th>
        <th>SKU</th>
        <th>Product Specifications</th>
        <th>Approvals & Certifications</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>Green Coffee</td>
          <td>Kona</td>
          <td>none</td>
          <td>5345345111</td>
          <td>Type: Fully-Washed Grade</td>
          <td>none</td>
        </tr>
      </tbody>
    </table>

    <p class="heading-2">Packing Details</p>
    <p class="heading-4-blue">Package Details</p>
    <table class="table table-striped margin-bottom">
      <thead>
        <tr style="font-size: 1.34rem;">
        <th>Type of package</th>
        <th>Packaged product weight</th>
        <th>Weight unit</th>
        <th>Qunatity</th>
        <th>Total Weight</th>
      </tr>
      </thead>
      <tbody>
        <tr class="table-light">
          <td>Bag</td>
          <td>45</td>
          <td>kg</td>
          <td>450</td>
          <td>20250</td>
        </tr>
      </tbody>
    </table>

    <div class="margin-bottom-2">
    <p class="heading-4-blue">Container Details</p>
    <p class="heading-4">Type: ft.1</p>
    <p class="heading-4 margin-bottom">Quantity: 1</p>
  </div>
  </div>
  <div class="col-md-3">
    <div class="invoice-right-side">
      <p class="heading-big">PRICING</p>
      <div class="pricing">
        <div>
          <p class="heading-2 ">Price per kg</p>
          <p class="heading-2">Currency</p>
          <p class="heading-2">Total weight</p>
        </div>
        <div>
          <p class="heading-4-blue">10</p>
          <p class="heading-4-blue">USD</p>
          <p class="heading-4-blue">4353</p>
        </div>
        <div>
          <p class="heading-2">TOTAL</p>
          <p class="heading-4-blue" style="font-size:1.9rem">5000 USD</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <div class="border-top">
      <p class="heading-2">Shipping Details</p>
      <div class="row">
        <div class="col-md-3">
          <p>From</p>
          <p>GPS Coordinates</p>
          <p>To</p>
          <p>GPS Coordinates</p>
          <p>Incoterms</p>
        </div>
        <div class="col-md-9">
          <p>Kenya, Nairobi</p>
          <p>[-34.8215904] [150.60216809999997]</p>
          <p>Israel, Tel-Aviv Jaffa, Ahad Ha'am 54</p>
          <p>[-34.8215904] [150.60216809999997]</p>
          <p>None</p>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="border-top">
      <p class="heading-2">Additional Details</p>
      <div class="details">
        <div>
          <p>Expected receiving date</p>
          <p>Quote request remarks</p>
          <p>Quote request valid until</p>
        </div>
        <div>
          <p>28/10/2018</p>
          <p>No</p>
          <p>7/10/2018</p>
        </div>
        <div>
          <p>Expected dalivery date</p>
          <p>Proforma invoice remarks</p>
          <p>Proforma invoice valid until</p>
        </div>
        <div>
          <p>28/10/2018</p>
          <p>No</p>
          <p>7/10/2018</p>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="bttn-primary next-step pull-right"> <span> Generate Purchase Order &rarr; </span></button>
<button class="btn-primary-transp pull-right">Download PDF</button>
