<div class="row margin-bottom-2">
  <div class="col-md-9">
    <p class="heading-2">BUYER</p>
    <p class="heading-4">{{transaction.buyer.email}}</p>
    <p class="heading-4">{{transaction.buyer.first_name}} {{transaction.buyer.last_name}}</p>
  </div>
  <div class="col-md-3">
    <p class="heading-2">SELLER</p>
    <p class="heading-4">{{transaction.seller.email}}</p>
    <p class="heading-4">{{transaction.seller.first_name}} {{transaction.buyer.last_name}}</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="heading-2">Product Details</p>
    <table class="table table-striped margin-bottom-2">
      <thead>
        <tr style="font-size: 1.34rem;">
          <th>Produce</th>
          <th>Variety</th>
          <th>Tolerance</th>
          <th>SKU</th>
          <th>Product Specifications</th>
          <th>Approvals & Certifications</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{proformaInvoice.produce}}</td>
          <td>{{proformaInvoice.variety}}</td>
          <td>{{proformaInvoice.tolerance}}</td>
          <td>{{proformaInvoice.stock_keeping_unit}}</td>
          <td>{{proformaInvoice.specification}}</td>
          <td>
            <ul *ngIf="proformaInvoice.certifications && proformaInvoice.certifications[0]">
              <li *ngFor="let certification of proformaInvoice.certifications" style="list-style: none;">{{certification}}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="proformaInvoice.type_of_package"> 
      <p class="heading-2">Packing Details</p>
      <p class="heading-4-blue">Package Details</p>
      <table class="table table-striped margin-bottom">
        <thead>
          <tr style="font-size: 1.34rem;">
            <th>Type of package</th>
            <th>Packaged product weight</th>
            <th>Weight unit</th>
            <th>Quantity</th>
            <th>Total Weight</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td>{{proformaInvoice.type_of_package}}</td>
            <td>{{proformaInvoice.package_weight}}</td>
            <td>{{proformaInvoice.package_weight_unit | uppercase}}</td>
            <td>{{proformaInvoice.quantity}}</td>
            <td>{{proformaInvoice.total_weight}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="proformaInvoice.container_type">
      <div class="margin-bottom-2">
        <p class="heading-4-blue">Container Details</p>
        <p class="heading-4">Type: {{proformaInvoice.container_type}}</p>
        <p class="heading-4 margin-bottom">Quantity: {{proformaInvoice.container_quantity}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="invoice-right-side">
      <p class="heading-big">PRICING</p>
      <div class="pricing">
        <div>
          <p class="heading-2 ">Price per {{proformaInvoice.package_weight_unit | uppercase}}</p>
          <p class="heading-2">Currency</p>
          <p class="heading-2">Total weight</p>
        </div>
        <div>
          <p class="heading-4-blue">{{proformaInvoice.price_per_unit}}</p>
          <p class="heading-4-blue">{{proformaInvoice.currency | uppercase}}</p>
          <p class="heading-4-blue">{{proformaInvoice.total_weight}}</p>
        </div>
        <div>
          <p class="heading-2">TOTAL</p>
          <p class="heading-4-blue" style="font-size:1.9rem">{{proformaInvoice.total_price}} {{proformaInvoice.currency | uppercase}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="border-top">
      <p class="heading-2">Shipping Details</p>
      <div class="row">
        <div class="col-md-3">
          <p>From</p>
          <p>GPS Coordinates</p>
          <p>To</p>
          <p>GPS Coordinates</p>
          <p>Incoterms</p>
        </div>
        <div class="col-md-9">
          <p>{{proformaInvoice.point_of_loading}}</p>
          <p>{{proformaInvoice.gps_coordinates_loading[0]}} {{proformaInvoice.gps_coordinates_loading[1]}}</p>
          <p>{{proformaInvoice.point_of_delivery}}</p>
          <p>{{proformaInvoice.gps_coordinates_delivery[0]}} {{proformaInvoice.gps_coordinates_delivery[1]}}</p>
          <p>{{proformaInvoice.incoterms}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="border-top">
      <p class="heading-2">Additional Details</p>
      <div class="details">
        <div>
          <p>Expected receiving date</p>
          <p>Quote request remarks</p>
          <p>Quote request valid until</p>
        </div>
        <div>
          <p>{{proformaInvoice.expected_receiving_date | date:'dd/MM/yy'}}</p>
          <p>{{quoteRequest.remarks}}</p>
          <p>{{quoteRequest.valid_until | date:'dd/MM/yy'}}</p>
        </div>
        <div>
          <p>Expected delivery date</p>
          <p>Proforma invoice remarks</p>
          <p>Proforma invoice valid until</p>
        </div>
        <div>
          <p>{{proformaInvoice.expected_delivering_date | date:'dd/MM/yy' }}</p>
          <p>{{proformaInvoice.remarks}}</p>
          <p>{{proformaInvoice.valid_until | date:'dd/MM/yy'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn-primary-transp pull-right">Download PDF</button>
<!-- <button class="bttn-primary next-step pull-right"><span> Generate Purchase Order &rarr; </span></button> -->