<form [formGroup]="form">
  <div class="panel panel-tab">
    <div class="panel-body">
      <div class="panel-header">
        <div>
          <p>My Buyers</p>
        </div>
        <div>
          <button
            [hidden]="clients?.length < 1 || validBuyer"
            class="bttn-primary pull-right"
            (click)="nextBtnClicked = true"
          >
            Next Step &rarr;
          </button>
          <button [hidden]="clients?.length < 1 || !validBuyer" class="bttn-primary pull-right next-step">
            Next Step &rarr;
          </button>
        </div>
      </div>
      <div class="padding-all-2" *ngIf="clients?.length >= 1">
        <div class="alert alert-danger" role="alert" [hidden]="validBuyer || !nextBtnClicked">
          Please choose a client!
        </div>
        <button class="btn-icons pull-right">
          <i class="material-icons" (click)="onNextPage(clients.length, 6)">keyboard_arrow_right</i>
        </button>
        <button class="btn-icons pull-right">
          <i class="material-icons" (click)="onBackPage()">keyboard_arrow_left</i>
        </button>
        <div class="row margin-top clearfix">
          <div class="col-md-2" *ngFor="let client of (clients | paginate: { itemsPerPage: 6, currentPage: page })">
            <div class="card supplier-card ">
              <div>
                <input
                  type="radio"
                  class="form_radio"
                  id="{{ client.numericId }}"
                  [value]="client"
                  formControlName="buyer"
                />
                <label for="{{ client.numericId }}" class="form_radio_label">
                  <span class="form_radio_btn"></span>
                </label>
                <p class="pull-right">#{{ client.numericId }}</p>
              </div>
              <div>
                <figure
                  class="img-circular img-circular-md"
                  [style.background-image]="'url(' + profilePicture(client) + ')'"
                ></figure>
              </div>
              <div>
                <p class="heading-3">{{ client.first_name }} {{ client.last_name }}</p>
                <p>{{ client.company_name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="add-supplier-box" [hidden]="clients?.length > 0">
        <img src="../../../../assets/img/default/pi-po/noClient.png" width="285" height="183" />
        <p>You have no clients yet! Please go to the clients page to add your clients.</p>
        <button class="bttn-primary" [routerLink]="['/client']">
          <span>Go to clients</span>
        </button>
      </div>
    </div>
  </div>
</form>
