.card {
  div:nth-child(2) {
    align-self: center;
    text-align: center;
  }

  div:nth-child(3) {
    align-self: center;
    text-align: center;

    p:nth-child(2) {
      color: #8d8d8d;
      font-weight: 600;
    }
  }
}

.panel-header {
  display: flex;
  align-items: center;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  padding: 1rem 2.5rem;
  margin-top: -1.5rem;
}

.panel-header :nth-child(2) {
  align-self: flex-end;
  margin-left: auto;
}

.panel-header::after {
  content: "";
  display: block;
  clear: both;
}
