<div class="row">
  <div class="col-md-6 padding-top-md">
    <button class="btn-icons  pull-right" (click)="targetStep('productDetails')">
      <i class="material-icons">edit</i>
    </button>
    <div class="icon-text margin-bottom">
      <i class="material-icons">description </i>
      <p class="heading-2">Product Details</p>
    </div>
    <div class="prod-details">
      <div class="prod-img-heading">
        <figure
          class="img-circular"
          [ngStyle]="{ 'background-image': 'url(' + product_image + ')' }"
          style="margin: 0 auto;"
        ></figure>
        <p class="heading-2" style="text-align:center;">{{ product.produce }}</p>
      </div>
      <div>
        <p class="heading-2">SKU</p>
        <p>{{ product.sku }}</p>
        <p class="heading-2">Product code</p>
        <p>{{ product.product_id }}</p>
        <p class="heading-2">Approvals and Certifications</p>
        <p>{{ product.approvals_and_certifications }}</p>
        <p class="heading-2">Country of origin</p>
        <p>{{ product.country_of_origin }}</p>
        <p class="heading-2">Specifications</p>
        <p>{{ product.specification }}</p>
        <p class="heading-2">About</p>
        <p>{{ product.about }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 shipping-block">
    <div class="details-row">
      <div class="section-icon  margin-bottom">
        <div class="icon-text">
          <i class="material-icons">local_shipping</i>
          <p class="heading-2">Shipping Details</p>
        </div>
      </div>
      <div class="details-right">
        <button class="btn-icons  pull-right" (click)="targetStep('shippingDetails')">
          <i class="material-icons">edit</i>
        </button>
        <div class="shipping-block-details">
          <p class="heading-2">Loading location</p>
          <p>{{ product.loading_location }}</p>
          <p class="heading-2">GPS coordinates</p>
          <p>{{ product.gps_coordinates }}</p>
          <p class="heading-2">HS tariff code</p>
          <p>{{ product.tariff_code }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="details-row">
  <div class="section-icon">
    <img src="../../../assets/img/pack.png" width="22" height="25" /> <span class="heading-2">Packing Details</span>
  </div>
  <div class="details-right">
    <button class="btn-icons pull-right" (click)="targetStep('packingDetails')">
      <i class="material-icons">edit</i>
    </button>
    <p class="heading-2">Containing Package Details</p>
    <div class="packing-flex">
      <div>
        <p class="heading-2">Type of package</p>
        <p>{{ product.type_of_package }}</p>
        <p class="heading-2" *ngIf="isProcessed">Total Number of Packages</p>
        <p *ngIf="isProcessed">{{ product.quantity }}</p>
      </div>
      <div>
        <p class="heading-2">Weight of the packaged product</p>
        <p>{{ product.package_weight }} {{ product.weight_unit }}</p>
        <p class="heading-2">Additional packing details</p>
        <p>{{ product.package_details }}</p>
      </div>
      <div>
        <p class="heading-2">Total Weight</p>
        <p>{{ product.total_weight }} {{ product.weight_unit }}</p>
      </div>
    </div>
  </div>
</div>
<div class="details-row">
  <div class="section-icon">
    <div class="icon-text">
      <i class="material-icons">monetization_on</i>
      <p class="heading-2">Pricing Details</p>
    </div>
  </div>
  <div class="details-right">
    <button class="btn-icons pull-right" (click)="targetStep('pricingDetails')">
      <i class="material-icons">edit</i>
    </button>
    <div class="packing-flex">
      <div>
        <p class="heading-2">Price per {{ product.weight_unit }}</p>
        <p>{{ product.price_per_unit }} {{ product.currency }}</p>
        <p class="heading-2">Price per package</p>
        <p>{{ product.package_price }} {{ product.currency }}</p>
      </div>
      <div>
        <p class="heading-2">Total price</p>
        <p>{{ product.total_price }} {{ product.currency }}</p>
      </div>
      <div>
        <p class="heading-2">Additional pricing details</p>
        <p>{{ product.pricing_details }}</p>
      </div>
    </div>
  </div>
</div>

<button *ngIf="!edit" class="bttn-primary pull-right" (click)="save()" [disabled]="!form.valid">Add Product</button>
<button *ngIf="edit" class="bttn-primary pull-right" (click)="update()" [disabled]="!form.valid">update Product</button>
