.product-image {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.row {
  padding-left: 3rem;
}

.section-icon {
  width: 15.8%;
}

.shipping-block {
  border-left: 1px solid rgba(0, 0, 0, 0.08);

  .section-icon {
    width: 35%;
    padding-right: 0px !important;
  }
}

.prod-details {
  width: 100%;
  display: flex;
  padding-bottom: 2.5rem;

  & div:not(:last-child) {
    margin-right: 12%;
  }

  .prod-img-heading {
    width: 20%;
  }
}

.packing-flex {
  display: flex;

  div {
    width: 30%;
  }

  & div:not(:last-child) {
    margin-right: 5rem;
  }
}

.details-row {
  margin: 0px -15px;
  padding: 25px 50px;
  display: flex;

  img {
    margin-right: 1rem;
    margin-bottom: 1.1rem;
  }

  .details-right {
    flex: 1;
  }
}

.details-row:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
