.panel {
  background: transparent;
  color: #5b6675;
  margin-top: 2rem;
  padding: 0px 2rem 0px 0px;
  margin-bottom: 0.5rem;
  position: relative;
  border-bottom: 0px;
  box-shadow: unset;

  p {
    font-size: 1.7rem;
  }

  h1 {
    margin-bottom: 1rem;
    font-weight: 600;
  }
}

.panel-body {
  display: flex;
}

.row {
  padding: 0px 3rem;
}

.starting-guide-wrapper {
  width: 1360px;
  margin: 0 auto;
}
