<div class="row">
  <div class="col">
    <h1 class="welcome-title">Welcome to Avenews-GT, {{ username }}!</h1>
  </div>
</div>

<div class="row" style="padding-left:1.5rem;">
  <div class="col-lg-6 col-md-12">
    <app-dashboard-welcome-panel></app-dashboard-welcome-panel>
  </div>
  <div class="col-lg-6">
    <app-dashboard-counter-panel [counter]="counter"></app-dashboard-counter-panel>
  </div>
  <div class="col-lg-3 col-md-6">
    <!-- <app-dashboard-todo-panel></app-dashboard-todo-panel> -->
  </div>
  <div class="col-lg-3 col-md-6">
    <!-- <app-dashboard-activity-panel></app-dashboard-activity-panel> -->
  </div>
</div>
