<a class="pull-right need-help" data-toggle="wizard" data-target="#clientTutorials">Need help?</a>
<h1 class="main-title">Contacts</h1>
<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p *ngIf="isInvited">Review your work with the Contact who invited you to his network.</p>
  <p *ngIf="!isInvited">
    Invite new Contacts to your network, centrally manage your existing contacts, and review the transactions you have
    with them.
  </p>
</div>
<h1 class="main-title" *ngIf="hasClients">Contact List</h1>

<div class="mt-1 actions-section clearfix" *ngIf="hasClients">
  <div>
    <input
      type="text"
      id="searchBar"
      class="search-bar"
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="Search contacts..."
    />
  </div>
  <div class="flex-pr">
    <button
      class="bttn-primary bttn-add"
      data-toggle="wizard"
      *ngxPermissionsOnly="['create-client']"
      data-target="#addClientWizard"
      matTooltip="{{ tooltips.add_client }}"
      matTooltipPosition="above"
    >
      <span>Add a Contact</span>
    </button>
  </div>
</div>

<table class="table main-table" matSort (matSortChange)="sortData($event)" *ngIf="hasClients">
  <thead>
    <tr>
      <th mat-sort-header="id" class="text-center">ID</th>
      <th mat-sort-header="contact">Contact</th>
      <th mat-sort-header="details">Details</th>
      <th mat-sort-header="country">Country</th>
      <th mat-sort-header="type">Type</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let client of (clients
          | filter: searchTerm
          | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage })
      "
    >
      <td class="text-center">{{ client.numericId }}</td>
      <td>
        <span *ngIf="client.company_name">{{ client.company_name }} / </span>{{ client.first_name }}
        {{ client.last_name }}
      </td>
      <td>
        <span *ngIf="client.email && client.phone_number">{{ client.email }} / {{ client.phone_number }}</span>
        <span *ngIf="client.email && !client.phone_number">{{ client.email }}</span>
        <span *ngIf="!client.email && client.phone_number">{{ client.phone_number }}</span>
      </td>
      <td>
        {{ client.country }}
        <span *ngIf="!client.country">N/A</span>
      </td>
      <td *ngIf="client.role != 'external_user'" style="text-transform: capitalize;">{{ client.role }}</td>
      <td *ngIf="client.role === 'external_user'">External Contact</td>
      <td class="text-right">
        <button class="round-button-primary" [routerLink]="['/client', client._id]">
          <i class="material-icons">remove_red_eye</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div style="background-color: white;">
  <div class="add-supplier-box panel" *ngIf="!hasClients">
    <div class="panel-body">
      <img src="../../../assets/img/default/pi-po/noClient.png" width="375" height="225" />
      <p style="font-size: large;">Add your first contact and begin trading.</p>
      <button
        class="bttn-primary bttn-add"
        data-toggle="wizard"
        *ngxPermissionsOnly="['create-client']"
        data-target="#addClientWizard"
        matTooltip="{{ tooltips.add_client }}"
        matTooltipPosition="below"
      >
        <span>Add your first Contact</span>
      </button>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="pageChanged($event)" *ngIf="hasClients"></pagination-controls>

<app-contact-generator></app-contact-generator>
<app-client-tutorials></app-client-tutorials>
