<h1 class="main-title">Clients</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>Here you can see all your invoices that have been sent to you!</p>
</div>


<button class="btn-primary-filled pull-right" data-toggle="wizard" data-target="#addClientWizard"><i class="material-icons">add</i> <span>Add Client</span></button>

<h1 class="main-title">Clients List</h1>

<table class="table main-table">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th>Company</th>
      <th>Contact Name</th>
      <th>Type</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients | paginate: { itemsPerPage: 6, currentPage: page }">
      <td class="text-center">{{ client.numericId }}</td>
      <td>{{ client.company_name }}</td>
      <td>{{ client.first_name }} {{ client.last_name }}</td>
      <td>{{ client.role }}</td>
      <td class="text-right">
        <button class="btn round-button-primary"><i class="material-icons">remove_red_eye</i></button>
        <button class="btn round-button-red" (click)="warning()"><i class="material-icons">delete</i></button>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls
(pageChange)="page = $event"
></pagination-controls>

<app-add-client></app-add-client>

