<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">What is the location of the key person? (Only Partnership)</p>
  </div>

  <div class="step-content">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="country">Country</label>
        (Sole/LLC Only)
        <select id="country" class="form-control">
          <option *ngFor="let country of countries" [value]="country.viewValue" selected="selected">{{
            country.viewValue
          }}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="physical-address">Physical address</label>
        <input type="text" id="physical-address" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="house-number">House number</label>
        <input type="text" id="house-number" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="duration-address">Duration at current address</label>
        <input type="text" id="duration-address" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="po-box">P.O. box</label>
        <input type="text" id="po-box" class="form-control" />
      </div>
    </div>
  </div>
</div>
