<form [formGroup]="form">
  <div class="row">
    <div class="col-md-6">
      <div class="info">
        <p class="heading-3">ISSUED BY</p>
        <app-user-data [user]="seller" [issued_by]="true"></app-user-data>
      </div>
    </div>
    <div class="col-md-6">
      <div class="info">
        <p class="heading-3">ISSUED FOR</p>
        <app-user-data [user]="buyer" [issued_for]="true"></app-user-data>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-order-invoice-product-list
        [products]="products"
        [currency]="invoice.currency.value"
        (deleteProductEvent)="deleteProduct($event)"
        (updateProductEvent)="updateProduct($event)"
      >
      </app-order-invoice-product-list>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
      <button class="btn-primary-transp">
        <i class="material-icons rotate">attach_file</i> <span>Upload Document</span>
      </button>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-4">
      <div class="comments">
        <label for="payment_comments">Comments or special instructions for payment</label>
        <textarea
          rows="4"
          id="payment_comments"
          placeholder="Type comments here..."
          formControlName="payment_comments"
        ></textarea>
      </div>
    </div>
    <div class="col-md-4">
      <div class="comments">
        <label for="po_comments">Comments or special instructions for Proforma Invoice</label>
        <textarea
          rows="4"
          id="po_comments"
          placeholder="Type comments here..."
          formControlName="invoice_comment"
        ></textarea>
      </div>
    </div>
    <div class="col-md-4 price-box">
      <div class="total-table-wrapper">
        <table class="total-table">
          <tr>
            <td>Subtotal</td>
            <td>{{ invoice.subtotal.value | number: '1.2-2' }} {{ invoice.currency.value }}</td>
          </tr>
          <tr>
            <td>
              VAT % <input formControlName="vat_percentage" class="form-control" type="number" value="0" min="0" />
            </td>
            <td>{{ invoice.vat_amount.value | number: '1.2-2' }} {{ invoice.currency.value }}</td>
          </tr>
          <tr>
            <td>
              Discount %
              <input formControlName="discount_percentage" class="form-control" type="number" value="0" min="0" />
            </td>
            <td id="last-data-cell">
              {{ invoice.discount_amount.value | number: '1.2-2' }} {{ invoice.currency.value }}
            </td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{ invoice.total_due.value | number: '1.2-2' }} {{ invoice.currency.value }}</td>
          </tr>
        </table>
      </div>
      <div class="payment-wrapper">
        <div>
          <input
            type="checkbox"
            (change)="markPayableInvoice($event.target.checked)"
            class="checkbox"
            id="payment-checkbox"
            #checkbox
          /><label class="checkbox_label" for="payment-checkbox"><span class="form_checkbox_btn"></span></label>
        </div>
        <span>Receive payment for this invoice</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 info">
      <p class="heading-3">SIGNED BY</p>
      <div formGroupName="sign_by">
        <div class="form-row">
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('sign_by', 'first_name')">
            <label for="first_name">First Name *</label>
            <input
              type="text"
              class="form-control"
              id="first_name"
              placeholder="Type first name here..."
              formControlName="first_name"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('sign_by', 'first_name')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('sign_by', 'last_name')">
            <label for="last_name">Last Name *</label>
            <input
              type="text"
              class="form-control"
              id="last_name"
              placeholder="Type last name here..."
              formControlName="last_name"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('sign_by', 'last_name')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('sign_by', 'company_name')">
            <label for="company_name">Company Name</label>
            <input
              type="text"
              class="form-control"
              id="company_name"
              placeholder="Type company name here..."
              formControlName="company_name"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('sign_by', 'company_name')">This field is required</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div formGroupName="sign_by" class="form-group col-md-6">
          <div [ngClass]="showFieldStyleNested('sign_by', 'date')">
            <label for="PO_valid_date">Proforma Invoice is Valid until *</label>
            <div class="input-group">
              <input
                id="PO_valid_date"
                class="form-control"
                placeholder="dd/mm/yyyy"
                name="ddpp"
                ngbDatepicker
                #dp1="ngbDatepicker"
                [(ngModel)]="validBy"
                (ngModelChange)="dateUpdate('date', validBy, 'sign_by')"
                [ngModelOptions]="{ standalone: true }"
              />
              <div class="input-group-append">
                <button class="btn glyphicon glyphicon-calendar" (click)="dp1.toggle()" type="button"></button>
              </div>
            </div>
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('sign_by', 'date')">This field is required</p>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6" [ngClass]="showFieldStyle('date_created')">
          <label for="PO_date_created">Date of issue *</label>
          <div class="input-group">
            <input
              id="PO_date_created"
              class="form-control"
              placeholder="dd/mm/yyyy"
              name="ddpp2"
              ngbDatepicker
              #dp2="ngbDatepicker"
              [(ngModel)]="issuedOn"
              (ngModelChange)="dateUpdate('date_created', issuedOn)"
              [ngModelOptions]="{ standalone: true }"
            />
            <div class="input-group-append">
              <button class="btn glyphicon glyphicon-calendar" (click)="dp2.toggle()" type="button"></button>
            </div>
          </div>
          <div class="help-block">
            <p *ngIf="isFieldInvalid('date_created')">This field is required</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div formGroupName="deliver_to" class="info">
        <p class="heading-3">DELIVER TO</p>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="contact_name">Contact Name</label>
            <p>{{ form.value.deliver_to.contact_name }}</p>
          </div>
          <div class="form-group col-md-4">
            <label for="contact_name">Street Adress</label>
            <p>{{ form.value.deliver_to.address }}</p>
          </div>
          <div class="form-group col-md-4">
            <label for="contact_name">City</label>
            <p>{{ form.value.deliver_to.city }}</p>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="contact_name">Zipcode</label>
            <p>{{ form.value.deliver_to.zip_code }}</p>
          </div>
          <div class="form-group col-md-4">
            <label for="contact_name">Phone Number</label>
            <p>{{ form.value.deliver_to.phone_number }}</p>
          </div>
          <div class="form-group col-md-4">
            <label for="contact_name">Expected Delivery Date</label>
            <p>
              {{ form.value.deliver_to.expected_delivery_date | date: 'dd/MM/yyyy' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="bttn-primary pull-right next-step" (click)="toReview()" [hidden]="!form.valid || products.length < 1">
    Next Step &rarr;
  </button>
  <button class="bttn-primary pull-right" (click)="onSubmit(form)" [hidden]="form.valid && products.length > 0">
    Next Step &rarr;
  </button>
  <button #submitButton class="btn-primary-transp pull-right btn-draft" (click)="draftInvoice()">Save Draft</button>
</form>
