@import "../../../../assets/sass/abstracts/variables";

.info {
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 0px 2px 0.8rem rgba(0, 0, 0, 0.045);
  border-radius: 5px;
  margin-top: 1rem;

  .row div p:first-child {
    font-size: 1.2rem;
    color: #7b7b7b;
    font-weight: 600;
    margin-bottom: 3px;
  }

  .row div p:nth-child(2) {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .row:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.table-blue > thead > tr > th {
  border-bottom: 0;
}

.rotate {
  transform: rotate(45deg);
}
.comments {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem 2rem;
  box-shadow: 0px 2px 0.8rem rgba(0, 0, 0, 0.045);
  border-radius: 5px;

  label {
    font-size: 1.3rem;
  }
  textarea {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    resize: none;
    padding: 1rem;
    font-size: 1.3rem;
  }
}

.price-box {
  border: 1px dashed black;
  padding: 1.2rem 2rem;
  margin: 2.5rem 0px;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  min-height: 16.5rem;
}

.subtotals {
  margin-left: auto;
  p:not(:last-child) {
    margin-bottom: 8px;
  }
}

.price-wrapper {
  display: flex;

  div:first-child {
    width: 70%;
  }
}

.info {
  label {
    font-size: 1.3rem;
  }
}

// .next-step {
//   margin: 3rem 0px;
// }

.btn-draft {
  margin: 0.5rem;
  margin-right: 1.5rem;
}

.stepUp {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #37ce95;
}

.stepDown {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: $red-color;
}

.card {
  width: 49%;
  margin-top: 3.5rem;
  padding: 1rem;

  .form-group {
    margin-bottom: 0;
    width: 97%;
  }
}

.new-product {
  border-radius: 4px;
}

input[type="number"] {
  font-size: 1.4rem;
  display: inline-block;
  width: 34%;
}

.dropdown {
  display: inline;
  .dropdown-menu {
    margin-top: 1.8rem;
    width: 96%;
    font-size: 1.3rem;
    cursor: pointer;

    li {
      padding-right: 10px;
      color: #666666;
      padding-top: 5px;
      border-left: 3px solid #37ce95;
      padding-bottom: 5px;
      a {
        padding-left: 15px;
      }
    }

    li:nth-child(2) {
      border-left: 3px solid #37c1ce;
    }

    li:not(:last-child) {
      border-bottom: 1px solid #f2f2f2;
    }
  }
}

.payment-wrapper {
  width: 50%;
  padding-left: 2.5rem;
  padding-top: 7px;
}

.gateway-status {
  display: flex;
  margin: 1.3rem 0px;
  color: #1074bb;

  i {
    font-size: 24px;
    margin-right: 5px;
  }

  img {
    width: 4.5rem;
    height: 2.5rem;
    background: white;
    border-radius: 4px;
    margin-left: auto;
    box-shadow: 0px 4px 1rem rgba(116, 116, 116, 0.07);
  }
}

.payment-info {
  display: flex;
  padding: 6px;
  font-size: 1.25rem;
  border: 1px solid #37c1ce;
  background: #ddf7fb;
  color: #37c1ce;

  i {
    font-size: 20px;
    margin-right: 5px;
  }
  p {
    margin: 0px;
  }
}
