<!-- <div *ngIf="!showForm">
  <form [formGroup]="form">
    <div formArrayName="forms">
      <div
        class="form-row"
        [formGroupName]="i.toString()"
        *ngFor="let control of (form?.controls)['forms']['controls']; let i = index"
      >
        <div class="col-md-12">
          <div class="form-row">
            <div [ngClass]="showFieldStyleArray('forms', i.toString(), 'fieldName')" class="form-group col-md-6">
              <label matTooltip="same as label but type it without spaces" matTooltipPosition="above" for="fieldName"
                >Field Name *</label
              >
              <input type="text" formControlName="fieldName" class="form-control" id="fieldName" />
            </div>
            <div [ngClass]="showFieldStyleArray('forms', i.toString(), 'label')" class="form-group col-md-6">
              <label matTooltip="Label" matTooltipPosition="above" for="label">Label *</label>
              <input type="text" formControlName="label" class="form-control" id="label" />
            </div>
          </div>
          <div class="form-row">
            <div [ngClass]="showFieldStyleArray('forms', i.toString(), 'type')" class="form-group col-md-6">
              <label
                matTooltip="text and number are normal inputs, radio is the two option input same as gender input, date is for dates, and file is for files. Countries is the dropdown we use for countries across the platform"
                matTooltipPosition="above"
                for="type"
                >Type *</label
              >
              <select type="text" formControlName="type" class="form-control" id="type">
                <option value="text">Text</option>
                <option value="number">Number</option>
                <option value="date">Date</option>
                <option value="file">File</option>
                <option value="radio">2 Options</option>
                <option value="countries">Countries</option>
              </select>
            </div>
            <div [ngClass]="showFieldStyleArray('forms', i.toString(), 'size')" class="form-group col-md-6">
              <label
                matTooltip="Size is from 1 - 12, for 2 in same row just type 6 for both and make sure they are in the same Row Number"
                matTooltipPosition="above"
                for="size"
                >Size *</label
              >
              <mat-slider
                class="d-flex"
                thumbLabel
                id="size"
                formControlName="size"
                min="0"
                max="12"
                step="1"
              ></mat-slider>
            </div>
          </div>
          <div class="form-row">
            <div [ngClass]="showFieldStyleArray('forms', i.toString(), 'rowNumber')" class="form-group col-md-6">
              <label
                matTooltip="The number of the row that this field is place in, for example Field Name and Label are in row 1 "
                matTooltipPosition="above"
                for="rowNumber"
                >Row Number *</label
              >
              <input type="number" formControlName="rowNumber" class="form-control" id="rowNumber" />
            </div>
            <div [ngClass]="showFieldStyleArray('forms', i.toString(), 'placeholder')" class="form-group col-md-6">
              <label
                matTooltip="What to show inside the input as an example"
                matTooltipPosition="above"
                for="placeholder"
                >Place Holder
              </label>
              <input
                placeholder="This is a placeholder"
                type="text"
                formControlName="placeholder"
                class="form-control"
                id="placeholder"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label matTooltip="Should the field be required" matTooltipPosition="above" class="d-flex" for="required"
                >Required *</label
              >
              <button
                [class.bttn-outline-primary]="required[i]"
                (click)="gender('yes', i)"
                id="male"
                class="bttn bttn-outline gender d-inline-flex"
              >
                Yes
              </button>
              <button
                [class.bttn-outline-primary]="!required[i] && required[i] !== null"
                (click)="gender('no', i)"
                id="female"
                class="bttn bttn-outline gender d-inline-flex"
              >
                No
              </button>
              <div class="help-block" *ngIf="isFieldInvalidArray('forms', i.toString(), 'required')">
                <p>This field is required</p>
              </div>
            </div>
            <ng-container *ngIf="isRadio(i)">
              <div class="form-group col-md-3">
                <label
                  matTooltip="If type is radio, type the name of the first option eg. if its about gender, then first option should be Male and second option should be Female"
                  matTooltipPosition="above"
                  for="first"
                  >First Options</label
                >
                <input type="text" formControlName="first" class="form-control" id="first" />
              </div>
              <div class="form-group col-md-3">
                <label for="second">Second Options</label>
                <input type="text" formControlName="second" class="form-control" id="second" />
              </div>
            </ng-container>
          </div>
          <div class="form-row">
            <button class="bttn-primary" (click)="removeInputField(i)">Remove</button>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </form>

  <div class="d-flex">
    <button class="d-block bttn bttn-outline-primary" (click)="addNewInputField()">Add</button>
    <button class="d-block bttn bttn-primary pull-right" (click)="submit()">Submit</button>
  </div>
  <h5 class="text-center">Field Count: {{ counter }}</h5>
</div> -->
<div>
  <form [formGroup]="former">
    <div class="col-md-12">
      <div class="form-row" *ngFor="let j of size; let i = index">
        <ng-container *ngFor="let item of dynamicForm.inputs">
          <div
            [ngClass]="item?.required && showFieldStyle(item?.fieldName)"
            *ngIf="item?.rowNumber === i + 1"
            [class]="'form-group col-md-' + item?.size"
          >
            <ng-container *ngIf="item?.type === 'text' || item?.type === 'number'">
              <label [for]="item?.fieldName">{{ item?.label }}<span *ngIf="item?.required"> *</span></label>
              <input
                class="form-control"
                [type]="item?.type"
                [formControlName]="item?.fieldName"
                [id]="item?.fieldName"
              />
            </ng-container>
            <!-- <ng-container *ngIf="item?.type === 'select'">
              <label [for]="item?.fieldName">{{ item?.label }}<span *ngIf="item?.required"> *</span></label>
              <select [formControlName]="item?.fieldName" class="form-control" id="country">
                <option value="null" disabled="true" [selected]="true">
                  {{ item?.selectLabel }}
                </option>
                <option *ngFor="let country of item?.options">
                  {{ country.viewValue }}
                </option>
              </select>
            </ng-container> -->
            <!-- <ng-container *ngIf="item?.type === 'radio'">
              <label class="d-flex" id="radio" [for]="item?.fieldName"
                >{{ item?.label }}<span *ngIf="item?.required"> *</span></label
              >
              <button
                [class.bttn-outline-primary]="item?.radioBoolean"
                (click)="radio(item?.radioOptions.first, item)"
                id="{{ item?.radioOptions.first }}"
                class="bttn bttn-outline radio d-inline-flex"
              >
                {{ item?.radioOptions.first | titlecase }}
              </button>
              <button
                [class.bttn-outline-primary]="!item?.radioBoolean && item?.radioBoolean !== undefined"
                (click)="radio(item?.radioOptions.second, item)"
                id="{{ item?.radioOptions.second }}"
                class="bttn bttn-outline radio d-inline-flex"
              >
                {{ item?.radioOptions.second | titlecase }}
              </button>
            </ng-container> -->
            <!-- <ng-container *ngIf="item?.type === 'file'">
              <label class="d-flex" [for]="item?.fieldName"
                >{{ item?.label }}<span *ngIf="item?.required"> *</span></label
              >
              <input
                hidden
                type="file"
                [formControlName]="item?.fieldName"
                class="form-control"
                id="{{ item?.fieldName }}"
              />
              <button (click)="fileUpload(item?.fieldName)" class="bttn bttn-outline-primary">Upload</button>
            </ng-container> -->
            <!-- <ng-container *ngIf="item?.type === 'date'">
              <label [for]="item?.fieldName">{{ item?.label }}<span *ngIf="item?.required"> *</span></label>
              <div class="p-0 form-group date d-flex">
                <input
                  (click)="picker.open()"
                  id="{{ item?.fieldName }}"
                  class="form-control"
                  placeholder="{{ item?.placeholder }}"
                  name="{{ item?.fieldName }}"
                  formControlName="{{ item?.fieldName }}"
                  [max]="item?.max"
                  matInput
                  [matDatepicker]="picker"
                />
                <i-feather matSuffix (click)="picker.open()"></i-feather>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </ng-container> -->
            <!-- <div class="help-block" *ngIf="isFieldInvalid(item?.fieldName) && item?.required">
              <p>This field is required</p>
            </div> -->
          </div>
        </ng-container>
      </div>
      <!-- <div class="button-holder d-flex justify-content-between">
        <button (click)="onSubmit(former)" class="bttn-primary pull-right">Submit</button>
        <button (click)="back()" class="bttn-primary pull-left">Back</button>
      </div> -->
      <!-- <div class="d-flex flex-columns">
        <textarea readonly id="copy" formControlName="json" cols="30" rows="10"></textarea>
        <button (click)="copy()" class="bttn-primary">Copy</button>
      </div> -->
    </div>
  </form>
</div>
<div>
  <!-- <form [formGroup]="jsonForm">
    <textarea formControlName="form" cols="30" rows="10"></textarea>
  </form>
  <button (click)="go()">Go</button> -->
</div>
<!-- <div class="container pt-3">
    <div cdkDropListGroup class="row">
      <div class="col-md-3">
        <div
          [cdkDropListEnterPredicate]="returnFalse"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="movies"
          cdkDropList
          class="example-list"
        >
          <div class="example-box" *ngFor="let movie of movies" cdkDrag>
            {{ movie.title }}
            <div *cdkDragPreview class="form-row">
              <div class="form-group col-md-12">
                <label matTooltip="same as label but type it without spaces" matTooltipPosition="above" for="fieldName"
                  >Field Name *</label
                >
                <input type="text" class="form-control" id="fieldName" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="example-list" [cdkDropListData]="inputs" cdkDropList (cdkDropListDropped)="drop($event)">
          <div cdkDrag class="example-box row" *ngFor="let input of inputs; let i = index">
            <div
              class="draggerr"
              [cdkDropListData]="input?.titles"
              cdkDropList
              cdkDropListOrientation="horizontal"
              (cdkDropListDropped)="drob($event, input?.titles, input)"
            >
              <div
                #item
                *ngFor="let title of input?.titles; let j = index"
                class="form-group {{ title?.id }} col-md-{{ (12 / input?.titles.length | floor) || 6 }}"
              >
                <div
                  [ngClass]="{ selected: title?.id == currentTitle?.id }"
                  cdkDrag
                  (click)="changeConfig(title)"
                  cdkDragHandle
                  (click)="log({ title: title, j: j, input: input })"
                  *ngIf="title?.name?.toLowerCase() === 'text' || title?.name?.toLowerCase() === 'number'"
                  class="w-auto"
                >
                  <app-input
                    [required]="title?.config?.req"
                    [tooltip]="title?.config?.tooltip"
                    [placeholder]="title?.config?.placeholder"
                    [color]="title?.config?.color"
                    [type]="title?.config?.type?.toLowerCase()"
                    [label]="title?.config?.label"
                  >
                  </app-input>
                  <div class="icon-holder" *ngIf="title?.id == currentTitle?.id">
                    <i-feather [matMenuTriggerFor]="menu_1" class="icon-first" name="plus"></i-feather>
                    <i-feather (click)="removeField(input, j)" class="icon-second" name="trash2"></i-feather>
                    <mat-menu #menu_1="matMenu">
                      <button (click)="add(input, 'Text')" mat-menu-item>Text</button>
                      <button (click)="add(input, 'Number')" mat-menu-item>Number</button>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="button-submit">
          <button (click)="submitConfigs()" class="d-block bttn bttn-outline-primary">Submit</button>
        </div>
      </div>
      <div class="col-md-3">
        <div *ngIf="currentConfig">
          <form [formGroup]="configForm">
            <div class="row">
              <div class="form-group col-md-6">
                <label>Field Name</label>
                <input class="form-control" type="text" formControlName="label" />
              </div>
              <div class="form-group col-md-6">
                <label>Color</label>
                <input class="form-control" type="color" formControlName="color" />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label>Placeholder</label>
                <input class="form-control" type="text" formControlName="placeholder" />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Tooltip</label>
                <input class="form-control" type="text" formControlName="tooltip" />
              </div>
              <div class="form-group col-md-6">
                <label class="d-flex">Required</label>
                <mat-slide-toggle [color]="'#37c1ce'" formControlName="req"></mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label>Validators</label>
                <mat-select
                  class="form-control"
                  (selectionChange)="validatorChange($event)"
                  formControlName="validators"
                  multiple
                >
                  <mat-select-trigger>
                    <span *ngIf="currentConfig?.validators?.length" class="example-additional-selection">
                      {{ currentConfig?.validators }}
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let validator of validatorNames" [value]="validator">{{ validator }}</mat-option>
                </mat-select>
              </div>
            </div>
            <div *ngIf="hasMinMax" class="row">
              <div
                [ngClass]="showFieldStyle2('min', configForm)"
                *ngIf="currentConfig?.validators?.includes('Min Value')"
                class="form-group col-md-6"
              >
                <label>Min Value *</label>
                <input formControlName="min" class="form-control" type="number" />
                <div class="help-block" *ngIf="isFieldInvalid2('min', configForm)">
                  <p>{{ errorMessage("min", configForm) }}</p>
                </div>
              </div>
              <div
                [ngClass]="showFieldStyle2('max', configForm)"
                *ngIf="currentConfig?.validators?.includes('Max Value')"
                class="form-group col-md-6"
              >
                <label>Max Value *</label>
                <input formControlName="max" class="form-control" type="number" />
                <div class="help-block" *ngIf="isFieldInvalid2('max', configForm)">
                  <p>{{ errorMessage("max", configForm) }}</p>
                </div>
              </div>
            </div>
            <div *ngIf="hasLengthValidator" class="row">
              <div
                [ngClass]="showFieldStyle2('minLength', configForm)"
                *ngIf="currentConfig?.validators?.includes('Min Length')"
                class="form-group col-md-6"
              >
                <label>Min Length *</label>
                <input formControlName="minLength" class="form-control" type="number" />
                <div class="help-block" *ngIf="isFieldInvalid2('minLength', configForm)">
                  <p>{{ errorMessage("minLength", configForm) }}</p>
                </div>
              </div>
              <div
                [ngClass]="showFieldStyle2('maxLength', configForm)"
                *ngIf="currentConfig?.validators?.includes('Max Length')"
                class="form-group col-md-6"
              >
                <label>Max Length *</label>
                <input formControlName="maxLength" class="form-control" type="number" />
                <div class="help-block" *ngIf="isFieldInvalid2('maxLength', configForm)">
                  <p>{{ errorMessage("maxLength", configForm) }}</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
