<div class="stepper">
  <ul class="nav nav-tabs" style="display: none;" #listStepDetails>
    <li class="active">
      <a data-toggle="tab" class="label" href="#contact-pi"></a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" class="label" href="#contact-details"></a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" [class.active]="displayStep(0)" id="contact-pi">
      <app-applicant-personal-info></app-applicant-personal-info>
    </div>
    <div class="tab-pane" [class.active]="displayStep(1)" id="contact-details">
      <app-applicant-contact-details></app-applicant-contact-details>
    </div>
  </div>

  <div class="stepper-footer">
    <div class="stepper-footer-wrapper">
      <div>
        <button class="bttn-secondary" (click)="onPrevious()">PREV</button>
      </div>
      <div>
        <button class="btn-primary-transp">SAVE</button>
        <button class="bttn bttn-primary" (click)="onNext()">NEXT</button>
      </div>
    </div>
  </div>
</div>
