<div class="strip d-flex mt-3">
  <div class="left-section pr-5">
    <div class="header-wrapper">
      <h1>Welcome to Payments!</h1>
      <p class="t-15">
        Now you can pay suppliers & business contacts or pay trade documents directly using Avenews. Just follow the
        simple steps to set up the payments feature.
      </p>
    </div>

    <div class="body-wrapper">
      <h4>Steps to do to activate payments:</h4>
      <ul>
        <li [ngClass]="topupReady ? 'completed disabled no-drop' : 'active click'" (click)="kyc()">
          <div class="circle-wrapper"><span class="circle"></span></div>
          <div class="step-title">
            <span>Complete KYC form in the settings.</span>
          </div>
        </li>
        <div class="under-list" *ngIf="dpoAccount && dpoAccount.status === 'pending-approval'">
          <p>Your info has been sent to DPO and is being processed.</p>
          <p>You will be contacted by DPO within 48 hours to complete the process.</p>
        </div>
        <li
          (click)="dontShow($event)"
          [ngClass]="wallet && wallet.firstTopUpStatus ? 'completed disabled no-drop' : 'active click'"
          data-toggle="wizard"
          data-target="#topUpBalance"
        >
          <div class="circle-wrapper"><span class="circle"></span></div>
          <div class="step-title">
            <span>Send request to top-up your balance.</span>
          </div>
        </li>
        <div
          class="under-list"
          *ngIf="
            dpoAccount &&
            dpoAccount.status === 'approved' &&
            wallet &&
            wallet.firstTopUpStatus &&
            wallet.firstTopUpStatus === 'pending'
          "
        >
          <p>Your request has been sent and a DPO agent will be in touch with you soon to complete the process.</p>
        </div>
      </ul>
    </div>
  </div>
  <div class="right-section">
    <img src="../../../assets/img/payment-img.png" alt="" />
  </div>
</div>

<app-topup-modal (balanceSubmit)="topup($event)"></app-topup-modal>
