@import "../../../../assets/sass/abstracts/mixins";

.ref-input {
  padding-left: 1.5rem;
  @include respond(phone) {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.text-regular {
  word-break: break-word;
}
.total-wrapper {
  padding: 2.4rem;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px;
  }

  h5 {
    font-size: 1.5rem;
    color: #7d8796;
  }
}

#payment-status {
  width: 50%;
}

#notes-sec {
  min-height: 16rem;
}

.flex-r {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

.d-flex.bottom div {
  flex-grow: 1;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0px;
}
.click {
  cursor: pointer !important;
}

#contactInfo {
  @include respond(phone) {
    margin-top: 24px;
  }
}

.form-group {
  @include respond(phone) {
    margin-bottom: 1rem !important;
  }
}

.col-md-6 {
  @include respond(phone) {
    padding-right: 15px !important;
  }
}

#received-by div.form-group {
  @include respond(phone) {
    padding-left: 5px !important;
  }
}

.table-blue {
  display: table;
  @include respond(phone) {
    display: none;
  }
}

.mobile-table {
  display: none;
  @include respond(phone) {
    display: block;
  }
}
#expected_delivery {
  pointer-events: none !important;
  cursor: pointer;
}
.btn {
  cursor: pointer;
}
.red-border {
  border: #b94a48 1px solid;
}
