<div class="strip">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="contact">Contact</label>
        <select
          required
          [compareWith]="compare"
          [ngModel]="selectedContact"
          (ngModelChange)="change($event)"
          id="contact"
          data-live-search="true"
          class="selectpicker"
          title="Choose a contact"
          data-size="7"
        >
          <option *ngFor="let contact of contacts; let i = index" [ngValue]="contact">{{ contact.fullName }}</option>
        </select>
      </div>
      <a data-toggle="wizard" data-target="#addContactWizard" class="bttn-line">Add New Contact</a>
    </div>
    <div class="col-md-6">
      <div class="row" id="contactInfo">
        <div class="col-md-4">
          <p class="sm-text-label">CONTACT</p>
          <p class="text-regular">{{ selectedContact?.fullName || '-' }}</p>
        </div>
        <div class="col-md-4">
          <p class="sm-text-label">ORGANIZATION</p>
          <p class="text-regular">{{ selectedContact?.businessName || '-' }}</p>
        </div>
        <div class="col-md-4">
          <p class="sm-text-label">COUNTRY</p>
          <p class="text-regular">{{ selectedContact?.country || '-' }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="sm-text-label">LOCATION</p>
          <p class="text-regular">{{ selectedContact?.stateProvinceRegion || '-' }}</p>
        </div>
        <div class="col-md-4">
          <p class="sm-text-label">PHONE</p>
          <p class="text-regular">{{ selectedContact?.phoneNumber || '-' }}</p>
        </div>
        <div class="col-md-4">
          <p class="sm-text-label">EMAIL</p>
          <p class="text-regular">{{ selectedContact?.email || '-' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip mt-5">
  <div class="form-row">
    <div id="date-field" class="form-group col-md-3">
      <label for="date">Issue Date *</label>
      <div (click)="dp3.toggle()" class="input-group">
        <input
          id="date"
          class="form-control"
          placeholder="DD/MM/YYYY"
          name="ddp"
          ngbDatepicker
          #dp3="ngbDatepicker"
          [ngModel]="today"
          (ngModelChange)="onDate($event)"
        />
        <div class="input-group-append">
          <button class="btn glyphicon glyphicon-calendar" style="position: 0;" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3 ref-input">
      <label for="ref-code">Reference Code</label>
      <input [(ngModel)]="grn.referenceCode" type="text" id="ref-code" class="form-control" />
    </div>
  </div>
</div>

<div class="mt-5">
  <h3 class="t-bold">PRODUCTS</h3>
  <table class="table-blue">
    <thead>
      <tr>
        <th>PRODUCT</th>
        <th>DESCRIPTION</th>
        <th>QUANTITY</th>
        <th>RATE</th>
        <th>PRICE</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>
          {{ product.name }}
        </td>
        <td>
          {{ product.description || '-' }}
        </td>
        <td>{{ product.quantity | numberFormat }} {{ product.measurement | plural: product?.quantity }}</td>
        <td>{{ product.rate | numberFormat }} {{ product.currency }} per {{ product.measurement }}</td>
        <td>{{ product.price | numberFormat }} {{ product.currency }}</td>
        <td class="text-right">
          <a (click)="edit(i)" data-toggle="wizard" data-target="#addGrnProductWizard" class="bttn-line">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mobile-table">
    <div *ngFor="let product of grn.products; let i = index" class="strip">
      <div class="d-flex top">
        <div>
          <p class="product-name">{{ product.name }}</p>
          <p class="mt-0">{{ product.description || '-' }}</p>
        </div>
        <div class="flex-r">
          <a (click)="edit(i)" data-toggle="wizard" data-target="#addGrnProductWizard" class="bttn-line">Edit</a>
        </div>
      </div>
      <div>
        <div class="d-flex bottom mt-2">
          <div>
            <p class="sm-text-label">Quantity</p>
            <p class="text-regular">
              {{ product.quantity | numberFormat }} {{ product.measurement | plural: product?.quantity }}
            </p>
          </div>
          <div>
            <p class="sm-text-label">Rate</p>
            <p class="text-regular">
              {{ product.rate | numberFormat }} {{ product.currency }} per {{ product.measurement }}
            </p>
          </div>
          <div>
            <p class="sm-text-label">Price</p>
            <p class="text-regular">{{ product.price | numberFormat }} {{ product.currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    id="product-field"
    (click)="newProduct()"
    data-toggle="wizard"
    data-target="#addGrnProductWizard"
    class="bttn-primary mt-4"
    type="button"
  >
    Add Product
  </button>
</div>

<div class="row mt-5">
  <div class="col-md-6">
    <div class="strip">
      <div class="form-group" id="notes">
        <label for="notes">Notes</label>
        <textarea [(ngModel)]="grn.notes" class="form-control" rows="2"></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="strip flex-strip" id="notes-sec">
      <div class="form-group" id="payment-status">
        <label for="status">Payment Status</label>
        <select [(ngModel)]="grn.paymentStatus" id="status" placeholder="Choose status" class="form-control">
          <option value="paid">Paid</option>
          <option value="partially-paid">Partially Paid</option>
          <option value="awaiting">Awaiting Payment</option>
        </select>
      </div>

      <div class="total-wrapper">
        <h2>{{ currency }} {{ grn.total | numberFormat }}</h2>
        <h5>TOTAL</h5>
      </div>
    </div>
  </div>
</div>

<div class="strip mt-5">
  <h3 class="t-bold mb-3">RECEIVED BY</h3>
  <div class="form-row" id="received-by">
    <div class="form-group col-md-4">
      <label for="name">Full Name *</label>
      <input (change)="checkRec()" [(ngModel)]="grn.receivedBy.name" type="text" class="form-control" id="name" />
    </div>
    <div class="form-group col-md-4 pl-3">
      <label for="business">Business Name *</label>
      <input
        (change)="checkRec()"
        [(ngModel)]="grn.receivedBy.businessName"
        type="text"
        class="form-control"
        id="business"
      />
    </div>
    <div [ngClass]="showFieldStyle('phoneNumber')" class="form-group col-md-4">
      <form>
        <label for="region_code">Phone Number *</label>
        <div class="input-group" [ngClass]="showFieldStyle('phoneNumber')">
          <div id="input-group" class="input-group-prepend">
            <select
              data-width="65px"
              id="region_code"
              data-live-search="true"
              class="selectpicker"
              data-size="7"
              [(ngModel)]="regionCode"
              [ngModelOptions]="{ standalone: true }"
              (change)="changeRegionCode()"
            >
              <option
                *ngFor="let country of countries"
                [value]="country.value"
                [attr.data-content]="generateLink(country.value, country.viewValue)"
              ></option>
            </select>
          </div>
          <input
            type="tel"
            class="form-control"
            id="phone"
            placeholder="Type phone number here..."
            [(ngModel)]="partialPhoneNumber"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="changeRegionCode()"
            (click)="markAsTouched('phoneNumber')"
          />
        </div>
        <div style="color: #a94442;" class="help-block" *ngIf="isFieldInvalid('phoneNumber')">
          <p>This field is required</p>
        </div>
      </form>
      </div>
  </div>
</div>
<button [hidden]="checkForm()" (click)="validate()" class="btn-next flex-r bttn-primary mt-5">
  Next Step &rarr;
</button>
<button [hidden]="!checkForm()" (click)="validate()" class="btn-next next-step flex-r bttn-primary mt-5">
  Next Step &rarr;
</button>
<app-contact-generator
  (contactEmit)="newContact($event)"
  [doEmit]="true"
  [contact]="contact"
  [isEdit]="false"
></app-contact-generator>
<app-grn-product-generator
  [product]="product"
  [i]="index"
  [currency]="currency"
  (addProduct)="addProduct($event)"
></app-grn-product-generator>
