<div class="row">
  <div class="col-md-6">
    <div class="info">
      <p class="heading-2">ISSUED BY</p>
      <div class="row">
        <div class="col-md-4">
          <p>Issuer name</p>
          <p>Patrick Mutow</p>
        </div>
        <div class="col-md-4">
          <p>Company name</p>
          <p>Agrium</p>
        </div>
        <div class="col-md-4">
          <p>Email address</p>
          <p>Patrick@agrium.com</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>City</p>
          <p>Toronto</p>
        </div>
        <div class="col-md-4">
          <p>Street address</p>
          <p>1st Avenue South</p>
        </div>
        <div class="col-md-4">
          <p>Zip code</p>
          <p>1253</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Country</p>
          <p>Canada</p>
        </div>
        <div class="col-md-4">
          <p>Phone number</p>
          <p>(855) 569-9444</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="info">
      <p class="heading-2">ISSUED FOR</p>
      <div class="row">
        <div class="col-md-4">
          <p>Issuer name</p>
          <p>Tony Stark</p>
        </div>
        <div class="col-md-4">
          <p>Company name</p>
          <p>Homestead Farms</p>
        </div>
        <div class="col-md-4">
          <p>Email address</p>
          <p>Patrick@agrium.com</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>City</p>
          <p>Toronto</p>
        </div>
        <div class="col-md-4">
          <p>Street address</p>
          <p>1st Avenue South</p>
        </div>
        <div class="col-md-4">
          <p>Zip code</p>
          <p>1253</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Country</p>
          <p>Canada</p>
        </div>
        <div class="col-md-4">
          <p>Phone number</p>
          <p>(855) 569-9444</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table-blue">
      <thead>
        <tr>
          <th>PRODUCT</th>
          <th>PACKAGES</th>
          <th>TOTAL AMOUNT</th>
          <th>SPECIFICATIONS</th>
          <th>RATE</th>
          <th>PRICE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Green Coffee</td>
          <td>1 (Box / 30.00 KG)</td>
          <td>243,000 kg</td>
          <td>Lorem ipsum dolor sit do.</td>
          <td>
            <label for="price">Price per KG (in KES)</label>
            <input id="price" type="text" class="form-control" placeholder="Add price here" />
          </td>
          <td>0.00 KES</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="info">
      <p class="heading-2">OTHER DETAILS</p>
      <p class="heading-2 mt-4">Comments</p>
      <textarea
        class="form-control"
        name="comments"
        id="comments"
        rows="5"
        placeholder="Type your comments here..."
      ></textarea>
      <label for="validBy" class="mt-4">Quote request is valid by</label>
      <div class="input-group">
        <input
          id="validBy"
          class="form-control"
          placeholder="dd/mm/yyyy"
          name="ddp"
          ngbDatepicker
          #dp3="ngbDatepicker"
        />
        <div class="input-group-append">
          <button class="btn glyphicon glyphicon-calendar" (click)="dp1.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-4">
    <div class="subtotal-price pull-right">
      <p class="heading-2">SUBTOTAL</p>
      <p class="heading-4-blue">5000 KES</p>
    </div>
  </div>
</div>
<button class="bttn-primary pull-right next-step">
  Next Step &rarr;
</button>
