<div class="row">
  <div class="col-md-6">
    <div class="info">
      <p class="heading-2">ISSUED BY</p>
      <app-user-data [user]="seller" [issued_by]="true"></app-user-data>
    </div>
  </div>
  <div class="col-md-6">
    <div class="info">
      <p class="heading-2">ISSUED FOR</p>
      <app-user-data [user]="buyer" [issued_for]="true"></app-user-data>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table-blue">
      <thead>
        <tr>
          <th>PRODUCT</th>
          <th>PACKAGES</th>
          <th>SPECIFICATIONS</th>
          <th>AMOUNT REQUESTED</th>
          <th>AMOUNT OFFERED</th>
          <th>RATE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>
            <span *ngIf="!product.product_type || product.product_type == 'agricultural'">
              {{ product.produce }} / {{ product.variety }}
            </span>
            <span *ngIf="product.product_type == 'processed' && product.item_package_type">
              {{ product.produce }} / {{ product.item_measurement_amount | number: '1.2-2' }}
              {{ product.item_measurement_unit | uppercase }} / {{ product.item_package_type }}
            </span>
            <span *ngIf="product.product_type == 'processed' && !product.item_package_type">
              {{ product.produce }}
            </span>
          </td>
          <td>
            <span *ngIf="!product.product_type || product.product_type == 'agricultural'">
              {{ product.quantity | number: '1.0' }} ({{ product.type_of_package }} /
              {{ product.package_weight | number: '1.2-2' }} {{ product.weight_unit | uppercase }})
            </span>
            <span *ngIf="product.product_type == 'processed' && product.item_package_type">
              {{ product.quantity | number: '1.0' }} ({{ product.type_of_package }} /
              {{ product.items_per_package | number: '1.0' }}<span *ngIf="product.items_per_package > 1"> items)</span
              ><span *ngIf="product.items_per_package == 0"> item)</span>
            </span>
            <span *ngIf="product.product_type == 'processed' && !product.item_package_type">
              {{ product.quantity | number: '1.0' }} ({{ product.type_of_package }})
            </span>
          </td>
          <td>
            <span id="specification">{{ product.specification || 'N/A' }}</span>
          </td>
          <td>{{ product.total_weight }} {{ product.weight_unit }}</td>
          <td>
            <label for="amount">Offered amount (in {{ product.weight_unit }})</label>
            <input id="amount" min="0" max="492" type="number" class="form-control" placeholder="Add amount here" />
          </td>
          <td>
            <label for="price"
              >Price per {{ product.weight_unit || product.type_of_package }} (in {{ quotation?.currency }})</label
            >
            <input
              *ngIf="product.product_type == 'agricultural'"
              id="price"
              min="0"
              type="number"
              class="form-control"
              [(ngModel)]="product.price_per_unit"
              (ngModelChange)="setProductSubtotal(i)"
              placeholder="Add price here"
            />
            <input
              *ngIf="product.product_type != 'agricultural'"
              id="price"
              min="0"
              type="number"
              class="form-control"
              [(ngModel)]="product.price_per_package"
              (ngModelChange)="setProductSubtotal(i)"
              placeholder="Add price here"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form [formGroup]="quotationForm">
      <div class="info">
        <p class="heading-2 mb-3">COMMENTS</p>
        <textarea
          class="form-control"
          name="comments"
          id="comments"
          formControlName="seller_comments"
          rows="5"
          placeholder="Type your comments here..."
        ></textarea>
      </div>
    </form>
  </div>
  <div class="col-md-2 col-md-offset-4">
    <div class="subtotal-price pull-right">
      <p class="heading-2">SUBTOTAL</p>
      <p class="heading-4-blue">
        {{ quotationForm.value.total_price || 0.0 | number: '1.2-2' }} {{ quotation.currency }}
      </p>
    </div>
  </div>
</div>
<button [hidden]="!quotationForm.valid" class="bttn-primary pull right next-step">
  Next Step &rarr;
</button>
<button [hidden]="quotationForm.valid" class="bttn-primary pull right">
  Next Step &rarr;
</button>
