@import "../transaction-proforma-invoice.component.scss";

.details-col {
  width: 24%;
  float: left;
}

.pi-col {
  float: right;
  width: 74.7%;
}

.panel-header {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  padding: 1.8rem 2.5rem;
  margin-top: -1.5rem;
}
