$bg-color: #f5f5f5;
$primary-color: #00bcd4;
$secondary-color: #26c5ba;

$dark-gray: #414141;
$dark-gray-2: #686868;
$main-title-color: #828282;
$light-gray: #b1b1b1;
$light-gray-2: #ebebeb;
$light-gray-3: #fafafa;
$red-color: #fc2424;
