<h1 class="main-title">Transactions</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>
    Transactions allow you to place new quote requests to your clients/
    ecosystems/ Avenews-gt. You can also see all your transactions and make
    actions on them, easily!
  </p>
</div>

<h1 class="main-title">Transactions List</h1>

<button class="btn-primary-transp pull-right">
  <i class="material-icons">arrow_upward</i>
  <span>Export All Transactions</span>
</button>

<button class="btn-primary-filled pull-right">
  <i class="material-icons">add</i> <span>New Transaction</span>
</button>

<table class="table main-table">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th>Product</th>
      <th>Transaction Type</th>
      <th>Total Weight</th>
      <th>Status</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">212</td>
      <td>Coffee Beans</td>
      <td>International</td>
      <td>10/kg</td>
      <td>Proforma Invoice Recieved</td>
      <td class="text-right">
        <button class="btn round-button-primary" [routerLink]="[212]">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Coffee Beans</td>
      <td>International</td>
      <td>10/kg</td>
      <td>Proforma Invoice Recieved</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Coffee Beans</td>
      <td>International</td>
      <td>10/kg</td>
      <td>Proforma Invoice Recieved</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Coffee Beans</td>
      <td>International</td>
      <td>10/kg</td>
      <td>Proforma Invoice Recieved</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Coffee Beans</td>
      <td>International</td>
      <td>10/kg</td>
      <td>Proforma Invoice Recieved</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal-box">
  <div class="modal-box-content">
    <div class="modal-box-heading">
      <h2 class="modal-title">Create Quote Request</h2>
    </div>
    <div class="modal-box-left">
      <ul>
        <li class="step step-active">
          <span class="step-number-active">1</span>
          <span>Add product details</span>
        </li>
        <li class="step">
          <div class="step-number">2</div>
          <span>Add packing details</span>
        </li>
        <li class="step">
          <div class="step-number">3</div>
          <span>Add shipping details</span>
        </li>
        <li class="step">
          <div class="step-number">4</div>
          Additional details
        </li>
      </ul>
    </div>
    <div class="modal-box-right">
      <form>
        <div class="row">
          <div class="modal-box-right-body">
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <label>Produce Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ex. Green Coffee Beans"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <label>Variety</label>
              <input type="text" class="form-control" placeholder="Ex. Kona" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Specifications</label>
              <textarea
                class="form-control"
                style="resize: none;"
                rows="3"
              ></textarea>
            </div>
          </div>
          <button class="btn-next pull-right" data-step="step-2">Next Step &rarr;</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
