<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us a bit more about your business.</p>
  </div>

  <div class="step-content">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="number-of-employees">Number of people working in business</label>
        <input type="number" id="number-of-employees" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="business-type">Type of business (product/service)</label>
        <input type="text" id="business-type" class="form-control" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="insurance-type">Type of insurance take on business</label>
        <input type="text" id="insurance-type" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="years-of-operation">Number of years in operation</label>
        <input type="number" id="years-of-operation" class="form-control" />
      </div>
    </div>
  </div>
</div>
