<div class="login-container full-page-background">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://www.avenews-gt.com">Avenews-GT</a>
        <div class="pull-right pt-3">
          <button class="bttn-transparent" routerLink="/login">Sign in</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="login-box">
    <div class="container login-wrapper">
      <div class="card col-lg-10 offset-lg-1 col-md-12 offset-md-0 col-sm-12">
        <div class="card-body">
          <div class="col-md-5 col-sm-12 col-lg-5 cl-l">
            <div class="cl-l-wrapper">
              <h1 class="heading-1">Step into the future of agriculture</h1>
              <p class="pt-5">
                Manage your entire business and trade operations in one place.
              </p>
            </div>
            <div class="img-wrapper">
              <img src="../../assets/img/landing-imgs/Logo-avenews.png" />
            </div>
          </div>
          <div class="col-md-7 col-lg-7 col-sm-12 cl-r">
            <div class="cl-r-wrapper">
              <div id="registrationType">
                <h3>Create your Avenews-gt account</h3>
                <div class="bttns-wrapper">
                  <button (click)="preSignUp('facebook')" class="bttn bttn-facebook">
                    <i class="fab fa-facebook"></i>
                    <p>Create an account with Facebook</p>
                  </button>
                  <button (click)="preSignUp('google')" class="bttn bttn-google">
                    <i class="fab fa-google"></i>
                    <p>Create an account with Google</p>
                  </button>
                  <button class="bttn bttn-email" (click)="changeDiv('standardRegistration')">
                    <i class="far fa-envelope"></i>
                    <p>Create an account with your Email Address or Phone Number</p>
                  </button>
                </div>
              </div>
              <form id="complement" style="display: none">
                <h1 class="mb-4">Welcome {{ socialUser?.name }}!</h1>
                <h3 class="mb-4">We have few more info that we need from you.</h3>
                <div class="row form-group">
                  <label for="country">Country</label>
                  <select
                    data-live-search="true"
                    type="text"
                    [(ngModel)]="countrySocialUser"
                    [ngModelOptions]="{ standalone: true }"
                    [ngClass]="showFieldStyle('country')"
                    class="form-control selectpicker"
                    id="country1"
                  >
                    <option *ngFor="let country of countries" [value]="country.viewValue">{{
                      country.viewValue
                    }}</option>
                  </select>
                  <div class="help-block" *ngIf="isFieldInvalid('country')">
                    <p>Country is required</p>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="company">Business Name</label><span>&nbsp; – Optional</span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Business Name"
                    [(ngModel)]="businessNameSocialUser"
                    [ngModelOptions]="{ standalone: true }"
                    id="company"
                  />
                </div>

                <div class="f-bttns-wrapper">
                  <a class="icon-text" (click)="changeDiv('registrationType')"
                    ><i class="material-icons pb-0">keyboard_backspace</i> Go Back</a
                  >
                  <button (click)="oAuthSignUp()" class="pull-right bttn-primary action-bttn" style="width: 35rem">
                    <span>Create Account with {{ network | titlecase }}</span>
                    <i class="ml-3 fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  </button>
                </div>
              </form>

              <form id="standardRegistration" style="display: none" [formGroup]="userRegistrationForm">
                <h1 class="mb-4">Sign up</h1>
                <div class="error-block" *ngIf="showEmailPhoneError()">
                  <p>Please fill in the Phone Number or Email Address!</p>
                </div>
                <div class="row form-group">
                  <div class="col" [ngClass]="showFieldStyle('firstName')">
                    <label for="firstName">First Name</label>
                    <input
                      type="text"
                      formControlName="firstName"
                      class="form-control"
                      id="firstName"
                      placeholder="First name"
                    />
                    <div class="help-block" *ngIf="isFieldInvalid('firstName')">
                      <p>First name is required</p>
                    </div>
                  </div>
                  <div class="col" [ngClass]="showFieldStyle('lastName')">
                    <label for="lastName">Last Name</label>
                    <input
                      type="text"
                      formControlName="lastName"
                      class="form-control"
                      placeholder="Last name"
                      id="lastName"
                    />
                    <div class="help-block" *ngIf="isFieldInvalid('lastName')">
                      <p>Last name is required</p>
                    </div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="showFieldStyle('email')">
                  <label for="email">Email Address</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="Email address"
                    id="email2"
                  />
                  <div class="help-block" *ngIf="isFieldInvalid('email')">
                    <p>Email address is required</p>
                  </div>
                </div>

                <div class="form-group">
                  <label for="company">Business Name</label><span>&nbsp; – Optional</span>
                  <input
                    type="text"
                    formControlName="companyName"
                    class="form-control"
                    placeholder="Business Name"
                    id="company"
                  />
                </div>

                <div class="row form-group">
                  <div class="col-lg-6 col-md-6 col-sm-12 phone-input">
                    <label for="phone">Phone Number</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <select
                          data-width="65px"
                          id="region_code"
                          data-live-search="true"
                          data-live-search-placeholder="Type country here..."
                          placeholder="Choose measurment unit"
                          class="selectpicker"
                          data-size="7"
                          [(ngModel)]="regionCode"
                          (change)="changeRegionCode()"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option
                            *ngFor="let country of countries"
                            [value]="country.value"
                            [attr.data-content]="generateLink(country.value, country.viewValue)"
                          ></option>
                        </select>
                      </div>
                      <input
                        type="tel"
                        class="form-control"
                        id="phone"
                        placeholder="Type phone number here..."
                        [(ngModel)]="partialPhoneNumber"
                        [ngModelOptions]="{ standalone: true }"
                        (ngModelChange)="changeRegionCode()"
                      />
                      <div class="help-block" *ngIf="isFieldInvalid('phoneNumber')">
                        <p>This phone number is invalid</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="country">Country</label>
                    <select
                      data-live-search-placeholder="Type country here..."
                      data-live-search="true"
                      type="text"
                      data-size="7"
                      formControlName="country"
                      [ngClass]="showFieldStyle('country')"
                      class="form-control selectpicker"
                      id="country2"
                    >
                      <option value="" disabled [attr.selected]="true">Select country</option>
                      <option *ngFor="let country of countries" [value]="country.viewValue">{{
                        country.viewValue
                      }}</option>
                    </select>
                    <div class="help-block" *ngIf="isFieldInvalid('country')">
                      <p>Country is required</p>
                    </div>
                  </div>
                </div>

                <div class="form-group" [ngClass]="showFieldStyle('password')">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="Password"
                    id="password"
                  />
                  <div class="help-block" *ngIf="isFieldInvalid('password', 'required')">
                    <p>Password is required</p>
                  </div>
                  <div class="help-block" *ngIf="isFieldInvalid('password', 'minlength')">
                    <p>Password must be at least 8 characters</p>
                  </div>
                </div>
                <div class="form-group" id="confirmPass" [ngClass]="showFieldStyle('confirmPassword')">
                  <label for="c-password">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="confirmPassword"
                    placeholder="Re-type password"
                    id="c-password"
                  />
                </div>
                <div class="help-block" *ngIf="passwordsNotMatch()">
                  <p>Passwords doesn't match</p>
                </div>
                <p>
                  By clicking on the create account button, you agree to Avenews-gt
                  <a routerLink="/terms-of-use" target="_blank">Terms of use</a> and
                  <a routerLink="/privacy-policy" target="_blank">Privacy Policy</a>.
                </p>
                <div class="f-bttns-wrapper">
                  <a class="icon-text" (click)="changeDiv('registrationType')"
                    ><i class="material-icons pb-0">keyboard_backspace</i> Go Back</a
                  >
                  <button
                    class="bttn-primary action-bttn"
                    [hidden]="userRegistrationForm.valid"
                    (click)="onSubmit(userRegistrationForm)"
                  >
                    Create Account
                  </button>
                  <button
                    class="bttn-primary action-bttn"
                    [hidden]="!userRegistrationForm.valid"
                    (click)="onGeneralSubmit()"
                  >
                    Create Account
                  </button>
                </div>
              </form>
              <div id="confirmation" style="display: none;">
                <img src="../../assets/img/Success-icon.png" />
                <h1 class="mb-4" *ngIf="user?.personalInformation.email">Check your email!</h1>
                <h1 class="mb-4" *ngIf="!user?.personalInformation.email">
                  Check your phone!
                </h1>

                <p class="success-content" *ngIf="user?.personalInformation.email; else elseBlock">
                  We've sent you an email with a special link to <strong>{{ user?.personalInformation.email }}</strong
                  >. Click the link to confirm your email address and get started.
                </p>
                <ng-template #elseBlock>
                  <p class="success-content">
                    We've sent you an sms with a special link to
                    <strong>{{ user?.personalInformation.phone_number }}.</strong> Click the link to confirm your phone
                    number and get started.
                  </p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li><a class="btn-link" routerLink="/privacy-policy" target="_blank">PRIVACY POLICY</a></li>
          </ul>
        </nav>
        <p class="copyright pull-right">&copy; <a href="https://www.avenews-gt.com" target="_blank">Avenews-GT</a></p>
      </div>
    </footer>
  </div>
</div>
