<div class="login-container full-page-background">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/#/dashboard">Avenews-GT</a>
      </div>
      <div class="pull-right pt-3">
        <button class="bttn-transparent" routerLink="/login">Sign in</button>
        <button class="bttn-transparent">Sign up</button>
      </div>
    </div>
  </nav>
  <div class="login-box">
    <div class="container login-wrapper">
      <div class="card col-md-10 col-md-offset-1">
        <div class="card-body">
          <div class="col-md-5 col-sm-12 cl-l">
            <div class="cl-l-wrapper">
              <h1 class="heading-1">Step into the future of agricultural trade</h1>
              <p class="pt-5">
                Manage your transactions, orders, invoices, inventory, and clients in a complete ecosystem for
                agricultural trade.
              </p>
              <div class="img-wrapper">
                <img src="../../assets/img/landing-imgs/Logo-avenews.png" />
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 cl-r">
            <div class="cl-r-wrapper">
              <h1>Sign up</h1>
              <form class="mt-5">
                <div id="p1">
                  <div class="row form-group">
                    <div class="col">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" id="firstName" placeholder="First name" />
                    </div>
                    <div class="col">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" placeholder="Last name" id="lastName" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" placeholder="Email address" id="email" />
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" placeholder="Phone number" id="phone" />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" />
                  </div>
                  <div class="form-group">
                    <label for="c-password">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Re-type password" id="c-password" />
                  </div>
                  <button class="pull-right bttn-primary action-bttn" (click)="changeDiv()">Next</button>
                </div>
                <div id="p2" style="display: none;">
                  <h3>Join Avenews-gt as a/an</h3>
                  <div class="bttns-line">
                    <button class="active" id="sellerBtn" (click)="onActiveBtn('sellerBtn')">Seller</button>
                    <button (click)="onActiveBtn('buyerBtn')" id="buyerBtn">Buyer</button>
                    <button (click)="onActiveBtn('agriBtn')" id="agriBtn">Agribusiness</button>
                  </div>

                  <div class="form-group mt-5">
                    <label for="company">Company Name</label>
                    <input type="text" class="form-control" placeholder="Company Name" id="company" />
                  </div>
                  <a class="icon-text" (click)="onBack()"><i class="material-icons">keyboard_backspace</i> Go Back</a>
                  <p class="heading-4">
                    By signing up to Avenews-gt, you agree to our <a href="">Terms of use</a> and
                    <a href="">Privacy Policy</a>.
                  </p>
                  <button class="pull-right bttn-primary action-bttn">Create Account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li><button class="btn-link">PRIVACY POLICY</button></li>
          </ul>
        </nav>
        <p class="copyright pull-right">&copy; <a href="https://www.avenews-gt.com" target="_blank">Avenews-GT</a></p>
      </div>
    </footer>
  </div>
</div>
