<div class="row">
  <div class="col-md-8">
    <div class="info">
      <p class="heading-3">PRODUCTS</p>
      <div class="table-wrapper">
        <table class="table-blue">
          <thead>
            <tr>
              <th>PRODUCT</th>
              <th>DESCRIPTION</th>
              <th>TOTAL AMOUNT</th>
              <th>SPECIFICATIONS</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="product">
              <td>
                <span *ngIf="!product.product_type || product.product_type == 'agricultural'">
                  {{ product.produce }} / {{ product.variety }}
                </span>
                <span *ngIf="product.product_type == 'processed' && product.item_package_type">
                  {{ product.produce }} / {{ product.item_measurement_amount | number: '1.2-2' }}
                  {{ product.item_measurement_unit | uppercase }} / {{ product.item_package_type }}
                </span>
                <span *ngIf="product.product_type == 'processed' && !product.item_package_type">
                  {{ product.produce }}
                </span>
                <span *ngIf="product.product_type == 'input'"
                  >{{ product.produce }} / <span *ngIf="product.other_input_type">{{ product.other_input_type }}</span>
                  <span *ngIf="!product.other_input_type">{{ product.input_produce_type }}</span>
                </span>
              </td>
              <td>
                <span *ngIf="!product.product_type || product.product_type == 'agricultural'">
                  {{ product.package_weight | number: '1.0' }} {{ product.weight_unit }} per package ({{
                    product.type_of_package
                  }})
                </span>
                <span *ngIf="product.product_type == 'processed'">
                  {{ product.items_per_package | number: '1.0' }}
                  <span *ngIf="product.items_per_package > 1"> units </span>
                  <span *ngIf="product.items_per_package == 1"> unit </span>
                  per package ({{ product.type_of_package }})
                </span>
                <span *ngIf="product.product_type == 'input'">
                  <span *ngIf="product.item_description">{{ product.item_description }}</span>
                  <span *ngIf="!product.item_description">
                    {{ product.item_measurement_amount | number: '1.2-2' }} {{ product.weight_unit }} per unit
                  </span>
                </span>
              </td>
              <td>
                <span *ngIf="!product.product_type || product.product_type == 'agricultural'"
                  >{{ product.total_weight_requested | number: '1.2-2' }} {{ product.weight_unit | uppercase }}
                  <span
                    >({{ product.quantity_requested }} <span *ngIf="product.quantity_requested > 1">pacakges</span>
                    <span *ngIf="product.quantity_requested == 1">package</span>
                    <small> Estimated</small>)
                  </span>
                </span>
                <span *ngIf="product.product_type == 'processed'">
                  {{ product.quantity_requested }}
                  <span *ngIf="product.quantity_requested > 1"> packages </span>
                  <span *ngIf="product.quantity_requested == 1"> package </span>
                  ({{ product.total_amount_items | number: '1.0' }}
                  <span *ngIf="product.total_amount_items > 1">units</span>
                  <span *ngIf="product.total_amount_items == 1">unit</span>)
                </span>
                <span *ngIf="product.product_type == 'input'">
                  {{ product.quantity_requested | number: '1.0' }}
                  <span *ngIf="product.quantity_requested > 1">units</span>
                  <span *ngIf="product.quantity_requested == 1">unit</span>
                </span>
              </td>
              <td>
                <span id="specification">{{ product.specification || 'N/A' }}</span>
              </td>
              <td class="text-center">
                <button class="btn-circle remove" (click)="deleteProduct()">
                  <i class="material-icons">remove</i>
                </button>
                <button class="btn-circle edit" (click)="openUpdateDialog()">
                  <i class="material-icons">edit</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="dropdown">
        <button *ngIf="!product" class="bttn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          Add New Product
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="openDialogAgricultural()">New Agricultural Product</a></li>
          <li><a (click)="openDialogProcessed()">New Processed Product</a></li>
          <li><a (click)="openDialogInput()">New Input Product</a></li>
        </ul>
      </div>
    </div>
    <form *ngIf="quoteRequestForm" [formGroup]="quoteRequestForm" (keydown.enter)="$event.preventDefault()">
      <div class="row mt-5">
        <div class="col-md-6">
          <div class="info">
            <p class="heading32 mb-3">COMMENTS</p>
            <textarea
              class="form-control"
              name="comments"
              id="comments"
              rows="6"
              formControlName="buyer_comments"
              placeholder="Type your comments here..."
            ></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info">
            <p class="heading-3 mb-3">OTHER DETAILS</p>
            <div [ngClass]="showFieldStyle('currency')">
              <label for="currency">Choose currency *</label>
              <select id="currency" name="currency" class="form-control mb-3" formControlName="currency">
                <option *ngFor="let currency of currencies" [value]="currency.value"> {{ currency.viewValue }}</option>
              </select>
              <div class="help-block" *ngIf="isFieldInvalid('currency')">
                <p>This field is required</p>
              </div>
            </div>
            <label for="validBy">Quote request is valid by</label>
            <div class="input-group">
              <input
                id="valid_by"
                class="form-control"
                placeholder="dd/mm/yyyy"
                formControlName="valid_by"
                name="ddp"
                ngbDatepicker
                #dp3="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn glyphicon glyphicon-calendar"
                  style="position:0;"
                  (click)="dp3.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <div class="info">
      <p class="heading-3">TRADE PARTIES</p>
      <div>
        <p class="heading-3 t-blue">Buyer</p>
        <div class="center-c mt-4">
          <figure
            class="img-circular img-circular-sm"
            [ngStyle]="{ 'background-image': 'url(' + buyer.personal_information.profile_picture + ')' }"
          ></figure>
          <div class="fl-c ml-4">
            <p class="t-bold margin-none">
              {{ buyer.personal_information.first_name }} {{ buyer.personal_information.last_name }}
            </p>
            <p class="t-bold margin-none">{{ buyer.company_information.company_name }}</p>
          </div>
        </div>
      </div>
      <div>
        <p class="heading-3 t-blue mt-5">Sellers</p>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Contact Name</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let seller of (targeted_sellers | paginate: { itemsPerPage: 5, currentPage: page, id: 'sellersList' });
                let i = index
              "
            >
              <td>{{ seller.first_name }} {{ seller.last_name }}</td>
              <td>{{ seller.company_name || 'N/A' }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls id="sellersList" *ngIf="targeted_sellers?.length > 5" (pageChange)="page = $event">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
<button
  [hidden]="!quoteRequestForm.valid || !product || quoteRequest.sellers.length <= 0"
  class="bttn-primary pull right next-step"
>
  Next Step &rarr;
</button>
<button
  [hidden]="quoteRequestForm.valid && product && quoteRequest.sellers.length > 0"
  class="bttn-primary pull right"
  (click)="onSubmit(quoteRequestForm)"
>
  Next Step &rarr;
</button>
<button
  #submitButton
  [disabled]="targeted_sellers?.length <= 0 && !quoteRequest.product"
  class="btn-primary-transp pull-right btn-draft"
  (click)="draftQuoterequest()"
>
  Save Quote request
</button>
