<!-- <a class="pull-right need-help" data-toggle="wizard">Need help?</a> -->
<h1 translate class="main-title">Quote Requests</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p *ngIf="isBuyer">
    Generate quote requests to your sellers, receive quotations, and choose the best offer to proceed with a purchase
    order
  </p>
  <p *ngIf="!isBuyer">
    Receive quote requests from your buyers and reply with the price that you offer.
  </p>
</div>

<h1 translate class="main-title" *ngIf="hasQuoteRequests">Quote Requests List</h1>

<div class="actions-section clearfix" *ngIf="hasQuoteRequests">
  <div>
    <input
      type="text"
      id="searchBar"
      class="search-bar"
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="Search quote requests..."
    />
  </div>

  <div class="flex-pr">
    <button
      class="bttn-primary bttn-add mr-0"
      *ngxPermissionsOnly="['create-qr']"
      routerLink="/quote-request/generator"
    >
      <span translate matTooltip="{{ tooltips.create_qr }}">Create Quote Request</span>
    </button>
  </div>
</div>

<div class="two-btns" *ngIf="isAgribusiness">
  <p class="heading-3">View records as:</p>
  <button (click)="viewAs('seller')" [class.active]="this.viewAsSeller">
    Seller
  </button>
  <button (click)="viewAs('buyer')" [class.active]="this.viewAsBuyer">
    Buyer
  </button>
</div>
<app-quote-request-list
  [searchTerm]="searchTerm"
  [viewAsSeller]="viewAsSeller"
  [quoteRequests]="quoteRequests"
></app-quote-request-list>
