<h1 class="main-title btn-main margin-bottom-2" (click)="back()">
  <a class="material-icons">keyboard_backspace</a> Quote Requests
</h1>

<div class="col-md-12">
  <div class="panel">
    <div class="panel-body">
      <div class="col-md-3">
        <p class="heading-3">QUOTE REQUEST NUMBER</p>
        <p class="normal-text-bold">{{ quoteRequest?.numericId }}</p>
      </div>
      <div class="col-md-3">
        <p class="heading-3">CONTACT NAME</p>
        <p class="normal-text-bold">{{ quoteRequest?.buyer.first_name }} {{ quoteRequest?.buyer.last_name }}</p>
      </div>
      <div class="col-md-3">
        <p class="heading-3">SUBMITTED ON</p>
        <p class="normal-text-bold">{{ quotation?.date_created | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div class="col-md-3">
        <p class="heading-3">PRICE OFFERED</p>
        <p class="normal-text-bold">{{ quotation?.total_price | number: '1.2-2' }} {{ quotation?.currency }}</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#quoteRequest">Quote Request</a>
    </li>
    <li><a data-toggle="tab" href="#quotation">Quotation</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="quoteRequest">
      <app-quote-request [isSeller]="true" [quoteRequest]="quoteRequest"></app-quote-request>
    </div>
    <div class="tab-pane" id="quotation">
      <app-quotation [quotation]="quotation"></app-quotation>
    </div>
  </div>
</div>
