<a class="pull-right need-help" data-toggle="wizard" data-target="#ecosystemsTutorials">Need help?</a>
<h1 class="main-title">Ecosystems</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>Here you can review existing ecosystems and create new ones!</p>
</div>
<h1 class="main-title">Ecosystems List</h1>
<input
  type="text"
  id="searchBar"
  class="form-rounded"
  [(ngModel)]="searchTerm"
  type="text"
  placeholder="Search ecosystems..."
/>
<div class="clearfix margin-top">
  <button class="bttn-primary bttn-add pull-right" data-toggle="wizard" data-target="#newEcosystem">
    <span>New Ecosystem</span>
  </button>
</div>

<table class="table main-table" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="id" class="text-center">ID</th>
      <th mat-sort-header="title">Title</th>
      <th mat-sort-header="type">Type</th>
      <th mat-sort-header="clientsNumber">Number of clients</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let ecosystem of (ecosystems
          | filter: searchTerm
          | paginate: { itemsPerPage: itemsPerPage, currentPage: page, id: 'ecoList' })
      "
    >
      <td class="text-center">{{ ecosystem.numericId }}</td>
      <td>{{ ecosystem.name }}</td>
      <td style="text-transform: capitalize;">{{ ecosystem.type }}</td>
      <td>{{ ecosystem.participants.length }}</td>
      <td class="text-right">
        <button class="round-button-primary" [routerLink]="['/ecosystem', ecosystem._id]">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="round-button-red" (click)="warning(ecosystem._id)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls id="ecoList" (pageChange)="page = $event"></pagination-controls>

<app-ecosystem-generator></app-ecosystem-generator>
<app-ecosystem-tutorials></app-ecosystem-tutorials>
