<h1 class="main-title">Ecosystems</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>Here you can review existing ecosystems and create new ones!</p>
</div>

<button class="bttn-primary bttn-add pull-right" data-toggle="wizard" data-target="#newEcosystem">
  <span>New Ecosystem</span>
</button>

<h1 class="main-title">Ecosystems List</h1>

<table class="table main-table">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th>Title</th>
      <th>Type</th>
      <th>Number of clients</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ecosystem of (ecosystems | paginate: { itemsPerPage: itemsPerPage, currentPage: page })">
      <td class="text-center">{{ ecosystem.numericId }}</td>
      <td>{{ ecosystem.name }}</td>
      <td style="text-transform: capitalize;">{{ ecosystem.type }}</td>
      <td>{{ ecosystem.participants.length }}</td>
      <td class="text-right">
        <button class="round-button-primary" [routerLink]="['/ecosystem', ecosystem._id]">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="round-button-red" (click)="warning(ecosystem._id)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="page = $event"></pagination-controls>

<app-ecosystem-generator></app-ecosystem-generator>
