<h1 class="main-title">Transactions</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>Here you can see all your ecosystems and create new ones!</p>
</div>

<h1 class="main-title">Ecosystems List</h1>

<button class="btn-primary-filled pull-right">
  <i class="material-icons">add</i> <span>New Ecosystem</span>
</button>

<table class="table main-table">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th>Title</th>
      <th>Type</th>
      <th>Number of clients</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">212</td>
      <td>Eco A</td>
      <td>Seller</td>
      <td>9</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Eco A</td>
      <td>Seller</td>
      <td>9</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Eco A</td>
      <td>Seller</td>
      <td>9</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Eco A</td>
      <td>Seller</td>
      <td>9</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Eco A</td>
      <td>Seller</td>
      <td>9</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
