<div class="panel panel-tab">
  <div class="panel-body">
    <div class="panel-header">
      <div>
        <p>Choose suppliers from</p>
      </div>
      <div class="center-c pull-left mt-3 mb-2">
        <button
          class="btn-primary-transp ml-0 active"
          (click)="toggleTable('clients')"
          [class.active]="toggledTable === 'clients'"
        >
          Clients
        </button>
        <p class="ml-2 mr-2">OR</p>
        <button
          class="btn-primary-transp"
          (click)="toggleTable('ecosystems')"
          [class.active]="toggledTable === 'ecosystems'"
        >
          Ecosystems
        </button>
      </div>
    </div>
    <div class="mt-4 ml-4">
      <p class="heading-2">Clients list</p>
      <table class="table table-borderless" id="clients-table" [hidden]="toggledTable === 'ecosystems'">
        <thead>
          <tr>
            <th>Choose Client</th>
            <th>ID</th>
            <th>Company</th>
            <th>Contact Name</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let seller of (buyer_sellers | paginate: { itemsPerPage: 10, currentPage: pageClients, id: 'clients' });
              let i = index
            "
          >
            <td>
              <input
                type="checkbox"
                class="checkbox"
                [id]="seller._id"
                (change)="targetSeller(seller, $event.target.checked, true)"
                [checked]="isTargeted(seller)"
                [disabled]="disablingChoice(seller)"
              /><label class="checkbox_label" [for]="seller._id"><span class="form_checkbox_btn"></span></label>
            </td>
            <td>{{ seller.numericId }}</td>
            <td>{{ seller.company_name || 'N/A' }}</td>
            <td>{{ seller.first_name }} {{ seller.last_name }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-borderless" id="ecosystems-table" [hidden]="toggledTable === 'clients'">
        <thead>
          <tr>
            <th>Choose Ecosystem</th>
            <th>ID</th>
            <th>Name</th>
            <th>Members</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let ecosystem of (buyer_ecosystems
                | paginate: { itemsPerPage: 10, currentPage: pageEcosystems, id: 'ecosystems' });
              let i = index
            "
          >
            <td>
              <input
                type="radio"
                class="form_radio"
                [id]="i"
                name="seller"
                (change)="pickEcosystem(ecosystem)"
                [checked]="isPicked(ecosystem)"
              />
              <label [for]="i" class="form_radio_label">
                <span class="form_radio_btn"></span>
              </label>
            </td>
            <td>{{ ecosystem.numericId }}</td>
            <td>{{ ecosystem.name }}</td>
            <td>{{ ecosystem.participants.length }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        *ngIf="toggledTable === 'ecosystems'"
        (pageChange)="pageEcosystems = $event"
        id="ecosystems"
      ></pagination-controls>
      <pagination-controls
        *ngIf="toggledTable === 'clients'"
        (pageChange)="pageClients = $event"
        id="clients"
      ></pagination-controls>
    </div>
  </div>
</div>
<button class="bttn-primary pull right next-step" [disabled]="targeted_sellers.length < 1">Next Step &rarr;</button>
