<div class="product-profile">
  <div>
    <figure class="img-circular" style="background-image: url('../../../assets/img/chia.jpg');"></figure>
    <p class="heading-2">Chia Seeds</p>
    <p class="normal-text-bold">SKU KS944RUR</p>
  </div>
  <div class="availability-block">
    <p class="heading-4-blue">Availability</p>
    <div class="col-md-7">
      <p>Amount of packages available</p>
      <p>Type of package</p>
      <p>Packaged Produce Weight</p>
      <p>Total Weight</p>
    </div>
    <div class="col-md-5">
      <p>5 packages</p>
      <p>Bag</p>
      <p>55/kg</p>
      <p>257/kg</p>
    </div>
  </div>
  <div class="pricing">
    <p class="heading-4-blue">55 USD/kg</p>
  </div>
</div>
