<div class="product-profile">
  <div>
    <figure class="img-circular img-circular-lg" [style.background-image]="'url(' + product_image() + ')'"></figure>
    <p class="heading-2">{{ product.produce }}</p>
    <p class="t-bold" *ngIf="product.sku">SKU {{ product.sku }}</p>
    <p class="t-bold" *ngIf="product.other_input_type">{{ product.other_input_type }}</p>
    <p class="t-bold" *ngIf="!product.other_input_type">{{ product.input_produce_type }}</p>
  </div>
  <div class="availability-block">
    <p class="heading-2 t-blue">Availability</p>
    <div class="col-md-7">
      <p *ngIf="!input_product">Number of packages available</p>
      <p *ngIf="!input_product">Type of package</p>
      <p *ngIf="agricultural_product">Amount per package</p>
      <p *ngIf="processed_product">Number of units per package</p>
      <p *ngIf="agricultural_product">Total amount available</p>
      <p *ngIf="processed_product && product.item_package_type">
        Amount of {{ product.item_measurement_unit }} in individual {{ product.item_package_type }}
      </p>
      <p *ngIf="input_product">Number of units availabe</p>
      <p *ngIf="input_product && product.item_measurement_amount">Amount per unit</p>
      <p *ngIf="input_product && product.item_description">Item description</p>
    </div>
    <div class="col-md-5">
      <p *ngIf="!input_product">{{ product.quantity | number: '1.0' }} packages</p>
      <p *ngIf="!input_product">{{ product.type_of_package }}</p>
      <p *ngIf="agricultural_product">{{ product.package_weight | number: '1.2-2' }}/{{ product.weight_unit }}</p>
      <p *ngIf="processed_product">{{ product.items_per_package | number: '1.0' }} units</p>
      <p *ngIf="agricultural_product">{{ product.total_weight | number: '1.2-2' }}/{{ product.weight_unit }}</p>
      <p *ngIf="processed_product && product.item_package_type">{{ product.item_measurement_amount }}</p>
      <p *ngIf="input_product">{{ product.quantity }} units</p>
      <p *ngIf="input_product && product.item_measurement_amount">
        {{ product.item_measurement_amount | number: '1.2-2' }} {{ product.weight_unit | uppercase }}
      </p>
      <p *ngIf="input_product && product.item_description">{{ product.item_description }}</p>
    </div>
  </div>
  <div class="pricing">
    <p class="heading-2 t-blue" *ngIf="agricultural_product">
      {{ product.currency }} {{ product.price_per_unit | number: '1.2-2' }}/{{ product.weight_unit }}
    </p>
    <p class="heading-2 t-blue" *ngIf="processed_product">
      {{ product.currency }} {{ product.package_price | number: '1.2-2' }}/ Package
    </p>
    <p class="heading-2 t-blue" *ngIf="input_product">
      {{ product.currency }} {{ product.price_per_unit | number: '1.2-2' }}/ Unit
    </p>
  </div>
</div>
