*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// 16px is the default (browser) font-size
html {
  font-size: 62.5%; // 1rem = 10px -> 10/16 = 0.625
  background-color: $bg-color;

  @include respond(small-desktop) {
    font-size: 56.25%; // 1rem = 9 -> 9/16px
  }

  @include respond(tab-land) {
    font-size: 53.125%; // 1rem = 8.5 -> 8.5/16px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8 -> 8/16px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 11 -> 11/16px
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #585858;
}

.my-pagination {
  font-size: 1.4rem;
}

.ngx-pagination {
  font-size: 1.2rem;
}

.tooltip {
  font-size: 1.3rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tooltip-inner {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}

.mat-tooltip.tooltip-return {
  white-space: pre-line;
  left: -70%;
  position: relative;
  width: 10em;
}

.mat-tooltip.tooltip-table {
  white-space: pre-line;
  font-size: 13px;
}

.svgClass {
  height: 58.5rem !important;
}

div[data-notify="container"] {
  width: 88% !important;
}
