p,
span,
li,
a {
  font-size: 1.3rem;
}

p {
  margin: 4px 0px;
}

.main-title {
  font-size: 1.6rem;
  color: $main-title-color;
  margin-bottom: 5px;
  margin-top: 0.5rem;
  font-weight: 600;

  a {
    display: inline-block;
    vertical-align: middle;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }
}

.heading-1 {
  color: $dark-gray-2;
  font-size: 2rem;
  font-weight: 500;
}

.heading-2 {
  color: $dark-gray;
  font-size: 1.6rem;
  font-weight: 600;
}

.heading-3 {
  color: $dark-gray;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 5px 0px;
}

.t-small {
  font-size: 1.2rem;
}

.t-blue {
  color: $primary-color;
}

.t-light-gray {
  color: $light-gray;
}

.t-bold {
  font-weight: 600;
}

.label-2 {
  font-size: 1.2rem;
  color: $dark-gray;
  font-weight: 600;
  margin: 5px 0px;
}

.modal-title {
  font-size: 1.6rem;
  color: $dark-gray;
  margin: 0;
  font-weight: 600;
}

.stats-number {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0px !important;
}

.panel-title {
  font-size: 1.5rem;
  color: $dark-gray;
  margin: 0px 0px 0.7rem 0px;
  font-weight: 600;
}

.need-help {
  color: $primary-color !important;
  font-size: 1.4rem;
  padding-top: 4px;
  cursor: pointer;
}

.text-regular {
  font-size: 1.5rem;
}
