.border-top {
  border-top: 1px dashed $light-gray;
  padding: 1rem 0;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.margin-top {
  margin-top: 2.5rem;
}

.margin-none {
  margin: 0px;
}

.margin-rl {
  margin: 0 2rem;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}
