.border-top {
  border-top: 1px dashed $light-gray;
  padding: 1rem 0 0 0;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.margin-bottom-2 {
  margin-bottom: 3rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-top-none {
  margin-top: 0;
}

.margin-none {
  margin: 0px;
}

.margin-rl {
  margin: 0 2rem;
}

.margin-all {
  margin: 2rem 2rem;
}

.right {
  float: right;
}

.padding-none {
  padding: 0 !important;
}

.clearfix {
  clear: both;
}

.icon-text {
  display: flex;
  align-items: center;
  font-family: inherit;

  i {
    margin-right: 0.8rem;
    padding-bottom: 0.6rem;
  }
}

.zero-padding-right {
  padding-right: 0px;
}

.zero-padding-left {
  padding-left: 0px;
}

.padding-all {
  padding: 2rem;
}

.center-text-btn {
  display: flex;
  align-items: center;

  & :first-child {
    margin-right: 1.3rem;
    text-align: center;
  }

  & :nth-child(2) {
    margin-bottom: 0px !important;
  }
}

.c-p {
  color: $primary-color !important;
}

.padding-all-2 {
  padding: 2rem;
}

.display-inline {
  display: flex;

  & :not(:last-child) {
    margin-right: 1rem;
  }
}

.padding-top-md {
  padding-top: 2.5rem;
}

.disclaimer {
  display: flex;
}

.custom-padding {
  padding: 10px 30px 30px 30px;
}

.margin-vertical-big {
  margin: 3rem 0px !important;
}

.circle-indicator {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  i {
    margin: 0 auto;
  }
}

.circle-indicator.circle-success {
  background-color: #eefff2;
  border: 2px solid #2ca800;
  color: #2ca800 !important;
}

.circle-indicator.circle-fail {
  background-color: #ffeeee;
  border: 2px solid #a80000;
  color: #a80000;
}

.center-items {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.status {
  max-width: 21rem;
  border-radius: 12rem;
  text-align: center;
  font-weight: 600;
  padding: 3px 0px;
  font-size: 1.3rem;

  &-blue {
    background-color: #e9fafc;
    color: #33c1ce;
  }

  &-yellow {
    background-color: rgb(255, 248, 232);
    color: rgb(255, 189, 8);
  }

  &-orange {
    background-color: #fff2ec;
    color: rgb(255, 126, 27);
  }

  &-purple {
    background-color: rgb(242, 241, 255);
    color: #836ffb;
  }

  &-green {
    background-color: #e9fff2;
    color: #2acf82;
  }

  &-dark-blue {
    background-color: #eef8ff;
    color: hsl(204, 86%, 53%);
  }
}

.fl-c {
  display: flex;
  flex-direction: column;
}

.center-c {
  display: flex;
  align-items: center;
}

.mr-0 {
  margin-right: 0px;
}

.flex-pr {
  margin-left: auto;
}

.display-ib {
  display: inline-block;
}
