<nav class="pt-4">
  <div class="container">
    <div class="pull-left">
      <img src="../../assets/img/logo-20cm-grey.png" width="174" height="35" alt="" />
    </div>
    <div class="pull-right">
      <button class="bttn-transparent signinBtn" [routerLink]="['/login']">Sign in</button>
      <button class="bttn-primary" id="signupBtn" [routerLink]="['/registration']">Sign up</button>
      <button class="bttn-transparent pt-3" id="signupBtnMobile" [routerLink]="['/registration']">Sign up</button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="fullscreen-video-wrapp pt-5">
    <lottie-animation-view
      id="lottie"
      [options]="lottieConfig"
      (animCreated)="handleAnimation($event)"
      style="position: absolute; top:6.5%; left:0; right: 0; z-index: 1;"
    >
    </lottie-animation-view>
    <div class="vp-content">
      <h1 class="pb-4">Step into the Future of Agricultural Trade</h1>

      <p class="heading-3">
        Avenews-GT provides you with the business tools to conduct your entire agricultural trade process online, in a
        secure environment in a few easy steps.
      </p>

      <div class="get-started-wrapper">
        <h2>Get started for free</h2>
        <h3>I am a -</h3>
        <div class="register-btns-wrapper">
          <button class="bttn-primary" [routerLink]="['/registration', 'seller']">Seller</button>
          <button class="bttn-primary" [routerLink]="['/registration', 'buyer']">Buyer</button>
          <button class="bttn-primary" [routerLink]="['/registration', 'agribusiness']">Agribusiness</button>
        </div>

        <p class="normal-text mt-4 signinBtn">Already using Avenews-gt? <a [routerLink]="['/login']">Sign in</a>.</p>
      </div>
    </div>
  </div>
</div>
<section id="how-it-works" class="container">
  <h1>
    Here's how it works
  </h1>
  <div id="switcher-wrapper">
    <ul class="nav nav-tabs">
      <li class="nav-item user-type active">
        <a data-toggle="tab" class="nav-link" href="#seller-sec">
          <img src="../../assets/img/landing-imgs/seller.png" alt="" />
          <p>Seller</p>
        </a>
      </li>
      <li class="nav-item user-type">
        <a data-toggle="tab" class="nav-link" href="#buyer-sec">
          <img src="../../assets/img/landing-imgs/buyer.png" alt="" />
          <p>Buyer</p>
        </a>
      </li>
      <li class="nav-item user-type">
        <a data-toggle="tab" class="nav-link" href="#agribusiness-sec">
          <img src="../../assets/img/landing-imgs/agribusiness.png" alt="" />
          <p>Agribusiness</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="how-it-works-content tab-content">
    <div class="tab-pane active" id="seller-sec" role="tabpanel">
      <div class="content-row">
        <div class="content-row-l includes-txt">
          <p class="step-txt">Step 1</p>
          <p class="step-title">Add your Buyers</p>
          <p class="step-content">
            Earn more on your produce by selling your agri-produce at your price, directly to your buyers using our
            digital platform.
          </p>
        </div>
        <div class="content-row-r includes-img">
          <img src="../../assets/img/landing-imgs/add-client.png" alt="" />
        </div>
      </div>
      <div class="content-row">
        <div class="content-row-r includes-img">
          <img src="../../assets/img/landing-imgs/add-product.png" alt="" />
        </div>
        <div class="content-row-l includes-txt">
          <p class="step-txt">Step 2</p>
          <p class="step-title">Add your Products</p>
          <p class="step-content">
            By uploading your products you can create a digital inventory, pick your pricing and include key product
            details like varieties, weight, and packing options.
          </p>
        </div>
      </div>
      <div class="content-row">
        <div class="content-row-l includes-txt">
          <p class="step-txt">Step 3</p>
          <p class="step-title">Trade Directly with your Buyers</p>
          <p class="step-content">
            Create a transparent and secure business on a digital platform to trade directly with your buyers. Let your
            buyers know exactly what they are buying and order directly from your inventory.
          </p>
        </div>
        <div class="content-row-r includes-img">
          <img src="../../assets/img/landing-imgs/transactions.png" alt="" />
        </div>
      </div>
    </div>
    <div class="tab-pane" id="buyer-sec" role="tabpanel">
      <div class="content-row">
        <div class="content-row-l includes-txt">
          <p class="step-txt">Step 1</p>
          <p class="step-title">Add your Sellers</p>
          <p class="step-content">
            The Avenews-GT platform enables you to buy directly from your sellers and avoid multiple broker fees across
            the supply chain, and ensures full transparency of quotation and pricing data.
          </p>
        </div>
        <div class="content-row-r includes-img">
          <img src="../../assets/img/landing-imgs/add-client.png" alt="" />
        </div>
      </div>
      <div class="content-row">
        <div class="content-row-l includes-txt">
          <p class="step-txt">Step 2</p>
          <p class="step-title">Trade Directly with your Sellers</p>
          <p class="step-content">
            Sellers create digital inventory for their products including key product details like pricing, varieties,
            weight, and packing options. Know exactly what you are buying and order directly from your seller's
            inventory.
          </p>
        </div>
        <div class="content-row-r includes-img">
          <img src="../../assets/img/landing-imgs/transactions.png" />
        </div>
      </div>
    </div>
    <div class="tab-pane" id="agribusiness-sec" role="tabpanel">
      <div class="content-row">
        <div class="content-row-l includes-txt">
          <p class="step-txt">Step 1</p>
          <p class="step-title">Add your Sellers and Buyers</p>
          <p class="step-content">
            Harness the powers of the Avenews-GT trading platform to get the ultimate tools for buying and selling
            agricultural produce by digitizing your business.
          </p>
        </div>
        <div class="content-row-r includes-img">
          <img src="../../assets/img/landing-imgs/add-client.png" />
        </div>
      </div>
      <div class="content-row">
        <div class="content-row-r includes-img">
          <img src="../../assets/img/landing-imgs/add-product.png" />
        </div>
        <div class="content-row-l includes-txt">
          <p class="step-txt">Step 2</p>
          <p class="step-title">Add your products</p>
          <p class="step-content">
            By uploading your products you can create a digital inventory, pick your pricing and include key product
            details like varieties, weight, and packing options.
          </p>
        </div>
      </div>
      <div class="content-row">
        <div class="content-row-l includes-txt">
          <p class="step-txt">Step 3</p>
          <p class="step-title">Trade Directly with your Buyers</p>
          <p class="step-content">
            Create a transparent and secure business on a digital platform to trade directly with your buyers. Let your
            buyers know exactly what they are buying and order directly from your inventory.
          </p>
        </div>
        <div class="content-row-r includes-img">
          <img src="../../assets/img/landing-imgs/transactions.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="get-started">
  <img src="../../assets/img/landing-imgs/Logo-avenews.png" alt="" />
  <h1>Step into the Future of Agricultural Trade</h1>
  <div class="register-btns-wrapper">
    <button class="bttn-white" [routerLink]="['/registration', 'seller']">Sellers, start here</button>
    <button class="bttn-white" [routerLink]="['/registration', 'buyer']">Buyers, start here</button>
    <button class="bttn-white" [routerLink]="['/registration', 'agribusiness']">Agribusiness, start here</button>
  </div>
</section>

<footer class="social-footer">
  <div class="pull-right">
    <a href="https://www.facebook.com/AvenewsGT/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/avenews_gt/?hl=bg" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/avenews-gt/" target="_blank"> <i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/avenewsgt" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</footer>
