<div class="panel panel-tab">
  <div class="panel-body">
    <div class="padding-all">
      <div class="border-box">
        <h2>QUOTE REQUEST <span> #324</span></h2>
        <table>
          <tr>
            <td class="heading-4-blue">ISSUE DATE</td>
            <td>22/05/2019</td>
          </tr>
          <tr>
            <td class="heading-4-blue">VALID BY</td>
            <td>22/06/2019</td>
          </tr>
        </table>
      </div>
      <div class="row" style="padding-top: 5rem;">
        <div class="col-md-9">
          <p class="heading-4-blue">ISSUED BY</p>
          <p class="heading-4">Tony Stark</p>
          <p class="heading-4">Homestead Farms</p>
          <p class="heading-4">Tony@starkindustires.com</p>
          <p class="heading-4">Sugarland Road, Canada 25081</p>
          <p class="heading-4">+972546233918</p>
        </div>
        <div class="col-md-3">
          <p class="heading-4-blue">ISSUED FOR</p>
          <p class="heading-4">Patrick Mutow</p>
          <p class="heading-4">Homestead Farms</p>
          <p class="heading-4">Patrick@agrium.com</p>
          <p class="heading-4">Sugarland Road, Canada 25081</p>
          <p class="heading-4">+972546233918</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div style="padding-top: 2rem;">
            <p class="heading-2">PRODUCTS</p>
            <table class="products-table">
              <thead>
                <tr>
                  <th>PRODUCT NAME</th>
                  <th>PACKAGES</th>
                  <th>AMOUNT</th>
                  <th>SPECIFICATIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span>
                      Green Coffee/kona
                    </span>
                  </td>
                  <td>
                    <span>
                      100 (Box/ 30 kg)
                    </span>
                  </td>
                  <td>
                    <span>
                      5000 KG
                    </span>
                  </td>
                  <td>
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div style="padding-top: 2rem;">
        <div class="row">
          <div class="col-md-9">
            <p class="heading-2">COMMENTS</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
          </div>
          <div class="col-md-3">
            <div class="border-box center-items pull-left">
              <p class="heading-2">CURRENCY</p>
              <p class="heading-4-blue">KES</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="bttn-primary pull right next-step">Next Step &rarr;</button>
