<div class="panel panel-tab">
  <div class="panel-body">
    <div class="padding-all">
      <div class="border-box">
        <h2>
          QUOTE REQUEST <span> #{{ quoteRequest?.numericId }}</span>
        </h2>
        <table>
          <tr>
            <td class="heading-4-blue">ISSUE DATE</td>
            <td>{{ quoteRequest?.date_created | date: 'dd/MM/yyyy' }}</td>
          </tr>
          <tr>
            <td class="heading-4-blue">VALID BY</td>
            <td *ngIf="quoteRequest?.valid_by">{{ quoteRequest?.valid_by | date: 'dd/MM/yyyy' }}</td>
            <td *ngIf="!quoteRequest?.valid_by">'N/A'</td>
          </tr>
        </table>
      </div>
      <div class="row" style="padding-top: 5rem;">
        <div class="col-md-9">
          <p class="heading-4-blue">ISSUED BY</p>
          <p class="heading-4">{{ quoteRequest?.buyer?.first_name }} {{ quoteRequest?.buyer?.last_name }}</p>
          <p class="heading-4">{{ quoteRequest?.buyer?.company_name }}</p>
          <p class="heading-4">{{ quoteRequest?.buyer?.email }}</p>
          <p class="heading-4">
            {{ quoteRequest?.buyer?.address }}, {{ quoteRequest?.buyer?.city }}, {{ quoteRequest?.buyer?.zipcode }},
            {{ quoteRequest?.buyer?.country }}
          </p>
          <p class="heading-4">{{ quoteRequest?.buyer?.phone_number }}</p>
        </div>
        <div class="col-md-3">
          <p class="heading-4-blue">ISSUED FOR</p>
          <p class="heading-4">{{ seller?.first_name }} {{ seller?.last_name }}</p>
          <p class="heading-4">{{ seller?.company_name }}</p>
          <p class="heading-4">{{ seller?.email }}</p>
          <p class="heading-4">
            {{ seller?.address }}, {{ seller?.city }}, {{ seller?.zipcode }},
            {{ seller?.country }}
          </p>
          <p class="heading-4">{{ seller?.phone_number }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div style="padding-top: 2rem;">
            <p class="heading-2">PRODUCTS</p>
            <table class="products-table">
              <thead>
                <tr>
                  <th>PRODUCT NAME</th>
                  <th>PACKAGES</th>
                  <th>AMOUNT</th>
                  <th>SPECIFICATIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of quoteRequest?.products; let i = index">
                  <td>
                    <span *ngIf="!product.product_type || product.product_type == 'agricultural'">
                      {{ product.produce }} / {{ product.variety }}
                    </span>
                    <span *ngIf="product.product_type == 'processed' && product.item_package_type">
                      {{ product.produce }} / {{ product.item_measurement_amount | number: '1.2-2' }}
                      {{ product.item_measurement_unit | uppercase }} / {{ product.item_package_type }}
                    </span>
                    <span *ngIf="product.product_type == 'processed' && !product.item_package_type">
                      {{ product.produce }}
                    </span>
                  </td>
                  <td>
                    <span *ngIf="!product.product_type || product.product_type == 'agricultural'">
                      {{ product.quantity | number: '1.0' }} ({{ product.type_of_package }} /
                      {{ product.package_weight | number: '1.2-2' }} {{ product.weight_unit | uppercase }})
                    </span>
                    <span *ngIf="product.product_type == 'processed' && product.item_package_type">
                      {{ product.quantity | number: '1.0' }} ({{ product.type_of_package }} /
                      {{ product.items_per_package | number: '1.0'
                      }}<span *ngIf="product.items_per_package > 1"> items)</span
                      ><span *ngIf="product.items_per_package == 0"> item)</span>
                    </span>
                    <span *ngIf="product.product_type == 'processed' && !product.item_package_type">
                      {{ product.quantity | number: '1.0' }} ({{ product.type_of_package }})
                    </span>
                  </td>
                  <td>
                    <span *ngIf="!product.product_type || product.product_type == 'agricultural'"
                      >{{ product.total_weight | number: '1.2-2' }} {{ product.weight_unit | uppercase }}</span
                    >
                    <span *ngIf="product.product_type == 'processed'">N/A</span>
                  </td>
                  <td>
                    <span id="specification">{{ product.specification || 'N/A' }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div style="padding-top: 2rem;">
        <div class="row">
          <div class="col-md-9">
            <p class="heading-2">QUOTE REQUEST COMMENTS</p>
            <p>
              {{ quoteRequest?.buyer_comments }}
            </p>
          </div>
          <div class="col-md-3">
            <div class="border-box center-items pull-left">
              <p class="heading-2">CURRENCY</p>
              <p class="heading-4-blue">{{ quoteRequest?.currency }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="bttn-primary pull right next-step">Generate quotation &rarr;</button>
