<div class="product">
    <div class="product-img">
      <p class="heading-2">Upload product image</p>
      <figure
        class="img-circular"
        style="background-image: url('../../../assets/img/placeholder-product.svg')"
      ></figure>
      <button class="btn-primary-filled">Upload Image</button>
    </div>
    <div class="product-details">
        <div class="form-group">
          <label for="product_name">Product Name</label>
          <input type="text" class="form-control" id="product_name" placeholder="Type product name here..." />
      </div>
      <div class="form-group">
          <label for="product_codes">Product code (Barcode, ISBN, UPC, GTIN)</label>
          <input type="text" class="form-control" id="product_codes" placeholder="Type product code here..." />
      </div>
      <div class="form-group">
          <label for="ingredients">Ingredients</label>
          <textarea type="text" class="form-control" id="ingredients" placeholder="Type ingredients here..."></textarea>
      </div>
    </div>
  </div>
  <button class="btn-primary-filled pull-right next-step">Save</button>
