@import "../../../assets/sass/abstracts/variables";

.product {
  display: flex;

  &-img {
    padding-top: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5rem;

    p {
      padding-bottom: 2rem;
    }
  }

  &-details {
    padding-top: 2.9rem;
    width: 50rem;

    div:not(:last-child) {
      padding-bottom: 1.2rem;
    }
  }

  .product-details:not(:last-child) {
    margin-right: 5rem;
  }
}

.bttn-primary {
  background-image: linear-gradient(to right, #55d5d1, $primary-color);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}

select {
  font-size: 1.25rem;
  height: 3.2rem;
  border-radius: 0.8rem;
}
