<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">What are your contact details?</p>
  </div>

  <div class="step-content">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="mobile">Mobile number</label>
        <input type="tel" id="mobile" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="home-phone-number">Home telephone number</label>
        <input type="tel" id="home-phone-number" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="town">Email address</label>
        <input type="email" id="email" class="form-control" />
      </div>
    </div>
  </div>
</div>
