<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">What are your contact details?</p>
  </div>
  <form [formGroup]="loan_form" class="col">
    <div formGroupName="applicant_details" #applicantDetails>
      <div class="step-content">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="telephone1">Telephone</label>
            <input
              type="text"
              id="telephone1"
              class="form-control"
              placeholder="(+254) 7XX-XXX-XXX"
              formControlName="telephone"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="mobile1">Mobile</label>
            <input
              type="text"
              id="mobile1"
              class="form-control"
              placeholder="(+254) 7XX-XXX-XXX"
              formControlName="mobile_phone"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <label for="email_address">Email address</label>
            <input type="text" id="email_address" class="form-control" formControlName="email" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
