<div class="modal-box-heading">
  <a (click)="onExit()"><i class="material-icons pull-right">close</i></a>
  <h2 *ngIf="!onUpdate" translate class="modal-title">Add Processed Product</h2>
  <h2 *ngIf="onUpdate" translate class="modal-title">Edit Product</h2>
</div>
<div class="padding-all">
  <form [formGroup]="productForm" (keydown.enter)="$event.preventDefault()">
    <div class="product-placeholder-box">
      <app-upload-picture [picture]="productImage" [type]="'product'" (imageEvent)="receiveImage($event)">
      </app-upload-picture>
      <p class="heading-2 ">Product Image</p>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('produce')">
        <label for="product-name">Product Name *</label>
        <input
          type="text"
          id="product-name"
          name="name"
          class="form-control"
          formControlName="produce"
          placeholder="Ex. Orange juice"
        />
        <div class="help-block" *ngIf="isFieldInvalid('produce')">
          <p>This field is required</p>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="product-name">Product SKU</label>
        <input
          type="text"
          id="product-sku"
          name="sku"
          class="form-control"
          formControlName="sku"
          placeholder="Ex. I00055"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('type_of_package')">
        <label for="product-name">Package Type *</label>
        <input
          type="text"
          id="package-type"
          name="type_of_package"
          class="form-control"
          formControlName="type_of_package"
          placeholder="Ex. Box"
        />
        <div class="help-block" *ngIf="isFieldInvalid('type_of_package')">
          <p>This field is required</p>
        </div>
      </div>
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('quantity')">
        <label for="variety">Total Number of Packages *</label>
        <input
          type="number"
          id="total-packages"
          name="quantity"
          class="form-control"
          formControlName="quantity"
          placeholder="Ex. 20"
        />
        <div class="help-block" *ngIf="isFieldInvalid('quantity')">
          <p>This field is required</p>
        </div>
      </div>
    </div>
    <p class="heading-2">Item</p>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('items_per_package')">
        <label for="items-per-package">Number of Items per Package *</label>
        <input
          type="number"
          min="0"
          id="items-per-package"
          name="items_per_package"
          class="form-control"
          formControlName="items_per_package"
          placeholder="Ex. 10"
        />
        <div class="help-block" *ngIf="isFieldInvalid('items_per_package')">
          <p>This field is required</p>
        </div>
      </div>
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('item_package_type')">
        <label for="item-packing-type">Item Packing Type *</label>
        <input
          type="text"
          id="item-packing-type"
          name="item_package_type"
          class="form-control"
          formControlName="item_package_type"
          placeholder="Ex. Bottle"
        />
        <div class="help-block" *ngIf="isFieldInvalid('item_package_type')">
          <p>This field is required</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="total-items-amount">Total Amount of Items *</label>
        <input
          type="number"
          min="0"
          id="total-items-amount"
          name="total_amount_items"
          class="form-control"
          formControlName="total_amount_items"
          placeholder="Ex. 40"
          readonly
        />
      </div>
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('item_measurement_unit')">
        <label for="measurement-unit">Measurement Unit *</label>
        <select
          id="measurement-unit"
          name="item_measurement_unit"
          class="form-control"
          formControlName="item_measurement_unit"
        >
          <option *ngFor="let unit of units" [ngValue]="unit.value" selected="selected">{{ unit.viewValue }}</option>
        </select>
        <div class="help-block" *ngIf="isFieldInvalid('item_measurement_unit')">
          <p>This field is required</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('item_measurement_amount')">
        <label for="itemMeasurementAmount"
          >Amount of {{ productForm.value.item_measurement_unit | uppercase }} in individual
          {{ productForm.value.item_package_type }} *</label
        >
        <input
          min="0"
          type="number"
          class="form-control"
          name="item_measurement_amount"
          placeholder="Ex. 5"
          id="itemMeasurementAmount"
          formControlName="item_measurement_amount"
        />
        <div class="help-block" *ngIf="isFieldInvalid('item_measurement_amount')">
          <p>This field is required</p>
        </div>
      </div>
    </div>
    <p class="heading-2">Price</p>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('package_price')">
        <label for="package-price">Price per Package *</label>
        <input
          type="number"
          name="package_price"
          class="form-control"
          id="package-price"
          placeholder="Ex. 15"
          formControlName="package_price"
        />
        <div class="help-block" *ngIf="isFieldInvalid('package_price')">
          <p>This field is required</p>
        </div>
      </div>
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('currency')">
        <label for="currecny">Currency *</label>
        <select id="currency" name="currency" class="form-control" formControlName="currency">
          <option *ngFor="let currency of currencies" [ngValue]="currency.value">{{ currency.viewValue }}</option>
        </select>
        <div class="help-block" *ngIf="isFieldInvalid('currency')">
          <p>This field is required</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="total-price">Total Price *</label>
        <input
          type="number"
          id="total-price"
          name="product_subtotal"
          class="form-control"
          placeholder="Ex. 300"
          formControlName="total_price"
          readonly
        />
      </div>
    </div>
    <button
      #submitButton
      type="button"
      (click)="submit()"
      [hidden]="!productForm.valid || onUpdate"
      class="bttn-primary pull-right"
    >
      Add Product
    </button>
    <button
      #submitButton
      type="button"
      (click)="submit()"
      [hidden]="!productForm.valid || !onUpdate"
      class="bttn-primary pull-right"
    >
      Update Product
    </button>
    <button
      type="button"
      (click)="checkForm(productForm)"
      [hidden]="productForm.valid || onUpdate"
      class="bttn-primary pull-right"
    >
      Add Product
    </button>
    <button
      type="button"
      (click)="checkForm(productForm)"
      [hidden]="productForm.valid || !onUpdate"
      class="bttn-primary pull-right"
    >
      Update Product
    </button>
  </form>
</div>
