.d-flex .form-row,
.d-flex .balance {
  flex: 1;
}

.balance {
  text-align: center;

  p:first-child {
    font-size: 1.5rem;
    font-weight: 500;
  }
  p:last-child {
    font-size: 2rem;
    font-weight: 600;
  }
}

.flex-r {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

span.input-group-text {
  font-size: 1.4rem;
  font-weight: 500;
}
.red-border {
  border: 1px solid red;
}
.hidden {
  display: none !important;
}
#phone {
  height: 3.7rem;
}
