<div class="strip">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="contact">Contact</label>
        <select
          [(ngModel)]="contact"
          required
          id="contact"
          data-live-search="true"
          class="select-picker form-control"
          title="Choose a contact"
          data-size="7"
        >
          <option [ngValue]="cont" *ngFor="let cont of contacts; let i = index">{{ cont.fullName }}</option>
        </select>
      </div>
      <a data-toggle="wizard" data-target="#addContactWizard" class="bttn-line">Add New Contact</a>
    </div>
    <div class="col-md-6">
      <div class="row" id="contactInfo">
        <div class="col-md-4">
          <p class="sm-text-label">CONTACT</p>
          <p class="text-regular">{{ contact?.fullName || '-' }}</p>
        </div>
        <div class="col-md-4">
          <p class="sm-text-label">ORGANIZATION</p>
          <p class="text-regular">{{ contact?.businessName || '-' }}</p>
        </div>
        <div class="col-md-4">
          <p class="sm-text-label">COUNTRY</p>
          <p class="text-regular">{{ contact?.country || '-' }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="sm-text-label">LOCATION</p>
          <p class="text-regular">{{ contact?.stateProvinceRegion || '-' }}</p>
        </div>
        <div class="col-md-4">
          <p class="sm-text-label">PHONE</p>
          <p class="text-regular">{{ contact?.phoneNumber || '-' }}</p>
        </div>
        <div class="col-md-4">
          <p class="sm-text-label">EMAIL</p>
          <p class="text-regular">{{ contact?.email || '-' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="paymentForm">
  <div class="strip mt-5">
    <h3 class="t-bold mb-3">AMOUNT</h3>
    <div class="d-flex">
      <div class="form-row">
        <div [ngClass]="showFieldStyle('amount')" class="form-group col">
          <label for="amount">How much do you want to pay? *</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">KES</span>
            </div>
            <input
              formControlName="amount"
              [(ngModel)]="amount"
              type="number"
              name="amount"
              id="amount"
              class="form-control"
            />
          </div>
          <div class="help-block" *ngIf="isFieldInvalid('amount')">
            <p>This field is required</p>
          </div>
        </div>
      </div>
      <div class="balance">
        <p>Current Balance</p>
        <p>{{ wallet.available | numberFormat }} KES</p>
      </div>
    </div>
  </div>

  <div class="strip mt-5">
    <h3 class="t-bold mb-3">SIGNED BY</h3>
    <div class="form-row" id="received-by">
      <div [ngClass]="showFieldStyle('name')" class="form-group col-md-4">
        <label for="name">Full Name *</label>
        <input formControlName="name" type="text" class="form-control" id="name" />
        <div class="help-block" *ngIf="isFieldInvalid('name')">
          <p>This field is required</p>
        </div>
      </div>
      <div [ngClass]="showFieldStyle('businessName')" class="form-group col-md-4 pl-3">
        <label for="business">Business Name *</label>
        <input formControlName="businessName" type="text" class="form-control" id="business" />
        <div class="help-block" *ngIf="isFieldInvalid('businessName')">
          <p>This field is required</p>
        </div>
      </div>
      <div [ngClass]="showFieldStyle('phoneNumber')" class="form-group col-md-4">
        <label for="region_code">Phone Number *</label>
        <div class="input-group" [ngClass]="showFieldStyle('phoneNumber')">
          <div id="input-group" class="input-group-prepend">
            <select
              data-width="65px"
              id="region_code"
              data-live-search="true"
              class="selectpicker"
              data-size="7"
              [(ngModel)]="regionCode"
              [ngModelOptions]="{ standalone: true }"
              (change)="changeRegionCode()"
            >
              <option
                *ngFor="let country of countries"
                [value]="country.value"
                [attr.data-content]="generateLink(country.value, country.viewValue)"
              ></option>
            </select>
          </div>
          <input
            type="tel"
            class="form-control"
            id="phone"
            placeholder="Type phone number here..."
            [(ngModel)]="partialPhoneNumber"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="changeRegionCode()"
            (click)="markAsTouched('phoneNumber')"
          />
        </div>
        <div style="color: #a94442;" class="help-block" *ngIf="isFieldInvalid('phoneNumber')">
          <p>This field is required</p>
        </div>
      </div>
    </div>
  </div>
  <button (click)="submit()" id="next" hidden class="btn-next next-step flex-r bttn-primary mt-5">
    Next Step &rarr;
  </button>
  <button (click)="checkForm()" class="btn-next flex-r bttn-primary mt-5">
    Next Step &rarr;
  </button>
</form>
<app-contact-generator [doEmit]="true" (contactEmit)="newContact($event)"></app-contact-generator>
<app-topup-modal></app-topup-modal>
<button class="hidden" data-toggle="wizard" data-target="#topUpBalance"></button>
