<div class="sidebar-wrapper collapse navbar-collapse" (click)="hideSidebar()" id="navbarSupportedContent">
  <div class="sidebar">
    <div class="logo-wrapper">
      <a routerLink="/dashboard"><img src="../../../assets/img/logo.png" alt="logo" class="brand-img"/></a>
    </div>
    <ul class="nav">
      <li *ngFor="let menuitem of menuItems" class="nav-item">
        <a [routerLink]="[menuitem.path]" routerLinkActive="active">
          <i class="{{ menuitem.icontype }}"></i>
          <p>{{ menuitem.title }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
