
<h1 class="main-title btn-main margin-bottom-2" (click)="back()"><a class="material-icons">keyboard_backspace</a>
  Transactions
</h1>
<app-transaction-seller *ngIf="isSeller" 
  [transaction]="transaction"
  [quoteRequest]="quoteRequest"
  [proformaInvoice]="proformaInvoice"
  [purchaseOrder]="purchaseOrder"
></app-transaction-seller>
<app-transaction-buyer *ngIf="!isSeller"
  [transaction]="transaction"
  [quoteRequest]="quoteRequest"
  [proformaInvoice]="proformaInvoice"
  [purchaseOrder]="purchaseOrder"
></app-transaction-buyer>

<div class="docs-chat">
  <div class="docs" (click)="adjustDiv('docs')">
    <i class="material-icons">folder_open</i>
    <p>Documents</p>
  </div>

  <div class="chat" (click)="adjustDiv('chat')">
    <i class="material-icons">chat_bubble_outline</i>
    <p>Chat</p>
  </div>
</div>
  
<div class="side-tab">
  <app-tansaction-chat></app-tansaction-chat>

  <div class="docs-content">
    <div class="header">
      <button class="round-button-primary pull-right"><i class="material-icons">add</i></button>
    </div>
    <div class="doc-body">
      <div class="doc-card">
        <div>
          <span class="pull-left">#122</span>
          <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
            >delete</span
          >
          <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
        </div>
        <div>
          <img src="../../../assets/img/pdf.png" />
          <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
          <p class="normal-text-bold">Contract.pdf</p>
          <p class="heading-3">Uploaded by Alex Benn</p>
        </div>
        <div><p class="heading-3">10/28/2018</p></div>
      </div>
      <div class="doc-card">
        <div>
          <span class="pull-left">#122</span>
          <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
            >delete</span
          >
          <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
        </div>
        <div>
          <img src="../../../assets/img/pdf.png" />
          <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
          <p class="normal-text-bold">Contract.pdf</p>
          <p class="heading-3">Uploaded by Alex Benn</p>
        </div>
        <div><p class="heading-3">10/28/2018</p></div>
      </div>
      <div class="doc-card">
        <div>
          <span class="pull-left">#122</span>
          <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
            >delete</span
          >
          <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
        </div>
        <div>
          <img src="../../../assets/img/pdf.png" />
          <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
          <p class="normal-text-bold">Contract.pdf</p>
          <p class="heading-3">Uploaded by Alex Benn</p>
        </div>
        <div><p class="heading-3">10/28/2018</p></div>
      </div>
    </div>
  </div>
</div>