<h1 class="main-title btn-main margin-bottom-2" (click)="back()">
  <a class="material-icons">keyboard_backspace</a> Transactions
</h1>
<div class="stepper-wrapper">
  <div class="stepper">
    <ul class="nav nav-tabs">
      <li class="completed active">
        <a data-toggle="tab" class="label" href="#quoteRequest">
          <span class="round-tab">1</span>Quote request sent
        </a>
      </li>
      <li class="completed ">
        <a data-toggle="tab" class="label" href="#proformaInvoice">
          <span class="round-tab">2</span>Proforma invoice recieved
        </a>
      </li>
      <li class="disabled">
        <a data-toggle="tab" class="label" href="#purchaseOrder">
          <span class="round-tab">3</span>Generate purchase order
        </a>
      </li>
      <li class="disabled">
        <a data-toggle="tab" class="label" href="#review"> <span class="round-tab">4</span>Review and send </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="quoteRequest">
        <div class="panel panel-tab">
          <div class="panel-body">
            <div class="padding-all-2"><app-transaction-quote-request></app-transaction-quote-request></div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="proformaInvoice">
        <div class="panel panel-tab">
          <div class="panel-body">
            <div class="panel-header"><p>Add Proforma Invoice Details</p></div>
            <app-transaction-details></app-transaction-details>
          </div>
        </div>
        <div class="panel panel-tab pi-col" *ngIf="seller">
          <div class="panel-body">
            <div class="padding-all-2"><app-transaction-proforma-invoice></app-transaction-proforma-invoice></div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="purchaseOrder">
        <div class="panel panel-tab">
          <div class="panel-body">
            <div class="padding-all-2"><app-transaction-po></app-transaction-po></div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="review">
        <div class="panel panel-tab">
          <div class="panel-body">
            <div class="padding-all-2"><app-transaction-po [completedPO]="true"></app-transaction-po></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="docs-chat">
    <div class="docs" (click)="adjustDiv('docs')">
      <i class="material-icons">folder_open</i>
      <p>Documents</p>
    </div>

    <div class="chat" (click)="adjustDiv('chat')">
      <i class="material-icons">chat_bubble_outline</i>
      <p>Chat</p>
    </div>
  </div>

  <div class="side-tab">
    <div class="chat-content">
      <div class="header">
        <button class="btn btn-link"><i class="material-icons">close</i></button>
      </div>
      <div class="message-area-sender">
        <div class="user-info">
          <figure class="img-shape"><img src="../../assets/img/prof-img2.jpg" class="user-img" /></figure>
          <span> Alex Benn</span>
        </div>
        <div class="message-bubble"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></div>
      </div>
      <div class="message-area-receiver">
        <div class="user-info">
          <span>Saradaa Saradaa</span>
          <figure class="img-shape"><img src="../../assets/img/profile-img.jpg" class="user-img" /></figure>
        </div>
        <div class="message-bubble pull-right">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, voluptates.</p>
        </div>
      </div>
      <div class="message-send">
        <textarea placeholder="Type message here..." rows="4"></textarea>
        <button class="round-button-primary pull-right"><i class="material-icons">send</i></button>
      </div>
    </div>

    <div class="docs-content">
      <div class="header">
        <button class="round-button-primary pull-right"><i class="material-icons">add</i></button>
      </div>
      <div class="doc-body">
        <div class="doc-card">
          <div>
            <span class="pull-left">#122</span>
            <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
              >delete</span
            >
            <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
          </div>
          <div>
            <img src="../../../assets/img/pdf.png" />
            <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
            <p class="normal-text-bold">Contract.pdf</p>
            <p class="heading-3">Uploaded by Alex Benn</p>
          </div>
          <div><p class="heading-3">10/28/2018</p></div>
        </div>
        <div class="doc-card">
          <div>
            <span class="pull-left">#122</span>
            <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
              >delete</span
            >
            <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
          </div>
          <div>
            <img src="../../../assets/img/pdf.png" />
            <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
            <p class="normal-text-bold">Contract.pdf</p>
            <p class="heading-3">Uploaded by Alex Benn</p>
          </div>
          <div><p class="heading-3">10/28/2018</p></div>
        </div>
        <div class="doc-card">
          <div>
            <span class="pull-left">#122</span>
            <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
              >delete</span
            >
            <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
          </div>
          <div>
            <img src="../../../assets/img/pdf.png" />
            <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
            <p class="normal-text-bold">Contract.pdf</p>
            <p class="heading-3">Uploaded by Alex Benn</p>
          </div>
          <div><p class="heading-3">10/28/2018</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
