<div class="panel welcome-panel">
  <div class="panel-body">
    <div class="panel-header"><p>Read the following to get started!</p></div>
    <div class="flex">
      <div class="panel-left">
        <ul>
          <li class="step">
            <a data-toggle="tab" class="label" href="#add-contacts">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="panel-right">
        <div class="tab-content">
          <div class="tab-pane" id="add-contacts">
            <figure class="vector-container">
              <img src="../../../assets/img/dashboard-imgs/clients.png" class="vector-tutorial" />
            </figure>
            <p class="panel-title">Go ahead and add your contacts to your network on Avenews-GT</p>
            <p class="t-bold t-light-gray">
              Do you have contacts that you usually do business with? The Contacts feature is where you can invite new
              contacts to your network, centrally manage your existing contacts, and review the transactions you have
              with them.
            </p>
            <button class="btn-primary-shadow pull-right" routerLink="/contact">Go to Contacts</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
