<div class="panel welcome-panel">
    <div class="panel-body">
      <div class="panel-header"><p>Get ready to buy online. Read the following to get started!</p></div>
      <div class="flex">
        <div class="panel-left">
          <ul>
            <li class="step active"><a data-toggle="tab" class="label" href="#place-order">Place an Order</a></li>
            <li class="step" *ngxPermissionsOnly="['list-clients']"><a data-toggle="tab" class="label" href="#add-clients">Add Your Clients</a></li>
            <li class="step" *ngxPermissionsOnly="['list-ecosystems']"><a data-toggle="tab" class="label" href="#create-ecosystem">Create an Ecosystem</a></li>
            <!-- <li class="step" *ngxPermissionsOnly="['list-transactions']"><a data-toggle="tab" class="label" href="#make-transaction">Make Transaction</a></li> -->
          </ul>
        </div>
        <div class="panel-right tab-content">
          <div class="tab-pane active" id="place-order">
            <figure><img src="../../assets/img/vector.png" class="vector-tutorial" /></figure>
            <p class="panel-title">Place an order from your suppliers!</p>
            <p class="normal-text-bold">
              So, you have added your suppliers? Great! It's time to make orders from their own inventory.
            </p>
            <button class="btn-primary-shadow pull-right" routerLink="/order/list">Place Order</button>
          </div>
          <div class="tab-pane" id="add-clients" *ngxPermissionsOnly="['list-clients']">
            <figure class="vector-container"><img src="../../assets/img/vector.png" class="vector-tutorial" /></figure>
            <p class="panel-title">Add your clients to sell directly from them!</p>
            <p class="normal-text-bold">
              Do you have clients that you regularly buy from them? Go ahead and add them to your clients list.
            </p>
            <button class="btn-primary-shadow pull-right" routerLink="/client/list">Add Clients</button>
          </div>
          <div class="tab-pane" id="create-ecosystem" *ngxPermissionsOnly="['list-ecosystems']">
            <figure><img src="../../assets/img/vector.png" class="vector-tutorial" /></figure>
            <p class="panel-title">Create an Ecosystem</p>
            <p class="normal-text-bold">
              Ecosystems enables communication between business networks with common characteristics. Designed to
              boost network performance and provide the user with data sharing capabilities
            </p>
            <button class="btn-primary-shadow pull-right" routerLink="/ecosystem/list">Create Ecosystem</button>
          </div>
          <!-- <div class="tab-pane" id="make-transaction" *ngxPermissionsOnly="['list-transactions']">
            <figure><img src="../../assets/img/vector.png" class="vector-tutorial" /></figure>
            <p class="panel-title">Create a transaction!</p>
            <p class="normal-text-bold">
              Create a digital and dependable transaction process from the first quote request until the transaction
              is complete for the purchase and sale of agricultural produce.
            </p>
            <button class="btn-primary-shadow pull-right" routerLink="/transaction/list">Create Transaction</button>
          </div> -->
      </div>
    </div>
    </div>
  </div>
