@import "../../../../../assets/sass/abstracts/variables";

.modal-box-content-lg {
  background-color: #fdfdfd;
}

.card .product-details {
  padding-left: 0.8rem;
  display: flex;
  align-items: center;

  p {
    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: #6b6b6b;
  }
}

.card .package-details {
  font-size: 1.4rem;
  display: flex;
  padding: 1rem 1.2rem;

  div:first-child {
    color: #9b9b9b;
    font-weight: 600;
  }

  div:last-child {
    color: $light-gray;
  }

  div:not(:last-child) {
    margin-right: 2rem;
  }
}

.quantity {
  display: flex;
  height: 4.5rem;
  background-color: rgb(240, 240, 240);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-top: 1px solid $light-gray-2;
  align-items: center;
  padding-left: 2.3rem;

  & p:first-child {
    margin-right: 2rem;
  }

  input {
    width: 4.5rem;
    height: 58%;
    margin: 0rem 1rem;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid $light-gray-2;
  }
}

.btn-circle {
  position: relative;
}

.btn-circle:first-of-type {
  background-color: #00d841;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:active {
  transform: translateY(2px);
  border: none;
}

button:focus {
  outline: none;
}

.btn-icons {
  i {
    font-size: 1.8rem;
    color: $light-gray;
  }
}

.bttn-primary {
  margin-bottom: 2rem;
}

.modal-box-heading {
  margin: -2.4rem -2.4rem 0 -2.4rem;
}
