<div class="modal-box-heading">
  <a (click)="onExit()"><i class="material-icons pull-right">close</i></a>
  <h2 translate class="modal-title">My Inventory</h2>
</div>
<div class="padding-all">
  <div class="margin-bottom">
    <button class="btn-icons pull-right" (click)="onNextPage(agriculturalProducts.length, 3)">
      <i class="material-icons">arrow_forward_ios</i>
    </button>
    <button class="btn-icons pull-right" (click)="onBackPage()"><i class="material-icons">arrow_back_ios</i></button>
    <p class="normal-text-bold">Agricultural Products</p>
  </div>
  <div class="row clearfix">
    <div
      *ngFor="let product of (agriculturalProducts | paginate: { itemsPerPage: 3, currentPage: page })"
      class="col-md-4"
    >
      <div class="card card-agricultural">
        <div class="card-inner-price">
          <p class="pull-right margin-none">
            {{ product.price_per_unit }} {{ product.currency }}/<small>{{ product.weight_unit | uppercase }}</small>
          </p>
        </div>
        <div class="product-details">
          <figure
            class="img-circular-sm"
            [ngStyle]="{ 'background-image': 'url(' + product_image(product) + ')' }"
          ></figure>
          <p class="heading-2">
            {{ product.produce }} <br />
            {{ product.variety }}
          </p>
        </div>
        <div class="package-details">
          <table>
            <tr>
              <td>Packages available</td>
              <td>{{ product.quantityMax }}</td>
            </tr>
            <tr>
              <td>Type of package</td>
              <td>{{ product.type_of_package }}</td>
            </tr>
            <tr>
              <td>Package</td>
              <td>{{ product.package_weight }}/{{ product.weight_unit | uppercase }}</td>
            </tr>
            <tr>
              <td>Total available</td>
              <td>{{ product.total_weight }} {{ product.weight_unit | uppercase }}</td>
            </tr>
          </table>
        </div>
        <div *ngIf="!currency || product.currency === currency" class="quantity">
          <p class="normal-text-bold">Quantity</p>
          <button class="btn-circle" (click)="incrementQ(product)"><i class="material-icons">add</i></button>
          <input
            type="number"
            min="0"
            max="{{ product.quantityMax }}"
            value="0"
            [(ngModel)]="product.quantity"
            (ngModelChange)="checkProductInput(product)"
          />
          <button class="btn-circle" (click)="decrementQ(product)"><i class="material-icons">remove</i></button>
        </div>
        <div *ngIf="currency && product.currency != currency" class="quantity">
          <strong style="font-size :11px;">Choose products with the same currency</strong>
        </div>
      </div>
    </div>
  </div>

  <!--Processed Products-->
  <div class="margin-bottom margin-top">
    <button class="btn-icons pull-right" (click)="onNextPage2(processedProducts.length, 3)">
      <i class="material-icons">arrow_forward_ios</i>
    </button>
    <button class="btn-icons pull-right" (click)="onBackPage2()"><i class="material-icons">arrow_back_ios</i></button>
    <p class="normal-text-bold">Processed Products</p>
  </div>
  <div class="row clearfix">
    <ng-container *ngFor="let product of (processedProducts | paginate: { itemsPerPage: 3, currentPage: page2 })">
      <div class="col-md-4">
        <div class="card card-processed">
          <div class="card-inner-price">
            <p class="pull-right margin-none">
              {{ product.package_price }} {{ product.currency }}/<small>{{ product.type_of_package }}</small>
            </p>
          </div>
          <div class="product-details">
            <figure
              class="img-circular-sm"
              [ngStyle]="{ 'background-image': 'url(' + product_image(product) + ')' }"
            ></figure>
            <p class="heading-2">{{ product.produce }} <br /></p>
          </div>
          <div class="package-details">
            <table>
              <tr>
                <td>Packages available</td>
                <td>{{ product.quantityMax }}</td>
              </tr>
              <tr>
                <td>Type of package</td>
                <td>{{ product.type_of_package }}</td>
              </tr>
              <tr *ngIf="product.item_measurement_amount">
                <td>Item packing type</td>
                <td>{{ product.item_package_type }}</td>
              </tr>
              <tr *ngIf="product.item_measurement_amount">
                <td>Items per package</td>
                <td>{{ product.items_per_package }}</td>
              </tr>
              <tr *ngIf="product.item_measurement_amount">
                <td>Amount</td>
                <td>
                  {{ product.item_measurement_amount }} {{ product.item_measurement_unit }}/{{
                    product.item_package_type
                  }}
                </td>
              </tr>
            </table>
          </div>

          <div *ngIf="!currency || product.currency === currency" class="quantity">
            <p class="normal-text-bold">Quantity</p>
            <button class="btn-circle" (click)="incrementQ(product)"><i class="material-icons">add</i></button>
            <input
              type="number"
              min="0"
              max="{{ product.quantityMax }}"
              value="0"
              [(ngModel)]="product.quantity"
              (ngModelChange)="checkProductInput(product)"
            />
            <button class="btn-circle" (click)="decrementQ(product)"><i class="material-icons">remove</i></button>
          </div>
          <div *ngIf="currency && product.currency != currency" class="quantity">
            <strong style="font-size :11px;">Choose products with the same currency</strong>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="bttn-primary pull-right" data-dismiss="modal" (click)="productsValidation(true)">Submit</button>
</div>
