<table class="table main-table" matSort (matSortChange)="sortData($event)" *ngIf="hasInvoices">
  <thead>
    <tr>
      <th *ngIf="exportInit" class="text-center">
        <input
          id="checkedAll"
          type="checkbox"
          class="checkbox"
          (change)="exportAllRecords($event)"
          [checked]="checkedAll"
        /><label class="checkbox_label" for="checkedAll"><span class="form_checkbox_btn mt-3"></span></label>
      </th>
      <th mat-sort-header="id" translate class="text-center">ID</th>
      <th mat-sort-header="issuedOn" translate>Date</th>
      <th mat-sort-header="issuedFor" *ngIf="viewAsSeller">Issued for</th>
      <th mat-sort-header="issueBy" *ngIf="!viewAsSeller">Issued by</th>
      <!-- <th mat-sort-header="signedBy" translate>Signed by</th> -->
      <th translate>Product</th>
      <th mat-sort-header="amount" translate>Amount</th>
      <th mat-sort-header="totalDue" translate>Price</th>
      <th mat-sort-header="status" translate>Status</th>
      <th translate class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let invoice of (invoices | filter: searchTerm | paginate: { itemsPerPage: 7, currentPage: currentPage });
        let i = index
      "
    >
      <td *ngIf="exportInit" class="text-center">
        <input
          type="checkbox"
          class="checkbox"
          id="checkbox{{ i }}"
          [checked]="existInvoice(invoice)"
          (click)="toggleInvoiceSelect(invoice)"
        /><label class="checkbox_label" for="checkbox{{ i }}"><span class="form_checkbox_btn"></span></label>
      </td>
      <td class="text-center">{{ invoice.numericId }}</td>
      <td>{{ invoice.date_created | date: 'dd/MM/yyyy' }}</td>

      <td>
        <span *ngIf="viewAsSeller"
          >{{ invoice.buyer.company_name || 'N/A' }} / {{ invoice.buyer.first_name }}
          {{ invoice.buyer.last_name }}</span
        >
        <span *ngIf="!viewAsSeller"
          >{{ invoice.seller.company_name || 'N/A' }} / {{ invoice.sign_by.first_name }}
          {{ invoice.sign_by.last_name }}</span
        >
      </td>
      <td>
        <span *ngIf="invoice.products.length < 1">N/A</span>
        <ng-container *ngIf="invoice.products.length == 1">
          <span *ngIf="invoice.products[0].product_type == 'agricultural'"
            >{{ invoice.products[0].produce }} / {{ invoice.products[0].variety }}</span
          >
          <span *ngIf="invoice.products[0].product_type == 'processed'">{{ invoice.products[0].produce }}</span>
          <span *ngIf="invoice.products[0].product_type == 'input'"
            >{{ invoice.products[0].produce }} /
            <span *ngIf="invoice.products[0].other_input_type">{{ invoice.products[0].other_input_type }}</span>
            <span *ngIf="!invoice.products[0].other_input_type">{{ invoice.products[0].input_produce_type }}</span>
          </span>
        </ng-container>
        <span *ngIf="invoice.products.length > 1">Multiple Products</span>
      </td>
      <td>
        <span *ngIf="invoice.total_weight && invoice.document_weight_unit"
          >{{ invoice.total_weight | number: '1.2-2' }} {{ invoice.document_weight_unit }}
          <span *ngIf="hasProcessedProduct(invoice)" style="font-size :11px;color:gray"
            >Excluding processed products</span
          ></span
        >
        <span *ngIf="invoice.total_weight && !invoice.document_weight_unit">
          <i
            class="material-icons pull-left"
            matTooltip="{{ measurementUnitConflictMessage }}"
            matTooltipClass="tooltip-table"
            >help_outline</i
          >
        </span>
        <span *ngIf="!invoice.total_weight && invoice.products.length > 0"
          ><i
            class="material-icons pull-left"
            matTooltip="{{ processedProductConflictMessage }}"
            matTooltipClass="tooltip-table"
            >help_outline</i
          ></span
        >
        <span *ngIf="invoice.products.length < 1">N/A</span>
      </td>
      <td>
        <span *ngIf="invoice.total_due">{{ invoice.total_due | number: '1.2-2' }} {{ invoice.currency }}</span>
        <span *ngIf="!invoice.total_due">N/A</span>
      </td>
      <td>
        <div *ngIf="invoice.status === 'INVOICE SENT'" class="status status-green">{{ invoice.status }}</div>
        <div *ngIf="invoice.status === 'INVOICE SAVED'" class="status status-yellow">{{ invoice.status }}</div>
        <div *ngIf="invoice.status === 'INVOICE RECEIVED'" class="status status-orange">{{ invoice.status }}</div>
      </td>
      <td class="text-right">
        <button *ngIf="invoice.draft == false" class="round-button-primary" [routerLink]="['/invoice', invoice._id]">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button
          *ngIf="invoice.draft == true"
          class="round-button-primary"
          [routerLink]="['/invoice/generator', invoice._id]"
        >
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button *ngIf="canDelete" class="round-button-red" (click)="warning(invoice._id)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div style="background-color: white;" *ngxPermissionsOnly="['create-invoice']">
  <div class="add-supplier-box panel" *ngIf="!hasInvoices">
    <div class="panel-body">
      <img src="../../../assets/img/dashboard-imgs/proforma-invoices.png" height="200" width="310" />
      <p style="font-size: large;">Start trading digitally by creating your first Invoice.</p>
      <button class="bttn-primary bttn-add" routerLink="/invoice/generator" matTooltip="{{ tooltips.issue_order }}">
        <span>Create your first Invoice</span>
      </button>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="pageChanged($event)" *ngIf="hasInvoices"></pagination-controls>
