<table class="table main-table">
  <thead>
    <tr>
      <th *ngIf="exportInit" class="text-center">
        <input
          id="checkedAll"
          type="checkbox"
          class="checkbox"
          (change)="exportAllRecords($event)"
          [checked]="checkedAll"
        /><label class="checkbox_label" for="checkedAll"><span class="form_checkbox_btn"></span></label>
      </th>
      <th translate class="text-center">ID</th>
      <th translate>Issued at</th>
      <th translate>
        <span *ngIf="viewAsSeller">Issued for</span>
        <span *ngIf="!viewAsSeller">Issued by</span>
      </th>
      <th translate>Signed by</th>
      <th translate>Total due</th>
      <th translate>Status</th>
      <th translate class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invoice of (invoices | paginate: { itemsPerPage: 7, currentPage: page }); let i = index">
      <td *ngIf="exportInit" class="text-center">
        <input
          type="checkbox"
          class="checkbox"
          id="checkbox{{ i }}"
          [checked]="existInvoice(invoice)"
          (click)="toggleInvoiceSelect(invoice)"
        /><label class="checkbox_label" for="checkbox{{ i }}"><span class="form_checkbox_btn"></span></label>
      </td>
      <td class="text-center">{{ invoice.numericId }}</td>
      <td>{{ invoice.date_created | date: 'dd/MM/yyyy' }}</td>
      <td>
        <span *ngIf="viewAsSeller">{{ invoice.buyer.first_name }} {{ invoice.buyer.last_name }}</span>
        <span *ngIf="!viewAsSeller">{{ invoice.seller.company_name }}</span>
      </td>
      <td>
        <span>{{ invoice.sign_by.first_name }} {{ invoice.sign_by.last_name }}</span>
      </td>
      <td>{{ invoice.total_due | number: '1.2-2' }} {{ invoice.currency }}</td>
      <td>{{ invoice.status }}</td>
      <td class="text-right">
        <button class="round-button-primary" [routerLink]="['/invoice', invoice._id]">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="round-button-red" (click)="warning(invoice._id)"><i class="material-icons">delete</i></button>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="page = $event"></pagination-controls>
