<h1 *ngIf="!generateInvoice" class="main-title btn-main margin-bottom-2" (click)="back()">
  <a class="material-icons">keyboard_backspace</a> Proforma Invoices
</h1>
<div id="pdfContent">
  <div class="panel panel-tab">
    <div class="panel-body">
      <div class="padding-all">
        <div class="border-box display-ib">
          <h2>
            PROFORMA INVOICE <span style="font-size: 1.9rem;" *ngIf="invoice._id"> #{{ invoice.numericId }}</span>
          </h2>
          <table>
            <tr *ngIf="invoice.personal_po_id">
              <td class="t-bold t-blue">PO Reference</td>
              <td>#{{ invoice.personal_po_id }}</td>
            </tr>
            <tr>
              <td class="t-bold t-blue">ISSUE DATE</td>
              <td>{{ invoice?.date_created | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
              <td class="t-bold t-blue">VALID BY</td>
              <td>{{ sign_by?.date | date: 'dd/MM/yyyy' }}</td>
            </tr>
          </table>
        </div>
        <!-- <div *ngIf="payableInvoice" class="payable-invoice">
          <p>PAYABLE INVOICE</p>
          <img src="../../../assets/img/payment-method.png" />
        </div> -->
        <div class="row" style="padding-top: 5rem;">
          <div class="col-md-6">
            <p class="t-bold t-blue">ISSUED BY</p>
            <p>{{ issuer.first_name }} {{ issuer.last_name }}</p>
            <p>{{ issuer.company_name }}</p>
            <p>{{ issuer.email }}</p>
            <p>{{ issuer.address }}, {{ issuer.city }} {{ issuer.zipcode }}</p>
            <p>{{ issuer.phone_number }}</p>
          </div>
          <div class="col-md-3 col-md-offset-3">
            <p class="t-bold t-blue">ISSUED FOR</p>
            <p>{{ buyer.first_name }} {{ buyer.last_name }}</p>
            <p>{{ buyer.company_name }}</p>
            <p>{{ buyer.email }}</p>
            <p>{{ buyer.address }}, {{ buyer.city }} {{ buyer.zipcode }}</p>
            <p>{{ buyer.phone_number }}</p>
          </div>
        </div>

        <div style="padding-top: 2rem;">
          <p class="heading-3">PRODUCTS</p>
          <table class="products-table">
            <thead>
              <tr>
                <th>PRODUCT</th>
                <th>DESCRIPTION</th>
                <th>AMOUNT</th>
                <th>RATE</th>
                <th>PRICE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of invoice.products">
                <td>
                  <span *ngIf="!row.product_type || row.product_type == 'agricultural'">
                    {{ row.produce }} / {{ row.variety }}
                  </span>
                  <span *ngIf="row.product_type == 'processed' && row.item_package_type">
                    {{ row.produce }} / {{ row.item_measurement_amount | number: '1.2-2' }}
                    {{ row.item_measurement_unit }} /
                    {{ row.item_package_type }}
                  </span>
                  <span *ngIf="row.product_type == 'processed' && !row.item_package_type"> {{ row.produce }} </span>
                  <span *ngIf="row.product_type == 'input'"
                    >{{ row.produce }} /
                    <span *ngIf="row.other_input_type">{{ row.other_input_type }}</span>
                    <span *ngIf="!row.other_input_type">{{ row.input_produce_type }}</span>
                  </span>
                </td>
                <td>
                  <span *ngIf="row.product_type == 'agricultural'">
                    {{ row.package_weight | number: '1.2-2' }}
                    {{ row.weight_unit }} per package ({{ row.type_of_package }})
                  </span>
                  <span *ngIf="row.product_type == 'processed'">
                    {{ row.items_per_package | number: '1.0' }}
                    <span *ngIf="row.items_per_package == 1"> unit </span>
                    <span *ngIf="row.items_per_package > 1"> units </span>
                    per package ({{ row.type_of_package }})
                  </span>
                  <span *ngIf="row.product_type == 'input'">
                    <span *ngIf="row.item_description">{{ row.item_description }}</span>
                    <span *ngIf="!row.item_description">
                      {{ row.item_measurement_amount | number: '1.2-2' }} {{ row.weight_unit }} per unit
                    </span>
                  </span>
                </td>
                <td>
                  <span *ngIf="row.product_type == 'agricultural'"
                    >{{ row.total_weight | number: '1.2-2' }} {{ row.weight_unit }} ({{ row.quantity }}
                    <span *ngIf="row.quantity > 1"> packages</span>
                    <span *ngIf="row.quantity == 1"> package</span>
                    <span> Estimated</span>)
                  </span>
                  <span *ngIf="row.product_type == 'processed'">
                    {{ row.quantity | number: '1.0' }}
                    <span *ngIf="row.quantity > 1"> packages</span>
                    <span *ngIf="row.quantity == 1"> package</span>
                    ({{ row.total_amount_items | number: '1.0' }}
                    <span *ngIf="row.total_amount_items > 1">units</span>
                    <span *ngIf="row.total_amount_items == 1"> unit</span>)
                  </span>
                  <span *ngIf="row.product_type == 'input'">
                    {{ row.quantity | number: '1.0' }}
                    <span *ngIf="row.quantity > 1">units</span>
                    <span *ngIf="row.quantity == 1">unit</span>
                  </span>
                </td>
                <td>
                  <span *ngIf="!row.product_type || row.product_type == 'agricultural'"
                    >{{ row.price_per_unit | number: '1.2-2' }} {{ invoice.currency }} / {{ row.weight_unit }}</span
                  >
                  <span *ngIf="row.product_type == 'processed'"
                    >{{ row.package_price | number: '1.2-2' }} {{ invoice.currency }} / package</span
                  >
                  <span *ngIf="row.product_type == 'input'">
                    {{ row.price_per_unit | number: '1.2-2' }} {{ invoice.currency }} / unit
                  </span>
                </td>
                <td>
                  <span id="total">{{ row.product_subtotal | number: '1.2-2' }} {{ invoice.currency }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div style="padding-top: 2rem;">
          <div class="row">
            <div class="col-md-9">
              <p class="heading-3">NOTES</p>
              <div>
                <p class="t-bold t-blue">PAYMENT NOTES</p>
                <p>
                  {{ invoice.order_comments || 'None' }}
                </p>
              </div>
              <div>
                <p class="t-bold t-blue">PROFORMA INVOICE NOTES</p>
                <p>
                  {{ invoice.payment_comments || 'None' }}
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="border-box">
                <table>
                  <tr>
                    <td class="heading-3">Subtotal</td>
                    <td>{{ invoice.subtotal | number: '1.2-2' }} {{ invoice.currency }}</td>
                  </tr>
                  <tr>
                    <td class="heading-3">Vat%</td>
                    <td>{{ invoice.vat_amount | number: '1.2-2' }} {{ invoice.currency }}</td>
                  </tr>
                  <tr>
                    <td class="heading-3" style="padding-bottom:1rem;">Discount%</td>
                    <td style="padding-bottom:1rem;">
                      {{ invoice.discount_amount | number: '1.2-2' }} {{ invoice.currency }}
                    </td>
                  </tr>
                  <tr>
                    <td class="heading-3" style="border-top:1px solid #e1e1e1; padding-top:1rem;">TOTAL</td>
                    <td class="t-bold t-blue" style="border-top:1px solid #e1e1e1; padding-top:1rem;">
                      {{ invoice.total_due | number: '1.2-2' }} {{ invoice.currency }}
                    </td>
                  </tr>
                </table>
              </div>
              <!-- <button *ngIf="payableInvoice && !invoicePaid" class="bttn-primary mt-3" style="width: 100%;">
                PAY INVOICE
              </button> -->
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 5rem;">
          <div class="col-md-6">
            <p class="t-bold t-blue">SIGNED BY</p>
            <div class="row">
              <div class="col-md-9">
                <p>{{ sign_by.first_name }} {{ sign_by.last_name }}</p>
                <p>{{ sign_by.company_name }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-md-offset-3">
            <p class="t-bold t-blue">DELIVER TO</p>
            <p>{{ deliver_to.contact_name }}</p>
            <p>{{ deliver_to.address }}, {{ deliver_to.city }} {{ deliver_to.zip_code }}</p>
            <p>{{ deliver_to.phone_number }}</p>
            <p>Expected delivery date: {{ deliver_to.expected_delivery_date | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div>
        <button #submitButton *ngIf="generateInvoice" class="bttn-primary pull-right" (click)="saveInvoice()">
          Send Proforma Invoice
        </button>
        <button
          *ngIf="!generateInvoice"
          class="btn-primary-transp pull-right"
          data-html2canvas-ignore="true"
          (click)="downloadPopup()"
        >
          Download PDF
        </button>
        <div class="disclaimer" *ngIf="generateInvoice">
          <div>
            <input type="checkbox" class="checkbox" id="checkbox1" [(ngModel)]="disclaimerAccepted" /><label
              class="checkbox_label"
              for="checkbox1"
              ><span class="form_checkbox_btn"></span
            ></label>
          </div>
          <p>
            I have read and accepted
            <a style="color:blue; cursor:pointer;" (click)="disclaimerPopup()">the disclaimer</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
