.border-top span:nth-of-type(even) {
  position: absolute;
  word-break: break-all;
  left: 10rem;
}

.invoice-right-side span:nth-of-type(even) {
  position: absolute;
  word-wrap: break-word;
  left: 15rem;
  margin-top: 2px;
}
