<a class="pull-right need-help" data-toggle="wizard" data-target="#invoiceTutorials">Need help?</a>
<h1 translate class="main-title">Proforma Invoices</h1>
<div class="helper-panel clearfix">
  <i class="material-icons pull-left">info</i>
  <p>{{ helpLegend }}</p>
</div>

<h1 translate class="main-title" *ngIf="hasInvoices">Proforma Invoices List</h1>

<div class="clearfix mt-1" class="actions-section" *ngIf="hasInvoices">
  <div>
    <input
      type="text"
      id="searchBar"
      class="search-bar mr-3"
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="Search invoices..."
    />
  </div>

  <div class="flex-pr">
    <button class="btn-primary-transp pull-right" (click)="exportAll()">
      <i class="material-icons">arrow_upward</i>
      <span translate>Export All Proforma Invoices</span>
    </button>
    <button
      *ngxPermissionsOnly="['create-invoice']"
      class="bttn-primary bttn-add pull-right"
      routerLink="/invoice/generator"
      matTooltip="{{ tooltips.issue_order }}"
    >
      <span translate>Create Profoma Invoice</span>
    </button>
  </div>
</div>

<div class="actions-section" *ngIf="hasInvoices">
  <div class="two-btns" *ngIf="agribusinessUser && buyerInvoices.length > 0 && sellerInvoices.length > 0">
    <p class="heading-3">View records as:</p>
    <button (click)="viewAs('seller')" [class.active]="this.viewAsSeller">
      Seller
    </button>
    <button (click)="viewAs('buyer')" [class.active]="this.viewAsBuyer">
      Buyer
    </button>
  </div>

  <div class="mt-4 ml-3 center-c">
    <div class="dropdown">
      <button class="bttn-white dropdown-toggle" type="button" data-toggle="dropdown"><span>Actions</span></button>
      <ul class="dropdown-menu">
        <li><a (click)="initExport()" translate>Export Proforma Invoices For Payment</a></li>
        <li><a (click)="exportAll()" translate>Export All Proforma Invoices</a></li>
      </ul>
    </div>
    <button
      class="bttn-download-sm"
      ngbTooltip="Download"
      [hidden]="invoicesToExport.length == 0 || !exportInit"
      (click)="downloadCsvForPayment()"
    >
      <i class="material-icons">arrow_downward</i>
    </button>
  </div>

  <!-- <button (click)="viewAs('agri')" [class.active]="this.viewAsAgri" class="bttn-primary-sm">
      All
    </button> -->
</div>

<app-invoice-list
  [searchTerm]="searchTerm"
  [viewAsSeller]="viewAsSeller"
  [exportInit]="exportInit"
  (invoicesList)="invoicesToExport = $event"
  [invoices]="invoices"
></app-invoice-list>

<app-invoice-tutorials></app-invoice-tutorials>
