<h1 class="main-title">Transactions</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>Here you can see all your invoices that have been sent to you!</p>
</div>

<h1 class="main-title">Invoices List</h1>

<button class="btn-primary-transp pull-right">
  <i class="material-icons">arrow_upward</i> <span>Export All Invoices</span>
</button>

<button class="btn-primary-filled pull-right"><i class="material-icons">add</i> <span>New Invoice</span></button>

<table class="table main-table">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th>Issued at</th>
      <th >Issued for</th>
      <th>Signed by</th>
      <th>Total due</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">212</td>
      <td>21/08/2018</td>
      <td>Avenews-GT</td>
      <td>Ishai Ben Or</td>
      <td>1000</td>
      <td class="text-right">
        <button class="btn round-button-primary" [routerLink]="31"><i class="material-icons">remove_red_eye</i></button>
        <button class="btn round-button-red"><i class="material-icons">delete</i></button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>21/08/2018</td>
      <td>Avenews-GT</td>
      <td>Ishai Ben Or</td>
      <td>1000</td>
      <td class="text-right">
        <button class="btn round-button-primary"><i class="material-icons">remove_red_eye</i></button>
        <button class="btn round-button-red"><i class="material-icons">delete</i></button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>21/08/2018</td>
      <td>Avenews-GT</td>
      <td>Ishai Ben Or</td>
      <td>1000</td>
      <td class="text-right">
        <button class="btn round-button-primary"><i class="material-icons">remove_red_eye</i></button>
        <button class="btn round-button-red"><i class="material-icons">delete</i></button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>21/08/2018</td>
      <td>Avenews-GT</td>
      <td>Ishai Ben Or</td>
      <td>1000</td>
      <td class="text-right">
        <button class="btn round-button-primary"><i class="material-icons">remove_red_eye</i></button>
        <button class="btn round-button-red"><i class="material-icons">delete</i></button>
      </td>
    </tr>
  </tbody>
</table>
