.dropdown-menu li a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.dropdown-toggle:hover {
  box-shadow: 0 14px 30px -12px rgba(220, 220, 220, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px hsla(0, 0%, 60%, 0.2);
  transition: all 0.5s;
}

.helper-payment-wrapper {
  display: flex;
  margin-bottom: 2rem;
}

.helper-panel {
  margin-bottom: 0px;
  font-size: 1.4rem;
  align-self: flex-start;
  width: 100%;
}

.pay-section {
  width: 30%;
  position: relative;
  background: #5089f0;
  color: white;
  border-radius: 2px;
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 1.5rem;
  margin-left: 1.7rem;

  p {
    z-index: 100;
  }
  a {
    text-decoration: underline;
    color: white;
  }

  img {
    position: absolute;
    right: 9px;
    top: 9px;
    width: 9%;
  }
}
