<a class="pull-right need-help" data-toggle="wizard" data-target="#invoiceTutorials">Need help?</a>
<h1 translate class="main-title">Proforma Invoices</h1>
<div class="helper-panel clearfix">
  <i class="material-icons pull-left">info</i>
  <p>{{ helpLegend }}</p>
</div>

<h1 translate class="main-title">Proforma Invoices List</h1>
<input
  type="text"
  id="searchBar"
  class="form-rounded"
  [(ngModel)]="searchTerm"
  type="text"
  placeholder="Search invoices..."
/>
<div class="clearfix margin-top">
  <button class="btn-primary-transp pull-right" (click)="exportAll()">
    <i class="material-icons">arrow_upward</i>
    <span translate>Export All Proforma Invoices</span>
  </button>
  <button
    *ngxPermissionsOnly="['create-invoice']"
    class="bttn-primary bttn-add pull-right"
    routerLink="/invoice/generator"
  >
    <span translate>New Profoma Invoice</span>
  </button>
  <div class="two-btns" *ngIf="agribusinessUser">
    <p class="heading-2">View records as:</p>
    <button (click)="viewAs('seller')" [class.active]="this.viewAsSeller">
      Seller
    </button>
    <button (click)="viewAs('buyer')" [class.active]="this.viewAsBuyer">
      Buyer
    </button>
    <!-- <button (click)="viewAs('agri')" [class.active]="this.viewAsAgri" class="bttn-primary-sm">
      All
    </button> -->
  </div>
</div>
<div class="pull-left">
  <div class="bttns-flex">
    <div class="dropdown">
      <button class="bttn-white dropdown-toggle" type="button" data-toggle="dropdown"><span>Actions</span></button>
      <ul class="dropdown-menu">
        <li><a (click)="initExport()" translate>Export Proforma Invoices For Payment</a></li>
        <li><a (click)="exportAll()" translate>Export All Proforma Invoices</a></li>
      </ul>
    </div>
    <button
      class="bttn-download-sm"
      ngbTooltip="Download"
      [hidden]="invoicesToExport.length == 0 || !exportInit"
      (click)="downloadCsvForPayment()"
    >
      <i class="material-icons">arrow_downward</i>
    </button>
  </div>
</div>
<app-invoice-list
  [searchTerm]="searchTerm"
  [viewAsSeller]="viewAsSeller"
  [exportInit]="exportInit"
  (invoicesList)="invoicesToExport = $event"
  [invoices]="invoices"
></app-invoice-list>

<app-invoice-tutorials></app-invoice-tutorials>
