@import "../../../../../assets/sass/abstracts/mixins";

.doc-card-upload {
  width: 200px;
}

.docs-section {
  padding-left: 0px !important;
}

.redBorder {
  border-color: red;
}

#add-btn:not(:first-child) {
  margin-top: 7px;
}

p.opt {
  color: #b2bec5;
}


.contact-info-section {
  flex-wrap: unset;
  @include respond(phone) {
    flex-direction: column;
  }
}
