<table class="table-blue">
  <thead>
    <tr>
      <th>PRODUCT</th>
      <th>DESCRIPTION</th>
      <th>AMOUNT</th>
      <th>RATE</th>
      <th>PRICE</th>
      <!-- <th></th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>
        <span *ngIf="!product.product_type || product.product_type == 'agricultural'">
          {{ product.produce }} / {{ product.variety }}
        </span>
        <span *ngIf="product.product_type == 'processed' && product.item_package_type">
          {{ product.produce }} / {{ product.item_measurement_amount | number: '1.2-2' }}
          {{ product.item_measurement_unit | uppercase }} / {{ product.item_package_type }}
        </span>
        <span *ngIf="product.product_type == 'processed' && !product.item_package_type">
          {{ product.produce }}
        </span>
        <span *ngIf="product.product_type == 'input'">{{ product.produce }} / {{ product.input_produce_type }} </span>
      </td>
      <td>
        <span *ngIf="product.product_type == 'agricultural'">
          {{ product.package_weight | number: '1.2-2' }}
          {{ product.weight_unit }} per package ({{ product.type_of_package }})
        </span>
        <span *ngIf="product.product_type == 'processed'">
          {{ product.items_per_package | number: '1.0' }}
          <span *ngIf="product.items_per_package == 1"> unit </span>
          <span *ngIf="product.items_per_package > 1"> units </span>
          per package ({{ product.type_of_package }})
        </span>
        <span *ngIf="product.product_type == 'input'">
          <span *ngIf="product.item_description">{{ product.item_description }}</span>
          <span *ngIf="!product.item_description">
            {{ product.item_measurement_amount }} {{ product.weight_unit }} per unit
          </span>
        </span>
      </td>
      <td>
        <span *ngIf="product.product_type == 'agricultural'"
          >{{ product.total_weight | number: '1.2-2' }} {{ product.weight_unit }} ({{ product.quantity }}
          <span *ngIf="product.quantity > 1"> packages</span>
          <span *ngIf="product.quantity == 1"> package</span>
          <small> Estimated</small>)
        </span>
        <span *ngIf="product.product_type == 'processed'">
          {{ product.quantity | number: '1.0' }}
          <span *ngIf="product.quantity > 1"> packages</span>
          <span *ngIf="product.quantity == 1"> package</span>
          ({{ product.total_amount_items | number: '1.0' }}
          <span *ngIf="product.total_amount_items > 1">units</span>
          <span *ngIf="product.total_amount_items == 1"> unit</span>)
        </span>
        <span *ngIf="product.product_type == 'input'">
          {{ product.quantity | number: '1.0' }}
          <span *ngIf="product.quantity > 1">units</span>
          <span *ngIf="product.quantity == 1">unit</span>
        </span>
      </td>
      <td>
        <span *ngIf="!product.product_type || product.product_type == 'agricultural'"
          >{{ product.price_per_unit | number: '1.2-2' }} {{ currency }} / {{ product.weight_unit | uppercase }}</span
        >
        <span *ngIf="product.product_type == 'processed'"
          >{{ product.package_price | number: '1.2-2' }} {{ currency }} / package</span
        >
        <span *ngIf="product.product_type == 'input'">
          {{ product.price_per_unit | number: '1.2-2' }} {{ product.currency }} / item
        </span>
      </td>
      <td>
        <span id="total">{{ product.product_subtotal | number: '1.2-2' }} {{ currency }}</span>
      </td>
      <!-- <td class="text-center">
        <button class="btn-circle remove" (click)="deleteProduct(i)"><i class="material-icons">remove</i></button>
        <button class="btn-circle edit" (click)="updateProduct(i)"><i class="material-icons">edit</i></button>
      </td> -->
    </tr>
  </tbody>
</table>
