<div class="row">
<div class="col">
  <p class="heading-4">Avenews-gt</p>
  <p class="heading-4">Ishai Ben Or</p>
  <p class="heading-4">Ahad Ha'am 54</p>
</div>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="heading-2">Product Details</p>
    <table class="panel-table">
      <thead>
        <th>Produce</th>
        <th>Variety</th>
        <th>Product Specification</th>
      </thead>
      <tbody>
        <tr>
          <td>Green Coffee</td>
          <td>Kona</td>
          <td>Type: Fully-Washed Grade: Fancy Screen: 18 Crop: 2017</td>
        </tr>
      </tbody>
    </table>

    <p class="heading-2">Packing Details</p>
    <p class="heading-4-blue">Package Details</p>
    <table class="panel-table">
      <thead>
        <th>Type of package</th>
        <th>Packaged product weight</th>
        <th>Weight unit</th>
        <th>Qunatity</th>
        <th>Total Weight</th>
      </thead>
      <tbody>
        <tr>
          <td>Bag</td>
          <td>45</td>
          <td>kg</td>
          <td>450</td>
          <td>20250</td>
        </tr>
      </tbody>
    </table>

    <p class="heading-4-blue">Container Details</p>
    <p class="heading-4">Type: ft.1</p>
    <p class="heading-4">Quantity: 1</p>
  </div>
  <div class="col-md-4">
    <div class="quote-right-side">
      <!-- Shipping Details -->
      <p class="heading-2">Shipping Details</p>
      <p class="heading-4">Israel</p>
      <p class="heading-4">Tel-Aviv Jaffa</p>
      <p class="heading-4">Ahad Ha'am 54</p>
      <p class="heading-4">
        GPS Coordinates: [-34.8215904] [150.60216809999997]
      </p>
      <p class="heading-4">Incoterms: Ex-Works</p>
      <!-- Additional Details -->
      <p class="heading-2 margin-top">Additional Details</p>
      <p class="heading-4">Expected receiving date: 28/10/2018</p>
      <p class="heading-4">Quote request remarks: No</p>
    </div>
  </div>
</div>

