<div class="row">
  <div class="col-md-8">
    <p class="heading-2">BUYER</p>
    <p class="heading-4">{{transaction.buyer.email}}</p>
    <p class="heading-4">{{transaction.buyer.first_name}} {{transaction.buyer.last_name}}</p>
  </div>
  <div class="col-md-4" *ngIf="transaction.seller._id">
    <p class="heading-2">SELLER</p>
    <p class="heading-4">{{transaction.seller.email}}</p>
    <p class="heading-4">{{transaction.seller.first_name}} {{transaction.seller.last_name}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="heading-2">Product Details</p>
    <table class="panel-table">
      <thead>
        <th>Produce</th>
        <th>Variety</th>
        <th>Product Specification</th>
      </thead>
      <tbody>
        <tr>
          <td>{{quoteRequest.produce}}</td>
          <td>{{quoteRequest.variety}}</td>
          <td>{{quoteRequest.specification}}</td>
        </tr>
      </tbody>
    </table>

    <p class="heading-2">Packing Details</p>
    <div *ngIf="quoteRequest.type_of_package">
    <p class="heading-4-blue">Package Details</p>
    <table class="panel-table">
      <thead>
        <th>Type of package</th>
        <th>Packaged product weight</th>
        <th>Weight unit</th>
        <th>Qunatity</th>
        <th>Total Weight</th>
      </thead>
      <tbody>
        <tr>
          <td>{{quoteRequest.type_of_package}}</td>
          <td>{{quoteRequest.package_weight}}</td>
          <td>{{quoteRequest.weight_unit | uppercase}}</td>
          <td>{{quoteRequest.quantity}}</td>
          <td>{{quoteRequest.total_weight}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div *ngIf="quoteRequest.container_type">
      <p class="heading-4-blue">Container Details</p>
      <p class="heading-4">Type: {{quoteRequest.container_type}}</p>
      <p class="heading-4">Quantity: {{quoteRequest.container_quantity}}</p>
    </div>

  </div>
  <div class="col-md-4">
    <div class="quote-right-side">
      <!-- Shipping Details -->
      <p class="heading-2">Shipping Details</p>
      <p class="heading-4">{{quoteRequest.point_of_delivery}}</p>
      <p class="heading-4">
        GPS Coordinates: {{quoteRequest.gps_coordinates[0]}}, {{quoteRequest.gps_coordinates[1]}}
      </p>
      <p *ngIf="quoteRequest.incoterms" class="heading-4">Incoterms: {{quoteRequest.incoterms}}</p>
      <!-- Additional Details -->
      <p class="heading-2 margin-top">Additional Details</p>
      <p class="heading-4">Expected receiving date: {{quoteRequest.receive_date | date:'MM/dd/yy'}}</p>
      <p class="heading-4">Quote request remarks: {{quoteRequest.remarks}}</p>
    </div>
  </div>
</div>
<button *ngIf="seller && !piGenerated" class="bttn-primary next-step pull-right"><span> Generate Proforma Invoice &rarr; </span></button>
<button class="btn-primary-transp pull-right">Download PDF</button>