.dpo-img {
  width: 100%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.dpo-img-wrapper {
  background: white;
  width: 8.2rem;
  height: 2.9rem;
  right: 0;
  display: inline-block;
  position: relative;
}

select.form-control {
  height: 3.2rem;
}

h4:nth-child(2) {
  font-weight: bold;
  margin-top: 2rem;
}

.application-header {
  display: flex;
  align-items: flex-start;
  .status {
    margin-left: auto;
    // flex: auto;
  }
}

.help-block {
  margin-bottom: 1.2rem !important;
}
