.grn-buttons {
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
}
.search {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e3e5f1;
  border-radius: 3px;
  height: 36px;
  padding: 0px 29px;
  width: 20%;
  font: 14px/19px Roboto;
  letter-spacing: 0.17px;
}
.search::placeholder {
  color: #cacbd5;
}
.search + span::before {
  content: "\f002";
  position: relative;
  top: 0;
  font-size: 1.5rem;
  transition: 0.5s;
  font-family: FontAwesome;
  color: #cacbd5;
}
.search + span {
  position: absolute;
  padding-left: 12px;
  padding-top: 6px;
}
.search:hover + span::before,
.search:focus + span::before {
  color: #000 !important;
}
.table {
  margin: 0;
}

.panel-body {
  padding-top: 0;
  margin-top: 0;
}

.panel {
  margin-top: 0;
  padding-top: 30px;
}
thead {
  background: transparent;
}

#table-head {
  background-color: transparent !important;
  font-size: 1.4rem;
  box-shadow: none !important;
  color: #5a6c7b;
  font-family: roboto;
  font-weight: 500;
}
tr:not(#table-head) {
  height: 52px !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 13px #17515705 !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}
tr {
  text-align: center !important;
}
#view,
#edit {
  text-decoration: underline;
  font-size: 13px;
  font-family: roboto;
  font-weight: 500;
  letter-spacing: 0px;
  opacity: 1;
  cursor: pointer;
}
#view {
  color: #37c1ce !important;
}
#edit {
  color: #d39b4b !important;
}
.status {
  padding: 5px 0px !important;
}
