<div class="modal-box" id="addGrnProductWizard">
  <div class="modal-box-content-wrapper">
    <div class="modal-box-content">
      <div class="modal-box-heading">
        <i class="material-icons pull-right" (click)="onModalClose()" #closeModal>close</i>
        <h2 translate class="modal-title">Add Product</h2>
      </div>
      <div class="modal-box-center">
        <div class="tab-content">
          <div class="row tab-pane active margin-none" id="client-details">
            <form [formGroup]="productForm" (ngSubmit)="onGeneralSubmit()">
              <div class="col-md-12">
                <div class="form-row">
                  <div class="form-group col-md-6" [ngClass]="showFieldStyle('product_name')">
                    <label for="product_name">Product *</label>
                    <input
                      placeholder="Add product name and variety"
                      type="text"
                      formControlName="product_name"
                      class="form-control"
                      id="product_name"
                    />
                    <div class="help-block" *ngIf="isFieldInvalid('product_name')">
                      <p>This field is required</p>
                    </div>
                  </div>
                  <div [ngClass]="showFieldStyle('measurement')" class="form-group col-md-6">
                    <label for="measurement">Measurement *</label>
                    <select
                      placeholder="Choose measurement option"
                      title="Choose measurement option"
                      type="text"
                      formControlName="measurement"
                      class="form-control"
                      id="measurement"
                    >
                      <option disabled selected value> -- Choose measurement option -- </option>

                      <option *ngFor="let measure of measures">{{ measure.value }}</option>
                    </select>
                    <div class="help-block" *ngIf="isFieldInvalid('measurement')">
                      <p>This field is required</p>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div [ngClass]="showFieldStyle('rate')" class="form-group col-md-6">
                    <label for="rate">Rate (Price per {{ productf?.measurement.value || '--' }}) *</label>
                    <div class="input-group">
                      <div id="input-group" class="input-group-prepend"></div>
                      <input
                        [ngModel]="productf?.rate.value"
                        (ngModelChange)="calculator()"
                        type="number"
                        class="form-control"
                        id="rate"
                        formControlName="rate"
                      />
                    </div>
                    <div style="color:#a94442" class="help-block" *ngIf="isFieldInvalid('rate')">
                      <p>This field is required</p>
                    </div>
                  </div>
                  <div class="form-group col-md-6" [ngClass]="showFieldStyle('quantity')">
                    <label for="quantity">Quantity *</label>
                    <input
                      placeholder="Add total quantity"
                      type="number"
                      formControlName="quantity"
                      class="form-control"
                      id="quantity"
                      [ngModel]="productf?.quantity.value"
                      (ngModelChange)="calculator()"
                    />
                    <div class="help-block" *ngIf="isFieldInvalid('quantity')">
                      <p>This field is required</p>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div [ngClass]="showFieldStyle('currency')" class="form-group col-md-6">
                    <label for="currency">Currency *</label>
                    <select
                      *ngIf="!disable"
                      title="Choose currency"
                      formControlName="currency"
                      class="form-control"
                      id="currency"
                    >
                      <option disabled selected value> -- Choose currency -- </option>
                      <option *ngFor="let currency of currencies">{{ currency.value }}</option>
                    </select>
                    <select
                      *ngIf="disable"
                      title="Choose currency"
                      formControlName="currency"
                      class="form-control"
                      id="currency"
                      disabled
                    >
                      <option *ngFor="let currency of currencies">{{ currency.value }}</option>
                    </select>
                    <div class="help-block" *ngIf="isFieldInvalid('currency')">
                      <p>This field is required</p>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="region">Price</label>
                    <input
                      hidden
                      disabled
                      type="text"
                      class="form-control disabled"
                      formControlName="price"
                      id="price"
                    />
                    <input disabled type="text" class="form-control disabled" />
                    <p id="price-trick">{{ productf?.price.value | number: '1.2-2' }}</p>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <label for="description">Description</label>
                    <textarea
                      type="text"
                      class="form-control"
                      rows="2"
                      formControlName="description"
                      placeholder="Add product description"
                      id="description"
                    ></textarea>
                  </div>
                </div>
              </div>
              <button (click)="onGeneralSubmit()" class="bttn-primary pull-right">
                Add Product
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
