<div class="col-md-12">
  <form [formGroup]="productDetailsForm">
    <div class="form-row">
      <div class="form-group col-md-6 margin-bottom" [ngClass]="showFieldStyle('produce')">
        <label for="produce_name">Produce Name *</label>
        <input type="text" formControlName="produce" id="produce_name" class="form-control" placeholder="Type produce name here..." />
        <div class="help-block">
            <p *ngIf="isFieldInvalid('produce')">This field is required</p>
          </div>
      </div>
      <div class="form-group col-md-6 margin-bottom" [ngClass]="showFieldStyle('variety')">
        <label for="variety">Variety *</label>
        <input type="text" formControlName="variety"  id="variety" class="form-control" placeholder="Type variety here..." />
        <div class="help-block">
          <p *ngIf="isFieldInvalid('variety')">This field is required</p>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="showFieldStyle('specification')">
      <label for="specification">Specification *</label>
      <textarea
        type="text"
        class="form-control"
        id="specification"
        rows="2"
        placeholder="Type specification here..."
        formControlName="specification"
      ></textarea>
      <div class="help-block">
          <p *ngIf="isFieldInvalid('specification')">This field is required</p>
      </div>
    </div>
  </form>
</div>
<button class="btn-next pull-right" [hidden]="productDetailsForm.valid" (click)="onSubmit(productDetailsForm)" >Next &rarr;</button>
<button class="btn-next pull-right next-step" [hidden]="!productDetailsForm.valid" (click)="next()" >Next &rarr;</button>
