<div class="modal-box-heading">
  <a (click)="onExit()"><i class="material-icons pull-right">close</i></a>
  <h2 translate class="modal-title">Add Agricultural Product</h2>
</div>
<div class="padding-all">
  <form #modalForm="ngForm" (keydown.enter)="$event.preventDefault()">
    <fieldset [disabled]="product.quotation_id">
      <p class="heading-2">Product</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="product-name">Product Name *</label>
          <input
            type="text"
            id="product-name"
            [(ngModel)]="product.produce"
            class="form-control"
            name="name"
            #name="ngModel"
            placeholder="Ex. Green coffee beans"
            required
            [ngClass]="{ 'has-error': name.invalid && name.touched }"
          />
          <div class="help-block" *ngIf="name.invalid && name.touched">
            This field is required!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="variety">Variety *</label>
          <input
            type="text"
            id="variety"
            [(ngModel)]="product.variety"
            class="form-control"
            name="variety"
            #variety="ngModel"
            placeholder="Ex. Kona"
            [ngClass]="{ 'has-error': variety.invalid && variety.touched }"
            required
          />
          <div class="help-block" *ngIf="variety.invalid && variety.touched">
            This field is required!
          </div>
        </div>
      </div>
      <p class="heading-2">Amount</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="weight-unit">Measurement *</label>
          <select
            id="weight-unit"
            [(ngModel)]="product.weight_unit"
            name="weight_unit"
            #weight_unit="ngModel"
            class="form-control"
            [ngClass]="{ 'has-error': weight_unit.invalid && weight_unit.touched }"
            required
          >
            <option *ngFor="let unit of units" [value]="unit.value" selected="selected">{{ unit.viewValue }}</option>
          </select>
          <div class="help-block" *ngIf="weight_unit.invalid && weight_unit.touched">
            This field is required!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="total-amount">Total Amount *</label>
          <input
            type="number"
            min="0"
            id="total-amount"
            [(ngModel)]="product.total_weight"
            name="total_weight"
            #total_weight="ngModel"
            (ngModelChange)="setPackageAmount(); setPriceUnit()"
            class="form-control"
            [ngClass]="{ 'has-error': total_weight.invalid && total_weight.touched }"
            placeholder="Ex. 100"
            required
          />
          <div class="help-block" *ngIf="total_weight.invalid && total_weight.touched">
            This field is required!
          </div>
        </div>
      </div>
      <p class="heading-2">Package</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="product-type">Package Type *</label>
          <input
            type="text"
            id="package-type"
            [(ngModel)]="product.type_of_package"
            name="type_of_package"
            class="form-control"
            #type_of_package="ngModel"
            placeholder="Ex. Box"
            [ngClass]="{ 'has-error': type_of_package.invalid && type_of_package.touched }"
            required
          />
          <div class="help-block" *ngIf="type_of_package.invalid && type_of_package.touched">
            This field is required!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="average-amount-packaged-product"
            >Amount in ({{ product.weight_unit | uppercase }}) per Packaged Product *</label
          >
          <input
            type="number"
            min="0"
            id="average-amount-packaged-product"
            name="package_weight"
            [(ngModel)]="product.package_weight"
            class="form-control"
            #package_weight="ngModel"
            (ngModelChange)="setPackageAmount(); setPricePackage()"
            placeholder="Ex. 2.5"
            [ngClass]="{ 'has-error': package_weight.invalid && package_weight.touched }"
            required
          />
          <div class="help-block" *ngIf="package_weight.invalid && package_weight.touched">
            This field is required!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="total-packages">Estimated Number of Packages *</label>
          <i
            class="material-icons ml-2 md-18"
            style="vertical-align: middle;"
            matTooltip="{{ tooltips.estimated_number_packages }}"
            >info</i
          >
          <input
            type="number"
            id="total-packages"
            [(ngModel)]="product.quantity"
            name="quantity"
            class="form-control"
            required
            disabled
          />
        </div>
      </div>
      <p class="heading-2">Price</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="price-per">Price per {{ product.weight_unit | uppercase }} *</label>
          <input
            type="number"
            id="price-per"
            name="price_per_unit"
            #price_per_unit="ngModel"
            [(ngModel)]="product.price_per_unit"
            (ngModelChange)="setPriceUnit()"
            class="form-control"
            placeholder="Ex. 20"
            [ngClass]="{ 'has-error': price_per_unit.invalid && price_per_unit.touched }"
            required
          />
          <div class="help-block" *ngIf="price_per_unit.invalid && price_per_unit.touched">
            This field is required!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="currecny">Currency *</label>
          <select
            id="currency"
            [(ngModel)]="currency"
            name="currency-type"
            #curr="ngModel"
            class="form-control"
            required
            [disabled]="data.currency"
            [ngClass]="{ 'has-error': curr.invalid && curr.touched }"
          >
            <option *ngFor="let currency of currencies" [value]="currency.value"> {{ currency.viewValue }}</option>
          </select>
          <div class="help-block" *ngIf="curr.invalid && curr.touched">
            This field is required!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="package-price">Price per Package *</label>
          <i class="material-icons ml-2 md-18" style="vertical-align: middle;" matTooltip="{{ tooltips.package_price }}"
            >info</i
          >
          <input
            type="number"
            name="package_price"
            [(ngModel)]="product.package_price"
            (ngModelChange)="setPricePackage()"
            class="form-control"
            id="package-price"
            readonly
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="total-price">Total Price *</label>
          <i class="material-icons ml-2 md-18" style="vertical-align: middle;" matTooltip="{{ tooltips.total_price }}"
            >info</i
          >
          <input
            type="number"
            id="total-price"
            name="total_price"
            [(ngModel)]="product.product_subtotal"
            class="form-control"
            disabled
            required
          />
        </div>
      </div>
      <div *ngIf="transactionType === 'invoice'" class="t-light-gray pull-left">
        The product will not be added to your inventory
      </div>
      <button
        type="submit"
        [hidden]="modalForm.invalid"
        *ngIf="!update"
        (click)="addProduct()"
        class="bttn-primary pull-right"
      >
        Add Product
      </button>
      <button
        type="submit"
        [hidden]="modalForm.valid"
        *ngIf="!update"
        (click)="onSubmit()"
        class="bttn-primary pull-right"
      >
        Add Product
      </button>
      <button
        type="submit"
        *ngIf="update"
        [disabled]="!modalForm.form.valid"
        (click)="updateProduct()"
        class="bttn-primary pull-right"
      >
        Update Product
      </button>
    </fieldset>
  </form>
</div>
