<div class="modal-box-heading">
  <a (click)="onExit()"><i class="material-icons pull-right">close</i></a>
  <h2 translate class="modal-title">Add Agricultural Product</h2>
</div>
<div class="padding-all">
  <form #modalForm="ngForm" (keydown.enter)="$event.preventDefault()">
    <fieldset [disabled]="product.quotation_id">
      <p class="heading-2">Product</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="product-name">Product Name *</label>
          <input
            type="text"
            id="product-name"
            [(ngModel)]="product.produce"
            class="form-control"
            name="name"
            placeholder="Ex. Green coffee beans"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="variety">Variety *</label>
          <input
            type="text"
            id="variety"
            [(ngModel)]="product.variety"
            class="form-control"
            name="variety"
            placeholder="Ex. Kona"
            required
          />
        </div>
      </div>
      <p class="heading-2">Amount *</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="weight-unit">Measurement Unit *</label>
          <select id="weight-unit" [(ngModel)]="product.weight_unit" name="weight_unit" class="form-control" required>
            <option *ngFor="let unit of units" [value]="unit.value" selected="selected">{{ unit.viewValue }}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="total-amount">Total Amount *</label>
          <input
            type="number"
            min="0"
            id="total-amount"
            [(ngModel)]="product.total_weight"
            name="total_weight"
            (ngModelChange)="setPackageAmount(); setPriceUnit()"
            class="form-control"
            placeholder="Ex. 100"
            required
          />
        </div>
      </div>
      <p class="heading-2">Package</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="product-name">Package Type *</label>
          <input
            type="text"
            id="package-type"
            [(ngModel)]="product.type_of_package"
            name="type_of_package"
            class="form-control"
            placeholder="Ex. Box"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="average-amount-packaged-product"
            >Amount in ({{ product.weight_unit | uppercase }}) per Packaged Product *</label
          >
          <input
            type="number"
            min="0"
            id="average-amount-packaged-product"
            name="package_weight"
            [(ngModel)]="product.package_weight"
            class="form-control"
            (ngModelChange)="setPackageAmount(); setPricePackage()"
            placeholder="Ex. 2.5"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="variety">Estimated Number of Packages *</label>
          <input
            type="number"
            id="total-packages"
            [(ngModel)]="product.quantity"
            name="quantity"
            class="form-control"
            required
            disabled
          />
        </div>
      </div>
      <p class="heading-2">Price</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="product-name">Price per {{ product.weight_unit | uppercase }} *</label>
          <input
            type="number"
            id="price-per"
            name="price_per_unit"
            [(ngModel)]="product.price_per_unit"
            (ngModelChange)="setPriceUnit()"
            class="form-control"
            placeholder="Ex. 20"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="currecny">Currency *</label>
          <select
            id="currency"
            [(ngModel)]="currency"
            name="currency"
            class="form-control"
            required
            [disabled]="data.currency"
          >
            <option *ngFor="let currency of currencies" [value]="currency.value"> {{ currency.viewValue }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="package-price">Price per Package *</label>
          <input
            type="number"
            name="package_price"
            [(ngModel)]="product.package_price"
            (ngModelChange)="setPricePackage()"
            class="form-control"
            id="package-price"
            readonly
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="total-price">Total Price *</label>
          <input
            type="number"
            id="total-price"
            name="total_price"
            [(ngModel)]="product.product_subtotal"
            class="form-control"
            disabled
            required
          />
        </div>
      </div>
      <button
        type="submit"
        *ngIf="!update"
        [disabled]="!modalForm.form.valid"
        (click)="addProduct()"
        class="bttn-primary pull-right"
      >
        Add Product
      </button>
      <button
        type="submit"
        *ngIf="update"
        [disabled]="!modalForm.form.valid"
        (click)="updateProduct()"
        class="bttn-primary pull-right"
      >
        Update Product
      </button>
    </fieldset>
  </form>
</div>
