<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Please provide the financial details for your business for the last 12 months.</p>
  </div>

  <form [formGroup]="loan_form" class="col">
    <div formGroupName="business_financial_details" #businessFinancialDetails>
      <div class="step-content">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="business-from">From</label>
            <input
              type="text"
              id="business-from"
              class="form-control"
              placeholder="DD/MM/YYYY"
              ngbDatepicker
              formControlName="activity_from"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="business-to">To</label>
            <input
              type="text"
              id="business-to"
              class="form-control"
              placeholder="DD/MM/YYYY"
              ngbDatepicker
              formControlName="activity_to"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="business-sales">Sales (p.a.)</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">KES</span>
              </div>
              <input type="number" id="business-sales" class="form-control" formControlName="business_sales" />
            </div>
          </div>
          <div class="form-group col-md-6 has-feedback">
            <label for="stocks-held">Value of stocks held</label>
            <div class="input-group">
              <input type="number" id="stocks-held" class="form-control" formControlName="stocks_held" />
              <div class="input-group-append">
                <span class="form-control-feedback" id="basic-addon1"
                  ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="cost-goods">Cost of goods sold</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">KES</span>
              </div>
              <input type="number" id="cost-goods" class="form-control" formControlName="cost_goods" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="debtors-outstanding">Trade debtors outstanding</label>
            <div class="input-group">
              <input
                type="number"
                id="debtors-outstanding"
                class="form-control"
                formControlName="trade_debtors_outstanding"
              />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="operating-expenses">Operating expenses</label>
            <input type="number" id="operating-expenses" class="form-control" formControlName="operating_expenses" />
          </div>
          <div class="form-group col-md-6">
            <label for="creditors-oustanding">Trade creditors outstanding</label>
            <div class="input-group">
              <input
                type="number"
                id="creditors-oustanding"
                class="form-control"
                formControlName="trade_creditors_oustanding"
              />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="other-costs">Other costs</label>
            <input type="number" id="other-costs" class="form-control" formControlName="other_costs" />
          </div>
          <div class="form-group col-md-6">
            <label for="other-debts">Other debts</label>
            <input type="number" id="other-debts" class="form-control" formControlName="other_debts" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="net-profit">Net profit (Before Tax)</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">KES</span>
              </div>
              <input type="number" id="net-profit" class="form-control" formControlName="net_profit" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="paid-capital">Paid-up capital</label>
            <input type="number" id="paid-capital" class="form-control" formControlName="paid_up_capital" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
