@import "../../../../../assets/sass/abstracts/variables";

.modal-box-content-lg {
  background-color: #fdfdfd;
}

.card .product-details {
  padding-left: 0.8rem;
  display: flex;
  align-items: center;

  p {
    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: #6b6b6b;
  }
}

.card-inner-price {
  font-size: 1.4rem;
}

.btn-circle {
  position: relative;
  background-color: #00d841;
}

.btn-circle:first-of-type {
  background-color: #6b6b6b;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:active {
  transform: translateY(2px);
  border: none;
}

button:focus {
  outline: none;
}

.btn-icons {
  i {
    font-size: 1.8rem;
    color: $light-gray;
  }
}

.bttn-primary {
  margin-bottom: 2rem;
}

.modal-box-heading {
  margin: -2.4rem -2.4rem 0 -2.4rem;
}

.empty-inventory {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
