<div class="modal-box-heading">
  <a (click)="onExit()"><i class="material-icons pull-right">close</i></a>
  <h2 *ngIf="!fromQuotation" translate class="modal-title">Inventory</h2>
  <h2 *ngIf="fromQuotation" translate class="modal-title">Product from quotations</h2>
</div>
<div class="padding-all">
  <div class="margin-bottom">
    <button class="btn-icons pull-right" (click)="onNextPage(agriculturalProducts.length, 3)">
      <i class="material-icons">arrow_forward_ios</i>
    </button>
    <button class="btn-icons pull-right" (click)="onBackPage()"><i class="material-icons">arrow_back_ios</i></button>
    <p class="normal-text-bold">Agricultural Products</p>
  </div>
  <div class="row clearfix">
    <div *ngIf="agriculturalProducts.length < 1" class="col-md-4 empty-inventory">
      <img src="../../../../../assets/img/default/basket.png" height="260" width="260" />
      <p class="heading-2">No agricultural products available</p>
    </div>
    <div
      *ngFor="let product of (agriculturalProducts | paginate: { itemsPerPage: 3, currentPage: page }); let i = index"
      class="col-md-4"
    >
      <div class="card card-agricultural" [class.product-active]="isListed(product) && fromQuotation">
        <div class="card-inner-price">
          <p class="pull-right margin-none">
            {{ product.price_per_unit | number: '1.2-2' }} {{ product.currency }}/<small>{{
              product.weight_unit | uppercase
            }}</small>
          </p>
        </div>
        <div class="product-details">
          <figure
            class="img-circular img-circular-sm"
            [ngStyle]="{ 'background-image': 'url(' + product_image(product) + ')' }"
          ></figure>
          <p class="heading-2">
            {{ product.produce }} <br />
            {{ product.variety }}
          </p>
        </div>
        <div class="package-details">
          <table>
            <tr>
              <td>Packages available</td>
              <td>{{ fromQuotation ? product.quantity : product.quantityMax }}</td>
            </tr>
            <tr>
              <td>Type of package</td>
              <td>{{ product.type_of_package }}</td>
            </tr>
            <tr>
              <td>Package</td>
              <td>{{ product.package_weight }}/{{ product.weight_unit | uppercase }}</td>
            </tr>
            <tr>
              <td>Total available</td>
              <td>
                {{ fromQuotation ? product.total_weight : product.totalWeightMax }}
                {{ product.weight_unit | uppercase }}
              </td>
            </tr>
          </table>
        </div>
        <div *ngIf="(!currency || product.currency === currency) && !fromQuotation" class="quantity">
          <p class="normal-text-bold">Quantity</p>
          <button class="btn-circle" (click)="decrementQ(product)"><i class="material-icons">remove</i></button>
          <input
            type="number"
            min="0"
            max="{{ product.quantityMax }}"
            value="0"
            [(ngModel)]="product.quantity"
            (ngModelChange)="checkProductInput(product)"
          />
          <button class="btn-circle" (click)="incrementQ(product)"><i class="material-icons">add</i></button>
        </div>
        <div *ngIf="(!currency || product.currency === currency) && fromQuotation" class="quantity">
          <p *ngIf="isListed(product)" class="normal-text-bold">The product is a part of the order</p>
          <p *ngIf="!isListed(product)" class="normal-text-bold">Add to purchase order</p>
          <input
            *ngIf="!isListed(product)"
            type="checkbox"
            class="checkbox"
            [id]="i"
            [name]="i"
            (change)="addProduct(product, $event.target.checked)"
            [checked]="isAdded(product)"
          /><label *ngIf="!isListed(product)" class="checkbox_label" [for]="i"
            ><span class="form_checkbox_btn"></span
          ></label>
        </div>
        <div *ngIf="currency && product.currency != currency" class="quantity">
          <strong style="font-size :11px;">Choose products with the same currency</strong>
        </div>
      </div>
    </div>
  </div>

  <!--Processed Products-->
  <div class="margin-bottom margin-top">
    <button class="btn-icons pull-right" (click)="onNextPage2(processedProducts.length, 3)">
      <i class="material-icons">arrow_forward_ios</i>
    </button>
    <button class="btn-icons pull-right" (click)="onBackPage2()"><i class="material-icons">arrow_back_ios</i></button>
    <p class="normal-text-bold">Processed Products</p>
  </div>
  <div class="row clearfix">
    <div *ngIf="processedProducts.length < 1" class="col-md-4 empty-inventory">
      <img src="../../../../../assets/img/default/basket.png" height="260" width="260" />
      <p class="heading-2">No processed products available</p>
    </div>
    <ng-container
      *ngFor="let product of (processedProducts | paginate: { itemsPerPage: 3, currentPage: page2 }); let i = index"
    >
      <div class="col-md-4">
        <div class="card card-processed" [class.product-active]="isListed(product) && fromQuotation" s>
          <div class="card-inner-price">
            <p class="pull-right margin-none">
              {{ product.package_price | number: '1.2-2' }} {{ product.currency }}/<small>{{
                product.type_of_package
              }}</small>
            </p>
          </div>
          <div class="product-details">
            <figure
              class="img-circular img-circular-sm"
              [ngStyle]="{ 'background-image': 'url(' + product_image(product) + ')' }"
            ></figure>
            <p class="heading-2">{{ product.produce }} <br /></p>
          </div>
          <div class="package-details">
            <table>
              <tr>
                <td>Packages available</td>
                <td>{{ fromQuotation ? product.quantity : product.quantityMax }}</td>
              </tr>
              <tr>
                <td>Type of package</td>
                <td>{{ product.type_of_package }}</td>
              </tr>
              <tr *ngIf="product.item_measurement_amount">
                <td>Item packing type</td>
                <td>{{ product.item_package_type }}</td>
              </tr>
              <tr *ngIf="product.item_measurement_amount">
                <td>Items per package</td>
                <td>{{ product.items_per_package }}</td>
              </tr>
              <tr *ngIf="product.item_measurement_amount">
                <td>Amount</td>
                <td>
                  {{ product.item_measurement_amount }} {{ product.item_measurement_unit }}/{{
                    product.item_package_type
                  }}
                </td>
              </tr>
            </table>
          </div>

          <div *ngIf="(!currency || product.currency === currency) && !fromQuotation" class="quantity">
            <p class="normal-text-bold">Quantity</p>
            <!-- decrese button -->
            <button class="btn-circle" (click)="decrementQ(product)"><i class="material-icons">remove</i></button>
            <!-- quantity -->
            <input
              type="number"
              min="0"
              max="{{ product.quantityMax }}"
              value="0"
              [(ngModel)]="product.quantity"
              (ngModelChange)="checkProductInput(product)"
            />
            <!-- add button -->
            <button class="btn-circle" (click)="incrementQ(product)"><i class="material-icons">add</i></button>
          </div>
          <div *ngIf="(!currency || product.currency === currency) && fromQuotation" class="quantity">
            <p *ngIf="isListed(product)" class="normal-text-bold">The product is a part of the order</p>
            <p *ngIf="!isListed(product)" class="normal-text-bold">Add to purchase order</p>
            <input
              *ngIf="!isListed(product)"
              type="checkbox"
              class="checkbox"
              [id]="'p' + i"
              [name]="i"
              (change)="addProduct(product, $event.target.checked)"
              [checked]="isAdded(product)"
            />
            <label *ngIf="!isListed(product)" class="checkbox_label" [for]="'p' + i"
              ><span class="form_checkbox_btn"></span
            ></label>
          </div>
          <div *ngIf="currency && product.currency != currency" class="quantity">
            <strong style="font-size :11px;">Choose products with the same currency</strong>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <button
    *ngIf="!fromQuotation"
    class="bttn-primary pull-right"
    data-dismiss="modal"
    (click)="productsValidation(true)"
  >
    Submit
  </button>
  <button *ngIf="fromQuotation" class="bttn-primary pull-right" data-dismiss="modal" (click)="addQuotedProducts()">
    Submit
  </button>
</div>
