<div class="modal-box-heading">
  <a (click)="onExit()"><i class="material-icons pull-right">close</i></a>
  <h2 *ngIf="!fromQuotation" translate class="modal-title">Inventory</h2>
  <h2 *ngIf="fromQuotation" translate class="modal-title">Product from quotations</h2>
</div>
<div class="padding-all">
  <div class="margin-bottom" *ngIf="inventoryProducts.length > 0">
    <button class="btn-icons pull-right" (click)="onNextPage(inventoryProducts.length, 6)">
      <i class="material-icons">arrow_forward_ios</i>
    </button>
    <button class="btn-icons pull-right" (click)="onBackPage()"><i class="material-icons">arrow_back_ios</i></button>
  </div>
  <div class="row clearfix">
    <div *ngIf="inventoryProducts.length < 1" class="col-md-4 empty-inventory">
      <img src="../../../../../assets/img/default/basket.png" height="260" width="260" />
      <p class="heading-3">No products available</p>
    </div>

    <table class="table table-borderless" *ngIf="inventoryProducts.length > 0">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Amount Available</th>
          <th>Rate</th>
          <th>Product Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of (inventoryProducts | paginate: { itemsPerPage: 6, currentPage: page }); let i = index"
          [class.product-active]="isListed(product) && fromQuotation"
        >
          <td>
            <div style="display: flex;">
              <figure
                style="margin-right: 1rem;"
                class="img-circular img-circular-sm"
                [ngStyle]="{ 'background-image': 'url(' + product_image(product) + ')' }"
              ></figure>
              <p class="heading-3">
                {{ product.produce }} <br />
                <span *ngIf="product.product_type == 'agricultural'">{{ product.variety }}</span>
                <span *ngIf="product.product_type == 'input'">
                  <span *ngIf="!product.other_input_type">{{ product.input_produce_type }}</span>
                  {{ product.other_input_type }}</span
                >
                <span *ngIf="product.product_type == 'processed'"
                  >{{ product.item_measurement_amount }}{{ product.item_measurement_unit }} /
                  {{ product.item_package_type }}</span
                >
              </p>
            </div>
          </td>
          <td>
            <span *ngIf="product.product_type == 'agricultural'">
              {{ product.package_weight }} {{ product.weight_unit | uppercase }} per package ({{
                product.type_of_package
              }})
            </span>
            <span *ngIf="product.product_type == 'input'">
              <span *ngIf="product.item_description">{{ product.item_description }}</span>
              <span *ngIf="!product.item_description">
                {{ product.item_measurement_amount }} {{ product.weight_unit }} per unit
              </span>
            </span>
            <span *ngIf="product.product_type == 'processed'">
              {{ product.items_per_package | number: '1.0' }}
              <span *ngIf="product.items_per_package == 1"> unit </span>
              <span *ngIf="product.items_per_package > 1"> units </span>
              per package ({{ product.type_of_package }})
            </span>
          </td>
          <td>
            <span *ngIf="product.product_type == 'agricultural'">
              {{ product.package_weight * (fromQuotation ? product.quantity : product.quantityMax) }}
              {{ product.weight_unit | uppercase }} ({{ fromQuotation ? product.quantity : product.quantityMax }}
              <span *ngIf="fromQuotation ? product.quantity : product.quantityMax > 1"> packages</span>
              <span *ngIf="fromQuotation ? product.quantity : product.quantityMax == 1"> package</span>)
            </span>
            <span *ngIf="product.product_type == 'input'">
              {{ fromQuotation ? product.quantity : product.quantityMax }}
              <span *ngIf="product.quantityMax > 1"> units</span>
              <span *ngIf="product.quantityMax == 1"> unit</span>
            </span>
            <span *ngIf="product.product_type == 'processed'">
              {{ fromQuotation ? product.quantity : product.quantityMax }}
              <span *ngIf="product.quantityMax > 1"> packages</span>
              <span *ngIf="product.quantityMax == 1"> package</span>
              ({{ product.total_amount_items | number: '1.0' }}
              <span *ngIf="product.total_amount_items > 1">units</span>
              <span *ngIf="product.total_amount_items == 1"> unit</span>)
            </span>
          </td>
          <td>
            <span *ngIf="product.product_type == 'agricultural'">
              {{ product.price_per_unit }} {{ product.currency }} / {{ product.weight_unit | uppercase }}
            </span>
            <span *ngIf="product.product_type == 'input'">
              {{ product.price_per_unit }} {{ product.currency | uppercase }} / unit
            </span>
            <span *ngIf="product.product_type == 'processed'">
              {{ product.package_price }} {{ product.currency | uppercase }} / package
            </span>
          </td>
          <td>{{ product.product_type }}</td>
          <td style="width: 17%;">
            <div *ngIf="(!currency || product.currency === currency) && !fromQuotation" class="quantity">
              <button class="btn-circle" (click)="decrementQ(product)"><i class="material-icons">remove</i></button>
              <input
                type="number"
                min="0"
                max="{{ product.quantityMax }}"
                [(ngModel)]="product.quantity"
                (ngModelChange)="checkProductInput(product)"
              />
              <button class="btn-circle" (click)="incrementQ(product)"><i class="material-icons">add</i></button>
            </div>
            <div *ngIf="(!currency || product.currency === currency) && fromQuotation" class="quantity">
              <p *ngIf="isListed(product)" class="t-bold">The product is a part of the order</p>
              <p *ngIf="!isListed(product)" class="t-bold">Add to purchase order</p>
              <input
                *ngIf="!isListed(product)"
                type="checkbox"
                class="checkbox"
                [attr.id]="i"
                [id]="i"
                [name]="i"
                (change)="addProduct(product, $event.target.checked)"
                [checked]="isAdded(product)"
              /><label *ngIf="!isListed(product)" class="checkbox_label" [attr.for]="i"
                ><span class="form_checkbox_btn"></span
              ></label>
            </div>
            <div *ngIf="currency && product.currency != currency" class="quantity">
              <strong class="t-small">Choose products with the same currency</strong>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    *ngIf="!fromQuotation"
    class="bttn-primary pull-right"
    data-dismiss="modal"
    (click)="productsValidation(true)"
  >
    Submit
  </button>
  <button *ngIf="fromQuotation" class="bttn-primary" data-dismiss="modal" (click)="addQuotedProducts()">
    Submit
  </button>
</div>
