<h1 class="main-title"><a class="material-icons">keyboard_backspace</a> Ecosystems</h1>

<div class="panel">
  <div class="panel-body">
    <button class="btn-primary-filled pull-right"><i class="material-icons">add</i> <span>Add Client</span></button>
    <p class="heading-2">Eco A Members</p>
    <p class="heading-3">Owned by Ishai Ben Or</p>

    <div class="contacts-section">
      <div class="contact-card">
        <div class="delete"><span class="pull-right material-icons">delete</span></div>
        <div>
          <figure class="round-shape-img"><img src="../../assets/img/profile-img.jpg" alt="contact-img" /></figure>
          <p class="normal-text-bold">Tony Stark</p>
          <p>Stark Industries</p>
        </div>
        <div>
          <p><i class="material-icons">alternate_email</i> Tristanfarms@gmail.com</p>
          <p><i class="material-icons">phone</i> 0547883648</p>
        </div>
      </div>
      <div class="contact-card">
        <div class="delete"><span class="pull-right material-icons">delete</span></div>
        <div>
          <figure class="round-shape-img"><img src="../../assets/img/profile-img.jpg" alt="contact-img" /></figure>
          <p class="normal-text-bold">Tony Stark</p>
          <p>Stark Industries</p>
        </div>
        <div>
          <p><i class="material-icons">alternate_email</i> Tristanfarms@gmail.com</p>
          <p><i class="material-icons">phone</i> 0547883648</p>
        </div>
      </div>
      <div class="contact-card">
        <div class="delete"><span class="pull-right material-icons">delete</span></div>
        <div>
          <figure class="round-shape-img"><img src="../../assets/img/profile-img.jpg" alt="contact-img" /></figure>
          <p class="normal-text-bold">Tony Stark</p>
          <p>Stark Industries</p>
        </div>
        <div>
          <p><i class="material-icons">alternate_email</i> Tristanfarms@gmail.com</p>
          <p><i class="material-icons">phone</i> 0547883648</p>
        </div>
      </div>
      <div class="contact-card">
        <div class="delete"><span class="pull-right material-icons">delete</span></div>
        <div>
          <figure class="round-shape-img"><img src="../../assets/img/profile-img.jpg" alt="contact-img" /></figure>
          <p class="normal-text-bold">Tony Stark</p>
          <p>Stark Industries</p>
        </div>
        <div>
          <p><i class="material-icons">alternate_email</i> Tristanfarms@gmail.com</p>
          <p><i class="material-icons">phone</i> 0547883648</p>
        </div>
      </div>
      <div class="contact-card">
          <div class="delete"><span class="pull-right material-icons">delete</span></div>
          <div>
            <figure class="round-shape-img"><img src="../../assets/img/profile-img.jpg" alt="contact-img" /></figure>
            <p class="normal-text-bold">Tony Stark</p>
            <p>Stark Industries</p>
          </div>
          <div>
            <p><i class="material-icons">alternate_email</i> Tristanfarms@gmail.com</p>
            <p><i class="material-icons">phone</i> 0547883648</p>
          </div>
        </div>
        <div class="contact-card">
            <div class="delete"><span class="pull-right material-icons">delete</span></div>
            <div>
              <figure class="round-shape-img"><img src="../../assets/img/profile-img.jpg" alt="contact-img" /></figure>
              <p class="normal-text-bold">Tony Stark</p>
              <p>Stark Industries</p>
            </div>
            <div>
              <p><i class="material-icons">alternate_email</i> Tristanfarms@gmail.com</p>
              <p><i class="material-icons">phone</i> 0547883648</p>
            </div>
          </div>
    </div>
  </div>
</div>
