<div class="client-tabs">
  <div><i class="material-icons back" (click)="back()">keyboard_backspace</i></div>
  <div>
    <figure class="img-circular img-circular-md" [style.background-image]="'url(' + product_image() + ')'"></figure>
    <p>{{ user.personal_information.first_name }} {{ user.personal_information.last_name }}</p>
  </div>
  <div>
    <ul class="nav flex-column" #tabs>
      <li class="active"><a data-toggle="tab" href="#userProfile">User Profile</a></li>
      <li><a data-toggle="tab" href="#orders">Orders</a></li>
      <li><a data-toggle="tab" href="#invoices">Proforma Invoices</a></li>
      <li><a data-toggle="tab" href="#documents">Documents</a></li>
    </ul>
  </div>
</div>

<div class="tabs-content">
  <div class="tab-content">
    <div class="tab-pane active" id="userProfile">
      <app-client-profile [tabs]="tabs" [user]="user" [counter]="counter"></app-client-profile>
    </div>
    <div class="tab-pane" id="orders"><app-client-orders [orders]="orders"></app-client-orders></div>
    <div class="tab-pane" id="invoices"><app-client-invoices [invoices]="invoices"></app-client-invoices></div>
    <div class="tab-pane" id="documents">
      <app-client-documents [documents]="documents" [client_id]="user._id"></app-client-documents>
    </div>
  </div>
</div>
