<div class="wrapper">
  <h1 class="main-title btn-main margin-bottom-2" (click)="back()">
    <a class="material-icons">keyboard_backspace</a> Quote Requests
  </h1>
  <!-- Main Generator -->
  <div class="stepper-wrapper">
    <div class="stepper">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" class="label" href="#quoteRequest">
            <span class="round-tab">1</span>Quote request received</a
          >
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#quotation"><span class="round-tab">2</span>Generate quotation</a>
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#review"> <span class="round-tab">3</span>Review and Confirm </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="quoteRequest">
          <app-quote-request [quoteRequest]="quoteRequest" [isSeller]="true" [seller]="seller"></app-quote-request>
        </div>
        <div class="tab-pane" id="quotation">
          <app-quotation-generator-quotation
            [quotationForm]="quotationForm"
            [quoteRequest]="quoteRequest"
            (quotationEvent)="receiveQuotation($event)"
          ></app-quotation-generator-quotation>
        </div>
        <div class="tab-pane" id="review">
          <app-quotation [isGenerator]="true" [quotation]="quotation"></app-quotation>
        </div>
      </div>
    </div>
  </div>
</div>
