<h1 class="main-title">Products</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>
    Here you can find all your products that you have uploaded, and create new
    ones!/p>
  </p>
</div>

<h1 class="main-title">Products List</h1>

<button class="btn-primary-filled pull-right">
  <i class="material-icons">add</i> <span>New Product</span>
</button>

<table class="table main-table">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th>Product</th>
      <th>SKU</th>
      <th>Package Type</th>
      <th>Inventory</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">212</td>
      <td>Chia Seeds</td>
      <td>22255</td>
      <td>Bag</td>
      <td>5 Packages</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">edit</i>
        </button>
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Chia Seeds</td>
      <td>22255</td>
      <td>Bag</td>
      <td>5 Packages</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">edit</i>
        </button>
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Chia Seeds</td>
      <td>22255</td>
      <td>Bag</td>
      <td>5 Packages</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">edit</i>
        </button>
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">212</td>
      <td>Chia Seeds</td>
      <td>22255</td>
      <td>Bag</td>
      <td>5 Packages</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">edit</i>
        </button>
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
