<a class="pull-right need-help" data-toggle="wizard" data-target="#productTutorials">Need help?</a>
<h1 translate class="main-title">Products</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>
    Create a digital inventory with customizable product profiles that holds key product details such as SKU,
    certifications, packing options and more.
  </p>
</div>
<h1 translate class="main-title" *ngIf="hasProducts">Products List</h1>

<div class="actions-section clearfix" *ngIf="hasProducts">
  <div>
    <input
      type="text"
      id="searchBar"
      class="search-bar"
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="Search products..."
    />
  </div>
  <div class="flex-pr">
    <button
      class="bttn-primary bttn-add pull-right"
      (click)="openDialogProcessed(undefined)"
      matTooltip="{{ tooltips.create_agri_product }}"
    >
      <span translate>New Processed Product</span>
    </button>
    <button
      class="bttn-primary bttn-add pull-right"
      (click)="openDialogAgricultural(undefined)"
      matTooltip="{{ tooltips.create_processed_product }}"
    >
      <span translate>New Agricultural Product</span>
    </button>
  </div>
</div>

<table class="table main-table" matSort (matSortChange)="sortData($event)" *ngIf="hasProducts">
  <thead>
    <tr>
      <th mat-sort-header="id" translate class="text-center">ID</th>
      <th mat-sort-header="product" translate>Product</th>
      <th mat-sort-header="sku" translate>SKU</th>
      <th mat-sort-header="description" translate>Description</th>
      <th mat-sort-header="type" translate>Type</th>
      <th mat-sort-header="availability" translate>Amount</th>
      <th translate class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let product of (products
          | filter: searchTerm
          | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage });
        let i = index
      "
    >
      <td class="text-center">{{ product.numericId }}</td>
      <td>
        <span *ngIf="product.product_type == 'agricultural'">{{ product.produce }} / {{ product.variety }}</span>
        <span *ngIf="product.product_type == 'processed'">{{ product.produce }}</span>
        <span *ngIf="product.product_type == 'input'">{{ product.produce }} / {{ product.input_produce_type }} </span>
      </td>
      <td>{{ product.sku || 'N/A' }}</td>
      <td>
        <span *ngIf="product.product_type == 'agricultural'">
          {{ product.quantity | number: '1.0' }} <span *ngIf="product.quantity > 1"> packages </span>
          <span *ngIf="product.quantity == 1">package</span> ({{ product.package_weight | number: '1.2-2' }}
          {{ product.weight_unit }} per {{ product.type_of_package }})
        </span>
        <span *ngIf="product.product_type == 'processed'">
          {{ product.quantity | number: '1.0' }}
          <span *ngIf="product.quantity > 1"> packages </span>
          <span *ngIf="product.quantity == 1"> package </span>
          ({{ product.items_per_package | number: '1.0' }}
          <span *ngIf="product.items_per_package == 1"> item </span>
          <span *ngIf="product.items_per_package > 1"> items </span>
          per {{ product.type_of_package }})
        </span>
        <span *ngIf="product.product_type == 'input'">
          <span *ngIf="product.item_description">{{ product.item_description }}</span>
          <span *ngIf="!product.item_description">
            {{ product.item_measurement_amount }} {{ product.weight_unit }} per item
          </span>
        </span>
      </td>
      <td>{{ product.product_type }}</td>
      <td>
        <span *ngIf="product.product_type == 'agricultural'">
          {{ product.total_weight | number: '1.2-2' }} {{ product.weight_unit }}
        </span>
        <span *ngIf="product.product_type == 'processed'">
          {{ product.total_amount_items | number: '1.0' }}
          <span *ngIf="product.total_amount_items > 1">items</span>
          <span *ngIf="product.total_amount_items == 1"> item</span>
        </span>
        <span *ngIf="product.product_type == 'input'">
          {{ product.quantity | number: '1.0' }}
          <span *ngIf="product.quantity > 1">items</span>
          <span *ngIf="product.quantity == 1">item</span>
        </span>
      </td>
      <td class="text-right">
        <button
          *ngIf="product.product_type == 'processed'"
          class="round-button-primary"
          (click)="openDialogProcessed(product)"
        >
          <i class="material-icons">edit</i>
        </button>
        <button
          *ngIf="product.product_type != 'processed'"
          class="round-button-primary"
          (click)="openDialogAgricultural(product)"
        >
          <i class="material-icons">edit</i>
        </button>
        <button
          class="round-button-primary"
          data-toggle="wizard"
          data-target="#productProfileWizard"
          (click)="setProductOverview(i)"
        >
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="round-button-red" (click)="warning(product._id)"><i class="material-icons">delete</i></button>
      </td>
    </tr>
  </tbody>
</table>
<div class="add-supplier-box panel" *ngIf="!hasProducts">
  <div class="panel-body">
    <img src="../../../assets/img/default/pi-po/noProducts.png" />
    <p style="font-size: large;">Add your first product and begin selling.</p>
    <button
      class="bttn-primary bttn-add"
      (click)="openDialogProcessed(undefined)"
      matTooltip="{{ tooltips.create_agri_product }}"
    >
      <span translate>New Processed Product</span>
    </button>
    <button
      class="bttn-primary bttn-add"
      (click)="openDialogAgricultural(undefined)"
      matTooltip="{{ tooltips.create_processed_product }}"
    >
      <span translate>New Agricultural Product</span>
    </button>
  </div>
</div>

<pagination-controls (pageChange)="pageChanged($event)" *ngIf="hasProducts"></pagination-controls>

<div class="modal-box" id="productProfileWizard">
  <div class="modal-box-content-wrapper">
    <div class="modal-box-content-sm" style="width: 30%">
      <div class="modal-box-heading">
        <i class="material-icons pull-right" data-dismiss="modal">close</i>
        <p translate class="modal-title">Product Overview</p>
      </div>
      <app-product-profile [product]="selectedProduct"></app-product-profile>
    </div>
  </div>
</div>
<app-product-tutorials></app-product-tutorials>
