<ul class="nav nav-tabs" style="display: none;" #listStepDetails>
  <li class="active">
    <a data-toggle="tab" class="label"></a>
  </li>
</ul>

<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us about the key person at 'Business Name'.</p>
  </div>

  <div class="step-content">
    <div class="form-row">
      <div class="form-group col-md-6 pl-0 pr-2">
        <label for="designation">Designation</label>
        <input type="text" id="designation" class="form-control" />
      </div>
      <div class="form-group col-md-6 pr-0 pl-2">
        <label for="period-business">Length of period in Business</label>
        <div class="input-group">
          <input type="text" id="period-business" class="form-control" />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">Years</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="qualification">Qualification</label>
        <input type="text" id="qualification" class="form-control" />
      </div>
    </div>
  </div>
</div>
