<h1 class="main-title btn-main" (click)="back()"><a class="material-icons">keyboard_backspace</a> Orders</h1>

<div class="col-md-12">
  <div class="panel">
    <div class="panel-body">
      <div class="col-md-3">
        <p class="heading-3">ORDER NUMBER</p>
        <p class="normal-text-bold">{{ order?.numericId }}</p>
      </div>
      <div class="col-md-3">
        <p class="heading-3">DATE OF SUBMISSION</p>
        <p class="normal-text-bold">{{ order?.date_created | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div class="col-md-3">
        <p class="heading-3">SHIPPING TO</p>
        <p class="normal-text-bold">{{ order.deliver_to.contact_name }}</p>
        <p class="normal-text-bold">
          {{ order.deliver_to.address }}, {{ order.deliver_to.city }} {{ order.deliver_to.zip_code }}
        </p>
        <p class="normal-text-bold">{{ order.deliver_to.phone }}</p>
      </div>
      <div class="col-md-3">
        <p class="heading-3">DELIVERY</p>
        <p class="normal-text-bold">Estimated delivery date</p>
        <p class="normal-text-bold">{{ order.deliver_to.expected_delivery_date | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#purchaseOrder">Purchase Order</a>
    </li>
    <li><a data-toggle="tab" href="#invoice">Proforma Invoice</a></li>
    <li><a data-toggle="tab" href="#documents">Necessary Documents</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="purchaseOrder">
      <div class="panel panel-tab">
        <div class="panel-body">
          <app-order-po [generateOrder]="false" [order]="order"></app-order-po>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="invoice">
      <div class="panel panel-tab">
        <div class="panel-body">
          <app-order-invoice [generateInvoice]="false" [invoice]="invoice"></app-order-invoice>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="documents">
      <div class="panel panel-tab">
        <div class="panel-body custom-padding">
          <app-order-documents [documents]="documents" [transaction_id]="order._id"></app-order-documents>
        </div>
      </div>
    </div>
  </div>
</div>
