<div class="margin-bottom">
  <button class="btn-icons pull-right"><i class="material-icons">keyboard_arrow_right</i></button>
  <button class="btn-icons pull-right"><i class="material-icons">keyboard_arrow_left</i></button>
  <p class="normal-text-bold">Agricultural Products</p>
</div>
<div class="row clearfix">
  <div class="col-md-3">
    <div class="card">
      <div>
        <p class="pull-right margin-none">12 USD/<small>kg</small></p>
      </div>
      <div class="product-details">
        <figure class="img-circular-sm" style="background-image: url('../../../../assets/img/chia.jpg');"></figure>
        <p class="heading-2">
          Chia Seeds <br />
          Variety
        </p>
      </div>
      <div class="package-details">
        <div>
          <p>Packages available</p>
          <p>Type of package</p>
          <p>Package weight</p>
          <p>Total weight</p>
        </div>
        <div>
          <p>12</p>
          <p>Bag</p>
          <p>45/kg</p>
          <p>540kg</p>
        </div>
      </div>

      <div class="quantity">
        <p class="normal-text-bold">Quantity</p>
        <button class="btn-circle"><i class="material-icons">add</i></button>
        <input type="number" min="0" max="1900" value="0" />
        <button class="btn-circle"><i class="material-icons">remove</i></button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div>
        <p class="pull-right margin-none">12 USD/<small>kg</small></p>
      </div>
      <div class="product-details">
        <figure class="img-circular-sm" style="background-image: url('../../../../assets/img/chia.jpg');"></figure>
        <p class="heading-2">
          Chia Seeds <br />
          Variety
        </p>
      </div>
      <div class="package-details">
        <div>
          <p>Packages available</p>
          <p>Type of package</p>
          <p>Package weight</p>
          <p>Total weight</p>
        </div>
        <div>
          <p>12</p>
          <p>Bag</p>
          <p>45/kg</p>
          <p>540kg</p>
        </div>
      </div>

      <div class="quantity">
        <p class="normal-text-bold">Quantity</p>
        <button class="btn-circle"><i class="material-icons">add</i></button>
        <input type="number" min="0" max="1900" value="0" />
        <button class="btn-circle"><i class="material-icons">remove</i></button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div>
        <p class="pull-right margin-none">12 USD/<small>kg</small></p>
      </div>
      <div class="product-details">
        <figure class="img-circular-sm" style="background-image: url('../../../../assets/img/chia.jpg');"></figure>
        <p class="heading-2">
          Chia Seeds <br />
          Variety
        </p>
      </div>
      <div class="package-details">
        <div>
          <p>Packages available</p>
          <p>Type of package</p>
          <p>Package weight</p>
          <p>Total weight</p>
        </div>
        <div>
          <p>12</p>
          <p>Bag</p>
          <p>45/kg</p>
          <p>540kg</p>
        </div>
      </div>

      <div class="quantity">
        <p class="normal-text-bold">Quantity</p>
        <button class="btn-circle"><i class="material-icons">add</i></button>
        <input type="number" min="0" max="1900" value="0" />
        <button class="btn-circle"><i class="material-icons">remove</i></button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div>
        <p class="pull-right margin-none">12 USD/<small>kg</small></p>
      </div>
      <div class="product-details">
        <figure class="img-circular-sm" style="background-image: url('../../../../assets/img/coffee.jpg');"></figure>
        <p class="heading-2">
          Green Coffee Beans <br />
          Kona
        </p>
      </div>
      <div class="package-details">
        <div>
          <p>Packages available</p>
          <p>Type of package</p>
          <p>Package weight</p>
          <p>Total weight</p>
        </div>
        <div>
          <p>12</p>
          <p>Bag</p>
          <p>45/kg</p>
          <p>540kg</p>
        </div>
      </div>

      <div class="quantity">
        <p class="normal-text-bold">Quantity</p>
        <button class="btn-circle"><i class="material-icons">add</i></button>
        <input type="number" min="0" max="1900" value="0" />
        <button class="btn-circle"><i class="material-icons">remove</i></button>
      </div>
    </div>
  </div>
</div>
