<div class="panel panel-tab products-col">
  <div class="panel-body">
    <div class="panel-header">
      <div>
        <p>{{ seller.first_name | titlecase }} {{ seller.last_name | titlecase }} Inventory</p>
      </div>
      <div [hidden]="inventoryProducts?.length < 1">
        <!-- <div class="search-box">
          <input
            type="text"
            [(ngModel)]="term"
            class="search-bar-rounded"
            type="text"
            placeholder="Search products..."
          />
          <i class="material-icons">search</i>
        </div> -->
        <button tour-intercom-products="step_3" class="bttn-primary next-step" (click)="toOrderGenerator()">
          Next Step &rarr;
        </button>
      </div>
    </div>
    <div tour-intercom-products="step_1" class="padding-all-2" *ngIf="inventoryProducts?.length >= 1">
      <div class="margin-bottom">
        <button class="btn-icons pull-right" (click)="onNextPage(inventoryProducts?.length, 6)">
          <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <button class="btn-icons pull-right" (click)="onBackPage()">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
      </div>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Amount Available</th>
            <th>Rate</th>
            <th>Product Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of (inventoryProducts | paginate: { itemsPerPage: 6, currentPage: page })">
            <td>
              <div style="display: flex;">
                <figure
                  style="margin-right: 1rem;"
                  class="img-circular img-circular-sm"
                  [ngStyle]="{ 'background-image': 'url(' + product_image(product) + ')' }"
                ></figure>
                <p class="heading-3">
                  {{ product.produce }} <br />
                  <span *ngIf="product.product_type == 'agricultural'">{{ product.variety }}</span>
                  <span *ngIf="product.product_type == 'input'">
                    <span *ngIf="!product.other_input_type">{{ product.input_produce_type }}</span>
                    {{ product.other_input_type }}</span
                  >
                  <span *ngIf="product.product_type == 'processed'"
                    >{{ product.item_measurement_amount }}{{ product.item_measurement_unit }} /
                    {{ product.item_package_type }}</span
                  >
                </p>
              </div>
            </td>
            <td>
              <span *ngIf="product.product_type == 'agricultural'">
                {{ product.package_weight | number: '1.2-2' }} {{ product.weight_unit | uppercase }} per package ({{
                  product.type_of_package
                }})
              </span>
              <span *ngIf="product.product_type == 'input'">
                <span *ngIf="product.item_description">{{ product.item_description }}</span>
                <span *ngIf="!product.item_description">
                  {{ product.item_measurement_amount | number: '1.2-2' }} {{ product.weight_unit }} per unit
                </span>
              </span>
              <span *ngIf="product.product_type == 'processed'">
                {{ product.items_per_package | number: '1.0' }}
                <span *ngIf="product.items_per_package == 1"> unit </span>
                <span *ngIf="product.items_per_package > 1"> units </span>
                per package ({{ product.type_of_package }})
              </span>
            </td>
            <td>
              <span *ngIf="product.product_type == 'agricultural'">
                {{ product.package_weight * product.quantityMax }} {{ product.weight_unit | uppercase }} ({{
                  product.quantityMax
                }}
                <span *ngIf="product.quantityMax > 1"> packages</span>
                <span *ngIf="product.quantityMax == 1"> package</span>)
              </span>
              <span *ngIf="product.product_type == 'input'">
                {{ product.quantityMax }}
                <span *ngIf="product.quantityMax > 1"> units</span>
                <span *ngIf="product.quantityMax == 1"> unit</span>
              </span>
              <span *ngIf="product.product_type == 'processed'">
                {{ product.quantityMax | number: '1.0' }}
                <span *ngIf="product.quantityMax > 1"> packages</span>
                <span *ngIf="product.quantityMax == 1"> package</span>
                ({{ product.total_amount_items | number: '1.0' }}
                <span *ngIf="product.total_amount_items > 1">units</span>
                <span *ngIf="product.total_amount_items == 1"> unit</span>)
              </span>
            </td>
            <td>
              <span *ngIf="product.product_type == 'agricultural'">
                {{ product.price_per_unit | number: '1.2-2' }} {{ product.currency }} /
                {{ product.weight_unit | uppercase }}
              </span>
              <span *ngIf="product.product_type == 'input'">
                {{ product.price_per_unit | number: '1.2-2' }} {{ product.currency | uppercase }} / unit
              </span>
              <span *ngIf="product.product_type == 'processed'">
                {{ product.package_price | number: '1.2-2' }} {{ product.currency | uppercase }} / package
              </span>
            </td>
            <td>{{ product.product_type }}</td>
            <td style="width: 17%;">
              <div
                style="float: right;"
                *ngIf="!order.currency.value || product.currency === order.currency.value"
                class="quantity"
              >
                <button class="btn-circle" (click)="decrementQuantity(product)">
                  <i class="material-icons">remove</i>
                </button>
                <input
                  type="number"
                  min="0"
                  max="{{ product.quantityMax }}"
                  value="0"
                  [(ngModel)]="product.quantity"
                  (ngModelChange)="checkProductInput(product)"
                />
                <button class="btn-circle" (click)="incrementQuantity(product)">
                  <i class="material-icons">add</i>
                </button>
              </div>
              <div
                style="font-size :11px; text-align: right;"
                *ngIf="order.currency.value && product.currency != order.currency.value"
              >
                <strong>Choose products with the same currency</strong>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="t2" class="add-supplier-box" [hidden]="!noInventory">
      <img src="../../../../assets/img/default/pi-po/noProducts.png" />
      <p>{{ seller.first_name | titlecase }} {{ seller.last_name | titlecase }} has no inventory.</p>
      <p>No worries. You will be able to add products to your order in the next step.</p>
      <button class="bttn-primary next-step">
        Next Step &rarr;
      </button>
    </div>
  </div>
</div>
<div tour-intercom-products="step_2" class="panel panel-tab summary-col">
  <div class="panel-body">
    <div class="panel-header">
      <p>Add to Purchase Order</p>
    </div>
    <div class="padding-all-2">
      <app-order-generator-summary
        [productList]="addedProducts"
        [currency]="order.currency.value"
        [form]="form"
      ></app-order-generator-summary>
    </div>
  </div>
</div>

<app-order-generator-product-res-summary
  [productList]="addedProducts"
  [currency]="order.currency.value"
  [form]="form"
  [packagesSum]="packagesSum"
></app-order-generator-product-res-summary>
