<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title" [class.display-tab]="displayTab(1)">
      Hey, {{ first_name }}! I'm Sarah.<br />
      How can I help you?
    </p>
    <p class="step-title" [class.display-tab]="displayTab(2)">
      What is the loan for?
    </p>
    <p class="step-title" [class.display-tab]="displayTab(3)">
      Which type of agribusiness are you? <br />
      Choose up to 3 main types.
    </p>
    <p class="step-title" [class.display-tab]="displayTab(4)">
      What is your business type?
    </p>
    <p class="step-title" [class.display-tab]="displayTab(5)">
      How long have you been in business?
    </p>
    <p class="step-title" [class.display-tab]="displayTab(6)">
      Where is your business registered?
    </p>
    <p class="step-title" [class.display-tab]="displayTab(7)">
      Just one more question,<br />
      do you have an Absa (previously Barclays) bank account?
    </p>
    <p *ngIf="checkEligibility(loan)" class="step-title" [class.display-tab]="displayTab(8)">
      Great, {{ first_name }} {{ last_name }}! You're eligible to apply for a loan. <br />
      Ready to go?
    </p>
    <p *ngIf="!checkEligibility(loan)" class="step-title" [class.display-tab]="displayTab(8)">
      Hi, {{ first_name }} {{ last_name }}! it looks like you don't qualify to apply for this loan.
    </p>
  </div>

  <form [formGroup]="loan_form" class="col-md-12">
    <div formGroupName="qualification">
      <div class="qualification">
        <div class="qualification__item" [class.display-tab]="displayTab(1)">
          <div class="row options-wrapper">
            <div>
              <label class="container">
                <input
                  type="radio"
                  name="amount_needed"
                  value="KES 100,000 - KES 3 million"
                  formControlName="amount_needed"
                />
                <span class="checkmark">
                  I need approximately<br />
                  KES 100,000 - KES 3 million
                </span>
              </label>
            </div>
            <div>
              <label class="container">
                <input
                  type="radio"
                  name="amount_needed"
                  value="KES 3 million - KES 7 million"
                  formControlName="amount_needed"
                />
                <span class="checkmark">
                  I need approximately <br />
                  KES 3 million - KES 7 million
                </span>
              </label>
            </div>
            <div>
              <label class="container">
                <input
                  type="radio"
                  name="amount_needed"
                  value="KES 7 million or more"
                  formControlName="amount_needed"
                />
                <span class="checkmark">
                  I need approximately <br />
                  KES 7 million or more
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="qualification__item" [class.display-tab]="displayTab(2)">
          <label class="container">
            <input
              click="onCheck(event)"
              type="radio"
              name="loan_purpose"
              value="ongoing expenses"
              formControlName="loan_purpose"
            />
            <span class="checkmark agri-type">
              I need funds for ongoing expenses - to cover purchasing produce, paying staff, working capital, etc.
            </span>
          </label>
          <label class="container">
            <input type="radio" name="loan_purpose" value="one-off purchase" formControlName="loan_purpose" />
            <span class="checkmark agri-type">
              I need funds for a one-off purchase - to use for buying equipment, inputs, growth or expansion.
            </span>
          </label>
          <label class="container">
            <input
              type="radio"
              name="loan_purpose"
              value="ongoing expenses & one-off purchase"
              formControlName="loan_purpose"
            />
            <span class="checkmark agri-type">
              I need funds for a bit of both.
            </span>
          </label>
        </div>
        <div class="qualification__item" [class.display-tab]="displayTab(3)">
          <div class="options-wrapper">
            <div>
              <label class="container">
                <input
                  [checked]="false"
                  (change)="onCheck($event)"
                  type="checkbox"
                  name="processing-type"
                  value="processing"
                />
                <span class="checkmark agri-type">
                  <img class="checkmark__img" src="/assets/img/loan-application-imgs/processing.svg" />
                  Processing <br />
                  (aggregator, packing house, miller, etc.)
                </span>
              </label>
            </div>
            <div>
              <label class="container">
                <input
                  [checked]="false"
                  (change)="onCheck($event)"
                  type="checkbox"
                  name="manufacturer-type"
                  value="food manufacturer"
                />
                <span class="checkmark agri-type">
                  <img class="checkmark__img" src="/assets/img/loan-application-imgs/food-manufacturer.svg" />
                  Food manufacturer
                </span>
              </label>
            </div>
          </div>
          <div class="options-wrapper">
            <div>
              <label class="container">
                <input
                  [checked]="false"
                  (change)="onCheck($event)"
                  type="checkbox"
                  name="feed-manufacuturer-type"
                  value="animal feed manufacturer"
                />
                <span class="checkmark agri-type">
                  <img class="checkmark__img" src="/assets/img/loan-application-imgs/animal-feed.svg" />
                  Animal feed manufacturer
                </span>
              </label>
            </div>
            <div>
              <label class="container">
                <input
                  [checked]="false"
                  (change)="onCheck($event)"
                  type="checkbox"
                  name="input-provider-type"
                  value="input provider"
                />
                <span class="checkmark agri-type">
                  <img class="checkmark__img" src="/assets/img/loan-application-imgs/input-provider.svg" />
                  Input provider <br />
                  (seeds, fertilizers, machinery, etc.)
                </span>
              </label>
            </div>
          </div>
          <div class="options-wrapper">
            <div>
              <label class="container">
                <input
                  [checked]="false"
                  (change)="onCheck($event)"
                  type="checkbox"
                  name="crop-production-type"
                  value="crop production"
                />
                <span class="checkmark agri-type">
                  <img class="checkmark__img" src="/assets/img/loan-application-imgs/crop-production.svg" />
                  Crop production <br />
                  (farmer, grower, etc.)
                </span>
              </label>
            </div>
            <div>
              <label class="container">
                <input [checked]="false" (change)="onCheck($event)" type="checkbox" name="retail-type" value="retail" />
                <span class="checkmark agri-type">
                  <img class="checkmark__img" src="/assets/img/loan-application-imgs/retailer.svg" />
                  Retail<br />
                  (kiosk, supermarket, etc.)
                </span>
              </label>
            </div>
          </div>
          <div class="options-wrapper" *ngIf="!otherOption">
            <div class="mr-0">
              <label class="container">
                <input type="radio" name="radio" (change)="openTextField()" />
                <span class="checkmark agri-type">
                  Other
                </span>
              </label>
            </div>
          </div>
          <div class="input-group" *ngIf="otherOption">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Other</span>
            </div>
            <input type="text" class="form-control" formControlName="other_agribusiness_type" autofocus />
          </div>
        </div>
        <div class="qualification__item" [class.display-tab]="displayTab(4)">
          <div class="row options-wrapper">
            <div class="row options-wrapper">
              <div class="col-md-4 pr-3">
                <label class="container">
                  <input type="radio" name="business_type" value="sole trader" formControlName="business_type" />
                  <span class="checkmark">
                    <img
                      class="checkmark__img business-sole-img"
                      src="/assets/img/loan-application-imgs/individual.png"
                    />
                    Sole Trader
                  </span>
                </label>
              </div>
              <div class="col-md-4 pr-3">
                <label class="container">
                  <input type="radio" name="business_type" value="partnership" formControlName="business_type" />
                  <span class="checkmark">
                    <img
                      class="checkmark__img business-partner-img"
                      src="/assets/img/loan-application-imgs/partnership.png"
                    />
                    Partnership
                  </span>
                </label>
              </div>
              <div class="col-md-4 pr-0">
                <label class="container">
                  <input type="radio" name="business_type" value="limited company" formControlName="business_type" />
                  <span class="checkmark">
                    <img class="checkmark__img business-partner-img" src="/assets/img/loan-application-imgs/llc.png" />
                    Limited Company
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="qualification__item" [class.display-tab]="displayTab(5)">
          <div class="row options-wrapper">
            <div>
              <label class="container">
                <input
                  type="radio"
                  name="incorporation_seniority"
                  value="less than 12 months"
                  formControlName="incorporation_seniority"
                />
                <span class="checkmark">
                  <img class="checkmark__img business-img" src="/assets/img/loan-application-imgs/small-business.svg" />
                  Less than 12 months
                </span>
              </label>
            </div>
            <div>
              <label class="container">
                <input
                  type="radio"
                  name="incorporation_seniority"
                  value="more than 12 months"
                  formControlName="incorporation_seniority"
                />
                <span class="checkmark">
                  <img class="checkmark__img business-img" src="/assets/img/loan-application-imgs/big-business.svg" />
                  More than 12 months
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="qualification__item" [class.display-tab]="displayTab(6)">
          <div class="row options-wrapper">
            <div>
              <label class="container">
                <input type="radio" name="registration_country" value="kenya" formControlName="registration_country" />
                <span class="checkmark">
                  Kenya
                </span>
              </label>
            </div>
            <div>
              <label class="container">
                <input type="radio" name="registration_country" value="other" formControlName="registration_country" />
                <span class="checkmark">
                  Other
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="qualification__item" [class.display-tab]="displayTab(7)">
          <div class="row options-wrapper">
            <div>
              <label class="container">
                <input type="radio" name="absa_bank_account" [value]="true" formControlName="absa_bank_account" />
                <span class="checkmark text-logo">
                  <span
                    >Yes, I have an
                    <img id="absa-logo" src="/assets/img/loan-application-imgs/absa-logo.svg" alt="absa" />
                    (Barclays) bank account.</span
                  >
                </span>
              </label>
            </div>
            <div>
              <label class="container">
                <input type="radio" name="absa_bank_account" [value]="false" formControlName="absa_bank_account" />
                <span class="checkmark">
                  No, I have a different bank account.
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="checkEligibility(loan)" class="qualification__item" [class.display-tab]="displayTab(8)">
      <p class="qualification__item__header">Before you begin, here's what you need to know:</p>
      <ul class="qualification__item__list">
        <li>How much you want to borrow.</li>
        <li>Basic information about your company.</li>
        <li>Basic information about your banking details.</li>
      </ul>
      <!-- <p class="qualification__item__header">
        In addition, these are the documents that you'll need in order to complete the loan application:
      </p>
      <ul>
        <li>A scan of your National ID</li>
        <li>Proof of address</li>
      </ul> -->
      <div class="mb-4 note">
        <img src="/assets/img/lamp.svg" />
        <p>
          <strong>Don't have some of the information at hand?</strong> <br />
          You can save the application at any point and return to it whenever you have it!
        </p>
      </div>
      <button type="button" class="bttn-primary mt-5" (click)="onFinishQualification()">Let's begin</button>
    </div>

    <div *ngIf="!checkEligibility(loan)" class="qualification__item" [class.display-tab]="displayTab(8)">
      <p class="qualification__item__header">In order to apply for this loan you need to:</p>
      <ul class="qualification__item__list">
        <li>Have an Absa bank account in Kenya.</li>
        <li>Have a business registered in Kenya.</li>
      </ul>
      <!-- <p class="qualification__item__header">
        In addition, these are the documents that you'll need in order to complete the loan application:
      </p>
      <ul>
        <li>A scan of your National ID</li>
        <li>Proof of address</li>
      </ul> -->
      <div class="mb-4 note">
        <img src="/assets/img/lamp.svg" />
        <p>
          <strong>We do have some good news !</strong> <br />
          Even if you don't qualify yet to apply for this loan, you can still user The Avenews platform to manage your
          agribusiness digitally.
        </p>
      </div>
      <button [routerLink]="['/dashboard']" type="button" class="bttn-primary mt-5">Let's go</button>
    </div>
  </form>
</div>

<div class="stepper-footer" *ngIf="currentIndex < 8">
  <div class="stepper-footer-wrapper">
    <div>
      <button class="bttn-secondary" *ngIf="currentIndex > 1" (click)="onPrevQuestion()">PREV</button>
    </div>
    <div>
      <button class="bttn-primary" *ngIf="currentIndex < 8" (click)="onNextQuestion()">NEXT</button>
    </div>
  </div>
</div>
