<table *ngIf="quotations?.length > 0" class="table main-table">
  <thead>
    <tr>
      <th translate>Company</th>
      <th translate>Contact name</th>
      <th translate>Status</th>
      <th translate>Amount Offered</th>
      <th translate>Rate</th>
      <th translate>Price</th>
      <th translate class="text-right">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quotation of (quotations | paginate: { itemsPerPage: 7, currentPage: page }); let i = index">
      <td>{{ quotation.seller.company_name }}</td>
      <td>{{ quotation.seller.first_name }} {{ quotation.seller.last_name }}</td>
      <td>
        <div class="status status-blue">{{ quotation.status }}</div>
      </td>
      <td>
        <span *ngIf="quotation.product.product_type === 'agricultural'">
          {{ quotation.product.total_weight_offered | number: '1.2-2' }} {{ quotation.product.weight_unit }}
        </span>
        <span *ngIf="quotation.product.product_type != 'agricultural'">
          {{ quotation.product.quantity_offered }} {{ quotation.product.type_of_package }}
        </span>
      </td>
      <td>
        <span *ngIf="quotation.product.product_type === 'agricultural'">
          {{ quotation.product.price_per_unit | number: '1.2-2' }} {{ quotation.currency }} /
          {{ quotation.product.weight_unit }}
        </span>
        <span *ngIf="quotation.product.product_type != 'agricultural'">
          {{ quotation.product.package_price | number: '1.2-2' }} {{ quotation.currency }} / Package
        </span>
      </td>
      <td>{{ quotation.product.product_subtotal | number: '1.2-2' }} {{ quotation.currency }}</td>
      <td class="text-right">
        <button class="round-button-primary" data-toggle="wizard" data-target="#quotationModal">
          <i class="material-icons">remove_red_eye</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<span *ngIf="quotations?.length <= 0">You did not grant any quotation yet.</span>

<div class="modal-box" id="quotationModal">
  <div class="modal-box-content-sm" style="width: 75%;">
    <div class="modal-box-heading">
      <i class="material-icons pull-right" data-dismiss="modal">close</i>
      <p translate class="modal-title">Quotation</p>
    </div>
    <app-quotation></app-quotation>
  </div>
</div>

<pagination-controls *ngIf="quotations?.length > 0" (pageChange)="page = $event"></pagination-controls>
