<input
  type="text"
  id="searchBar"
  class="search-bar"
  [(ngModel)]="searchTerm"
  type="text"
  placeholder="Search quotations..."
/>

<table *ngIf="quotations.length > 0" class="table main-table" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="company" translate>Company</th>
      <th mat-sort-header="contact" translate>Contact</th>
      <th mat-sort-header="status" translate>Status</th>
      <th mat-sort-header="offer" translate>Amount Offered</th>
      <th mat-sort-header="rate" translate>Rate</th>
      <th mat-sort-header="price" translate>Price</th>
      <th translate class="text-right">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let quotation of (quotations | filter: searchTerm | paginate: { itemsPerPage: 7, currentPage: page });
        let i = index
      "
    >
      <td>{{ quotation.seller.company_name }}</td>
      <td>{{ quotation.seller.first_name }} {{ quotation.seller.last_name }}</td>
      <td>
        <div class="status status-orange" *ngIf="quotation.status === 'AWAITING QUOTATION'">{{ quotation.status }}</div>
        <div class="status status-purple" *ngIf="quotation.status === 'QUOTATION RECEIVED'">{{ quotation.status }}</div>
        <div class="status status-blue" *ngIf="quotation.status === 'QUOTATION ACCEPTED'">
          {{ quotation.status }}
        </div>
        <div class="status status-green" *ngIf="quotation.status === 'ORDER SENT'">
          {{ quotation.status }}
        </div>
      </td>
      <td>
        <span *ngIf="quotation.product && quotation.product?.product_type === 'agricultural'">
          {{ quotation.product?.total_weight_offered | number: '1.2-2' }} {{ quotation.product?.weight_unit }}
        </span>
        <span *ngIf="quotation.product && quotation.product?.product_type === 'processed'">
          {{ quotation.product?.quantity_offered }}
          <span *ngIf="quotation.product?.quantity_offered > 1">
            packages
          </span>
          <span *ngIf="quotation.product?.quantity_offered == 1">
            package
          </span>
          ({{ quotation.product?.total_items_offered }}
          <span *ngIf="quotation.product?.total_items_offered > 1"> units</span>
          <span *ngIf="quotation.product?.total_items_offered == 1"> unit </span>)
        </span>
        <span *ngIf="quotation.product && quotation.product?.product_type === 'input'">
          {{ quotation.product?.quantity_offered }}
          <span *ngIf="quotation.product?.quantity_offered > 1">units</span>
          <span *ngIf="quotation.product?.quantity_offered == 1">unit</span>
        </span>
        <span *ngIf="!quotation.product">
          N/A
        </span>
      </td>
      <td>
        <span *ngIf="quotation.product && quotation.product?.product_type === 'agricultural'">
          {{ quotation.product?.price_per_unit | number: '1.2-2' }} {{ quotation.currency }} /
          {{ quotation.product?.weight_unit }}
        </span>
        <span *ngIf="quotation.product && quotation.product?.product_type == 'processed'">
          {{ quotation.product?.package_price | number: '1.2-2' }} {{ quotation.currency }} / Package
        </span>
        <span *ngIf="quotation.product && quotation.product?.product_type == 'input'">
          {{ quotation.product?.price_per_unit | number: '1.2-2' }} {{ quotation.currency }} / Unit
        </span>
        <span *ngIf="!quotation.product">
          N/A
        </span>
      </td>
      <td>
        <span *ngIf="quotation.product"
          >{{ quotation.product?.product_subtotal | number: '1.2-2' }} {{ quotation.currency }}</span
        >
        <span *ngIf="!quotation.product">N/A</span>
      </td>
      <td class="text-right">
        <button
          class="round-button-primary"
          (click)="openQuotationView(quotation)"
          [class.disabled]="!quotation.product"
          [disabled]="!quotation.product"
        >
          <i class="material-icons">remove_red_eye</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls
  *ngIf="quotations?.length > 0"
  (pageChange)="page = $event"
  [id]="paginationId"
></pagination-controls>
<span *ngIf="quotations?.length <= 0">You did not grant any quotation yet.</span>
