.icon-grn:before {
  content: '\e801';
} /* '' */
.icon-finance:before {
  content: '\e804';
} /* '' */
.icon-dashboard:before {
  content: '\e805';
} /* '' */
.icon-contacts:before {
  content: '\e807';
} /* '' */
