.icon-new-platform-icons---pi:before {
  content: '\e800';
} /* '' */
.icon-new-platform-icons---orders:before {
  content: '\e801';
} /* '' */
.icon-new-platform-icons---clients:before {
  content: '\e802';
} /* '' */
.icon-new-platform-icons---dashboard:before {
  content: '\e803';
} /* '' */
.icon-new-platform-icons---ecosystems:before {
  content: '\e804';
} /* '' */
.icon-new-platform-icons---qr:before {
  content: '\e805';
} /* '' */
.icon-new-platform-icons---products:before {
  content: '\e806';
} /* '' */
