<form [formGroup]="shippingDetailsForm">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="center-text-btn">
          <p class="heading-2">Local quote request</p>
          <div class="switch">
            <input id="local_quote_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" formControlName="local_quote_request"/>
            <label for="local_quote_switch"></label>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding-left:5px;">
        <div class="center-text-btn">
          <p class="heading-2">International quote request</p>
          <div class="switch">
            <input
              id="internationl_quote_switch"
              class="cmn-toggle cmn-toggle-round-flat"
              type="checkbox"
              formControlName="international_quote_request"
            />
            <label for="internationl_quote_switch"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="incoterm">Incoterm</label>
        <select class="browser-default custom-select" id="incoterm" formControlName="incoterms">
          <optgroup *ngFor="let group of incotermsGroups" [label]="group.name" [disabled]="group.disabled">
            <option *ngFor="let incoterm of group.incoterms" [value]="incoterm.value">{{
              incoterm.viewValue
            }}</option>
          </optgroup>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="excluded_countries">Excluded countries</label>
        <select class="browser-default custom-select" id="excluded_countries" formControlName="excluded_countries" multiple>
          <option *ngFor="let country of countriesList" [value]="country.value">
            {{ country.viewValue }}
          </option>
        </select>
      </div>
      <p class="help-block">
        <a target="_blank" href="https://www.tradefinanceglobal.com/freight-forwarding/incoterms/">Search incoterms</a>
        for international shipping
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="destination_address">Address of destination</label>
    <input
      appGooglePlace
      (onSelect)="setAddress($event)"
      type="text"
      class="form-control"
      id="destination_address"
      placeholder="Type destination address here..."
      formControlName="address"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="gps_coordinates">GPS coordinates</label>
      <input class="form-control" id="gps_coordinates" readonly placeholder="GPS coordinates" readonly formControlName="gps_coordinates" />
    </div>
    <div class="form-group col-md-6">
      <label for="expected_delivery_date">Expected delivery date</label>
      <div class="input-group">
        <input
          id="expected_delivery_date"
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="ddp"
          ngbDatepicker
          #ddp="ngbDatepicker"
          formControlName="expected_delivery_date"
        />
        <div class="input-group-append">
          <button class="btn glyphicon glyphicon-calendar" (click)="ddp.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </div>
</form>
<button class="btn-next next-step pull-right" [disabled]="!shippingDetailsForm.valid" (click)="next()">Next &rarr;</button>