.nav.nav-tabs {
  list-style: none;
  width: 100%;
  z-index: 888;
  margin-bottom: 3rem;
  li:first-child:nth-last-child(2),
  li:first-child:nth-last-child(2) ~ li {
    width: 49%;
    background-color: white;
    position: relative;
    display: inline-block;
    height: 5rem;
    box-shadow: 0px 0rem 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
.panel-header {
  display: flex;
  align-items: center;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  padding: 1rem 2.5rem;
  margin-top: -1.5rem;
}

.panel-header :nth-child(3) {
  align-self: flex-end;
  margin-left: auto;
}

.panel-header::after {
  content: "";
  display: block;
  clear: both;
}
