<div class="wrapper wizard">
  <h1 class="main-title btn-main margin-bottom-2" (click)="back()">
    <a class="material-icons">keyboard_backspace</a> Proforma Invoices
  </h1>

  <div class="stepper-wrapper">
    <div class="stepper">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" class="label" href="#chooseBuyer"> <span class="round-tab">1</span>Choose a Buyer </a>
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#fillInvoice">
            <span class="round-tab">2</span>Generate Proforma Invoice</a
          >
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#reviewSend"> <span class="round-tab">3</span>Review and Send </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="chooseBuyer">
          <app-invoice-generator-buyers [form]="invoiceForm"></app-invoice-generator-buyers>
        </div>
        <div class="tab-pane" id="fillInvoice">
          <app-invoice-generator-invoice
            [form]="invoiceForm"
            (newInvoiceEvent)="receiveNewInvoice($event)"
          ></app-invoice-generator-invoice>
        </div>

        <div class="tab-pane" id="reviewSend">
          <div class="panel panel-tab">
            <div class="panel-body">
              <app-invoice *ngIf="invoice" [generateInvoice]="true" [invoice]="invoice"></app-invoice>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
