<div class="panel welcome-panel">
  <div class="panel-body">
    <div class="panel-header">
      <p>Starting Guide</p>
      <app-user-progress
        [userProgress]="userProgress"
        [currentUser]="currentUser"
        style="margin-left: auto;"
        (completedProgress)="progressCompleted = $event"
      ></app-user-progress>
    </div>
    <div class="starting-guide">
      <div class="starting-guide--left">
        <ul class="nav nav-tabs" role="tablist" id="startingGuideTab">
          <li class="nav-item completed" data-toggle="tab" href="#account" role="tab" aria-selected="true">
            <div class="circle-wrapper"><span class="circle"></span></div>
            <div class="step-title">
              <span class="btn-desktop-txt">Create an Account</span>
              <span class="btn-mobile-txt">Account</span>
            </div>
          </li>
          <li
            class="nav-item"
            data-toggle="tab"
            href="#contact"
            role="tab"
            aria-selected="true"
            [class.completed]="userProgress.contactCreated"
          >
            <div class="circle-wrapper"><span class="circle"></span></div>
            <div class="step-title">
              <span class="btn-desktop-txt"> Add your first Contact</span>
              <span class="btn-mobile-txt">Contact</span>
              <p class="small">Estimated time: 2 min</p>
            </div>
          </li>
          <li
            class="nav-item"
            data-toggle="tab"
            href="#grn"
            role="tab"
            aria-selected="true"
            [class.completed]="userProgress.grnCreated"
          >
            <div class="circle-wrapper"><span class="circle"></span></div>
            <div class="step-title">
              <span class="btn-desktop-txt"> Issue your first Goods Received Note</span>
              <span class="btn-mobile-txt">GRN</span>
              <p class="small">Estimated time: 4 min</p>
            </div>
          </li>
          <li
            class="nav-item"
            data-toggle="tab"
            href="#business"
            role="tab"
            aria-selected="true"
            *ngIf="progressCompleted"
            [class.current-step]="progressCompleted"
          >
            <div class="circle-wrapper"><span class="circle"></span></div>
            <div class="step-title">
              <span class="btn-desktop-txt">Now you're in Business!</span>
              <span class="btn-mobile-txt">Congrats!</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="starting-guide--right tab-content">
        <div class="tab-pane active" id="account" role="tabpanel" *ngIf="!currentUser.referrer">
          <h2>Well done! You created your Account.</h2>
          <p>
            Now you can keep going and complete the next simple steps to see what you can do with Avenews-GT.
          </p>
          <button class="btn btn-primary" (click)="nextStep('contact')">
            NEXT STEP
          </button>
          <img src="../../../assets/img/dashboard-imgs/account.png" id="account-img" alt="" />
        </div>

        <div class="tab-pane" id="contact" role="tabpanel">
          <div class="tab-wrapper">
            <div [hidden]="userProgress.contactCreated">
              <h2>Add your first Contact.</h2>
              <p>
                Add the names, emails, telephone numbers and addresses of the people you do business with.
              </p>
              <button class="btn btn-primary" data-toggle="wizard" data-target="#addContactWizard">
                ADD CONTACT
              </button>
            </div>
            <div [hidden]="!userProgress.contactCreated">
              <h2>Well done! You added your first Contact.</h2>
              <p>
                To do this again, click the Contacts button on the left side menu. Now you’re ready for the next step.
              </p>
              <button class="btn btn-primary" (click)="nextStep('grn')">
                NEXT STEP
              </button>
            </div>
            <div class="contact-help-wrapper">
              <div id="contact-help-text">
                <p>Would you like our help with adding your contacts?</p>
                <p><a class="contact-help-link">Click here</a> to send us a request.</p>
              </div>
            </div>
            <img src="../../../assets/img/dashboard-imgs/clients.png" />
          </div>
        </div>

        <div class="tab-pane" id="grn" role="tabpanel">
          <div class="tab-wrapper">
            <div [hidden]="userProgress.grnCreated">
              <h2>Issue your first Goods Received Note.</h2>
              <p>
                Add the products you received, the supplier details, the payment status, and send a digital Goods
                Received Note to your supplier.
              </p>
              <button class="btn btn-primary" routerLink="/grn/generator">
                ISSUE GOODS RECEIVED NOTE
              </button>
            </div>
            <div [hidden]="!userProgress.grnCreated">
              <h2>Well done! You issued your first Goods Received Note.</h2>
              <p>
                To do this again, click the Goods Received button on the left side menu. Now you’re ready for the next
                step.
              </p>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="business" role="tabpanel" [hidden]="!progressCompleted">
          <div>
            <h2>Now you're in business!</h2>
            <p>
              You're ready to take your business to the next level.
            </p>
            <img src="../../../assets/img/dashboard-imgs/business.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-contact-generator></app-contact-generator>
</div>
