<div class="panel user-settings">
  <div class="panel-body">
    <div class="panel-header">
      <div class="icon-text"><i class="material-icons">lock</i> <span class="heading-2"> Change Password </span></div>
      <div class="show-hide">
        <button
          class="show-hide-btn"
          type="button"
          data-toggle="collapse"
          data-target="#passwordSection"
          aria-expanded="false"
        >
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="passwordSection">
      <div class="padding-all">
        <div class="form-row">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">
            <div class="form-group col-md-3">
              <label for="fist-name">Current Password *</label>
              <input type="password" class="form-control" formControlName="current" id="current-password" />
            </div>
            <div class="form-group col-md-3">
              <label for="fist-name">New Password *</label>
              <input type="password" class="form-control" id="new-password" formControlName="new" />
            </div>
            <div class="form-group col-md-3">
              <label for="fist-name">Confirm New Password *</label>
              <input type="password" class="form-control" id="re-password" formControlName="repeatNew" />
              <div class="help-block" *ngIf="passwordsNotMatch()">
                <p>New passwords must match</p>
              </div>
            </div>
            <div class="col-md-3">
              <button
                type="submit"
                [disabled]="!changePasswordForm.valid"
                class="bttn-primary change-password pull-right"
              >
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
