<div>
  <i class="material-icons back" (click)="back()">keyboard_backspace</i><span class="after-icon"> Contacts</span>
</div>
<app-contact-profile [contact]="contact"></app-contact-profile>
<mat-tab-group id="contact-view-tabs">
  <mat-tab color="#455263" label="Transactions ({{ grnList?.length }})">
    <app-contact-transactions [grnList]="grnList" [contact]="contact"></app-contact-transactions>
  </mat-tab>
  <mat-tab color="#455263" label="Documents (0)">
    <app-contact-documents
      [documents]="documents"
      [contact_id]="contact._id"
      [contact]="contact"
    ></app-contact-documents>
  </mat-tab>
</mat-tab-group>
