<div class="chat-content">
  <div class="header">
    <button class="btn btn-link"><i class="material-icons">close</i></button>
  </div>
  <div class="message-area-sender">
    <div class="user-info">
      <figure class="img-shape"><img src="../../assets/img/prof-img2.jpg" class="user-img" /></figure>
      <span> Alex Benn</span>
    </div>
    <div class="message-bubble">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
  </div>
  <div class="message-area-receiver">
    <div class="user-info">
      <span>Saradaa Saradaa</span>
      <figure class="img-shape"><img src="../../assets/img/profile-img.jpg" class="user-img" /></figure>
    </div>
    <div class="message-bubble pull-right">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, voluptates.</p>
    </div>
  </div>
  <div class="message-send">
    <textarea placeholder="Type message here..." rows="4"></textarea>
    <button class="round-button-primary pull-right"><i class="material-icons">send</i></button>
  </div>
</div>
