<div class="padding-all">
  <div class="border-box display-ib ">
    <h2>
      PURCHASE ORDER <span style="font-size: 1.9rem;" *ngIf="!generateOrder"> #{{ order?.numericId }} </span>
    </h2>
    <table>
      <tr>
        <td class="t-bold t-blue">ISSUE DATE</td>
        <td>{{ order.date_created | date: 'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
        <td class="t-bold t-blue">VALID BY</td>
        <td>{{ order.sign_by.date | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="order.external_order" class="alert alert-info pull-right shadow p-4 mb-5 rounded">
    <h4 class="alert-heading">
      This Purchase Order has been sent to {{ order?.seller.first_name }} {{ order?.seller.last_name }} on
    </h4>
    <p *ngIf="sellerContactEmail()">
      <i class="material-icons" style="vertical-align:middle">email</i> {{ order?.seller.email }}
    </p>
    <p *ngIf="sellerContactSms()">
      <i class="material-icons" style="vertical-align:middle">smartphone</i> {{ order?.seller.phone_number }}
    </p>
  </div>

  <div class="row" style="padding-top: 5rem;">
    <div class="col-md-6">
      <p class="t-bold t-blue">ISSUED BY</p>
      <p>{{ order.buyer.first_name }} {{ order.buyer.last_name }}</p>
      <p>{{ order.buyer.company_name }}</p>
      <p>{{ order.buyer.email }}</p>
      <p>{{ order.buyer.address }}, {{ order.buyer.city }} {{ order.buyer.zipcode }}</p>
      <p>{{ order.buyer.phone_number }}</p>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <p class="t-bold t-blue">ISSUED FOR</p>
      <p>{{ order.seller.first_name }} {{ order.seller.last_name }}</p>
      <p>{{ order.seller.company_name }}</p>
      <p>{{ order.seller.email }}</p>
      <p>{{ order.seller.address }}, {{ order.seller.city }} {{ order.seller.zipcode }}</p>
      <p>{{ order.seller.phone_number }}</p>
    </div>
  </div>

  <div style="padding-top: 2rem;">
    <p class="heading-3">PRODUCTS</p>
    <table class="products-table">
      <thead>
        <tr>
          <th>PRODUCT</th>
          <th>PACKAGES</th>
          <th>AMOUNT</th>
          <th>RATE</th>
          <th>PRICE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of order.products">
          <td>
            <span *ngIf="!row.product_type || row.product_type == 'agricultural'">
              {{ row.produce }} / {{ row.variety }}
            </span>
            <span *ngIf="row.product_type == 'processed' && row.item_package_type">
              {{ row.produce }} / {{ row.item_measurement_amount | number: '1.2-2' }} {{ row.item_measurement_unit }} /
              {{ row.item_package_type }}
            </span>
            <span *ngIf="row.product_type == 'processed' && !row.item_package_type">
              {{ row.produce }}
            </span>
          </td>
          <td>
            <span *ngIf="!row.product_type || row.product_type == 'agricultural'">
              {{ row.quantity | number: '1.0' }} ({{ row.type_of_package }} /
              {{ row.package_weight | number: '1.2-2' }} {{ row.weight_unit }})
            </span>
            <span *ngIf="row.product_type == 'processed' && row.item_package_type">
              {{ row.quantity | number: '1.0' }} ({{ row.type_of_package }} / {{ row.items_per_package | number: '1.0'
              }}<span *ngIf="row.items_per_package > 1"> items)</span
              ><span *ngIf="row.items_per_package == 1"> item)</span>
            </span>
            <span *ngIf="row.product_type == 'processed' && !row.item_package_type">
              {{ row.quantity | number: '1.0' }} ({{ row.type_of_package }})
            </span>
          </td>
          <td>
            <span *ngIf="!row.product_type || row.product_type == 'agricultural'"
              >{{ row.total_weight | number: '1.2-2' }} {{ row.weight_unit }}</span
            >
            <span *ngIf="row.product_type == 'processed'">N/A</span>
          </td>
          <td>
            <span *ngIf="!row.product_type || row.product_type == 'agricultural'"
              >{{ row.price_per_unit | number: '1.2-2' }} {{ order.currency }} / {{ row.weight_unit }}</span
            >
            <span *ngIf="row.product_type == 'processed'"
              >{{ row.package_price | number: '1.2-2' }} {{ order.currency }} / {{ row.type_of_package }}</span
            >
          </td>
          <td>
            <span id="total">{{ row.product_subtotal | number: '1.2-2' }} {{ order.currency }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="padding-top: 2rem;">
    <div class="row">
      <div class="col-md-9">
        <p class="heading-3">NOTES</p>
        <div>
          <p class="t-bold t-blue">PAYMENT NOTES</p>
          <p>
            {{ order.payment_comments || 'None' }}
          </p>
        </div>
        <div>
          <p class="t-bold t-blue">PURCHASE ORDER NOTES</p>
          <p>
            {{ order.order_comments || 'None' }}
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border-box center-items pull-left">
          <p class="heading-2">SUBTOTAL</p>
          <p class="heading-2 t-blue">{{ order.total_due | number: '1.2-2' }} {{ order.currency }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 5rem;">
    <div class="col-md-6">
      <p class="t-bold t-blue">SIGNED BY</p>
      <p>{{ order.sign_by.first_name }} {{ order.sign_by.last_name }}</p>
      <p>{{ order.sign_by.company_name }}</p>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <p class="t-bold t-blue">DELIVER TO</p>
      <p>{{ order.deliver_to.contact_name }}</p>
      <p>{{ order.deliver_to.address }}, {{ order.deliver_to.city }} {{ order.deliver_to.zip_code }}</p>
      <p>{{ order.deliver_to.phone }}</p>
      <p>Expected delivery date: {{ order.deliver_to.expected_delivery_date | date: 'dd/MM/yyyy' }}</p>
    </div>
  </div>
  <button *ngIf="!buyer && !order.invoice" class="bttn-primary pull-right next-step">
    Generate Proforma Invoice
  </button>
  <button class="btn-primary-transp pull-right" (click)="downloadPopup()">
    Download PDF
  </button>
</div>
