<div class="modal-box" id="addClienEcoModal">
  <div class="modal-box-content">
    <div class="modal-box-heading">
      <i class="material-icons pull-right" data-dismiss="modal">close</i>
      <h2 translate class="modal-title">MY CLIENTS</h2>
    </div>

    <div style="width:90%; margin: 0 auto;">
    <table class="table main-table">
        <thead>
          <tr>
            <th>Add to Ecosystem</th>
            <th>ID</th>
            <th>Company</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" class="checkbox" id="checkbox1"/><label class="checkbox_label" for="checkbox1"><span class="form_checkbox_btn"></span></label></td>
            <td>335</td>
            <td>Stark industries</td>
            <td>Harry Potter</td>
          </tr>
          <tr>
            <td><input type="checkbox" class="checkbox" id="checkbox2"/><label class="checkbox_label" for="checkbox2"><span class="form_checkbox_btn"></span></label></td>
            <td>342</td>
            <td>Stark industries</td>
            <td>Harry Potter</td>
          </tr>
          <tr>
              <td><input type="checkbox" class="checkbox" id="checkbox3"/><label class="checkbox_label" for="checkbox3"><span class="form_checkbox_btn"></span></label></td>
              <td>342</td>
              <td>Stark industries</td>
              <td>Harry Potter</td>
            </tr>
        </tbody>
      </table>
  </div>

  <button class="bttn-primary pull right">Save Changes</button>
</div>
</div>
