<div class="modal-box" id="addClienEcoModal">
  <div class="modal-box-content">
    <div class="modal-box-heading">
      <i class="material-icons pull-right" data-dismiss="modal" #closeModal>close</i>
      <h2 translate class="modal-title">MY CLIENTS</h2>
    </div>

    <div style="width:90%; margin: 0 auto;">
    <table class="table main-table">
        <thead>
          <tr>
            <th>Add to Ecosystem</th>
            <th>ID</th>
            <th>Company</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td><input type="checkbox" class="checkbox" [id]="client.numericId" (change)="pushClient(client)"/><label class="checkbox_label" [for]="client.numericId"><span class="form_checkbox_btn"></span></label></td>
            <td>{{ client.numericId }}</td>
            <td>{{ client.company_name }}</td>
            <td>{{ client.first_name }} {{ client.last_name }}</td>
          </tr>
        </tbody>
      </table>
  </div>

  <button class="bttn-primary pull right" (click)="save()">Save Changes</button>
</div>
</div>
