<div class="stepper">
  <ul class="nav nav-tabs" style="display: none;" #listStepDetails>
    <li class="active">
      <a data-toggle="tab" class="label" href="#bank-details"></a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" class="label" href="#other-loans"></a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" [class.active]="displayStep(0)" id="bank-details">
      <app-applicant-bank-details></app-applicant-bank-details>
    </div>
    <div class="tab-pane" [class.active]="displayStep(1)" id="other-loans">
      <app-applicant-other-loans></app-applicant-other-loans>
    </div>
  </div>

  <div class="stepper-footer">
    <div class="stepper-footer-wrapper">
      <div>
        <button class="bttn-secondary" (click)="onPrevious()">PREV</button>
      </div>
      <div>
        <button class="btn-primary-transp" (click)="onSave()">SAVE</button>
        <button *ngIf="currentInnerStep != 1" class="bttn bttn-primary next-step" (click)="onNext()">NEXT</button>
        <button *ngIf="currentInnerStep == 1" class="bttn bttn-primary next-step" (click)="toPreview()">
          Preview your application
        </button>
      </div>
    </div>
  </div>
</div>
