@import "../../../../assets/sass/abstracts/variables";

.info {
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 0px 2px 0.8rem rgba(0, 0, 0, 0.045);
  border-radius: 5px;
  margin-top: 1rem;

  .row div p:first-child {
    font-size: 1.2rem;
    color: #7b7b7b;
    font-weight: 600;
    margin-bottom: 3px;
  }

  .row div p:nth-child(2) {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .row:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.table-blue > thead > tr > th {
  border-bottom: 0;
}

.rotate {
  transform: rotate(45deg);
}
.comments {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem 3rem;
  box-shadow: 0px 2px 0.8rem rgba(0, 0, 0, 0.045);
  border-radius: 5px;

  label {
    font-size: 1.3rem;
  }
  textarea {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    resize: none;
    padding: 1rem;
    font-size: 1.3rem;
  }
}

.panel {
  width: 30%;
  margin-top: 1.2rem;
}

.panel-body {
  border-left: 3px solid red;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: rgb(255, 233, 233);
  padding: 10px;
}

.subtotal-price {
  margin-top: 2rem;
  width: 100%;
  min-height: 16.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .heading-4-blue {
    font-size: 2.3rem;
  }
}

.info {
  label {
    font-size: 1.3rem;
  }
}

.btn-draft {
  margin: 0.5rem;
  margin-right: 1.5rem;
}

.remove {
  background-color: transparent;
  border: 1px solid $red-color;
  color: $red-color;
  margin-right: 1rem;
}

.edit {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;

  i {
    font-size: 1.6rem;
  }
}

.stepUp {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #37ce95;
}

.stepDown {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: $red-color;
}
