<form [formGroup]="form">
  <div class="row">
    <div class="col-md-6">
      <div class="info">
        <p class="heading-3">ISSUED BY</p>
        <app-user-data [user]="buyer" [issued_by]="true"></app-user-data>
      </div>
    </div>
    <div class="col-md-6">
      <div class="info">
        <p class="heading-3">ISSUED FOR</p>
        <app-user-data #sellerData [openDocument]="openOrder" [user]="seller" [formInput]="form" [issued_for]="true">
        </app-user-data>
      </div>
    </div>
  </div>

  <app-order-product-list
    [currency]="order.currency.value"
    [products]="products"
    (updateProductEvent)="updateProduct($event)"
    (deleteProductEvent)="deleteProduct($event)"
  >
  </app-order-product-list>
  <div class="row">
    <div class="col">
      <div class="dropdown">
        <button tour-intercom-order="step_1" class="bttn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          Add New Product
        </button>
        <ul class="dropdown-menu">
          <li *ngIf="fromQuotation"><a (click)="openDialogInventory(true)">Quotation Products</a></li>
          <li *ngIf="!openOrder"><a (click)="openDialogInventory(false)">From Inventory</a></li>
          <li><a (click)="openDialogAgricultural()">New Agricultural Product</a></li>
          <li><a (click)="openDialogProcessed()">New Processed Product</a></li>
          <li><a (click)="openDialogInput()">New Input Product</a></li>
        </ul>
      </div>
      <!-- <button class="btn-primary-transp">
        <i class="material-icons rotate">attach_file</i> <span>Upload Document</span>
      </button> -->
    </div>
  </div>
  <div class="alert alert-danger" role="alert" [hidden]="products.length != 0 || productsPristine">
    Please choose product!
  </div>
  <div class="row">
    <div tour-intercom-order="step_2">
      <div class="col-md-6">
        <div class="comments">
          <label for="payment_comments">Comments or special instructions for payment</label>
          <textarea
            rows="4"
            id="payment_comments"
            placeholder="Type comments here..."
            formControlName="payment_comments"
          ></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="comments">
          <label for="po_comments">Comments or special instructions for purchase order</label>
          <textarea
            rows="4"
            id="po_comments"
            placeholder="Type comments here..."
            formControlName="order_comments"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="subtotal-price pull-right">
        <p class="heading-2">SUBTOTAL</p>
        <p class="heading-2 t-blue">{{ order.subtotal.value | number: '1.2-2' }} {{ order.currency.value }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div tour-intercom-order="step_3" class="col-md-6 info">
      <p class="heading-3">SIGNED BY</p>
      <div formGroupName="sign_by">
        <div class="form-row">
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('sign_by', 'first_name')">
            <label for="first_name">First Name *</label>
            <input
              type="text"
              class="form-control"
              id="first_name"
              placeholder="Type first name here..."
              formControlName="first_name"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('sign_by', 'first_name')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('sign_by', 'last_name')">
            <label for="last_name">Last Name *</label>
            <input
              type="text"
              class="form-control"
              id="last_name"
              placeholder="Type last name here..."
              formControlName="last_name"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('sign_by', 'last_name')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('sign_by', 'company_name')">
            <label for="company_name">Company Name *</label>
            <input
              type="text"
              class="form-control"
              id="company_name"
              placeholder="Type company name here..."
              formControlName="company_name"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('sign_by', 'company_name')">This field is required</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div formGroupName="sign_by" class="form-group col-md-6">
          <div [ngClass]="showFieldStyleNested('sign_by', 'date')">
            <label for="PO_valid_date">Purchase Order is Valid until *</label>
            <div class="input-group">
              <input
                id="PO_valid_date"
                class="form-control"
                placeholder="dd/mm/yyyy"
                name="ddpp"
                ngbDatepicker
                #dp1="ngbDatepicker"
                [(ngModel)]="validBy"
                (ngModelChange)="dateUpdate('date', validBy, 'sign_by')"
                [ngModelOptions]="{ standalone: true }"
              />
              <div class="input-group-append">
                <button class="btn glyphicon glyphicon-calendar" (click)="dp1.toggle()" type="button"></button>
              </div>
            </div>
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('sign_by', 'date')">This field is required</p>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6" [ngClass]="showFieldStyle('date_created')">
          <label for="PO_date_created">Date of issue *</label>
          <div class="input-group">
            <input
              id="PO_date_created"
              class="form-control"
              placeholder="dd/mm/yyyy"
              name="ddpp2"
              ngbDatepicker
              #dp2="ngbDatepicker"
              [(ngModel)]="issuedOn"
              (ngModelChange)="dateUpdate('date_created', issuedOn)"
              [ngModelOptions]="{ standalone: true }"
            />
            <div class="input-group-append">
              <button class="btn glyphicon glyphicon-calendar" (click)="dp2.toggle()" type="button"></button>
            </div>
          </div>
          <div class="help-block">
            <p *ngIf="isFieldInvalid('date_created')">This field is required</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div tour-intercom-order="step_4" formGroupName="deliver_to" class="info">
        <p class="heading-3">DELIVER TO</p>
        <div class="form-row">
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('deliver_to', 'contact_name')">
            <label for="contact_name">Contact Name *</label>
            <input
              type="text"
              class="form-control"
              id="contact_name"
              placeholder="Type contact name here..."
              formControlName="contact_name"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'contact_name')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('deliver_to', 'address')">
            <label for="street_address">Street Address *</label>
            <input
              type="text"
              class="form-control"
              id="street_address"
              placeholder="Type street address here..."
              formControlName="address"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'address')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('deliver_to', 'city')">
            <label for="city">City *</label>
            <input type="text" class="form-control" id="city" placeholder="Type city here..." formControlName="city" />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'city')">This field is required</p>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="zip_code">Zip Code</label>
            <input
              type="text"
              class="form-control"
              id="zip_code"
              placeholder="Type zip code here..."
              formControlName="zip_code"
            />
          </div>
          <div class="form-group col-md-4" [ngClass]="showFieldStyleNested('deliver_to', 'phone')">
            <label for="phone">Phone *</label>
            <input
              type="tel"
              placeholder="Type phone number here..."
              class="form-control"
              id="phone"
              formControlName="phone"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'phone')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="expected_delivery">Expected Delivery Date</label>
            <div class="input-group">
              <input
                id="expected_delivery"
                class="form-control"
                placeholder="dd/mm/yyyyy"
                name="ddp"
                ngbDatepicker
                #dp3="ngbDatepicker"
                [(ngModel)]="deliveryOn"
                (ngModelChange)="dateUpdate('expected_delivery_date', deliveryOn, 'deliver_to')"
                [ngModelOptions]="{ standalone: true }"
              />
              <div class="input-group-append">
                <button
                  class="btn glyphicon glyphicon-calendar"
                  style="position:0;"
                  (click)="dp3.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-top margin-bottom-2 clearfix">
    <button
      class="bttn-primary pull-right next-step"
      [hidden]="!form.valid || products.length < 1 || !sellerData.formInput.valid"
    >
      Next Step &rarr;
    </button>
    <button
      class="bttn-primary pull-right"
      (click)="onSubmit(form)"
      (click)="sellerData.onSubmit(sellerData.formInput)"
      (click)="this.productsPristine = false"
      [hidden]="form.valid && products.length > 0 && sellerData.formInput.valid"
    >
      Next Step &rarr;
    </button>
    <button
      #submitButton
      tour-intercom-order="step_5"
      class="btn-primary-transp pull-right btn-draft"
      (click)="draftOrder()"
    >
      Save Draft
    </button>
  </div>
</form>
