@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "../../../assets/sass/abstracts/variables";
@import "../../../assets/sass/base/animations";

.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

h5 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(209, 209, 209);
  line-height: 0.1em;
  margin: 3rem 0 2.5rem;
}

h5 span {
  background: #fff;
  padding: 0 2rem;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}

.login-wrapper {
  padding-top: 18vh !important;
  min-height: calc(100vh - 70px);
}

.full-page-background {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-image: url("../../../assets/img/rsz_login_background_2.png");
}

.form-check {
  padding-left: 5px;

  span {
    padding-left: 18px;
  }
}

.d-block:not(:nth-child(2)) {
  margin-bottom: 1.5rem;
}

.navbar > .container {
  display: block !important;
}

.navbar > .container > .navbar-header > a {
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
}

.navbar.navbar-primary {
  padding: 1rem 0;
  margin-bottom: -71px;
}

footer {
  display: block;
  width: 100%;

  a,
  .copyright,
  a:hover {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
  }
}

footer ul {
  list-style: none;
}

.btn-link {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.login-wrapper .card {
  animation: slide-in 0.5s;
  transition: all 0.3s linear;
}

.card-title {
  margin-bottom: 1.8rem;
}

.form-group {
  margin-bottom: 1.8rem;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 1.5rem;
}

.help-note {
  background: #37c1ce13;
  padding: 1rem 1.5rem;
  display: flex;
  p {
    margin-top: 0px;
    font-size: 1.3rem !important;
  }

  i {
    color: #37c1ce;
    margin-right: 5px;
  }
}
