<div class="login-container full-page-background">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/#/dashboard">Avenews-GT</a></div>
    </div>
  </nav>
  <div class="login-box">
    <div class="container login-wrapper">
      <div class="card col-md-6 col-md-offset-3">
        <div class="card-body" [hidden]="resetLinkStatus != 0">
          <a [routerLink]="['/login']" class="icon-text">
            <i class="material-icons padding-none c-p">keyboard_backspace</i>
            <span class="t-bold t-blue"> Back to login</span>
          </a>

          <div class="mt-4">
            <form [formGroup]="forgotPasswordForm">
              <p class="heading-2">Forgot Password</p>
              <p class="t-light-gray mb-3">
                Enter the email address or the phone number of the account you would like to reset its password, and
                we'll send you a temporary password. Please don't forget to update the password through your profile on
                the platform.
              </p>
              <div class="form-group">
                <label class="d-block">Email Address</label>
                <input type="text" class="form-control" formControlName="email" />
              </div>
              <h5><span>OR</span></h5>
              <div class="form-group">
                <label class="d-block">Phone Number</label>
                <div class="input-group-prepend">
                  <select
                    data-width="70px"
                    id="region_code"
                    data-live-search="true"
                    class="selectpicker"
                    data-size="7"
                    [(ngModel)]="regionCode"
                    (change)="changeRegionCode()"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option
                      *ngFor="let country of countries"
                      [value]="country.value"
                      [attr.data-content]="generateLink(country.value, country.viewValue)"
                    ></option>
                  </select>
                  <input
                    type="tel"
                    class="form-control"
                    [(ngModel)]="partialPhoneNumber"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="changeRegionCode()"
                  />
                </div>
              </div>
              <button
                [disabled]="!forgotPasswordForm.valid"
                class="btn btn-primary w-100 mt-3"
                type="submit"
                (click)="recoverPassword()"
              >
                <span translate>Send me a reset link</span>
              </button>
            </form>
          </div>
        </div>
        <div class="card-body" [hidden]="resetLinkStatus != 1">
          <a [routerLink]="['/login']" class="icon-text">
            <i class="material-icons padding-none c-p">keyboard_backspace</i>
            <span class="t-bold t-blue"> Back to login</span>
          </a>
          <div class="circle-indicator circle-success mt-5">
            <i class="material-icons">check</i>
          </div>
          <div class="mb-4">
            <p class="mb-0 mt-5">We've sent your temporary new password to the following contact:</p>
            <p class="heading-2">{{ username }}</p>
            <p class="mb-0 mt-5">Don't forget to change it from your profile!</p>
          </div>
        </div>

        <div class="card-body" [hidden]="resetLinkStatus != 2">
          <a [routerLink]="['/login']" class="icon-text">
            <i class="material-icons padding-none c-p">keyboard_backspace</i>
            <span class="t-bold t-blue"> Back to login</span>
          </a>
          <div class="circle-indicator circle-fail mt-5">
            <i class="material-icons">clear</i>
          </div>
          <div class="mb-4">
            <p class="mb-0 mt-5" *ngIf="forgotPasswordForm.value.email != ''">
              We couldn't find the following email address in our database:
            </p>
            <p class="mb-0 mt-5" *ngIf="forgotPasswordForm.value.phone != ''">
              We couldn't find the following phone number in our database:
            </p>
            <p class="heading-2">{{ username }}</p>
          </div>
          <button class="btn-primary w-100" (click)="resetLinkStatus = 0">Try Again</button>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li><button class="btn-link">PRIVACY POLICY</button></li>
          </ul>
        </nav>
        <p class="copyright pull-right">&copy; <a href="https://www.avenews-gt.com" target="_blank">Avenews-GT</a></p>
      </div>
    </footer>
  </div>
</div>
