<form [formGroup]="form">
  <div class="row">
    <div class="col-md-6">
      <div class="info">
        <p class="heading-3">ISSUED BY</p>
        <app-user-data [user]="issuer" [issued_by]="true"></app-user-data>
      </div>
    </div>
    <div class="col-md-6">
      <div class="info">
        <p class="heading-3">ISSUED FOR</p>
        <app-user-data [user]="buyer" [issued_for]="true"></app-user-data>
      </div>
    </div>
  </div>

  <div tour-intercom-PI-generator="step_1" class="card">
    <div class="row">
      <div class="col-md-4">
        <p class="heading-3">Purchase Order Number</p>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" name="PONumber" formControlName="personal_po_id" class="form-control" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-invoice-product-list
        [products]="products"
        [currency]="invoice.currency.value"
        (deleteProductEvent)="deleteProduct($event)"
        (updateProductEvent)="updateProduct($event)"
      ></app-invoice-product-list>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="dropdown">
        <button
          tour-intercom-PI-generator="step_2"
          class="bttn-primary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
        >
          Add New Product
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="openDialogInventory()">From Inventory</a></li>
          <li><a (click)="openDialogAgricultural(undefined, 'invoice')">New Agricultural Product</a></li>
          <li><a (click)="openDialogProcessed(undefined, 'invoice')">New Processed Product</a></li>
          <li><a (click)="openDialogInput(undefined, 'invoice')">New Input Product</a></li>
        </ul>
      </div>
      <!-- <button class="btn-primary-transp">
        <i class="material-icons rotate">attach_file</i> <span>Upload Document</span>
      </button> -->
    </div>
  </div>
  <div class="alert alert-danger" role="alert" [hidden]="products.length != 0 || productsValid">
    Please choose product!
  </div>
  <div class="row">
    <div tour-intercom-PI-generator="step_3" class="col-md-4">
      <div class="comments">
        <label for="payment_comments">Comments or special instructions for payment</label>
        <textarea
          rows="4"
          id="payment_comments"
          placeholder="Type comments here..."
          formControlName="payment_comments"
        ></textarea>
      </div>
    </div>
    <div tour-intercom-PI-generator="step_4" class="col-md-4">
      <div class="comments">
        <label for="po_comments">Comments or special instructions for Proforma Invoice</label>
        <textarea
          rows="4"
          id="po_comments"
          placeholder="Type comments here..."
          formControlName="order_comments"
        ></textarea>
      </div>
    </div>
    <div tour-intercom-PI-generator="step_5" class="col-md-4 price-box">
      <div class="total-table-wrapper">
        <table class="total-table">
          <tr>
            <td>Subtotal</td>
            <td>{{ invoice.subtotal.value | number: '1.2-2' }} {{ invoice.currency.value }}</td>
          </tr>
          <tr>
            <td>
              VAT % <input formControlName="vat_percentage" class="form-control" type="number" value="0" min="0" />
            </td>
            <td>{{ invoice.vat_amount.value | number: '1.2-2' }} {{ invoice.currency.value }}</td>
          </tr>
          <tr>
            <td>
              Discount %
              <input formControlName="discount_percentage" class="form-control" type="number" value="0" min="0" />
            </td>
            <td id="last-data-cell">
              {{ invoice.discount_amount.value | number: '1.2-2' }} {{ invoice.currency.value }}
            </td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{ invoice.total_due.value | number: '1.2-2' }} {{ invoice.currency.value }}</td>
          </tr>
        </table>
      </div>
      <div class="payment-wrapper" *ngIf="dpoEnabled">
        <div>
          <input
            type="checkbox"
            class="checkbox"
            id="payment-checkbox"
            #checkbox
            (change)="markPayableInvoice($event.target.checked)"
          /><label class="checkbox_label" for="payment-checkbox"><span class="form_checkbox_btn"></span></label>
        </div>
        <div>
          <span>Receive payment for this invoice</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div tour-intercom-PI-generator="step_6" class="col-md-6">
      <div class="info">
        <p class="heading-3">SIGNED BY</p>
        <div formGroupName="sign_by">
          <div class="form-row">
            <div class="form-group col-lg-4 col-md-6" [ngClass]="showFieldStyleNested('sign_by', 'first_name')">
              <label for="first_name">First Name *</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                placeholder="Type first name here..."
                formControlName="first_name"
              />
              <div class="help-block">
                <p *ngIf="isFieldInvalidNested('sign_by', 'first_name')">This field is required</p>
              </div>
            </div>
            <div class="form-group col-lg-4 col-md-6" [ngClass]="showFieldStyleNested('sign_by', 'last_name')">
              <label for="last_name">Last Name *</label>
              <input
                type="text"
                class="form-control"
                id="last_name"
                placeholder="Type last name here..."
                formControlName="last_name"
              />
              <div class="help-block">
                <p *ngIf="isFieldInvalidNested('sign_by', 'last_name')">This field is required</p>
              </div>
            </div>
            <div class="form-group col-lg-4 col-md-12" [ngClass]="showFieldStyleNested('sign_by', 'company_name')">
              <label for="company_name">Company Name</label>
              <input
                type="text"
                class="form-control"
                id="company_name"
                placeholder="Type company name here..."
                formControlName="company_name"
              />
              <div class="help-block">
                <p *ngIf="isFieldInvalidNested('sign_by', 'company_name')">This field is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div formGroupName="sign_by" class="form-group col-md-6">
            <div [ngClass]="showFieldStyleNested('sign_by', 'date')">
              <label for="SPI_valid_date">Proforma Invoice is Valid until *</label>
              <div class="input-group">
                <input
                  id="SPI_valid_date"
                  class="form-control"
                  placeholder="dd/mm/yyyy"
                  name="ddpp"
                  ngbDatepicker
                  #dp1="ngbDatepicker"
                  [(ngModel)]="validBy"
                  (ngModelChange)="dateUpdate('date', validBy, 'sign_by')"
                  [ngModelOptions]="{ standalone: true }"
                />
                <div class="input-group-append">
                  <button class="btn glyphicon glyphicon-calendar" (click)="dp1.toggle()" type="button"></button>
                </div>
              </div>
              <div class="help-block">
                <p *ngIf="isFieldInvalidNested('sign_by', 'date')">This field is required</p>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6" [ngClass]="showFieldStyle('date_created')">
            <label for="SPI_date_created">Date of issue *</label>
            <div class="input-group">
              <input
                id="SPI_date_created"
                class="form-control"
                placeholder="dd/mm/yyyy"
                ngbDatepicker
                #dp2="ngbDatepicker"
                [(ngModel)]="issuedOn"
                (ngModelChange)="dateUpdate('date_created', issuedOn)"
                [ngModelOptions]="{ standalone: true }"
              />
              <div class="input-group-append">
                <button class="btn glyphicon glyphicon-calendar" (click)="dp2.toggle()" type="button"></button>
              </div>
            </div>
            <div class="help-block">
              <p *ngIf="isFieldInvalid('date_created')">This field is required</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div tour-intercom-PI-generator="step_7" class="col-md-6">
      <div formGroupName="deliver_to" class="info">
        <p class="heading-3">DELIVER TO</p>
        <div class="form-row">
          <div class="form-group col-md-6 col-lg-4" [ngClass]="showFieldStyleNested('deliver_to', 'contact_name')">
            <label for="contact_name">Contact Name</label>
            <input
              type="text"
              class="form-control"
              id="contact_name"
              placeholder="Type contact name here..."
              formControlName="contact_name"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'contact_name')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-6 col-lg-4" [ngClass]="showFieldStyleNested('deliver_to', 'address')">
            <label for="street_address">Street Address</label>
            <input
              type="text"
              class="form-control"
              id="street_address"
              placeholder="Type street address here..."
              formControlName="address"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'address')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-12 col-lg-4" [ngClass]="showFieldStyleNested('deliver_to', 'city')">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Type city here..." formControlName="city" />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'city')">This field is required</p>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 col-lg-4" [ngClass]="showFieldStyleNested('deliver_to', 'zip_code')">
            <label for="zip_code">Zip Code</label>
            <input
              type="text"
              class="form-control"
              id="zip_code"
              placeholder="Type zip code here..."
              formControlName="zip_code"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'zip_code')">This field is required</p>
            </div>
          </div>
          <div class="form-group col-md-6 col-lg-4" [ngClass]="showFieldStyleNested('deliver_to', 'phone_number')">
            <label for="phone">Phone</label>
            <input
              type="tel"
              placeholder="Type phone number here..."
              class="form-control"
              id="phone"
              formControlName="phone_number"
            />
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'phone_number')">This field is required</p>
            </div>
          </div>
          <div
            class="form-group col-md-12 col-lg-4"
            [ngClass]="showFieldStyleNested('deliver_to', 'expected_delivery_date')"
          >
            <label for="expected_delivery">Expected Delivery Date</label>
            <div class="input-group">
              <input
                id="expected_delivery"
                class="form-control"
                placeholder="dd/mm/yyyy"
                name="ddp"
                ngbDatepicker
                #dp3="ngbDatepicker"
                [(ngModel)]="deliveryOn"
                (ngModelChange)="dateUpdate('expected_delivery_date', deliveryOn, 'deliver_to')"
                [ngModelOptions]="{ standalone: true }"
              />
              <div class="input-group-append">
                <button
                  class="btn glyphicon glyphicon-calendar"
                  style="position:0;"
                  (click)="dp3.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
            <div class="help-block">
              <p *ngIf="isFieldInvalidNested('deliver_to', 'expected_delivery_date')">This field is required</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-bottom-2 margin-top clearfix">
    <button
      tour-intercom-PI-generator="step_9"
      class="bttn-primary pull-right"
      (click)="onSubmit(form)"
      (click)="checkProducts()"
      [hidden]="form.valid && products.length >= 1"
    >
      Next Step &rarr;
    </button>
    <button
      class="bttn-primary pull-right next-step"
      (click)="toReview()"
      [hidden]="!form.valid || products.length < 1"
    >
      Next Step &rarr;
    </button>
    <button
      tour-intercom-PI-generator="step_8"
      #submitButton
      class="btn-primary-transp pull-right btn-draft"
      (click)="draftInvoice()"
    >
      Save Draft
    </button>
  </div>
</form>
