@import "../../../../assets/sass/abstracts/variables";

.info {
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 0px 2px 0.8rem rgba(0, 0, 0, 0.045);
  border-radius: 5px;
  margin-top: 1rem;

  .row div p:first-child {
    font-size: 1.2rem;
    color: #7b7b7b;
    font-weight: 600;
    margin-bottom: 3px;
  }

  .row div p:nth-child(2) {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .row:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.table-blue > thead > tr > th {
  border-bottom: 0;
}

.rotate {
  transform: rotate(45deg);
}
.comments {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem 3rem;
  box-shadow: 0px 2px 0.8rem rgba(0, 0, 0, 0.045);
  border-radius: 5px;

  label {
    font-size: 1.3rem;
  }
  textarea {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    resize: none;
    padding: 1rem;
    font-size: 1.3rem;
  }
}

.price-box {
  border: 1px dashed black;
  padding: 1.6rem 2.5rem;
  margin: 2.5rem 0px;
  margin-top: 2rem;
  width: 100%;
  min-height: 16.5rem;

  .total {
    display: flex;
    width: 100%;
    border-top: 1px solid #dddddd;

    p {
      font-size: 1.8rem;
    }

    p:last-child {
      margin-left: auto;
    }
  }

  .subtotals {
    margin-left: auto;
    p:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.price-wrapper {
  display: flex;

  div:first-child {
    width: 60%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  font-size: 1.35rem !important;
}

.info {
  label {
    font-size: 1.3rem;
  }
}

.bttn-primary {
  margin: 3rem 0px;
}

.btn-draft {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 1.5rem;
}

.stepUp {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #37ce95;
}

.stepDown {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: $red-color;
}

.card {
  width: 49%;
  margin-top: 3.5rem;
  padding: 1rem;

  .form-group {
    margin-bottom: 0;
    width: 97%;
  }
}

.new-product {
  border-radius: 4px;
}

input[type="number"] {
  font-size: 1.4rem;
}

.help-block {
  font-size: 1.4rem;
}

.dropdown {
  display: inline;
  .dropdown-menu {
    margin-top: 1.8rem;
    width: 96%;
    font-size: 1.3rem;
    cursor: pointer;

    li {
      padding-right: 10px;
      color: #666666;
      padding-top: 5px;
      border-left: 3px solid #37ce95;
      padding-bottom: 5px;
      a {
        padding-left: 15px;
      }
    }

    li:nth-child(2) {
      border-left: 3px solid #37c1ce;
    }

    li:not(:last-child) {
      border-bottom: 1px solid #f2f2f2;
    }
  }
}
