<form [formGroup]="form">
  <div class="panel panel-tab">
    <div class="panel-body">
      <div class="panel-header">
        <div><p>My Suppliers</p></div>
        <div class="pull-right" *ngIf="clients.length >= 1">
          <button class="bttn-primary" [hidden]="hasSeller" (click)="validateSeller()">
            Next Step &rarr;
          </button>
          <button class="bttn-primary next-step" [hidden]="!hasSeller" (click)="validateSeller()">
            Next Step &rarr;
          </button>
          <input
            type="text"
            id="searchBar"
            class="search-bar"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="searchTerm"
            type="text"
            placeholder="Search contacts..."
          />
        </div>
      </div>
      <div class="padding-all-2" *ngIf="clients.length >= 1">
        <div class="alert alert-danger" role="alert" [hidden]="hasSeller || !nextBtnClicked">
          Please choose a client!
        </div>
        <button class="btn-icons pull-right" (click)="onNextPage(clients.length, 6)">
          <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <button class="btn-icons pull-right" (click)="onBackPage()">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <div class="row margin-top clearfix">
          <div
            class="card supplier-card"
            *ngFor="let client of (clients | filter: searchTerm | paginate: { itemsPerPage: 12, currentPage: page })"
          >
            <div>
              <input
                type="radio"
                name="client_radio"
                class="form_radio"
                id="{{ client.numericId }}"
                (change)="resetForm(client)"
              />
              <label for="{{ client.numericId }}" class="form_radio_label">
                <span class="form_radio_btn"></span>
              </label>
              <p class="pull-right">#{{ client.numericId }}</p>
            </div>
            <div>
              <figure
                class="img-circular img-circular-md"
                [style.background-image]="'url(' + profilePicture(client) + ')'"
              ></figure>
            </div>
            <div>
              <p class="heading-3">{{ client.first_name }} {{ client.last_name }}</p>
              <p>{{ client.company_name }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="add-supplier-box" *ngIf="clients.length == 0">
        <img src="../../../../assets/img/default/pi-po/noClient.png" width="285" height="183" />
        <p>You have no sellers yet! Please go to the contacts page to add your first seller contact.</p>
        <button class="bttn-primary" [routerLink]="['/client']">
          Go to Contacts
        </button>
      </div>
    </div>
  </div>
</form>
