<div>
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="d-flex">
          <div class="card-horizontal d-flex">
            <div class="ellipse-container d-flex">
              <div class="ellipse">
                <p>RK</p>
              </div>
            </div>
            <div class="info-left d-flex">
              <div class="vertical-flex">
                <p class="name">Riham Kharoub</p>
                <p class="faded">Organization Name</p>
                <a id="edit">Edit</a>
              </div>
            </div>
          </div>
          <div class="flex-right">
            <div class="vertical-flex social-media-wrapper">
              <p class="card-text social-media">
                Rihamkh.114@gmail.com
                <i data-feather="at-sign"></i>
              </p>
              <p class="card-text social-media phone">
                +972541911821
                <i data-feather="phone"></i>
              </p>
              <p class="card-text social-media">
                Address, Location, Region, Country
                <i data-feather="map-pin"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
