<div>
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="d-flex">
          <div class="card-horizontal d-flex">
            <div class="ellipse-container d-flex">
              <div class="ellipse">
                <p>{{ contact?.fullName | slice: 0:1 }}{{ secondLetter }}</p>
              </div>
            </div>
            <div class="info-left d-flex">
              <div class="vertical-flex">
                <p class="name">{{ contact?.fullName }}</p>
                <p class="faded">{{ contact?.businessName }}</p>
                <a (click)="editContact()" data-toggle="wizard" class="click" data-target="#addContactWizard" id="edit"
                  >Edit</a
                >
              </div>
            </div>
          </div>
          <div class="flex-right">
            <div class="vertical-flex social-media-wrapper">
              <p class="card-text social-media">
                {{ contact?.email || 'none' }}
                <i data-feather="at-sign"></i>
              </p>
              <p class="card-text social-media phone">
                {{ contact?.phoneNumber || 'none' }}
                <i data-feather="phone"></i>
              </p>
              <p class="card-text social-media">
                {{ contact?.address }}, {{ contact?.city }}, {{ contact?.stateProvinceRegion }}, {{ contact?.country }}
                <i data-feather="map-pin"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contact-generator [contact]="tempContact" [isEdit]="edit"></app-contact-generator>
