<div class="panel panel-todo">
  <div class="panel-body">
    <div class="panel-header"><p>To-do</p></div>
    <ul>
      <li class="todo-item">
        <div class="col-md-2 todo-date">
          <p>05</p>
          <p>Tue</p>
        </div>
        <div class="col-md-10 todo-details">
          <p class="normal-text-bold">Proforma Invoice Received</p>
          <p>Review it and maybe generate a PO</p>
          <button class="btn-round-small">&rarr;</button>
        </div>
      </li>
      <li class="todo-item">
        <div class="col-md-2 todo-date">
          <p>05</p>
          <p>Tue</p>
        </div>
        <div class="col-md-10 todo-details">
          <p class="normal-text-bold">Proforma Invoice Received</p>
          <p>Review it and maybe generate a PO</p>
          <button class="btn-round-small">&rarr;</button>
        </div>
      </li>
      <li class="todo-item">
        <div class="col-md-2 todo-date">
          <p>05</p>
          <p>Tue</p>
        </div>
        <div class="col-md-10 todo-details">
          <p class="normal-text-bold">Proforma Invoice Received</p>
          <p>Review it and maybe generate a PO</p>
          <button class="btn-round-small">&rarr;</button>
        </div>
      </li>
    </ul>
  </div>
</div>