<div class="stepper-wrapper">
  <div class="stepper">
    <ul class="nav nav-tabs">
      <li class="completed active">
        <a data-toggle="tab" class="label" href="#quoteRequest"><span class="round-tab">1</span>Quote request received</a>
      </li>
      <li [ngClass]="{'completed':piGenerated,'disabled': !piGenerated}">
        <a data-toggle="tab" class="label" href="#proformaInvoice">
          <span class="round-tab">2</span>
          <span *ngIf="piGenerated">Proforma Invoice sent</span>
          <span *ngIf="!piGenerated">Generate proforma invoice</span>
        </a>
      </li>
      <li [ngClass]="{'completed': poGenerated,'disabled': !poGenerated}">
        <a data-toggle="tab" class="label" href="#purchaseOrder">
          <span class="round-tab">3</span>
          <span *ngIf="poGenerated">Purchase order received</span>
          <span *ngIf="!poGenerated">Waiting purchase order</span>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="quoteRequest">
        <div class="panel panel-tab">
          <div class="panel-body">
            <div class="padding-all-2">
              <app-transaction-quote-request [quoteRequest]="quoteRequest" [transaction]="transaction"></app-transaction-quote-request>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="proformaInvoice">
        <app-transaction-proforma-invoice-seller
          [quoteRequest]="quoteRequest"
          [transaction]="transaction"
        ></app-transaction-proforma-invoice-seller>
      </div>
      <div class="tab-pane" id="purchaseOrder">
        <div class="panel panel-tab">
          <div class="panel-body">
            <div class="padding-all-2">
              <app-transaction-po
                [quoteRequest]="quoteRequest"
                [transaction]="transaction"
              ></app-transaction-po>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  