<div class="row margin-bottom">
  <div class="col-md-9">
    <p class="heading-2">BUYER</p>
    <p class="heading-4">Avenews-gt</p>
    <p class="heading-4">Ishai Ben Or</p>
    <p class="heading-4">Ahad Ha'am 54</p>
  </div>
  <div class="col-md-3">
    <p class="heading-2">SELLER</p>
    <p class="heading-4">Avenews-gt</p>
    <p class="heading-4">Ishai Ben Or</p>
    <p class="heading-4">Ahad Ha'am 54</p>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <p class="heading-2">Product Details</p>
    <table class="table table-striped margin-bottom-2">
      <thead>
        <tr>
          <th>Produce</th>
          <th>Variety</th>
          <th>Tolerance</th>
          <th>SKU</th>
          <th>Product Specifications</th>
          <th>Approvals & Certifications</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Green Coffee</td>
          <td>Kona</td>
          <td>none</td>
          <td>5345345111</td>
          <td>Type: Fully-Washed Grade</td>
          <td>none</td>
        </tr>
      </tbody>
    </table>
    <p class="heading-2">Packing Details</p>
    <p class="heading-4-blue">Package Details</p>
    <table class="table table-striped margin-bottom">
      <thead>
        <tr>
        <th>Type of package</th>
        <th>Packaged product weight</th>
        <th>Weight unit</th>
        <th>Qunatity</th>
        <th>Total Weight</th>
      </tr>
      </thead>
      <tbody>
        <tr class="table-light">
          <td>Bag</td>
          <td>45</td>
          <td>kg</td>
          <td>450</td>
          <td>20250</td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-lg-8">
        <p class="heading-4-blue">Container Details</p>
        <p class="heading-4">Type: ft.1</p>
        <p class="heading-4 margin-bottom">Quantity: 1</p>

        <p class="heading-2 margin-top">Shipping Details</p>
        <div class="row margin-bottom-2">
          <div class="col-md-3">
            <p>From</p>
            <p>GPS Coordinates</p>
            <p>To</p>
            <p>GPS Coordinates</p>
            <p>Incoterms</p>
          </div>
          <div class="col-md-9">
            <p>Kenya, Nairobi</p>
            <p>[-34.8215904] [150.60216809999997]</p>
            <p>Israel, Tel-Aviv Jaffa, Ahad Ha'am 54</p>
            <p>[-34.8215904] [150.60216809999997]</p>
            <p>None</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="invoice-right-side">
          <p class="heading-big">PRICING</p>
          <div class="pricing">
            <div>
              <p class="heading-2 ">Price per kg</p>
              <p class="heading-2">Currency</p>
              <p class="heading-2">Total weight</p>
            </div>
            <div>
              <p class="heading-4-blue">10</p>
              <p class="heading-4-blue">USD</p>
              <p class="heading-4-blue">4353</p>
            </div>
            <div>
              <p class="heading-2">TOTAL</p>
              <p class="heading-4-blue">5000 USD</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="completedPO == false" class="col-md-3 padding-all" style="background-color: rgba(250, 250, 250, 0.933)">
    <div class="form-group">
      <label for="payment-terms" class="heading-2">Payment Terms</label>
      <textarea class="form-control" id="payment-terms" rows="2"></textarea>
    </div>
    <div class="form-group">
      <label for="po-terms" class="heading-2">Purchase Order Terms & Conditions</label>
      <textarea class="form-control" id="po-terms" rows="2"></textarea>
    </div>
    <p class="heading-2">Purchase Order is Valid by</p>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="mm/dd/yyyy" aria-describedby="basic-addon2" />
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="col-md-3" *ngIf="completedPO">
    <p class="heading-2">Payment Terms</p>
    <p>60 days</p>
    <p class="heading-2">Purchase Order Terms & Conditions</p>
    <p>lurem ipsom</p>
    <p class="heading-2">Purchase Order is Valid by</p>
    <p>22/04/2019</p>
    <div class="col-md-6 pull-right margin-bottom">
      <button class="btn-block bttn-primary next-step">Send</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="border-top">
      <div class="row">
        <div class="col-md-5">
          <p class="heading-2">ACCEPTED FOR BUYER</p>
          <p>Ishai Ben Or</p>
          <p>CIPO</p>
          <p>17/10/2018</p>
        </div>
        <div class="col-md-6">
          <p class="heading-2">ACCEPTED FOR SELLER</p>
          <p>Tony Stark</p>
          <p>CEO</p>
          <p>17/10/2018</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="border-top">
      <p class="heading-2">Additional Details</p>
      <div class="row">
        <div class="col-md-3">
          <p>Expected receiving date</p>
          <p>Quote request remarks</p>
          <p>Quote request valid until</p>
        </div>
        <div class="col-md-3">
          <p>28/10/2018</p>
          <p>No</p>
          <p>7/10/2018</p>
        </div>
        <div class="col-md-3">
          <p>Expected dalivery date</p>
          <p>Proforma invoice remarks</p>
          <p>Proforma invoice valid until</p>
        </div>
        <div class="col-md-3">
          <p>28/10/2018</p>
          <p>No</p>
          <p>7/10/2018</p>
        </div>
      </div>
    </div>
  </div>
</div>
<button *ngIf="completedPO == false" class="pull-right bttn-primary next-step" (click)="completed()">Next &rarr;</button>
