<div class="helper-panel clearfix">
  <i class="material-icons pull-left">info</i>
  <div class="d-flex flex-column">
    <div>
      <p class="info">
        Add new contacts to your network, centrally manage your existing contacts, and review the transactions you have
        with them.
      </p>
    </div>
    <div>
      <p class="info bold">
        Would you like our help with adding your contacts?
        <span class="brighter"
          ><a class="link click contact-help-link" id="contact-help-text"> Click here</a> to send us a request.</span
        >
      </p>
    </div>
  </div>
</div>
<div class="actions-section clearfix" *ngIf="hasContacts">
  <h1 class="main-title align-self-center">Contact List</h1>
  <div class="flex-pr">
    <button (click)="addContact()" class="bttn-primary bttn-add" data-toggle="wizard" data-target="#addContactWizard">
      <span class="btn-desktop-txt">New Contact</span>
      <span class="btn-mobile-txt">Add</span>
    </button>
  </div>
</div>
<div class="actions-section clearfix" *ngIf="hasContacts">
  <div class="searchbar d-flex">
    <input [(ngModel)]="searchTerm" placeholder="Search contacts" class="search-bar m-0" type="search" />
    <span class=""></span>
  </div>
</div>

<table class="table main-table" matSort (matSortChange)="sortData($event)" *ngIf="hasContacts">
  <thead>
    <tr id="table-head">
      <th mat-sort-header="id">#</th>
      <th mat-sort-header="name" class="text-center">Name</th>
      <th mat-sort-header="contact" class="text-center">Contact</th>
      <th mat-sort-header="country" class="text-center">Country</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let contact of contacts
          | filter: searchTerm
          | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };
        let i = index
      "
    >
      <td>1</td>
      <td>
        Some Name
      </td>
      <td>
        <span *ngIf="contact.email && contact.phoneNumber">{{ contact.email }} / {{ contact.phoneNumber }}</span>
        <span *ngIf="contact.email && !contact.phoneNumber">{{ contact.email }}</span>
        <span *ngIf="!contact.email && contact.phoneNumber">{{ contact.phoneNumber }}</span>
      </td>
      <td>
        {{ contact.country }}
        <span *ngIf="!contact.country">N/A</span>
      </td>
      <td>
        <a id="view">View</a>
        <a (click)="editContact(contact)" data-toggle="wizard" data-target="#addContactWizard" id="edit">Edit</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="strip mt-5" *ngIf="!hasContacts">
  <div class="add-supplier-box">
    <img src="../../../assets/img/default/pi-po/noClient.png" width="340" />
    <p>Add your first contact and begin trading.</p>
    <button
      (click)="addContact()"
      class="bttn-primary bttn-add"
      data-toggle="wizard"
      data-target="#addContactWizard"
      matTooltip="{{ tooltips.add_contact }}"
      matTooltipPosition="below"
    >
      <span>Add your first contact</span>
    </button>
  </div>
</div>

<div class="mobile-list-wrapper">
  <div
    class="strip mt-4 mb-3"
    *ngFor="
      let contact of contacts | filter: searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };
      let i = index
    "
  >
    <div>#1</div>

    <div>
      <span *ngIf="contact.email && contact.phoneNumber">{{ contact.email }} / {{ contact.phoneNumber }}</span>
      <span *ngIf="contact.email && !contact.phoneNumber">{{ contact.email }}</span>
      <span *ngIf="!contact.email && contact.phoneNumber">{{ contact.phoneNumber }}</span>
    </div>
    <div>
      <div>
        {{ contact.country }}
        <span *ngIf="!contact.country">N/A</span>
      </div>
    </div>
    <div class="mt-3">
      <a id="view">View</a>
      <a (click)="editContact(contact)" class="ml-4" data-toggle="wizard" data-target="#addContactWizard" id="edit"
        >Edit</a
      >
    </div>
  </div>
</div>

<pagination-controls (pageChange)="pageChanged($event)" *ngIf="hasContacts"></pagination-controls>

<app-contact-generator [contact]="contact" [isEdit]="edit"></app-contact-generator>
<app-contact-tutorials></app-contact-tutorials>
