<h1 class="main-title btn-main" (click)="back()"><a class="material-icons">keyboard_backspace</a> Quote Requests</h1>

<div class="col-md-12">
  <div class="panel">
    <div class="panel-body">
      <div class="info info-top">
        <div class="status status-blue pull-right">
          Quote Request Sent
        </div>
        <div>
          <p class="heading-2">Quote Request #321</p>
          <div class="timing-section">
            <span><i class="material-icons">calendar_today</i><span class="time-text">Issued on 06/05/2019</span></span>
            <span><i class="material-icons timer">timer</i><span class="time-text">Due to 06/06/2019</span></span>
          </div>
        </div>
      </div>
      <div class="info">
        <span class="pull-right"
          ><span class="heading-4">Best Offer </span><span class="heading-2"> 100,000 KES</span></span
        >
        <span class="heading-2">5</span><span class="heading-4"> Quotes Received</span>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="two-btns">
    <button (click)="viewAs('quoteRequest')" [class.active]="viewQuoteRequest">
      Quote Request Details
    </button>
    <button (click)="viewAs('quotations')" [class.active]="viewQuotations">
      Quotations Received
    </button>
  </div>
</div>

<div class="col-md-12 mt-4">
  <app-quotations-list *ngIf="viewQuotations"></app-quotations-list>
  <app-quote-request *ngIf="viewQuoteRequest"></app-quote-request>
</div>
