<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Who are the directors and shareholders/partners of the business?</p>
  </div>

  <form [formGroup]="loan_form" class="col">
    <div formGroupName="businessDirectorsDetails" #businessDirectorsDetails>
      <div class="step-content">
        <div class="container">
          <div class="form-row">
            <div class="form-group col-md-6 pr-3">
              <label for="full-name">Full name</label>
              <input type="text" id="full-name" class="form-control" formControlName="fullName" />
            </div>
            <div class="form-group col-md-6 pl-3">
              <label for="id">ID number</label>
              <div class="input-group">
                <input type="text" id="id" class="form-control" formControlName="idNumber" />
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6 pr-3">
              <label for="checkbox">Role</label>
              <div class="form-check form-check-inline col-12">
                <div *ngIf="loan.qualification.businessType === 'limited company'" class="col-md-4">
                  <input
                    [checked]="false"
                    (change)="onCheck($event)"
                    value="director"
                    type="checkbox"
                    class="form-check-input checkbox"
                    name="role"
                    id="checkbox_director"
                  /><label class="checkbox_label" for="checkbox_director"
                    ><span class="form_checkbox_btn"></span
                  ></label>
                  <label for="checkbox_director" style="font-weight:400;">Director</label>
                </div>
                <div class="col-md-4">
                  <input
                    [checked]="false"
                    (change)="onCheck($event)"
                    value="partner"
                    type="checkbox"
                    class="form-check-input checkbox"
                    name="role"
                    id="checkbox_partner"
                  /><label class="checkbox_label" for="checkbox_partner"><span class="form_checkbox_btn"></span></label>
                  <label for="checkbox_partner" style="font-weight:400;">Partner</label>
                </div>
                <div class="col-md-4 pr-0">
                  <input
                    [checked]="false"
                    (change)="onCheck($event)"
                    value="shareholder"
                    type="checkbox"
                    class="form-check-input checkbox"
                    name="role"
                    id="checkbox_shareholder"
                  /><label class="checkbox_label" for="checkbox_shareholder"
                    ><span class="form_checkbox_btn"></span
                  ></label>
                  <label for="checkbox_shareholder" style="font-weight:400;">Shareholder</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 pl-3">
              <label for="PIN2">PIN Number</label>
              <div class="input-group">
                <input type="text" id="PIN2" class="form-control" formControlName="pinNumber" />
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6 pr-3">
              <label for="shareholding">Shareholding %</label>
              <div class="input-group">
                <input type="text" id="shareholding" class="form-control" formControlName="shareholding" />
                <span class="form-control-feedback" id="basic-addon1"
                  ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
                >
              </div>
            </div>
            <div *ngIf="loan.qualification.businessType === 'limited company'" class="form-group col-md-6 pl-3">
              <label for="vat">Is he/she a loan guarantor?</label>
              <div class="form-check form-check-inline col-12">
                <div class="col-md-5 pl-0 radio-item">
                  <input
                    type="radio"
                    class="form-check-input form_radio_input"
                    name="loanGuarantor"
                    id="yes_guarantor"
                    [value]="true"
                    formControlName="loanGuarantor"
                  />
                  <label for="yes_guarantor" style="vertical-align: top;">Yes</label>
                </div>
                <div class="col-md-5 pl-0 radio-item">
                  <input
                    type="radio"
                    class="form-check-input form_radio_input"
                    name="loanGuarantor"
                    id="no_guarantor"
                    [value]="false"
                    formControlName="loanGuarantor"
                  />
                  <label for="no_guarantor" style="vertical-align: top;">No</label>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="loan.qualification.businessType === 'limited company'" class="form-row">
            <div class="form-group col-md-6 pr-3">
              <label for="postal-adress">Postal address</label>
              <input type="text" id="postal-address" class="form-control" formControlName="postalAddress" />
            </div>
            <div class="form-group col-md-6 pl-3">
              <label for="PC">Postal code</label>
              <input type="text" id="PC" class="form-control" formControlName="postalCode" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- <div class="add-bank-wrapper">
    <button class="btn-circle blue large"><i class="material-icons">add</i></button>
    <p>Add another</p>
  </div> -->
</div>
