<div class="modal-box" id="ordersTutorials" *ngIf="!agribusinessUser && userPerms['create-pi']">
  <button class="bttn-icon right" (click)="nextSlide()" [hidden]="currentSlide == numberOfSlides">
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
  <button class="bttn-icon left" (click)="prevSlide()" [hidden]="currentSlide == 1">
    <i class="material-icons">keyboard_arrow_left </i>
  </button>
  <button
    class="bttn-icon right"
    (click)="onClose()"
    [hidden]="currentSlide != numberOfSlides"
    data-dismiss="modal"
    #closeModal
  >
    <i class="material-icons">check</i>
  </button>
  <div id="slide-1" [hidden]="currentSlide != 1" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/orders-seller.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>Welcome to Orders!</h1>
        <p>
          The Orders feature is where you can receive purchase orders from your buyers, reply to them with customized
          proforma invoices, upload your own necessary documents, and manage the entire trade process in one place. Once
          a purchase order has been received, you will be notified and then all you need to do is reply with a proforma
          invoice.
        </p>
      </div>
    </div>
  </div>
  <div id="slide-2" [hidden]="currentSlide != 2" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/purchase-order.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>Receive a purchase order and reply with a proforma invoice</h1>
        <p>The order process is composed of 3 main steps:</p>
        <ul class="tutorial-list">
          <li>Receive a purchase order from your buyer.</li>
          <li>Reply with your own customized proforma invoice.</li>
          <li>Review the proforma invoice and send it directly to your buyer.</li>
        </ul>
        <p>At the end of each step, click on the <strong>Next</strong> button to proceed.</p>
      </div>
    </div>
  </div>
  <div id="slide-3" [hidden]="currentSlide != 3" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/orders-next-seller.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>What's next?</h1>
        <p>
          In order to review the proforma invoice you’ve generated and the purchase order generated by the buyer, simply
          click on the View button in the relevant row and it will lead you to the issued trade documents which you can
          also download as PDF.
        </p>
      </div>
    </div>
  </div>
  <div id="slide-4" [hidden]="currentSlide != 4" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/orders-docs.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>One last thing - Necessary Documents</h1>
        <p>
          The necessary documents section is where you can upload external documents necessary for the trade. Every
          document you upload will be automatically shared with your client.
        </p>
      </div>
    </div>
  </div>
  <div class="nav-circles">
    <div class="active" id="1"></div>
    <div id="2"></div>
    <div id="3"></div>
    <div id="4"></div>
  </div>
</div>

<div class="modal-box" id="ordersTutorials" *ngIf="userPerms['create-order']">
  <button class="bttn-icon right" (click)="nextSlide()" [hidden]="currentSlide == numberOfSlides">
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
  <button class="bttn-icon left" (click)="prevSlide()" [hidden]="currentSlide == 1">
    <i class="material-icons">keyboard_arrow_left </i>
  </button>
  <button
    class="bttn-icon right"
    (click)="onClose()"
    [hidden]="currentSlide != numberOfSlides"
    data-dismiss="modal"
    #closeModal
  >
    <i class="material-icons">check</i>
  </button>
  <div id="slide-1" [hidden]="currentSlide != 1" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/orders-buyer.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>Welcome to Orders!</h1>
        <p>
          The Orders feature is where you can create and distribute purchase orders to your sellers, review their
          proforma invoices, upload your own necessary documents, and manage the entire trade process in one place. To
          start a new transaction, simply start by clicking on the Place Order button.
        </p>
      </div>
    </div>
  </div>
  <div id="slide-2" [hidden]="currentSlide != 2" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part" style="height: 45%;">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/order-generator.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part" style="height: 55%;">
        <h1>New order</h1>
        <p>Orders is composed of 4 simple steps:</p>
        <ul class="tutorial-list">
          <li>Pick a seller from your client list.</li>
          <li>Choose products from your seller's inventory or add new products in the next step.</li>
          <li>
            Customize the purchase order by adding your contact details, product specifications, terms & conditions and
            more.
          </li>
          <li>Review the purchase order and send it directly to your seller.</li>
        </ul>
        <p>At the end of each step, click on the <strong>Next</strong> button to proceed.</p>
      </div>
    </div>
  </div>
  <div id="slide-3" [hidden]="currentSlide != 3" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/orders-next-buyer.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>What's next?</h1>
        <p>
          When you generate a purchase order, the seller will receive it, review it, and generate a proforma invoice
          that will be sent back to you. In order to review the purchase order you’ve generated and the proforma invoice
          generated by the seller, simply click on the View button in the relevant row and it will lead you to the
          issued trade documents which you can also download as PDF.
        </p>
      </div>
    </div>
  </div>
  <div id="slide-4" [hidden]="currentSlide != 4" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/orders-docs.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>One last thing - Necessary Documents</h1>
        <p>
          The necessary documents section is where you can upload external documents necessary for the trade and share
          them with your seller. Every document you upload will be automatically shared with your client.
        </p>
      </div>
    </div>
  </div>
  <div class="nav-circles">
    <div class="active" id="1"></div>
    <div id="2"></div>
    <div id="3"></div>
    <div id="4"></div>
  </div>
</div>
