<figure class="img-circular img-circular-lg" [ngStyle]="{ 'background-image': 'url(' + picture + ')' }">
  <div class="loading-block" *ngIf="loaderVisible">
    <div class="lds-css ng-scope">
      <div style="width:100%;height:100%" class="lds-rolling"><div></div></div>
    </div>
  </div>
  <div class="upload-block">
    <label class="material-icons" for="pic-upload">camera_alt</label>
    <label for="pic-upload">Update image</label>
    <input #picInput type="file" id="pic-upload" class="bttn-file" (change)="previewPic()" />
  </div>
</figure>
