figure {
  position: relative;
}

.upload-block {
  visibility: hidden;
  position: absolute;
  background-color: black;
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 13rem;
  border-bottom-right-radius: 13rem;
  bottom: 0;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  label:nth-of-type(1) {
    transform: scale(0.8);
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 2.2rem;
    cursor: pointer;
    padding-top: 0;
    margin-top: -7px;
    transition: transform 0.2s ease-out;
  }

  label:nth-of-type(2) {
    text-align: center;
    color: white;
    font-size: 1.17rem;
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin-top: -7px;
  }
}

figure:hover .upload-block {
  visibility: visible;

  label {
    transform: scale(1);
  }
}

.bttn-file {
  display: none;
}

.loading-block {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-rolling {
  position: absolute;
  top: 50%;
  left: 50%;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 160px;
  height: 160px;
  border: 20px solid rgba($color: #dde1e6, $alpha: 0.6);
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 36px !important;
  height: 36px !important;
  -webkit-transform: translate(-18px, -18px) scale(0.18) translate(18px, 18px);
  transform: translate(-18px, -18px) scale(0.18) translate(18px, 18px);
}
