<div class="strip">
  <div class="border-box display-ib ">
    <h2>PAYMENT <span style="font-size: 1.9rem;"> - </span></h2>
    <table>
      <tr>
        <td class="t-bold t-blue">ISSUE DATE</td>
        <td>{{ transaction?.dateCreated | date: 'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
        <td class="t-bold t-blue">REFERENCE</td>
        <td>-</td>
      </tr>
    </table>
  </div>

  <div class="row mt-5">
    <div class="col">
      <p class="t-bold t-blue">SUPPLIER</p>
      <p>
        {{ transaction?.contact?.fullName }}
      </p>
      <p>{{ transaction?.contact?.businessName }}</p>
      <p>
        {{ transaction?.contact?.address }}, {{ transaction?.contact?.location }}, {{ transaction?.contact?.region }},
        {{ transaction?.contact?.country }}
      </p>
      <p>{{ transaction?.contact?.phoneNumber }}</p>
      <p>{{ transaction?.contact?.email }}</p>
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-md-9 mb-4">
      <p class="t-bold t-blue">SIGNED BY</p>
      <p>{{ transaction?.signedBy?.name || '-' }}</p>
      <p>{{ transaction?.signedBy?.businessName || '-' }}</p>
      <p>{{ transaction?.signedBy?.phoneNumber || '-' }}</p>
    </div>
    <div class="col-md-3">
      <div class="border-box center-items pull-left">
        <h2>{{ transaction?.amount | number: '1.2-2' }} {{ transaction?.currency || 'KES' }}</h2>
        <h5>AMOUNT</h5>
      </div>
    </div>
  </div>
</div>
<button *ngIf="isPayment" class="bttn-primary pull-right mt-5">
  Submit
</button>
