<div class="wrapper wizard" [hidden]="!beginApplication || previewDisplayed">
  <h1 routerLink="/finance" class="main-title btn-main margin-bottom-2">
    <a class="material-icons">keyboard_backspace</a> Finance
  </h1>
  <!-- <div (click)="setPreview(true)"  class="main-title btn-main margin-bottom-2"><a class="material-icons">keyboard_backspace</a> To preview</div> -->
  <div class="stepper-wrapper">
    <div>
      <ul class="nav nav-tabs" #generalSteps>
        <li [class.active]="displayStepTab(0)" [class.disabled]="!displayStepTab(0)">
          <a data-toggle="tab" class="label" href="#loan-details">
            <span class="round-tab">1</span><span class="l-step-title">Loan Details</span></a
          >
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
        <li [class.active]="displayStepTab(1)" [class.disabled]="!displayStepTab(1)">
          <a data-toggle="tab" class="label" href="#business-details"
            ><span class="round-tab">2</span><span class="l-step-title">Business Details</span>
          </a>
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
        <li *ngIf="isSoleTrader()" [class.active]="displayStepTab(2)" [class.disabled]="!displayStepTab(2)">
          <a data-toggle="tab" class="label" href="#applicant-details">
            <span class="round-tab">3</span><span class="l-step-title">Applicant Details</span></a
          >
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
        <li [class.active]="displayStepTab(3)" [class.disabled]="!displayStepTab(3)">
          <a data-toggle="tab" class="label" href="#business-key-person">
            <span *ngIf="isSoleTrader()" class="round-tab">4</span
            ><span *ngIf="!isSoleTrader()" class="round-tab">3</span
            ><span class="l-step-title">Business Key Person</span></a
          >
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
        <li [class.active]="displayStepTab(4)" [class.disabled]="!displayStepTab(4)">
          <a data-toggle="tab" class="label" href="#business-banking-details">
            <span *ngIf="isSoleTrader()" class="round-tab">5</span
            ><span *ngIf="!isSoleTrader()" class="round-tab">4</span
            ><span class="l-step-title">Business Banking Details</span></a
          >
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
      </ul>
      <span class="step-progress-bar-wrapper responsive">
        <span class="step-progress-bar"></span>
      </span>

      <div *ngIf="isQualificationDone()" class="tab-content">
        <div class="tab-pane" [class.active]="displayStepContent(0)" id="loan-details">
          <app-loan-details></app-loan-details>
        </div>

        <div class="tab-pane" [class.active]="displayStepContent(1)" id="business-details">
          <app-business-details></app-business-details>
        </div>

        <div *ngIf="isSoleTrader()" class="tab-pane" [class.active]="displayStepContent(2)" id="applicant-details">
          <app-applicant-details></app-applicant-details>
        </div>

        <div class="tab-pane" [class.active]="displayStepContent(3)" id="business-key-person">
          <app-business-key-person></app-business-key-person>
        </div>

        <div class="tab-pane" [class.active]="displayStepContent(4)" id="business-banking-details">
          <app-bank-details (actionOnPreview)="setPreview($event)"></app-bank-details>
        </div>
      </div>
    </div>
  </div>
</div>

<app-qualifcation-tool
  *ngIf="!beginApplication"
  (beginApplication)="generateStepper(); beginApplication = $event"
></app-qualifcation-tool>

<app-loan *ngIf="previewDisplayed" (actionOnPreview)="setPreview($event)"></app-loan>
