<div class="wrapper wizard">
  <h1 class="main-title btn-main margin-bottom-2"><a class="material-icons">keyboard_backspace</a> Finance</h1>
  <div class="stepper-wrapper">
    <div>
      <ul class="nav nav-tabs" #generalSteps>
        <li class="active">
          <a data-toggle="tab" class="label" href="#loan-details">
            <span class="round-tab">1</span><span class="l-step-title">Loan Details</span></a
          >
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#business-details"
            ><span class="round-tab">2</span><span class="l-step-title">Business Details</span>
          </a>
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#applicant-details">
            <span class="round-tab">3</span><span class="l-step-title">Applicant Details</span></a
          >
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#referee-details">
            <span class="round-tab">4</span><span class="l-step-title">Referee Details</span></a
          >
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#business-banking-details">
            <span class="round-tab">5</span><span class="l-step-title">Business Banking Details</span></a
          >
          <span class="step-progress-bar-wrapper">
            <span class="step-progress-bar"></span>
          </span>
        </li>
      </ul>
      <span class="step-progress-bar-wrapper responsive">
        <span class="step-progress-bar"></span>
      </span>

      <div class="tab-content">
        <div class="tab-pane active" id="loan-details">
          <app-loan-details></app-loan-details>
        </div>

        <div class="tab-pane" id="business-details">
          <app-business-details></app-business-details>
        </div>

        <div class="tab-pane" id="applicant-details">
          <app-applicant-details></app-applicant-details>
        </div>

        <div class="tab-pane" id="referee-details">
          <app-referee-details></app-referee-details>
        </div>

        <div class="tab-pane" id="business-banking-details">
          <app-bank-details></app-bank-details>
        </div>
      </div>
    </div>
  </div>
</div>
