<div class="strip">
  <h4>Choose a trade document to pay:</h4>
  <div class="mt-4 searchbar d-flex">
    <input placeholder="Search goods received..." class="search-bar" [(ngModel)]="searchTerm" type="search" />
    <span></span>
  </div>

  <table
    id="grn-pay-table"
    matSort
    (matSortChange)="sortData($event)"
    class="table main-table table-borderless ftd-small"
  >
    <thead>
      <tr id="table-head">
        <th></th>
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="date">Date</th>
        <th mat-sort-header="contact">Contact</th>
        <th mat-sort-header="product">Product</th>
        <th mat-sort-header="quantity">Quantity</th>
        <th mat-sort-header="price">Price</th>
        <th mat-sort-header="status">Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let grn of grns
            | filter: searchTerm
            | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }
            | notPaid;
          let i = index
        "
      >
        <td>
          <input type="radio" class="form_radio" id="doc-row{{ i }}" name="document" />
          <label for="doc-row{{ i }}" class="form_radio_label"> <span class="form_radio_btn"></span></label>
        </td>
        <td># {{ grn.numericId }}</td>
        <td>{{ grn?.issueDate | dateString }}</td>
        <td>{{ grn?.supplier?.fullName }}</td>
        <td>{{ grn?.products | multiProduct }}</td>
        <td>{{ grn?.products | measurement: (grn?.products | productQuantity) }}</td>
        <td>{{ grn?.total | numberFormat }} {{ grn?.currency }}</td>
        <td>
          <span class="{{ grn?.paymentStatus | status }}">{{ grn?.paymentStatus | paymentStatus }}</span>
        </td>
        <td><a (click)="viewGrn(grn, i)" id="view">View</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mobile-list-wrapper mb-5">
  <div *ngFor="let grn of grns; let i = index" class="strip mt-4 mb-3">
    <div>
      <div>
        <input type="radio" class="form_radio" id="doc-mow{{ i }}" name="document" />
        <label for="doc-mow{{ i }}" class="form_radio_label"> <span class="form_radio_btn"></span></label>
      </div>
      <div class="flex-row">
        <div># {{ grn.numericId }}</div>
        <div>{{ grn.issueDate | dateString }}</div>
      </div>
      <div class="flex-row">
        <div>{{ grn?.supplier?.fullName }}</div>
        <div>
          <span class="{{ grn?.paymentStatus | status }}">{{ grn?.paymentStatus | paymentStatus }}</span>
        </div>
      </div>
      <div>{{ grn?.products | multiProduct }}</div>
      <div>{{ grn?.products | measurement: (grn?.products | productQuantity) }}</div>
      <div>{{ grn?.total | numberFormat }} {{ grn?.currency }}</div>
    </div>
    <div class="mt-3"><a (click)="viewGrn(grn, i)" id="view">View</a></div>
  </div>
</div>
<pagination-controls *ngIf="grns.length" (pageChange)="pageChanged($event)"></pagination-controls>

<button id="next" hidden class="bttn-primary next-step btn-next flex-pr mt-5">Next &rarr;</button>
<button (click)="isPicked()" class="bttn-primary btn-next flex-pr mt-5">Next &rarr;</button>
<button id="grnClick" hidden data-toggle="wizard" data-target="#grnViewModal"></button>
<app-grn-modal [grn]="grn" (select)="selected($event)"></app-grn-modal>
