<div class="padding-all">
  <div *ngIf="!invoice && !generateInvoice">
    Your purchase order has been sent to the seller, please wait for his Proforma Invoice
  </div>
  <div *ngIf="invoice || generateInvoice" id="pdfContent">
    <div class="border-box display-ib">
      <h2>
        PROFORMA INVOICE <span style="font-size: 1.9rem;" *ngIf="invoice?._id"> #{{ invoice?.numericId }}</span>
      </h2>
      <table>
        <tr *ngIf="invoice?.personal_po_id">
          <td class="t-bold t-blue">PO REFERENCE</td>
          <td>#{{ invoice?.personal_po_id }}</td>
        </tr>
        <tr>
          <td class="t-bold t-blue">ISSUE DATE</td>
          <td>{{ invoice?.date_created | date: 'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <td class="t-bold t-blue">VALID BY</td>
          <td>{{ invoice?.sign_by.date | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </table>
    </div>
    <div class="payable-invoice" *ngIf="payableInvoice">
      <p>PAYABLE INVOICE</p>
      <img src="../../../assets/img/payment-method.png" />
    </div>
    <div class="row" style="padding-top: 5rem;">
      <div class="col-md-6">
        <p class="t-bold t-blue">ISSUED BY</p>
        <p>{{ invoice?.seller.first_name }} {{ invoice?.seller.last_name }}</p>
        <p>{{ invoice?.seller.company_name }}</p>
        <p>{{ invoice?.seller.email }}</p>
        <p>{{ invoice?.seller.address }}, {{ invoice?.seller.city }} {{ invoice?.seller.zipcode }}</p>
        <p>{{ invoice?.seller.phone_number }}</p>
      </div>
      <div class="col-md-3 col-md-offset-3">
        <p class="t-bold t-blue">ISSUED FOR</p>
        <p>{{ invoice?.buyer.first_name }} {{ invoice?.buyer.last_name }}</p>
        <p>{{ invoice?.buyer.company_name }}</p>
        <p>{{ invoice?.buyer.email }}</p>
        <p>{{ invoice?.buyer.address }}, {{ invoice?.buyer.city }} {{ invoice?.buyer.zipcode }}</p>
        <p>{{ invoice?.buyer.phone_number }}</p>
      </div>
    </div>

    <div style="padding-top: 2rem;">
      <p class="heading-3">PRODUCTS</p>
      <table class="products-table">
        <thead>
          <tr>
            <th>PRODUCT</th>
            <th>DESCRIPTION</th>
            <th>AMOUNT</th>
            <th>RATE</th>
            <th>PRICE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of invoice?.products">
            <td>
              <span *ngIf="!row.product_type || row.product_type == 'agricultural'">
                {{ row.produce }} / {{ row.variety }}
              </span>
              <span *ngIf="row.product_type == 'processed' && row.item_package_type">
                {{ row.produce }} / {{ row.item_measurement_amount | number: '1.2-2' }}
                {{ row.item_measurement_unit }} /
                {{ row.item_package_type }}
              </span>
              <span *ngIf="row.product_type == 'processed' && !row.item_package_type">
                {{ row.produce }}
              </span>
              <span *ngIf="row.product_type == 'input' && !row.item_package_type">
                {{ row.produce }} / {{ row.input_produce_type }}
              </span>
            </td>
            <td>
              <span *ngIf="row.product_type == 'agricultural'">
                {{ row.package_weight | number: '1.2-2' }}
                {{ row.weight_unit }} per package ({{ row.type_of_package }})
              </span>
              <span *ngIf="row.product_type == 'processed'">
                {{ row.items_per_package | number: '1.0' }}
                <span *ngIf="row.items_per_package == 1"> unit </span>
                <span *ngIf="row.items_per_package > 1"> units </span>
                per package ({{ row.type_of_package }})
              </span>
              <span *ngIf="row.product_type == 'input'">
                <span *ngIf="row.item_description">{{ row.item_description }}</span>
                <span *ngIf="!row.item_description">
                  {{ row.item_measurement_amount }} {{ row.weight_unit }} per unit
                </span>
              </span>
            </td>
            <td>
              <span *ngIf="row.product_type == 'agricultural'"
                >{{ row.total_weight | number: '1.2-2' }} {{ row.weight_unit }} ({{ row.quantity }}
                <span *ngIf="row.quantity > 1"> packages</span>
                <span *ngIf="row.quantity == 1"> package</span>
                <small> Estimated</small>)
              </span>
              <span *ngIf="row.product_type == 'processed'">
                {{ row.quantity | number: '1.0' }}
                <span *ngIf="row.quantity > 1"> packages</span>
                <span *ngIf="row.quantity == 1"> package</span>
                ({{ row.total_amount_items | number: '1.0' }}
                <span *ngIf="row.total_amount_items > 1">units</span>
                <span *ngIf="row.total_amount_items == 1"> unit</span>)
              </span>
              <span *ngIf="row.product_type == 'input'">
                {{ row.quantity | number: '1.0' }}
                <span *ngIf="row.quantity > 1">units</span>
                <span *ngIf="row.quantity == 1">unit</span>
              </span>
            </td>
            <td>
              <span *ngIf="!row.product_type || row.product_type == 'agricultural'"
                >{{ row.price_per_unit | number: '1.2-2' }} {{ invoice?.currency }} / {{ row.weight_unit }}</span
              >
              <span *ngIf="row.product_type == 'processed'"
                >{{ row.package_price | number: '1.2-2' }} {{ invoice?.currency }} / package</span
              >
              <span *ngIf="row.product_type == 'input'">
                {{ row.price_per_unit | number: '1.2-2' }} {{ row.currency }} / item
              </span>
            </td>
            <td>
              <span id="total">{{ row.product_subtotal | number: '1.2-2' }} {{ invoice?.currency }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="padding-top: 2rem;">
      <div class="row">
        <div class="col-md-9">
          <p class="heading-3">NOTES</p>
          <div>
            <p class="t-bold t-blue">PAYMENT NOTES</p>
            <p>
              {{ invoice?.order_comments || 'None' }}
            </p>
          </div>
          <div>
            <p class="t-bold t-blue">PROFORMA INVOICE NOTES</p>
            <p>
              {{ invoice?.payment_comments || 'None' }}
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="border-box pull-left">
            <table>
              <tr>
                <td class="heading-3">Subtotal</td>
                <td>{{ invoice?.subtotal | number: '1.2-2' }} {{ invoice?.currency }}</td>
              </tr>
              <tr>
                <td class="heading-3">Vat%</td>
                <td>{{ invoice?.vat_amount | number: '1.2-2' }} {{ invoice?.currency }}</td>
              </tr>
              <tr>
                <td class="heading-3" style="padding-bottom:1rem;">Discount%</td>
                <td style="padding-bottom:1rem;">
                  {{ invoice?.discount_amount | number: '1.2-2' }} {{ invoice?.currency }}
                </td>
              </tr>
              <tr>
                <td class="heading-2" style="border-top:1px solid #e1e1e1; padding-top:1rem;">TOTAL</td>
                <td class="heading-2 t-blue" style="border-top:1px solid #e1e1e1; padding-top:1rem;">
                  {{ invoice?.total_due | number: '1.2-2' }} {{ invoice?.currency }}
                </td>
              </tr>
            </table>

            <div class="payment-statement" *ngIf="payableInvoice">
              <p class="mt-4">
                This invoice has been marked as payable by the seller. Hit 'Pay Invoice' below to sign into DPO and
                confirm your payment.
              </p>
              <img src="../../../assets/img/dpo-logo.png" width="50" height="30" />
            </div>
          </div>
          <button *ngIf="payableInvoice" class="bttn-primary mt-3" style="width: 100%;">PAY INVOICE</button>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 5rem;">
      <div class="col-md-6">
        <p class="t-bold t-blue">SIGNED BY</p>
        <div class="row">
          <div class="col-md-6">
            <p>{{ invoice?.sign_by.first_name }} {{ invoice?.sign_by.last_name }}</p>
            <p>{{ invoice?.sign_by.company_name }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-3">
        <p class="t-bold t-blue">DELIVER TO</p>
        <p>{{ invoice?.deliver_to.contact_name }}</p>
        <p>{{ invoice?.deliver_to.address }}, {{ invoice?.deliver_to.city }} {{ invoice?.deliver_to.zip_code }}</p>
        <p>{{ invoice?.deliver_to.phone_number }}</p>
        <p>Expected delivery date: {{ invoice?.deliver_to.expected_delivery_date | date: 'dd/MM/yyyy' }}</p>
        <button #submitButton *ngIf="generateInvoice" class="bttn-primary pull-right" (click)="saveInvoice()">
          Send Invoice
        </button>
        <button *ngIf="!generateInvoice" class=" btn-primary-transp pull-right" (click)="downloadPopup()">
          Download PDF
        </button>
      </div>
    </div>
  </div>
</div>
