<div id="pdfContent">
  <p *ngIf="!generateInvoice" class="pull-right margin-none">INV #5312</p>
  <div class="row clearfix">
    <div class="col-md-9">
      <p class="heading-2">ISSUED BY</p>
      <p class="heading-4">{{ invoice?.seller.first_name }} {{ invoice?.seller.last_name }}</p>
      <p class="heading-4">{{ invoice?.seller.company_name }}</p>
      <p class="heading-4">{{ invoice?.seller.email }}</p>
      <p class="heading-4">{{ invoice?.seller.address }}, {{ invoice?.seller.city }} {{ invoice?.seller.zipcode }}</p>
      <p class="heading-4">TEL: {{ invoice?.seller.phone_number }}</p>
    </div>
    <div class="col-md-3">
      <p class="heading-2">ISSUED FOR</p>
      <p class="heading-4">{{ invoice?.buyer.first_name }} {{ invoice?.buyer.last_name }}</p>
      <p class="heading-4">{{ invoice?.buyer.company_name }}</p>
      <p class="heading-4">{{ invoice?.buyer.email }}</p>
      <p class="heading-4">{{ invoice?.buyer.address }}, {{ invoice?.buyer.city }} {{ invoice?.buyer.zipcode }}</p>
      <p class="heading-4">TEL: {{ invoice?.buyer.phone_number }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <p class="heading-2">Products</p>
      <table class="panel-table">
        <thead>
          <th>Produce</th>
          <th>Package</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of invoice?.products">
            <td>
              <span *ngIf="!row.product_type || row.product_type=='agricultural'">
                {{row.produce}} / {{row.variety}}
              </span>
              <span *ngIf="row.product_type=='processed' && row.item_package_type">
                {{row.produce}} / {{row.item_measurement_amount}} {{row.item_measurement_unit}} /
                {{row.item_package_type}}
              </span>
              <span *ngIf="row.product_type=='processed' && !row.item_package_type">
                {{row.produce}}
              </span>
            </td>
            <td>
              <span *ngIf="!row.product_type || row.product_type=='agricultural'">
                {{row.quantity}} ({{row.type_of_package}} / {{row.package_weight}} {{row.weight_unit}})
              </span>
              <span *ngIf="row.product_type=='processed' && row.item_package_type">
                {{row.quantity}} ({{row.type_of_package}} / {{row.items_per_package}}<span *ngIf="row.items_per_package>1">
                  items)</span><span *ngIf="row.items_per_package==0"> item)</span>
              </span>
              <span *ngIf="row.product_type=='processed' && !row.item_package_type">
                {{row.quantity}} ({{row.type_of_package}})
              </span>
            </td>
            <td>
              <span *ngIf="!row.product_type || row.product_type=='agricultural'">{{row.total_weight}}
                {{row.weight_unit}}</span>
              <span *ngIf="row.product_type=='processed'">N/A</span>
            </td>
            <td>
              <span *ngIf="!row.product_type || row.product_type=='agricultural'">{{row.price_per_unit}}
                {{invoice?.currency}} / {{row.weight_unit}}</span>
              <span *ngIf="row.product_type=='processed'">{{row.package_price}} {{invoice?.currency}} /
                {{row.type_of_package}}</span>
            </td>
            <td>
              <span id="total">{{row.product_subtotal | number:'1.2-2'}} {{invoice?.currency}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="subtotal-price pull-right">
        <div class="row">
          <div class="col-md-6">
            <p class="heading-4-blue">Subtotal</p>
            <p class="heading-4-blue">VAT%</p>
            <p class="heading-4-blue">Discount%</p>
          </div>
          <div class="col-md-6">
            <p class="heading-2">{{invoice?.subtotal | number:'1.2-2'}} {{invoice?.currency}}</p>
            <p class="heading-2">{{invoice?.vat_amount | number:'1.2-2'}} {{invoice?.currency}}</p>
            <p class="heading-2">{{invoice?.discount_amount | number:'1.2-2'}} {{invoice?.currency}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="heading-4-blue">TOTAL</p>
          </div>
          <div class="col-md-6">
            <p class="heading-2">{{invoice?.total_due | number:'1.2-2'}} {{invoice?.currency}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="po-right-side">
        <p class="heading-2">
          Comments or special instructions for purchase order
        </p>
        <p>{{ invoice?.order_comments || 'None'}}</p>
        <p class="heading-2">Comments or special instructions for payments</p>
        <p>{{ invoice?.payment_comments || 'None'}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="border-top">
        <p class="heading-2">Signed by</p>
        <div class="row">
          <div class="col-md-3">
            <p>{{ invoice?.sign_by.first_name }} {{ invoice?.sign_by.last_name }}</p>
            <p>{{ invoice?.sign_by.company_name }}</p>
            <p>PO valid by: {{ invoice?.sign_by.date | date: 'dd/MM/yyyy' }}</p>
            <p>Date of issue: {{ invoice?.date_created | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="border-top">
        <p class="heading-2">Delivered to</p>
        <p>{{ invoice?.deliver_to.contact_name }}</p>
        <p>{{ invoice?.deliver_to.address }}, {{ invoice?.deliver_to.city }} {{ invoice?.deliver_to.zip_code }}</p>
        <p>{{ invoice?.deliver_to.phone_number }}</p>
        <p>Expected delivery date: {{ invoice?.deliver_to.expected_delivery_date | date: 'dd/MM/yyyy'}}</p>
        <button *ngIf="generateInvoice" class="bttn-primary pull-right" (click)="saveInvoice()">Send Invoice</button>
        <button class=" btn-primary-transp pull-right" (click)="download()">Download PDF</button>
      </div>
    </div>
  </div>
</div>