<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Referee 2 - Supplier or customer of the business.</p>
  </div>

  <div class="step-content">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="full-name">Full name</label>
        <input type="text" id="full-name" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="connection">How is Person Name connected to you?</label>
        <input type="text" id="connection" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label for="phone">Phone number</label>
        <input type="tel" id="phone" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="po-box">P.O box</label>
        <input type="text" id="po-box" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="postal">Postal code</label>
        <input type="text" id="postal" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="town">Town/city</label>
        <input type="text" id="town" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="province">Province</label>
        <input type="text" id="province" class="form-control" />
      </div>
    </div>
  </div>
</div>
