<div class="stepper">
  <ul class="nav nav-tabs" style="display: none;" #listStepDetails>
    <li class="active">
      <a data-toggle="tab" class="label" href="#basic-details"></a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" class="label" href="#business-location"></a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" class="label" href="#business-premises"></a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" class="label" href="#business-other"></a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" class="label" href="#business-financial"></a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" class="label" href="#business-directors-details"></a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" [class.active]="displayStep(0)" id="basic-details">
      <app-business-basic-details></app-business-basic-details>
    </div>
    <div class="tab-pane" [class.active]="displayStep(1)" id="business-location">
      <app-business-location></app-business-location>
    </div>
    <div class="tab-pane" [class.active]="displayStep(2)" id="business-premises">
      <app-business-premises></app-business-premises>
    </div>
    <div class="tab-pane" [class.active]="displayStep(3)" id="business-other">
      <app-business-other-details></app-business-other-details>
    </div>
    <div class="tab-pane" [class.active]="displayStep(4)" id="business-financial">
      <app-business-financial-details></app-business-financial-details>
    </div>
    <div class="tab-pane" [class.active]="displayStep(5)" id="business-directors-details">
      <app-business-directors-details></app-business-directors-details>
    </div>
  </div>

  <div class="stepper-footer">
    <div class="stepper-footer-wrapper">
      <div>
        <button class="bttn-secondary" (click)="onPrevious()">PREV</button>
      </div>
      <div>
        <button class="btn-primary-transp" (click)="onSave()">SAVE</button>
        <button class="bttn bttn-primary next-step" (click)="onNext()">NEXT</button>
      </div>
    </div>
  </div>
</div>
