<div class="panel panel-todo">
    <div class="panel-body">
      <div class="panel-header"><p>Last Activity</p></div>
      <ul>
        <li class="todo-item">
          <div class="col-md-2 todo-date">
            <figure class="img-circular-xs" style="background-image:url('../../../assets/img/prof-img2.jpg')"></figure>
          </div>
          <div class="col-md-10 todo-details">
            <p class="normal-text-bold">Placed a new quote request</p>
            <p>17/10/2018 13:46</p>
          </div>
        </li>
        <li class="todo-item">
          <div class="col-md-2 todo-date">
            <figure class="img-circular-xs" style="background-image:url('../../../assets/img/prof-img2.jpg')"></figure>
          </div>
          <div class="col-md-10 todo-details">
            <p class="normal-text-bold">Placed a new quote request</p>
            <p>17/10/2018 13:46</p>
          </div>
        </li>
        <li class="todo-item">
          <div class="col-md-2 todo-date">
            <figure class="img-shape"><img src="../../../assets/img/prof-img2.jpg" class="user-img" /></figure>
          </div>
          <div class="col-md-10 todo-details">
            <p class="normal-text-bold">Placed a new quote request</p>
            <p>17/10/2018 13:46</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
