<table class="table main-table">
  <thead>
    <tr>
      <th translate class="text-center">ID</th>
      <th translate>Date</th>
      <th translate>Contact</th>
      <th translate>Product</th>
      <th translate>Amount</th>
      <th *ngIf="isBuyer" translate>Participants</th>
      <th *ngIf="isBuyer" translate>Quotations</th>
      <th translate>Status</th>
      <th translate class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quoteRequest of (quoteRequests | paginate: { itemsPerPage: itemsPerPage, currentPage: page })">
      <td class="text-center">
        {{ quoteRequest?.numericId }}
      </td>
      <td>{{ quoteRequest?.date_created | date: 'dd/MM/yyyy' }}</td>
      <td>{{ quoteRequest?.buyer.first_name }} {{ quoteRequest?.buyer.last_name }}</td>
      <td>
        <span *ngIf="quoteRequest.product"> {{ quoteRequest.product.produce }} </span>
        <span *ngIf="!quoteRequest.product"> N/A </span>
      </td>
      <td>
        <span *ngIf="quoteRequest.product.product_type == 'agricultural'"
          >{{ quoteRequest.product.total_weight | number: '1.2-2' }} {{ quoteRequest.product.weight_unit }}</span
        >
        <span *ngIf="quoteRequest.product.product_type != 'agricultural'"
          >{{ quoteRequest.product.amount_requested }} packages</span
        >
      </td>
      <td *ngIf="isBuyer">
        {{ quoteRequest?.sellers?.length }}
      </td>
      <td *ngIf="isBuyer">
        Quotes not implemented yet
      </td>
      <td>
        <div *ngIf="quoteRequest.status === qrSent || quoteRequest.status === qrReceived" class="status status-orange">
          {{ quoteRequest?.status }}
        </div>
        <div *ngIf="quoteRequest.status === qSent || quoteRequest.status === qReceived" class="status status-blue">
          {{ quoteRequest?.status }}
        </div>
        <div *ngIf="quoteRequest.draft" class="status status-purple">{{ quoteRequest?.status }}</div>
      </td>
      <td class="text-right">
        <button
          *ngIf="userId == quoteRequest.buyer._id && quoteRequest.draft"
          class="round-button-primary"
          data-toggle="stepper"
          [routerLink]="['/quote-request/generator', quoteRequest._id]"
        >
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button
          *ngIf="userId != quoteRequest.buyer._id && !quoteRequest.draft"
          class="round-button-primary"
          data-toggle="stepper"
          [routerLink]="['/quote-request/quotation-generator', quoteRequest._id]"
        >
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button *ngIf="false" class="round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="page = $event"></pagination-controls>
