<table class="table main-table">
  <thead>
    <tr>
      <th translate class="text-center">ID</th>
      <th translate>Date</th>
      <th translate>Contact</th>
      <th translate>Product</th>
      <th translate>Amount</th>
      <th *ngIf="isBuyer" translate>Participants</th>
      <th *ngIf="isBuyer" translate>Quotations</th>
      <th translate>Status</th>
      <th translate class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">
        111
      </td>
      <td>20/05/2019</td>
      <td>Stephen Suter</td>
      <td>
        <span class="icon-text">
          Multiple <i class="material-icons" matTooltip="Green Coffee, Wheat">help_outline</i></span
        >
      </td>
      <td>10,000.00 KG</td>
      <td *ngIf="isBuyer">
        20
      </td>
      <td *ngIf="isBuyer">
        4
      </td>
      <td>
        <div *ngIf="isBuyer" class="status status-orange">Quote Request Sent</div>
        <div *ngIf="!isBuyer" class="status status-orange">Quote Request Received</div>
      </td>
      <td class="text-right">
        <button class="round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        222
      </td>
      <td>20/05/2019</td>
      <td>Stephen Suter</td>
      <td>
        <span class="icon-text">
          Multiple <i class="material-icons" matTooltip="Green Coffee, Wheat">help_outline</i></span
        >
      </td>
      <td>10,000.00 KG</td>
      <td *ngIf="isBuyer">
        20
      </td>
      <td *ngIf="isBuyer">
        4
      </td>
      <td>
        <div *ngIf="isBuyer" class="status status-blue">Quotation Received</div>
        <div *ngIf="!isBuyer" class="status status-blue">Quotation Sent</div>
      </td>
      <td class="text-right">
        <button class="round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        333
      </td>
      <td>20/05/2019</td>
      <td>Stephen Suter</td>
      <td>Green Coffee</td>
      <td>10,000.00 KG</td>
      <td *ngIf="isBuyer">
        20
      </td>
      <td *ngIf="isBuyer">
        4
      </td>
      <td>
        <div *ngIf="isBuyer" class="status status-purple">Quote Request Saved</div>
        <div *ngIf="!isBuyer" class="status status-purple">Quotation Saved</div>
      </td>
      <td class="text-right">
        <button class="round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
