<h1 class="main-title btn-main mb-4" routerLink="/grn">
  <a class="main-color"><i class="material-icons">keyboard_backspace</i></a> Goods Received Note
</h1>

<div class="strip">
  <h3 class="heading-1 mb-3">GRN #{{ grn.numericId }}</h3>
  <div class="header-wrapper">
    <div id="grn-info">
      <div>
        <p class="sm-text-label">ISSUE DATE</p>
        <P class="text-regular">{{ grn.issueDate | dateString }}</P>
      </div>
      <div>
        <p class="sm-text-label">REFERENCE</p>
        <P class="text-regular">{{ grn.referenceCode }}</P>
      </div>
      <div>
        <p class="sm-text-label">PAYMENT STATUS</p>
        <p class="text-regular">{{ grn.paymentStatus }}</p>
      </div>
    </div>
    <div id="grn-actions">
      <button class="bttn bttn-outline" (click)="downloadPdf()">Download GRN</button>
      <button class="bttn bttn-outline" data-toggle="wizard" data-target="#updatePaymentStatusModal">
        Update Payment Status
      </button>
    </div>
  </div>
</div>

<div class="col-md-12 mt-5">
  <ul class="nav nav-tabs doc-view">
    <li class="active">
      <a data-toggle="tab" href="#grn">Goods Received Note</a>
    </li>
    <li><a data-toggle="tab" href="#documents">Necessary Documents</a></li>
  </ul>
  <div class="tab-content mb-5">
    <div class="tab-pane active" id="grn">
      <app-grn-document [generateGrn]="false" [grn]="grn"></app-grn-document>
    </div>
    <div class="tab-pane" id="documents">
      <app-transaction-document-list></app-transaction-document-list>
    </div>
  </div>
</div>

<div class="modal-box" id="updatePaymentStatusModal">
  <div class="modal-box-content-wrapper">
    <div class="modal-box-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Payment Status</h5>
        <button class="text-left" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" id="payment-status">
          <label for="status">Payment</label>
          {{ grnPaymentStatus }}
          <select
            id="status"
            placeholder="Choose status"
            class="form-control"
            [(ngModel)]="grnPaymentStatus"
            [ngModelOptions]="{ standalone: true }"
          >
            <option>Paid</option>
            <option>Partially Paid</option>
            <option>Awaiting Payment</option>
          </select>
        </div>
        <button class="bttn-primary" (click)="updatePaymentStatus()">
          Update Payment Status
        </button>
      </div>
    </div>
  </div>
</div>
