.row div p:first-child {
  font-size: 1.2rem;
  color: #7b7b7b;
  font-weight: 600;
  margin-bottom: 3px;
}

.row div p:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 600;
}

.row:not(:last-child) {
  margin-bottom: 0.5rem;
}
