

<span class="main-title"><a class="breadc-p">Ecosystems/ </a> <a class="breadc-c"> Ecosystem Name</a></span>
<app-ecosystem-profile></app-ecosystem-profile>
<mat-tab-group id="contact-view-tabs" class="mt-5">
  <mat-tab color="#455263" label="Members (5)">
    <app-ecosystem-members></app-ecosystem-members>
  </mat-tab>
  <mat-tab color="#455263" label="Documents (5)">
    <app-ecosystem-documents></app-ecosystem-documents>
  </mat-tab>
  <mat-tab color="#455263" label="Leadership (5)">
    <app-ecosystem-leadership></app-ecosystem-leadership>
  </mat-tab>
  <mat-tab color="#455263" label="services (5)">
    <app-ecosystem-services></app-ecosystem-services>
  </mat-tab>
</mat-tab-group>
