<h1 class="main-title btn-main" (click)="back()"><a class="material-icons">keyboard_backspace</a> Ecosystems</h1>

<div class="panel">
  <div class="panel-body">
    <button class="bttn-primary pull-right" data-toggle="wizard" data-target="#addClienEcoModal">
      <i class="material-icons">add</i> <span>Add Client</span>
    </button>
    <p class="heading-2">{{ ecosystem.name }} Members</p>
    <p class="heading-3">Owned by {{ ownedBy }}</p>

    <div class="contacts-section">
      <div class="contact-card" *ngFor="let user of ecosystem.participants">
        <div class="delete"><span class="pull-right material-icons" (click)="warning(user._id)">delete</span></div>
        <div>
          <figure
            class="img-circular img-circular-md"
            [style.background-image]="'url(' + getProfilePicture(user.profile_picture) + ')'"
          ></figure>
          <p class="normal-text-bold">{{ user.first_name }} {{ user.last_name }}</p>
          <p>{{ user.company_name }}</p>
        </div>
        <div>
          <p><i class="material-icons">alternate_email</i> {{ user.email }}</p>
          <p><i class="material-icons">phone</i> {{ user.phone_number }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-ecosystem-add-client [clients]="potentialClients" [ecosystemId]="ecosystem._id"></app-ecosystem-add-client>
