@import "../../../assets/sass/abstracts/variables";
.invoice-right-side {
  position: relative;
}

.invoice-right-side span:nth-of-type(even) {
  position: absolute;
  word-wrap: break-word;
  left: 15rem;
}

.invoice-right-side {
  margin-top: 1rem !important;
}

.invoice-right-side .heading-4-blue {
  margin: 1px 0;
  font-size: 1.5rem;
}

.total-block {
  border-top: 1px solid #ddd;
  padding: 1rem 0 0 0;
}

.total-block span:nth-of-type(even) {
  position: absolute;
  word-break: break-all;
  left: 15rem;
}

.border-top span:nth-of-type(even) {
  position: absolute;
  word-break: break-all;
  left: 22rem;
}
.border-top div {
  margin-bottom: 1.2rem;
}
