<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Add your company associated accounts.</p>
  </div>

  <div class="step-content">
    <div class="loan-bank">
      <div class="loan-bank_title absa">
        <p>Absa Bank</p>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="branch">Branch</label>
          <input type="text" id="branch-bank-details" class="form-control" />
        </div>
        <div class="form-group col-md-6">
          <label for="bank-number">Account number</label>
          <input type="text" id="bank-number" class="form-control" />
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <label for="date-opened">Date opened</label>
          <input type="text" id="date-opened" class="form-control" placeholder="DD/MM/YYYY" />
        </div>
      </div>
    </div>

    <div class="loan-bank">
      <div class="loan-bank_title">
        <p>Bank</p>
        <div class="pull-right">X</div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="bank-name">Bank name</label>
          <input type="text" id="bank-name" class="form-control" />
        </div>
        <div class="form-group col-md-6">
          <label for="1">Branch</label>
          <input type="text" id="bank-branch1" class="form-control" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="facilities-enjoyed">Facilities enjoyed</label>
          <input type="text" id="facilities-enjoyed" class="form-control" />
        </div>
        <div class="form-group col-md-6">
          <label for="bank-amount">Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">KES</span>
            </div>
            <input type="text" id="bank-amount" class="form-control" />
          </div>
        </div>
      </div>
    </div>

    <div class="add-bank-wrapper">
      <button class="btn-circle blue large"><i class="material-icons">add</i></button>
      <p>Add another</p>
    </div>
  </div>
</div>
