@import "../../../../assets/sass/abstracts/mixins";

.grn-wrapper {
  background: white;
  padding: 24px 32px;
  box-shadow: 0px 3px 6px #1751570d;

  @include respond(phone) {
    padding: 92px 24px;
  }
}

.click.material-icons {
  margin-left: auto;
}

p,
.products-table {
  font-size: 1.5rem;
}

.border-box.center-items {
  width: 100%;
  min-height: 16rem;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

h5 {
  font-size: 1.5rem;
  color: #7d8796;
}

.products-table {
  display: table;
  @include respond(phone) {
    display: none;
  }
}

.mobile-table {
  display: none;
  @include respond(phone) {
    display: block;
  }
}

.flex-r {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

.d-flex.bottom div {
  flex-grow: 1;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0px;
}

.mobile-header-txt {
  display: none;

  @include respond(phone) {
    display: block;
  }
}

.m-header {
  @include respond(phone) {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: white;
    border-bottom: 1px solid #e2e4e6;
  }
}

@media only screen and (max-width: 1440px) {
  .modal-box-content {
    height: 100%;
  }
  .modal-box,
  .modal-box-content {
    overflow-y: scroll;
  }
}
