<ul class="nav nav-tabs" style="display: none;" #listStepDetails>
  <li class="active">
    <a data-toggle="tab" class="label"></a>
  </li>
</ul>

<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us about your goals regarding this loan.</p>
  </div>

  <div class="step-content">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="business-name">What is the loan for?</label>
        <input type="text" id="business-name" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="business-name">What do you want to achieve in the short term with these founds?</label>
        <input type="text" id="business-name" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="business-name">What do you want to achieve in the long term with these founds?</label>
        <input type="text" id="business-name" class="form-control" />
      </div>
    </div>
  </div>
</div>
