.wrapper {
  position: relative;
  top: 0;
  min-height: 100vh;
  background-color: $bg-color;

  .navbar-wrapper {
    width: calc(100% - 17rem);
    padding: 1.5rem 1.6rem;
    background-color: #fff;
    height: 6rem;
    right: 0;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #e5e5e5;

    .navigation-bar {
      position: relative;
      width: 100%;
      font-size: 1.5rem;

      & * li {
        cursor: pointer;
      }

      .navigation-brand {
        position: absolute;
        left: 2rem;
        top: 0;
      }

      .navigation-right {
        position: absolute;
        right: 3rem;
        top: 0;

        li:not(:last-child) {
          margin-right: 2rem;
        }
      }

      .navigation-right > li {
        display: inline-block;
        vertical-align: middle;
      }

      .dropdown-item {
        margin-right: 0 !important;
        padding: 1.5rem 1.6rem;
        min-width: 15rem;

        i {
          margin-right: 1rem;
          font-size: 2rem;
        }

        span {
          font-size: 1.4rem;
        }

        p {
          padding-top: 2px;
          margin-bottom: 0;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #dfdfdf;
        }
      }
    }

    .dropdown-menu.notifications {
      width: 30rem;
      p {
        color: #919191;
      }

      .see-all {
        text-align: center;
      }

      li:hover {
        background-color: rgb(243, 249, 250);
      }
      .col-md-10 {
        padding-right: 15px !important;
        padding-left: 15px !important;
      }
    }
  }

  .dropdown-item.active,
  .dropdown-item:active {
    color: #16181b;
  }

  .sidebar-wrapper {
    background-color: rgba(0, 0, 0, 0.07);
    height: 100% !important;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    .sidebar {
      height: 100% !important;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      overflow-x: hidden;
      width: 17rem;
      background-image: linear-gradient(#fff, #f7f7f7);
      border-right: 1px solid #e5e5e5;
    }

    .nav {
      padding-top: 2.5rem;
      display: block;
      font-size: 1.2rem;
      font-weight: 550;

      &-item {
        list-style: none;
        text-align: center;
        position: relative;
        text-transform: uppercase;
        a,
        a:active,
        a:visited,
        a:focus {
          padding-top: 0.8rem;
          padding-bottom: 1rem;
          text-decoration: none;
          color: rgb(165, 178, 190);
        }

        p {
          font-size: 1.23rem;
        }

        i {
          font-size: 4.7rem;
        }

        &.active a p {
          color: rgb(124, 124, 124);
          animation: slide-in 0.5s;
        }

        &.active a i {
          color: $primary-color;
          text-shadow: 0px 5px 11px rgba(158, 158, 172, 0.08);
          transition: text-shadow 0.3s;
          animation: slide-in 0.35s;
        }

        &.active {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $primary-color;
            width: 3.5px;
            height: 100%;
          }
        }
      }
    }
  }
}

.notification {
  border: 1px solid #fff;
  font-size: 10px;
  background: #f44336;
  color: #ffffff;
  width: 19px;
  font-weight: bold;
  line-height: normal;
  height: 19px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs {
  border: none;
  font-size: 1.4rem;
}

.checkbox-toggle {
  display: none;
}

.dots {
  display: none;
}

#toggle {
  display: none;
}

.logo-wrapper {
  text-align: center;
  padding-top: 1rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1.2rem;
}
.brand-img {
  width: 12.8rem;
  margin-top: 1rem;
  height: 2.7rem;
}

.navbar-toggler {
  display: none;
}

.navbar-collapse {
  padding: 0px !important;
}

@include respond(tab-port) {
  .main-panel {
    width: 100% !important;
  }
  .navbar-wrapper {
    width: 100% !important;
  }

  .sidebar {
    box-shadow: 1px 5px 20px 5px rgba(0, 0, 0, 0.03);
  }

  .navbar-toggler {
    display: inline-block;
  }

  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    width: 100%;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
