<div id="pdfContent">
  <div class="row clearfix">
    <div class="col-md-9">
      <p class="heading-2">ISSUED BY</p>
      <p class="heading-4">{{ order?.buyer.first_name }} {{ order?.buyer.last_name }}</p>
      <p class="heading-4">{{ order?.buyer.company_name }}</p>
      <p class="heading-4">{{ order?.buyer.email }}</p>
      <p class="heading-4">{{ order?.buyer.address }}, {{ order?.buyer.city }} {{ order?.buyer.zipcode }}</p>
      <p class="heading-4">TEL: {{ order?.buyer.phone_number }}</p>
    </div>
    <div class="col-md-3">
      <p class="heading-2">ISSUED FOR</p>
      <p class="heading-4">{{ order?.seller.first_name }} {{ order?.seller.last_name }}</p>
      <p class="heading-4">{{ order?.seller.company_name }}</p>
      <p class="heading-4">{{ order?.seller.email }}</p>
      <p class="heading-4">{{ order?.seller.address }}, {{ order?.seller.city }} {{ order?.seller.zipcode }}</p>
      <p class="heading-4">TEL: {{ order?.seller.phone_number }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <p class="heading-2">Products</p>
      <table class="panel-table">
        <thead>
          <th>Product</th>
          <th>Packages</th>
          <th>Amount</th>
          <th>Rate</th>
          <th>Price</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of order?.products">
            <td>
              <span *ngIf="!row.product_type || row.product_type=='agricultural'">
                {{row.produce}} / {{row.variety}}
              </span>
              <span *ngIf="row.product_type=='processed' && row.item_package_type">
                {{row.produce}} / {{row.item_measurement_amount}} {{row.item_measurement_unit}} /
                {{row.item_package_type}}
              </span>
              <span *ngIf="row.product_type=='processed' && !row.item_package_type">
                {{row.produce}}
              </span>
            </td>
            <td>
              <span *ngIf="!row.product_type || row.product_type=='agricultural'">
                {{row.quantity}} ({{row.type_of_package}} / {{row.package_weight}} {{row.weight_unit}})
              </span>
              <span *ngIf="row.product_type=='processed' && row.item_package_type">
                {{row.quantity}} ({{row.type_of_package}} / {{row.items_per_package}}<span *ngIf="row.items_per_package>1">
                  items)</span><span *ngIf="row.items_per_package==0"> item)</span>
              </span>
              <span *ngIf="row.product_type=='processed' && !row.item_package_type">
                {{row.quantity}} ({{row.type_of_package}})
              </span>
            </td>
            <td>
              <span *ngIf="!row.product_type || row.product_type=='agricultural'">{{row.total_weight}}
                {{row.weight_unit}}</span>
              <span *ngIf="row.product_type=='processed'">N/A</span>
            </td>
            <td>
              <span *ngIf="!row.product_type || row.product_type=='agricultural'">{{row.price_per_unit}}
                {{order?.currency}} / {{row.weight_unit}}</span>
              <span *ngIf="row.product_type=='processed'">{{row.package_price}} {{order?.currency}} /
                {{row.type_of_package}}</span>
            </td>
            <td>
              <span id="total">{{row.product_subtotal | number:'1.2-2'}} {{order?.currency}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="subtotal-price pull-right">
        <p class="heading-2">SUBTOTAL</p>
        <p class="heading-4-blue">{{order?.subtotal}} {{order?.currency}}</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="po-right-side">
        <p class="heading-2">
          Comments or special instructions for purchase order
        </p>
        <p>{{ order?.order_comments || 'None'}}</p>
        <p class="heading-2">Comments or special instructions for payments</p>
        <p>{{ order?.payment_comments || 'None'}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="border-top">
        <p class="heading-2">Signed by</p>
        <div class="row">
          <div class="col-md-3">
            <p>{{ order?.sign_by.first_name }} {{ order?.sign_by.last_name }}</p>
            <p>{{ order?.sign_by.company_name }}</p>
            <p>PO valid by: {{ order?.sign_by.date | date: 'dd/MM/yyyy' }}</p>
            <p>Date of issue: {{ order?.date_created | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="border-top">
        <p class="heading-2">Delivered to</p>
        <p>{{ order?.deliver_to.contact_name }}</p>
        <p>{{ order?.deliver_to.address }}, {{ order?.deliver_to.city }} {{ order?.deliver_to.zip_code }}</p>
        <p>{{ order?.deliver_to.phone_number }}</p>
        <p>Expected delivery date: {{ order?.deliver_to.expected_delivery_date | date: 'dd/MM/yyyy'}}</p>
        <button class="bttn-primary pull-right" (click)="saveOrder()">Submit</button>
        <button class="btn-primary-transp pull-right" (click)="download()">Download PDF</button>
      </div>
    </div>
  </div>
</div>