<div class="modal-box" id="invoiceTutorials" *ngxPermissionsOnly="['create-invoice']">
  <button class="bttn-icon right" (click)="nextSlide()" [hidden]="currentSlide == 3">
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
  <button class="bttn-icon left" (click)="prevSlide()" [hidden]="currentSlide == 1">
    <i class="material-icons">keyboard_arrow_left </i>
  </button>
  <button class="bttn-icon right" (click)="onClose()" [hidden]="currentSlide != 3" data-dismiss="modal" #closeModal>
    <i class="material-icons">check</i>
  </button>
  <div id="slide-1" [hidden]="currentSlide != 1" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/inv.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>Welcome to Proforma Invoices!</h1>
        <p>
          The Proforma Invoices feature is where you can generate, review and distribute stand-alone proforma invoices,
          which are proforma invoices that are not connected directly to a purchase order you received from a buyer on
          the platform. To generate a new stand-alone proforma invoice, simply click on the New Proforma Invoice button.
        </p>
      </div>
    </div>
  </div>
  <div id="slide-2" [hidden]="currentSlide != 2" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/inv-generator.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>New Proforma Invoice</h1>
        <p>
          Issuing a stand-alone proforma invoice is composed of 3 simple steps:
        </p>
        <ul class="tutorial-list">
          <li>Pick a buyer</li>
          <li>
            Customize the proforma invoice by adding your contact details, product specifications, terms & conditions
            and more.
          </li>
          <li>Review the invoice and send it directly to your buyer.</li>
        </ul>
        <p>At the end of each step, click on the Next button to proceed.</p>
      </div>
    </div>
  </div>
  <div id="slide-3" [hidden]="currentSlide != 3" class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/inv-pdf.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>What's next?</h1>
        <p>
          When you generate a proforma invoice, the buyer will be notified automatically. In addition, to review the
          proforma invoice you’ve generated, simply click on the View button in the relevant row, and it will lead you
          to the issued proforma invoice which you can also download as PDF.
        </p>
      </div>
    </div>
  </div>
  <div class="nav-circles">
    <div class="active" id="1"></div>
    <div id="2"></div>
    <div id="3"></div>
  </div>
</div>

<div class="modal-box" id="invoiceTutorials" *ngxPermissionsOnly="!['create-invoice']">
  <div class="modal-box-content-wrapper">
    <div class="modal-box-content-lg">
      <i class="material-icons pull-right close-modal" (click)="onClose()" data-dismiss="modal" #closeModal>close</i>
      <div class="upper-part">
        <div class="tutoral-image-wrapper">
          <img src="../../../../../assets/img/tutorial-imgs/inv-pdf-buyer.svg" alt="" />
        </div>
      </div>
      <div class="bottom-part">
        <h1>Welcome to Proforma Invoices!</h1>
        <p>
          The proforma Invoices section is where you can review, download, and manage all of the proforma invoices
          submitted by your sellers in one place. Don’t worry about staying updated - once an proforma invoice has been
          received, you will be informed with live notifications. In order to review the received proforma invoices
          generated by the seller, simply click on the View button in the relevant row and it will lead you to the
          issued proforma invoice which you can also download as PDF.
        </p>
      </div>
    </div>
  </div>
</div>
