<div class="center-text-btn">
  <i class="material-icons icon">person</i>
  <span class="main-title">User Profile</span>
</div>
<div class="row" style="margin-top: 2.5rem;">
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-body user-details">
        <div>
          <app-upload-picture [picture]="profilePicture" [type]="'profile'" [user]="user"></app-upload-picture>
          <p class="heading-2">{{ user.personal_information.first_name }} {{ user.personal_information.last_name }}</p>
          <p class="normal-text-bold">{{ userRole | titlecase }}</p>
        </div>
        <div>
          <p class="heading-2">Contact Information</p>
          <p class="heading-3">Email Address</p>
          <p class="heading-4">{{ user.email }}</p>
          <p class="heading-3">Phone Number</p>
          <p class="heading-4">{{ user.personal_information.phone_number }}</p>
        </div>
        <div>
          <p class="heading-2">Company Information</p>
          <p class="heading-3">Company Name</p>
          <p class="heading-4">{{ user.company_information.company_name }}</p>
          <p class="heading-3">Company Email</p>
          <p class="heading-4">{{ user.company_information.company_email }}</p>
          <p class="heading-3">Location</p>
          <p class="heading-4">{{ user.company_information.city }}, {{ user.company_information.country }}</p>
          <p class="heading-4">{{ user.company_information.street }}</p>
          <p class="heading-4">{{ user.company_information.zipcode }}</p>
          <p class="heading-4">{{ user.company_information.state_province_region }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel user-settings">
      <div class="panel-body">
        <div class="panel-header">
          <div class="icon-text"><i class="material-icons">settings</i> <span> Account Settings </span></div>
          <p class="heading-3" style="margin-left:3.3rem;">Edit your profile information</p>
        </div>
        <div class="col-md-6 contact-info-section">
          <div class="icon-text">
            <i class="material-icons">person</i><span class="heading-2"> CONTACT INFROMATION</span>
          </div>
          <form [formGroup]="clientDetailsForm" (ngSubmit)="onSubmitClientDetails()" id="contact-info-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fist-name">First Name *</label>
                <input type="text" formControlName="firstName" class="form-control" id="fist-name" />
              </div>
              <div class="form-group col-md-6">
                <label for="last-name">Last Name *</label>
                <input type="text" formControlName="lastName" class="form-control" id="last-name" />
              </div>
            </div>
            <div class="form-group">
              <label for="email-address">Email Address *</label>
              <input type="email" formControlName="email" class="form-control" id="email-address" readonly />
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="phone">Phone Number *</label>
                <input type="text" formControlName="phoneNumber" class="form-control" id="phone" readonly />
              </div>
              <div class="form-group col-md-6">
                <label for="country">Job Title</label>
                <input type="text" formControlName="jobTitle" class="form-control" id="job-title" />
              </div>
            </div>
            <div class="form-group">
              <label for="street-address">About</label>
              <textarea type="span" rows="3" formControlName="bio" class="form-control" id="client-bio"></textarea>
            </div>
            <button type="submit" class="bttn-primary pull-right" [disabled]="!clientDetailsForm.valid">
              Save Changes
            </button>
          </form>
        </div>
        <div class="col-md-6 company-info-section">
          <div class="icon-text">
            <i class="material-icons">business</i><span class="heading-2"> COMPANY INFROMATION</span>
          </div>
          <form [formGroup]="companyDetailsForm" (ngSubmit)="onSubmitCompanyDetails()" id="contact-info-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="company-name">Company Registered Name *</label>
                <input type="text" formControlName="companyName" class="form-control" id="company-name" />
              </div>
              <div class="form-group col-md-6">
                <label for="comapny-number">Company Registered Number</label>
                <input type="text" formControlName="companyNumber" class="form-control" id="comapny-number" />
              </div>
            </div>
            <div class="form-group">
              <label for="company-email-address">Email Address</label>
              <input type="email" formControlName="email" class="form-control" id="company-email-address" />
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="phone">Phone Number</label>
                <input type="text" formControlName="phoneNumber" class="form-control" id="phone" />
              </div>
              <div class="form-group col-md-6">
                <label for="country">Country *</label>
                <input type="text" formControlName="country" class="form-control" id="street" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="city">City *</label>
                <input type="text" formControlName="city" class="form-control" id="city" />
              </div>
              <div class="form-group col-md-6">
                <label for="zip-code">Zip Code *</label>
                <input type="text" formControlName="zipcode" class="form-control" id="zip-code" />
              </div>
            </div>
            <div class="form-group">
              <label for="street-address">Street Address *</label>
              <input type="text" formControlName="address" class="form-control" id="street-address" />
            </div>
            <div class="form-group">
              <label for="street-address">About</label>
              <textarea type="span" rows="3" formControlName="bio" class="form-control" id="street-address"></textarea>
            </div>
            <button type="submit" class="bttn-primary pull-right" [disabled]="!companyDetailsForm.valid">
              Save Changes
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-profile-password></app-profile-password>
      </div>
    </div>
  </div>
</div>
