.dropdown {
  display: inline;
  .dropdown-menu {
    margin-top: 1.8rem;
    width: 96%;
    font-size: 1.3rem;
    cursor: pointer;

    li {
      padding-right: 10px;
      color: #666666;
      padding-top: 5px;
      border-left: 3px solid #37ce95;
      padding-bottom: 5px;
      a {
        padding-left: 15px;
      }
    }

    li:nth-child(2) {
      border-left: 3px solid #37c1ce;
    }

    li:not(:last-child) {
      border-bottom: 1px solid #f2f2f2;
    }
  }
}

.helper-payment-wrapper {
  display: flex;
  margin-bottom: 2rem;
}

.helper-panel {
  margin-bottom: 0px;
  font-size: 1.4rem;
  width: 100%;
  align-self: flex-start;
}

.pay-section {
  width: 30%;
  position: relative;
  background: #5089f0;
  color: white;
  border-radius: 2px;
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 1.5rem;
  margin-left: 1.7rem;

  p {
    z-index: 100;
  }
  a {
    text-decoration: underline;
    color: white;
  }

  img {
    position: absolute;
    right: 9px;
    top: 9px;
    width: 9%;
  }
}
