<a class="pull-right need-help" data-toggle="wizard" data-target="#ordersTutorials">Need help?</a>
<h1 translate class="main-title">Orders</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>{{ helpLegend }}</p>
</div>

<h1 translate class="main-title" *ngIf="hasOrders">Orders List</h1>

<div class="clearfix mt-1 actions-section" *ngIf="hasOrders">
  <div>
    <input
      type="text"
      id="searchBar"
      class="search-bar"
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="Search orders..."
    />
  </div>

  <div class="flex-pr">
    <button class="btn-primary-transp" (click)="exportAll()">
      <i class="material-icons">arrow_upward</i>
      <span translate>Export All Orders</span>
    </button>

    <div *ngxPermissionsOnly="['create-order']" class="dropdown">
      <button
        class="bttn-primary dropdown-toggle"
        matTooltip="{{ tooltips.place_order }}"
        data-toggle="dropdown"
        matTooltipPosition="above"
      >
        <span translate>Place Order </span>
      </button>
      <ul class="dropdown-menu">
        <li routerLink="/order/generator/standard" matTooltip="{{ tooltips.internal_po }}" matTooltipPosition="left">
          <a>Internal Purchase Order</a>
        </li>
        <li routerLink="/order/generator/open" matTooltip="{{ tooltips.external_po }}" matTooltipPosition="left">
          <a>External Purchase Order</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="two-btns" *ngIf="agribusinessUser && buyerOrders.length > 0 && sellerOrders.length > 0">
  <p class="heading-3">View records as:</p>
  <button (click)="viewAs('seller')" [class.active]="this.viewAsSeller">
    Seller
  </button>
  <button (click)="viewAs('buyer')" [class.active]="this.viewAsBuyer">
    Buyer
  </button>
</div>

<app-order-list [searchTerm]="searchTerm" [orders]="orders"></app-order-list>
<app-orders-tutorials></app-orders-tutorials>
