<h1 translate class="main-title">Orders</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p translate>
    Orders list legend
  </p>
</div>

<h1 translate class="main-title">Orders List</h1>

<button class="btn-primary-transp pull-right">
  <i class="material-icons">arrow_upward</i>
  <span translate>Export All Orders</span>
</button>

<button class="btn-primary-filled pull-right">
  <i class="material-icons">add</i> <span translate>Place Order</span>
</button>

<table class="table main-table">
  <thead>
    <tr>
      <th translate class="text-center">ID</th>
      <th translate>Date</th>
      <th translate>Company</th>
      <th translate>Contact</th>
      <th translate>Packages</th>
      <th translate>Price</th>
      <th translate>Status</th>
      <th translate class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td class="text-center">{{ order.numericId }}</td>
      <td>{{ order.date_created | date: "dd/MM/yyyy" }}</td>
      <td>
        <span *ngIf="userId == order.seller._id">{{ order.buyer.company_name }}</span>
        <span *ngIf="userId == order.buyer._id">{{ order.seller.company_name }}</span>
      </td>
      <td>
        <span *ngIf="userId == order.seller._id">{{ order.buyer.first_name }} {{ order.buyer.last_name }}</span>
        <span *ngIf="userId == order.buyer._id">{{ order.seller.first_name }} {{ order.seller.last_name }}</span>
      </td>
      <td>
        <span *ngIf="order.total_weight">{{ order.total_weight | roundUp }} {{ order.document_weight_unit }}
        <span *ngIf="hasProcessedProduct(order)" style="font-size :9px;color:gray">Excluding processed products</span></span>
        <span *ngIf="!order.total_weight">N/A</span>
      </td>
      <td>
        <span *ngIf="order.total_due">{{ order.total_due | number: "1.2-2" }} {{ order.currency }}</span>
        <span *ngIf="!order.total_due">N/A</span>
      </td>
      <td>{{ order.status }}</td>
      <td class="text-right">
        <button class="btn round-button-primary">
          <i class="material-icons">remove_red_eye</i>
        </button>
        <button class="btn round-button-red">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
