<h1 translate class="main-title">Orders</h1>

<div class="helper-panel">
  <i class="material-icons pull-left">info</i>
  <p>{{ helpLegend }}</p>
</div>

<h1 translate class="main-title">Orders List</h1>

<div class="clearfix margin-top">
  <button class="btn-primary-transp pull-right" (click)="exportAll()">
    <i class="material-icons">arrow_upward</i>
    <span translate>Export All Orders</span>
  </button>

  <button *ngxPermissionsOnly="['create-order']" class="bttn-primary bttn-add pull-right" routerLink="/order/generator">
    <span translate>Place Order </span>
  </button>

  <div class="pull-left two-btns" *ngIf="agribusinessUser">
    <p class="heading-2">View records as:</p>
    <button (click)="viewAs('seller')" [class.active]="this.viewAsSeller">
      Seller
    </button>
    <button (click)="viewAs('buyer')" [class.active]="this.viewAsBuyer">
      Buyer
    </button>
    <button (click)="viewAs('agri')" [class.active]="this.viewAsAgri" class="bttn-primary-sm">
      All
    </button>
  </div>
</div>

<app-order-list [orders]="orders"></app-order-list>
