<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us about you.</p>
  </div>

  <form [formGroup]="loan_form" class="col">
    <div formGroupName="applicant_details" #applicantDetails>
      <div class="step-content">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="surname1">Full name</label>
            <input type="text" id="surname1" class="form-control" formControlName="full_name" />
          </div>
          <div class="form-group col-md-6">
            <label for="other-names1">Other names</label>
            <input type="text" id="other-names1" class="form-control" formControlName="other_names" />
          </div>
        </div>

        <label for="ownership-type">What is your gender?</label>
        <div class="row options-wrapper mb-2">
          <div class="col-md-6 pl-0 pr-2 mb-3">
            <label class="container">
              <input type="radio" name="gender" value="male" formControlName="gender" />
              <span class="checkmark">
                Male
              </span>
            </label>
          </div>
          <div class="col-md-6 pl-2 pr-0">
            <label class="container">
              <input type="radio" name="gender" value="female" formControlName="gender" />
              <span class="checkmark">
                Female
              </span>
            </label>
          </div>
        </div>

        <label for="ownership-type">What is your martial status?</label>
        <div class="row options-wrapper mb-2">
          <div class="col-md-6 pl-0 pr-2 mb-3">
            <label class="container">
              <input type="radio" name="marital_status" value="married" formControlName="marital_status" />
              <span class="checkmark">
                Married
              </span>
            </label>
          </div>
          <div class="col-md-6 pl-2 pr-0">
            <label class="container">
              <input type="radio" name="marital_status" value="single" formControlName="marital_status" />
              <span class="checkmark">
                Single
              </span>
            </label>
          </div>
        </div>

        <label for="ownership-type">Are you resident of Kenya?</label>
        <div class="row options-wrapper mb-2">
          <div class="col-md-6 pl-0 pr-2 mb-3">
            <label class="container">
              <input
                type="radio"
                checked="checked"
                name="kenyan_resident"
                [value]="true"
                formControlName="kenyan_resident"
              />
              <span class="checkmark">
                Yes
              </span>
            </label>
          </div>
          <div class="col-md-6 pl-2 pr-0">
            <label class="container">
              <input type="radio" name="kenyan_resident" [value]="false" formControlName="kenyan_resident" />
              <span class="checkmark">
                No
              </span>
            </label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="birth-date1">Date of birth</label>
            <input type="text" id="birth-date1" class="form-control" formControlName="birth_date" />
          </div>
          <div class="form-group col-md-6">
            <label for="PIN1">PIN number</label>
            <input type="text" id="PIN1" class="form-control" formControlName="pin_number" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="country1">Country of Residence</label>
            <input type="text" id="country1" class="form-control" formControlName="residence_country" />
          </div>
          <div class="form-group col-md-3">
            <label for="nationality1">Nationality</label>
            <input type="text" id="nationality1" class="form-control" formControlName="nationality" />
          </div>
          <div class="form-group col-md-6">
            <label for="national-id1">National ID</label>
            <input type="text" id="national-id1" class="form-control" formControlName="national_id_number" />
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <label for="passport-number">Passport number</label>
            <input type="text" id="passport-number" class="form-control" formControlName="passport_number" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="po-box1">P.O. box</label>
            <input type="text" id="po-box1" class="form-control" formControlName="postal_box" />
          </div>
          <div class="form-group col-md-6">
            <label for="postal-code1">Postal code</label>
            <input type="text" id="postal-code1" class="form-control" formControlName="postal_code" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
