<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us about you.</p>
  </div>

  <div class="step-content">
    <div class="form-row">
      <div class="form-group pr-3 col-md-4">
        <label for="first-name">First name</label>
        <input type="text" id="first-name" class="form-control" />
      </div>
      <div class="form-group pr-3 col-md-4">
        <label for="last-name">Last name</label>
        <input type="text" id="last-name" class="form-control" />
      </div>
      <div class="form-group pr-3 col-md-4">
        <label for="suranme">Surname</label>
        <input type="text" id="suranme" class="form-control" />
      </div>
    </div>

    <label for="ownership-type">What is your gender?</label>
    <div class="row options-wrapper mb-2">
      <div class="col-md-6 pl-0 mb-3">
        <label class="container">
          <input type="radio" checked="checked" name="premises-radio" />
          <span class="checkmark">
            Male
          </span>
        </label>
      </div>
      <div class="col-md-6 pl-0">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            Female
          </span>
        </label>
      </div>
    </div>

    <label for="ownership-type">Are you resident of Kenya?</label>
    <div class="row options-wrapper mb-2">
      <div class="col-md-6 pl-0 mb-3">
        <label class="container">
          <input type="radio" checked="checked" name="premises-radio" />
          <span class="checkmark">
            Yes
          </span>
        </label>
      </div>
      <div class="col-md-6 pl-0">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            No
          </span>
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="birth-date">Date of birth</label>
        <input type="text" id="birth-date" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="birth-place">Place of birth</label>
        <input type="text" id="birth-place" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nationality">Nationality</label>
        <input type="text" id="nationality" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="national-id">National ID</label>
        <input type="text" id="national-id" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="pin-number">Pin number</label>
        <input type="text" id="pin-number" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="marital-status">Marital status</label>
        <input type="text" id="marital-status" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="dependants">Number of dependants</label>
        <input type="number" id="dependants" class="form-control" />
      </div>
    </div>
  </div>
</div>
