<div class="wrapper">
  <h1 class="back-div main-title btn-main margin-bottom-2" routerLink="/payments">
    <a class="main-color"><i class="material-icons">keyboard_backspace</i></a> Payments
  </h1>

  <div class="stepper-wrapper">
    <div class="stepper desktop-stepper">
      <h1 class="back-div main-title btn-main mobile" routerLink="/payments">
        <a class="main-color"><i class="material-icons">keyboard_backspace</i></a> Payments
      </h1>
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" class="label" href="#documents">
            <span class="round-tab horizantal-line">1</span>
            <span class="step-text">Choose a trade document</span>
          </a>
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#payments-details">
            <span class="round-tab horizantal-line">2</span>
            <span class="step-text">Add Payment Details</span>
          </a>
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#review-payment">
            <span class="round-tab horizantal-line">3</span>
            <span class="step-text">Review and Submit</span></a
          >
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="documents">
          <app-document-payment-documents (grnEmit)="grn = $event"></app-document-payment-documents>
        </div>

        <div class="tab-pane" id="payments-details">
          <app-document-payment-details [grn]="grn" (paymentOutput)="payment = $event"></app-document-payment-details>
        </div>

        <div class="tab-pane" id="review-payment">
          <app-payment-document [payment]="payment" (pay)="sendPayment()"></app-payment-document>
        </div>
      </div>
    </div>
  </div>
</div>
