<div class="login-container full-page-background">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/#/dashboard">Avenews-GT</a></div>
    </div>
  </nav>
  <div class="login-box">
    <div class="container login-wrapper">
      <div class="card col-md-6 col-md-offset-3">
        <div class="card-body" [hidden]="passwordChanged">
          <a class="icon-text" [routerLink]="['/login']">
            <i class="material-icons padding-none c-p">keyboard_backspace</i>
            <a class="t-bold t-blue">Back to login</a>
          </a>
          <form [formGroup]="passwordForm">
            <div class="mt-4">
              <p class="heading-2">Reset Password</p>
              <p class="t-light-gray">
                Enter your desired new password into the fields. Make sure that the two passwords are matching.
              </p>
              <div class="form-group">
                <label class="d-block">New Password</label>
                <input type="password" formControlName="newPassword" class="form-control" />
              </div>
              <div class="form-group mb-2">
                <label class="d-block">Retype New Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" />
              </div>
              <div class="help-block mt" *ngIf="passwordsNotMatch()">
                <p>
                  Passwords don't match!
                </p>
              </div>
              <button
                class="btn btn-primary w-100 mt-5"
                type="submit"
                [disabled]="!passwordForm.valid"
                (click)="submit()"
              >
                <span translate>Change Password</span>
              </button>
            </div>
          </form>
        </div>
        <div class="card-body" [hidden]="!passwordChanged">
          <a [routerLink]="['/login']" class="icon-text">
            <i class="material-icons padding-none c-p">keyboard_backspace</i>
            <a class="t-bold t-blue"> Back to Login</a>
          </a>
          <div class="circle-indicator circle-success mt-5">
            <i class="material-icons">check</i>
          </div>
          <div class="mb-4 mt-5">
            <p class="heading-2">Your password has been changed successfully!</p>
          </div>
          <button class="btn btn-primary w-100 mt-3" [routerLink]="['/login']">
            <span translate>Go to Login Page</span>
          </button>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li><button class="btn-link">PRIVACY POLICY</button></li>
          </ul>
        </nav>
        <p class="copyright pull-right">&copy; <a href="https://www.avenews-gt.com" target="_blank">Avenews-GT</a></p>
      </div>
    </footer>
  </div>
</div>
