<form [formGroup]="orgDetailsForm">
  <div class="col-md-12">
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('name')">
        <label for="first_name">Name *</label>
        <input type="text" formControlName="name" class="form-control" id="name" />
        <div class="help-block" *ngIf="isFieldInvalid('name')">
          <p>This field is required</p>
        </div>
      </div>
      <div [ngClass]="showFieldStyle('type')" class="form-group col-md-6">
        <label for="type">Type *</label>
        <input
          placeholder="e.g. company, co-op, cluster, etc."
          type="text"
          formControlName="type"
          class="form-control"
          id="type"
        />
        <div class="help-block" *ngIf="isFieldInvalid('type')">
          <p>This field is required</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div [ngClass]="showFieldStyle('registrationNumber')" class="form-group col-md-6">
        <label for="registrationNumber">Registration Number *</label>
        <input type="text" class="form-control" formControlName="registrationNumber" id="registrationNumber" />
        <div class="help-block" *ngIf="isFieldInvalid('registrationNumber')">
          <p>This field is required</p>
        </div>
      </div>
      <div [ngClass]="showFieldStyle('yearOfIncorporation')" class="form-group col-md-6">
        <label for="yearOfIncorporation">Year of incorporation *</label>
        <input type="text" class="form-control" formControlName="yearOfIncorporation" id="yearOfIncorporation" />
        <div class="help-block" *ngIf="isFieldInvalid('yearOfIncorporation')">
          <p>This field is required</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="showFieldStyle('phoneNumber')">
        <label for="phoneNumber">Phone Number *</label>
        <input type="text" formControlName="phoneNumber" class="form-control" id="phoneNumber" />
        <div class="help-block" *ngIf="isFieldInvalid('phoneNumber')">
          <p>This field is required</p>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" id="email" />
      </div>
    </div>
    <div class="form-row">
      <div [ngClass]="showFieldStyle('country')" class="form-group col-md-6">
        <label for="country">Country *</label>
        <select formControlName="country" class="form-control" id="country">
          <option value="null" disabled="true" [selected]="true">Choose a country</option>
          <option *ngFor="let country of countries">{{ country.viewValue }}</option>
        </select>
        <div class="help-block" *ngIf="isFieldInvalid('country')">
          <p>This field is required</p>
        </div>
      </div>
      <div [ngClass]="showFieldStyle('address')" class="form-group col-md-6">
        <label for="address">Address *</label>
        <input
          placeholder="e.g. name of city, village, etc."
          type="text"
          class="form-control"
          formControlName="address"
          id="address"
        />
        <div class="help-block" *ngIf="isFieldInvalid('address')">
          <p>This field is required</p>
        </div>
      </div>
    </div>
  </div>
  <button type="button" (click)="onGeneralSubmit()" class="bttn-primary pull-right">
    Next
  </button>
  <button id="next" hidden class="next-step"></button>
</form>
