<app-payment-activation *ngIf="!topUpApproved"></app-payment-activation>

<div class="payments-container" *ngIf="topUpApproved">
  <h1 translate class="main-title d-inline-flex align-self-center">Payments</h1>

  <div class="d-flex mt-4" id="stats-counter">
    <div class="strip stats-container">
      <div class="d-flex">
        <p class="stats-title">BALANCE</p>
        <a class="bttn-line t-blue" data-toggle="wizard" data-target="#topUpBalance">Top-up Balance</a>
      </div>
      <p class="stats-value">KES {{ wallet.available | numberFormat }}</p>
    </div>
    <div class="strip stats-container">
      <p class="stats-title">TOTAL PROCESSING PAYMENTS</p>
      <p class="stats-value">KES {{ wallet.processingPayment | numberFormat }}</p>
    </div>
    <div class="strip stats-container">
      <p class="stats-title">TOTAL PAYMENTS</p>
      <p class="stats-value">KES {{ wallet.totalPaid | numberFormat }}</p>
    </div>
  </div>

  <div class="mt-5" [style.display]="availablePayments ? 'block' : 'none'">
    <div class="actions-section clearfix">
      <h1 class="main-title align-self-center">
        {{ listTitle }}
      </h1>

      <div class="flex-pr">
        <div class="dropdown">
          <button class="bttn-primary bttn-add" type="button" data-toggle="dropdown">
            <span class="btn-desktop-txt">New Payment</span>
            <span class="btn-mobile-txt">New</span>
          </button>
          <ul class="dropdown-menu">
            <li routerLink="/payments/generator/contact"><a>Pay a Contact</a></li>
            <!-- <li><a>Pay a Trade Document</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="actions-section clearfix">
      <div class="searchbar d-flex">
        <input [(ngModel)]="searchTerm" placeholder="Search payments..." class="search-bar m-0" type="search" />
        <span class=""></span>
      </div>
    </div>
  </div>

  <div class="strip mt-5" id="payments-empty" [style.display]="availablePayments ? 'none' : 'flex'">
    <div>
      <img src="../../../assets/img/payment-img.png" />
      <p>You don't have any payments yet.</p>
      <button class="bttn-primary" routerLink="/payments/generator/contact">Pay a Contact</button>
      <button class="bttn-primary" routerLink="/payments/generator/document">Pay a Trade Document</button>
    </div>
  </div>

  <mat-tab-group id="payment-view-tabs" (selectedIndexChange)="toggleTitle($event)">
    <mat-tab color="#37c1ce" label="Payments" id="paymentsTab">
      <table class="table main-table" matSort>
        <thead>
          <tr id="table-head">
            <th mat-sort-header="id">ID</th>
            <th mat-sort-header="date" class="text-center">Date</th>
            <th mat-sort-header="contact" class="text-center">Contact</th>
            <th mat-sort-header="type" class="text-center">Type</th>
            <th mat-sort-header="amount" class="text-center">Amount</th>
            <th mat-sort-header="status" class="text-center">Status</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let tx of payments
                | filter: searchTerm
                | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };
              let i = index
            "
          >
            <td>#{{ tx.numericId }}</td>
            <td>{{ tx.dateCreated | dateString }}</td>
            <td>{{ getTxContact(tx) }}</td>
            <td>{{ getTxType(tx) }}</td>
            <td>{{ tx.amount | number: '1.2-2' }} {{ tx.currency }}</td>
            <td>
              <span class="{{ tx.status | status }}">{{ tx.status | titlecase }}</span>
            </td>
            <td><a id="view" *ngIf="tx.type === 'payment'" (click)="paymentView(i)">View</a></td>
          </tr>
        </tbody>
      </table>

      <div class="mobile-list-wrapper mb-5">
        <div
          class="strip mt-4 mb-3"
          *ngFor="
            let tx of payments
              | filter: searchTerm
              | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };
            let i = index
          "
        >
          <div class="flex-row">
            <div>#{{ tx.numericId }}</div>
            <div>{{ tx.dateCreated | dateString }}</div>
          </div>
          <div class="flex-row">
            <div>{{ getTxContact(tx) }}</div>
            <div class="{{ tx.status | status }}">{{ tx.status | titlecase }}</div>
          </div>
          <div>{{ getTxType(tx) }}</div>
          <div>{{ tx.amount | number: '1.2-2' }} {{ tx.currency }}</div>
          <div class="mt-3"><a id="view" (click)="paymentView(i)">View</a></div>
        </div>
      </div>
    </mat-tab>
    <mat-tab color="#37c1ce" label="Top-ups" id="topupsTab">
      <table class="table main-table" matSort>
        <thead>
          <tr id="table-head">
            <th mat-sort-header="id">ID</th>
            <th mat-sort-header="date" class="text-center">Date</th>
            <th mat-sort-header="amount" class="text-center">Amount</th>
            <th mat-sort-header="status" class="text-center">Status</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let tx of topups
                | filter: searchTerm
                | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };
              let i = index
            "
          >
            <td>#{{ tx.numericId }}</td>
            <td>{{ tx.dateCreated | dateString }}</td>
            <td>{{ tx.amount | number: '1.2-2' }} {{ tx.currency }}</td>
            <td>
              <span class="{{ tx.status | status }}">{{ tx.status | titlecase }}</span>
            </td>
            <td><a id="view" [routerLink]="['topup/', tx._id]">View</a></td>
          </tr>
        </tbody>
      </table>

      <div class="mobile-list-wrapper mb-5">
        <div
          class="strip mt-4 mb-3"
          *ngFor="
            let tx of topups | filter: searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };
            let i = index
          "
        >
          <div class="flex-row">
            <div>#{{ tx.numericId }}</div>
            <div>{{ tx.dateCreated | dateString }}</div>
          </div>
          <div class="flex-row">
            <div>{{ getTxContact(tx) }}</div>
            <div class="{{ tx.status | status }}">{{ tx.status | titlecase }}</div>
          </div>
          <div>{{ getTxType(tx) }}</div>
          <div>{{ tx.amount | number: '1.2-2' }} {{ tx.currency }}</div>
          <div class="mt-3"><a id="view" [routerLink]="['topup/', tx._id]">View</a></div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<pagination-controls *ngIf="transactions.length" (pageChange)="pageChanged($event)"></pagination-controls>

<app-topup-modal (balanceSubmit)="topup($event)"></app-topup-modal>
