<div class="modal-box-heading">
  <a (click)="onExit()"><i class="material-icons pull-right">close</i></a>
  <h2 translate class="modal-title">Add Processed Product</h2>
</div>
<div class="padding-all">
  <form [formGroup]=productForm (ngSubmit)="addProduct()">
    <p class="heading-2">Product</p>

    <div class="form-row">
      <div class="form-group col">
        <label for="product-name">Product Name *</label>
        <input type="text" id="product-name" formControlName="name" class="form-control" placeholder="Ex. Orange juice" />
      </div>
    </div>
    <p class="heading-2">Package</p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="product-name">Package Type *</label>
        <input type="text" id="package-type" formControlName="type_of_package" class="form-control" placeholder="Ex. Box" />
      </div>
      <div class="form-group col-md-6">
        <label for="variety">Total Number of Packages *</label>
        <input type="number" id="total-packages" formControlName="number_of_packages" class="form-control" placeholder="Ex. 20" />
      </div>
    </div>
    <p class="heading-2">Item</p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="items-per-package">Number of Items per Package *</label>
        <input type="number" min="0" id="items-per-package" formControlName="items_per_package" class="form-control"
          placeholder="Ex. 10" />
      </div>
      <div class="form-group col-md-6">
        <label for="item-packing-type">Item Packing Type *</label>
        <input type="text" id="item-packing-type" formControlName="item_package_type" class="form-control" placeholder="Ex. Bottle" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="total-items-amount">Total Amount of Items *</label>
        <input type="number" min="0" id="total-items-amount" formControlName="total_amount_items" class="form-control"
          placeholder="Ex. 40" />
      </div>
      <div class="form-group col-md-6">
        <label for="measurement-unit">Measurement Unit *</label>
        <select id="measurement-unit" formControlName="item_measurement_unit" class="form-control">
          <option *ngFor="let unit of units" [value]="unit.value" selected="selected">{{ unit.viewValue }}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="itemMeasurementAmount">Amount of {{productf.item_measurement_unit.value | uppercase}} in individual
          *</label>
        <input min="0" type="number" formControlName="item_measurement_amount" class="form-control" name="itemMeasurementAmount"
          placeholder="Ex. 5" id="itemMeasurementAmount">
      </div>
    </div>
    <p class="heading-2">Price</p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="package-price">Price per Package *</label>
        <input type="number" formControlName="price_per_package" class="form-control" id="package-price" placeholder="Ex. 15" />
      </div>
      <div class="form-group col-md-6">
        <label for="currecny">Currency *</label>
        <select id="currency" formControlName="currency" class="form-control">
          <option *ngFor="let currency of currencies" [value]="currency.value"> {{ currency.viewValue }}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="total-price">Total Price *</label>
        <input type="number" id="total-price" formControlName="total_price" class="form-control" placeholder="Ex. 300" />
      </div>
    </div>

    <div class="center-text-btn">
      <span class="heading-2 margin-bottom ">Add to Inventory</span>
      <div class="switch">
        <input id="add_to_inventory_switch" formControlName="to_inventory" class="cmn-toggle cmn-toggle-round-flat"
          type="checkbox" checked />
        <label for="add_to_inventory_switch"></label>
      </div>
    </div>
    <button [disabled]="!productForm.valid" class="bttn-primary pull-right">Add Product</button>
  </form>
</div>