<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us a bit about your properties.</p>
  </div>

  <div class="step-content">
    <label for="ownership-type">What is the accommodation type?</label>
    <div class="row options-wrapper mb-2">
      <div class="col-md-4 pl-0 mb-3">
        <label class="container">
          <input type="radio" name="accommodation" />
          <span class="checkmark">
            Rented (Annual rent)
          </span>
        </label>
      </div>
      <div class="col-md-4 pl-0">
        <label class="container">
          <input type="radio" name="accommodation" />
          <span class="checkmark">
            Owned
          </span>
        </label>
      </div>
      <div class="col-md-4 pl-0">
        <label class="container">
          <input type="radio" name="accommodation" />
          <span class="checkmark">
            Other
          </span>
        </label>
      </div>
    </div>

    <label for="ownership-type">What type of ownership?</label>
    <div class="row options-wrapper mb-2">
      <div class="col-md-4 pl-0 mb-3">
        <label class="container">
          <input type="radio" name="accommodation-ownership" />
          <span class="checkmark">
            Freehold
          </span>
        </label>
      </div>
      <div class="col-md-4 pl-0">
        <label class="container">
          <input type="radio" name="accommodation-ownership" />
          <span class="checkmark">
            Owned outright
          </span>
        </label>
      </div>
      <div class="col-md-4 pl-0">
        <label class="container">
          <input type="radio" name="accommodation-ownership" />
          <span class="checkmark">
            Leasehold
          </span>
        </label>
      </div>
      <div class="col pl-0 mb-3">
        <label class="container">
          <input type="radio" name="accommodation-ownership" />
          <span class="checkmark">
            Other
          </span>
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="estimated-property-value">Estimated value of property</label>
        <input type="number" id="estimated-property-value" class="form-control" />
      </div>
    </div>
  </div>
</div>
