<div class="modal-box" id="quoteRequestWizard">
  <div class="modal-box-content">
    <div class="stepper">
      <div class="modal-box-heading">
        <i class="material-icons pull-right" data-dismiss="modal" #closeModal>close</i>
        <h2 translate class="modal-title">Create Quote Request</h2></div>
      <div class="modal-box-left">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#product-details" data-toggle="tab"
              ><span class="step-number">1</span> <span translate>Add product details</span></a
            >
          </li>
          <li class="disabled">
            <a href="#packing-details" data-toggle="tab"
              ><div class="step-number">2</div>
              <span translate>Add packing details</span></a
            >
          </li>
          <li class="disabled">
            <a href="#shipping-details" data-toggle="tab"
              ><div class="step-number">3</div>
              <span translate>Add shipping details</span></a
            >
          </li>
          <li class="disabled">
            <a href="#additional-details" data-toggle="tab">
              <div class="step-number">4</div>
              <span translate>Additional details</span></a
            >
          </li>
        </ul>
      </div>

      <div class="modal-box-right">
        <div class="tab-content">
          <div class="row tab-pane active margin-none" id="product-details">
            <app-create-quote-request-product-details [quoteRequest]="quoteRequest"></app-create-quote-request-product-details>
          </div>
          <div class="row tab-pane margin-none" id="packing-details">
            <app-create-quote-request-packing-details [quoteRequest]="quoteRequest"></app-create-quote-request-packing-details>
          </div>
          <div class="row tab-pane margin-none" id="shipping-details">
            <app-create-quote-request-shipping-details [quoteRequest]="quoteRequest"></app-create-quote-request-shipping-details>
          </div>
          <div class="row tab-pane margin-none" id="additional-details">
            <app-create-quote-request-additional-details 
              [quoteRequest]="quoteRequest" 
              [suppliers]="suppliers" 
              [ecosystems]="ecosystems" 
              (submitQuoteRequestEvent)="submit($event)">
            </app-create-quote-request-additional-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
