<div class="modal-box" id="quoteRequestWizard">
  <div class="modal-box-content">
    <div class="stepper">
      <div class="modal-box-heading">
        <i class="material-icons pull-right" data-dismiss="modal" >close</i>
        <h2 translate class="modal-title">Create Quote Request</h2></div>
      <div class="modal-box-left">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#product-details" data-toggle="tab"
              ><span class="step-number">1</span> <span translate>Add product details</span></a
            >
          </li>
          <li class="disabled">
            <a href="#packing-details" data-toggle="tab"
              ><div class="step-number">2</div>
              <span translate>Add packing details</span></a
            >
          </li>
          <li class="disabled">
            <a href="#shipping-details" data-toggle="tab"
              ><div class="step-number">3</div>
              <span translate>Add shipping details</span></a
            >
          </li>
          <li class="disabled">
            <a href="#additional-details" data-toggle="tab">
              <div class="step-number">4</div>
              <span translate>Additional details</span></a
            >
          </li>
        </ul>
      </div>

      <div class="modal-box-right">
        <div class="tab-content">
          <div class="row tab-pane active margin-none" id="product-details">
            <div class="col-md-12">
              <div class="form-row">
                <div class="form-group col-md-6 margin-bottom">
                  <label for="produce_name">Produce Name</label>
                  <input type="text" id="produce_name" class="form-control" placeholder="Type produce name here..." />
                </div>
                <div class="form-group col-md-6 margin-bottom">
                  <label for="variety">Variety</label>
                  <input type="text" id="variety" class="form-control" placeholder="Type variety here..." />
                </div>
              </div>
              <div class="form-group">
                <label for="specification">Specification</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="specification"
                  rows="2"
                  placeholder="Type specification here..."
                ></textarea>
              </div>
            </div>
            <button class="btn-next next-step">Next &rarr;</button>
          </div>
          <div class="row tab-pane margin-none" id="packing-details">
            <div class="col-md-12">
              <div class="center-text-btn">
                <span class="heading-2">Container details</span>
                <div class="switch">
                  <input
                    id="container_switch"
                    [disabled]="checkPackageToggle()"
                    class="cmn-toggle cmn-toggle-round-flat"
                    type="checkbox"
                    checked
                  />
                  <label for="container_switch"></label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="container_type">Container type</label>
                  <select class="form-control" id="container_type" [disabled]="checkContainerToggle()">
                    <option selected="selected">20 ft.</option>
                    <option>40 ft.</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="container_quantity">Container quantity</label>
                  <input
                    type="number"
                    step="1"
                    id="container_quantity"
                    class="form-control"
                    [disabled]="checkContainerToggle()"
                  />
                </div>
              </div>
              <div class="center-text-btn">
                <span class="heading-2">Packing details</span>
                <div class="switch">
                  <input
                    id="packing_switch"
                    class="cmn-toggle cmn-toggle-round-flat"
                    type="checkbox"
                    [disabled]="checkContainerToggle()"
                    checked
                  />
                  <label for="packing_switch"></label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 margin-bottom">
                  <label for="type_of_package">Type of Package</label>
                  <input
                    [disabled]="checkPackageToggle()"
                    name="type_of_package"
                    type="text"
                    class="form-control"
                    id="type_of_package"
                    placeholder="Enter package type here..."
                  />
                </div>
                <div class="form-group col-md-4 margin-bottom">
                  <label for="package_weight">Package weight</label>
                  <input type="text" class="form-control" id="package_weight" [disabled]="checkPackageToggle()" />
                </div>
                <div class="form-group col-md-4">
                  <label for="weight_unit">Weight unit</label>
                  <select class="form-control" id="weight_unit" [disabled]="checkPackageToggle()">
                    <option selected>KG</option>
                    <option>LB</option>
                    <option>MT</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 margin-bottom">
                  <label for="package_quantity">Package quantity</label>
                  <input
                    [disabled]="checkPackageToggle()"
                    type="text"
                    class="form-control"
                    id="package_quantity"
                    placeholder="Enter package quantity here..."
                  />
                </div>
                <div class="form-group col-md-6 margin-bottom">
                  <label for="total_weight">Total weight</label>
                  <input type="text" class="form-control" id="total_weight" [disabled]="checkPackageToggle()" />
                </div>
              </div>
              <div class="form-group margin-bottom">
                <label for="additional_details">Additional Details</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="additional_details"
                  rows="2"
                  placeholder="Type additional details here..."
                ></textarea>
              </div>
            </div>
            <button class="btn-next next-step">Next &rarr;</button>
          </div>
          <div class="row tab-pane margin-none" id="shipping-details">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="center-text-btn">
                    <p class="heading-2">Local quote request</p>
                    <div class="switch">
                      <input id="local_quote_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked />
                      <label for="local_quote_switch"></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="padding-left:5px;">
                  <div class="center-text-btn">
                    <p class="heading-2">International quote request</p>
                    <div class="switch">
                      <input
                        id="internationl_quote_switch"
                        class="cmn-toggle cmn-toggle-round-flat"
                        type="checkbox"
                        checked
                      />
                      <label for="internationl_quote_switch"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="incoterm">Incoterm</label>
                  <select class="browser-default custom-select" id="incoterm">
                    <optgroup *ngFor="let group of incotermsGroups" [label]="group.name" [disabled]="group.disabled">
                      <option *ngFor="let incoterm of group.incoterms" [value]="incoterm.value">{{
                        incoterm.viewValue
                      }}</option>
                    </optgroup>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="excluded_countries">Excluded countries</label>
                  <select class="browser-default custom-select" id="excluded_countries">
                    <option *ngFor="let country of countriesList" [value]="country.value">
                      {{ country.viewValue }}
                    </option>
                  </select>
                </div>
                <p class="help-block">
                  <a target="_blank" href="https://www.tradefinanceglobal.com/freight-forwarding/incoterms/"
                    >Search incoterms</a>
                  for international shipping
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="destination_address">Address of destination</label>
              <input
                type="text"
                class="form-control"
                id="destination_address"
                placeholder="Type destination address here..."
              />
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="gps_coordinates">GPS coordinates</label>
                <input class="form-control" id="gps_coordinates" placeholder="GPS coordinates" />
              </div>
              <div class="form-group col-md-6">
                <label for="expected_delivery_date">Expected delivery date</label>
                <div class="input-group">
                  <input
                    id="expected_delivery_date"
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="ddp"
                    ngbDatepicker
                    #ddp="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button class="btn glyphicon glyphicon-calendar" (click)="ddp.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn-next next-step">Next &rarr;</button>
          </div>

          <div class="row tab-pane margin-none" id="additional-details">
            <div class="col-md-12">
              <div class="row margin-bottom">
                <div class="col-md-4">
                  <div class="center-text-btn">
                    <span class="heading-2">Clients</span>
                    <div class="switch">
                      <input id="clients_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked />
                      <label for="clients_switch"></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="center-text-btn">
                    <p class="heading-2">Ecosystem</p>
                    <div class="switch">
                      <input id="ecosystem_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked />
                      <label for="ecosystem_switch"></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="center-text-btn">
                    <p class="heading-2">Avenews-GT</p>
                    <div class="switch">
                      <input id="avenews_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked />
                      <label for="avenews_switch"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <select class="custom-select custom-select-lg mb-3" aria-placeholder="Choose clients">
                    <option>1</option>
                    <!--TODO// add clients-->
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <select class="custom-select custom-select-lg mb-3" aria-placeholder="Choose ecosystem">
                    <option>1</option>
                    <!--TODO// add clients-->
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="qr_valid_date"> Quote request valid until </label>
                <div class="input-group">
                  <input
                    id="qr_valid_date"
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    ngbDatepicker
                    #dp="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button class="btn glyphicon glyphicon-calendar" (click)="dp.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="qoute_request_valid">Quote request remarks</label>
                <input
                  type="text"
                  class="form-control"
                  id="qoute_request_valid"
                  placeholder="Type quote request remarks here..."
                />
              </div>
            </div>
            <button class="btn-next">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
