<div class="grn-wrapper">
  <div class="border-box display-ib ">
    <h2>GOODS RECEIVED NOTE <span style="font-size: 1.9rem;"> #432 </span></h2>
    <table>
      <tr>
        <td class="t-bold t-blue">ISSUE DATE</td>
        <td>14/05/2020</td>
      </tr>
      <tr>
        <td class="t-bold t-blue">REFERENCE</td>
        <td>PO-GR 3467279</td>
      </tr>
    </table>
  </div>

  <div class="row mt-5">
    <div class="col">
      <p class="t-bold t-blue">SUPPLIER</p>
      <p>Full Name</p>
      <p>Organization Name</p>
      <p>Address, Location, Region, Country</p>
      <p>Phone number</p>
      <p>Email</p>
    </div>
  </div>

  <div style="padding-top: 2rem;">
    <p class="heading-3 t-blue">PRODUCTS</p>
    <table class="products-table">
      <thead>
        <tr>
          <th>PRODUCT</th>
          <th>DESCRIPTION</th>
          <th>QUANTITY</th>
          <th>RATE</th>
          <th>PRICE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Green Coffee Beans</td>
          <td>Description</td>
          <td>1,000.00 KG</td>
          <td>50.00 per KG</td>
          <td>50,000.00 KES</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="padding-top: 2rem;">
    <div class="row">
      <div class="col-md-9">
        <p class="heading-3 t-blue">NOTES</p>
        <p>None</p>
      </div>
      <div class="col-md-3">
        <div class="border-box center-items pull-left">
          <div class="status status-green mb-4">Paid</div>
          <h2>KES 50,000.00</h2>
          <h5>TOTAL</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 5rem;">
    <div class="col">
      <p class="t-bold t-blue">SIGNED BY</p>
      <p>Full Name</p>
      <p>Business Name</p>
      <p>Phone Number</p>
    </div>
  </div>
</div>
<button *ngIf="generateGrn" class="bttn-primary pull-right next-step mt-5">
  Generate GRN
</button>
