.table {
  margin: 0;
}

.mobile-list-wrapper {
  display: none;
}

.panel-body {
  padding-top: 0;
  margin-top: 0;
}

.panel {
  margin-top: 0;
  padding-top: 30px;
}
thead {
  background: transparent;
}

.btn-desktop-txt,
.need-help {
}

#table-head {
  background-color: transparent !important;
  font-size: 1.4rem;
  box-shadow: none !important;
  color: #5a6c7b;
  font-family: roboto;
  font-weight: 500;
}
th[mat-sort-header] {
  left: 12px;
  position: relative;
}
tr,
th {
  text-align: center !important;
}
tr:not(#table-head) {
  height: 52px !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 13px #17515705 !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}
.link {
  text-decoration: underline;
  font: 500 14px/19px Roboto;
  color: #37c1ce;
}

.info {
  font-size: 1.4rem;    
  color: #455263;
  line-height: 29px;
}


.brighter {
  font-weight: 500 !important;
}
#view,
#edit {
  text-decoration: underline;
  font-size: 13px;
  font-family: roboto;
  font-weight: 500;
  letter-spacing: 0px;
  opacity: 1;
  cursor: pointer;
  margin-right: 9px;
}
#view {
  color: #37c1ce !important;
}
#edit {
  color: #d39b4b !important;
}

.add-supplier-box {
  p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

.bttn-primary {
}

.contact-help-link {
  cursor: pointer;
}
