<form [formGroup]="form">
  <div class="product" *ngIf="isProcessed">
    <div class="product-img">
      <p class="heading-2">Upload product image</p>
      <figure class="img-circular" style="background-image: url('../../../assets/img/placeholder-product.svg')"></figure>
      <button class="bttn-primary">Upload Image</button>
    </div>
    <div class="product-details">
      <div class="form-group">
        <label for="product_name">Product Name *</label>
        <input type="text" class="form-control" id="product_name" formControlName="produce" placeholder="Type product name here..." />
      </div>
      <div class="form-group">
        <label for="sku">Stock keeping unit (SKU)</label>
        <input type="text" class="form-control" id="sku" placeholder="Type SKU here..." formControlName="sku" />
      </div>
      <div class="form-group">
        <label for="product_codes">Product code (Barcode, ISBN, UPC, GTIN)</label>
        <input type="text" class="form-control" id="product_codes" placeholder="Type product code here..." formControlName="product_id" />
      </div>
      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <textarea type="text" class="form-control" id="ingredients" placeholder="Type ingredients here..." formControlName="ingredients"></textarea>
      </div>
    </div>
  </div>

  <div class="product" *ngIf="!isProcessed">
    <div class="product-img">
      <p class="heading-2">Upload product image</p>
      <figure class="img-circular" style="background-image: url('../../../assets/img/placeholder-product.svg')"></figure>
      <button class="bttn-primary">Upload Image</button>
    </div>
    <div class="product-details">
      <div class="form-group">
        <label for="product_name">Product *</label>
        <input type="text" class="form-control" id="product_name" formControlName="produce"  placeholder="Type product name here..." />
      </div>
      <div class="form-group">
        <label for="variety">Variety *</label>
        <input type="text" class="form-control" id="variety" placeholder="Type variety here..." formControlName="variety"  />
      </div>
      <div class="form-group">
        <label for="sku">Stock keeping unit (SKU)</label>
        <input type="text" class="form-control" id="sku" placeholder="Type SKU here..." formControlName="sku" />
      </div>
    </div>
    <div class="product-details">
      <div class="form-group">
        <label for="product_code">Product code (Barcode, ISBN, UPC, GTIN)</label>
        <input type="text" class="form-control" id="product_code" placeholder="Type product code here..." formControlName="product_id" />
      </div>
      <div class="form-group">
        <label for="approvals_and_certifications">Approvals & Certifications</label>
        <select type="text" class="form-control" id="approvals_and_certifications" formControlName="approvals_and_certifications">
          <option selected="selected">Choose Approvals & Certifications...</option>
          <option *ngFor="let certs of allCerts" [value]="certs">{{ certs }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="country_of_origin">Country of Origin</label>
        <select type="text" class="form-control" id="country_of_origin" placeholder="Choose country..." formControlName="country_of_origin">
          <option selected="selected">Choose country...</option>
          <option *ngFor="let country of countries" [value]="country.viewValue"> {{ country.viewValue }}</option>
        </select>
      </div>
    </div>
    <div class="product-details">
      <div class="form-group">
        <label for="specification">Specifications</label>
        <textarea class="form-control" name="specification" id="specification" rows="2" placeholder="Type specifications here..." formControlName="specification"></textarea>
      </div>
      <div class="form-group">
        <label for="about_product">About the Product</label>
        <textarea class="form-control" name="about_product" id="about_product" rows="2" placeholder="Type text here..." formControlName="about"></textarea>
      </div>
    </div>
  </div>
</form>
<button class="bttn-primary pull-right next-step" [disabled]="!validDetails" (click)="next()">Next</button>

