.dropdown-button {
  background-color: transparent;
  font-size: 1.4rem;
  cursor: pointer;
  color: black;
  padding: 0;
}

.dropdown-menu {
  padding: 0px;
}
.dropdown-menu > .dropdown-item {
  font-size: 1.3rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.btn-primary-transp {
  background: transparent;
  border-radius: 10rem;
  position: relative;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-weight: 600;
  padding: 0 2.8rem;
  font-size: 1.4rem;
  margin: 0.5rem;
  height: 3.55rem;

  i {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: -7px;
  }

  span {
    font-size: 1.5rem;
    vertical-align: middle;
  }
}

.bttns-flex {
  margin-top: 2.5rem;
  display: flex;
}

.two-btns {
  margin: 1.5rem 0.5rem 0.5rem 0.5rem !important;
  display: flex;
  align-items: center;
  margin-left: 1rem;

  p {
    margin-right: 1rem;
  }

  button {
    height: 3.55rem;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid $primary-color;
  }

  button:nth-of-type(1) {
    padding: 0 2rem;
    // margin-left: 1.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-right: none;
  }

  button:nth-of-type(2) {
    padding: 0 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  button:nth-of-type(1).active {
    background-color: $primary-color;
    color: white;
  }

  button:nth-of-type(2).active {
    background-color: $primary-color;
    color: white;
  }

  .bttn-primary-sm {
    border-radius: 10rem;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0 1rem;
    border: none;
    border: 1px solid $primary-color;
    background-color: transparent;
    height: 3.55rem;
    width: 5.5rem;
    margin-left: 1rem;
  }
  .bttn-primary-sm.active {
    background: $primary-color;
    color: white;
  }
}

.bttn-primary-sm:hover {
  box-shadow: 0 14px 26px -12px rgba(#04a9be, 0.2), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(#04a9be, 0.2);
}

.bttn-download-sm {
  border-radius: 10rem;
  font-weight: 600;
  font-size: 5px;
  padding: 0.4rem 1.5rem 0 1.5rem;
  border: none;
  background-color: #0fd18f;
  height: 3.55rem;
  width: 5.5rem;
  margin-left: 1rem;
  color: white;

  i {
    font-size: 2rem;
  }
}

.bttn-download-sm:hover {
  box-shadow: 0 14px 26px -12px rgba(#0fd18f, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(#0fd18f, 0.2);
}

.bttn-white {
  background-color: white;
  border-radius: 10rem;
  color: $dark-gray;
  font-weight: 600;
  font-size: 1.4rem;
  min-width: 18rem;
  height: 3.55rem;
  border: none;
  padding: 0 2rem;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 60%, 0.14), 0 3px 1px -2px hsla(0, 0%, 60%, 0.2),
    0 1px 5px 0 hsla(0, 0%, 60%, 0.12);
}

.bttn-primary {
  background: $primary-color;
  border-radius: 10rem;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  min-width: 18rem;
  margin: 0.5rem;
  transition: all 0.5s;
  height: 3.55rem;
  padding: 0 1.8rem;
  box-shadow: 0 2px 2px 0 rgba(0, 212, 35, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2),
    0 2px 5px 0 rgba(0, 188, 212, 0.12);
  border: none;
  i {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: -7px;
  }

  span {
    font-size: 1.5rem;
    vertical-align: middle;
    position: relative;
    transition: 0.5s;
  }

  &:hover {
    box-shadow: 0 14px 26px -12px rgba(#04a9be, 0.2), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(#04a9be, 0.2);
  }
}

.bttn-success {
  background: $secondary-color;
  border: none;
  border-radius: 10rem;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  min-width: 18rem;
  margin: 0.5rem;
  height: 3.55rem;
  transition: all 0.5s;
  padding: 0 1.8rem;
  box-shadow: 0 2px 2px 0 rgba(0, 212, 124, 0.14), 0 3px 1px -2px rgba(0, 212, 124, 0.2),
    0 2px 5px 0 rgba(0, 212, 124, 0.12);

  &:hover {
    box-shadow: 0 14px 26px -12px rgba($secondary-color, 0.2), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba($secondary-color, 0.2);
  }
}

.bttn-disabled {
  background-color: #cccccc;
  color: #999999;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 1.4rem;
  min-width: 18rem;
  height: 3.55rem;
  padding: 0 1.8rem;
  border: none;
  margin: 0.5rem;
}

.bttn-add span:before {
  content: "\f067";
  position: absolute;
  opacity: 0;
  top: -1px;
  left: -20px;
  font-size: 1.5rem;
  transition: 0.5s;
  font-family: FontAwesome;
}

.bttn-add:hover span {
  padding-left: 20px;
}

.bttn-add:hover span::before {
  opacity: 1;
  left: 0;
}

.round-button-red {
  border: none;
  border-radius: 50%;
  height: 3.3rem;
  width: 3.3rem;
  position: relative;
  background-color: $red-color;
  margin: 0.5rem;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: block;
    font-size: 2rem;
  }
}

.round-button-red:hover {
  box-shadow: 0 14px 26px -12px rgba($red-color, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba($red-color, 0.2);
}

.round-button-primary-exp,
.round-button-primary {
  border: none;
  border-radius: 50%;
  height: 3.3rem;
  width: 3.3rem;
  position: relative;
  background-color: #37c1ce;
  margin: 0.5rem;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: block;
    font-size: 2rem;
  }

  span {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    visibility: hidden;
  }
}

.round-button-primary.disabled {
  background-color: #d3d3d3;
}

.round-button-primary.disabled:hover {
  box-shadow: 0px 0px 0px;
}

.round-button-primary:hover {
  box-shadow: 0 14px 26px -12px rgba($primary-color, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba($primary-color, 0.2);
}

.round-button-primary-exp:hover {
  box-shadow: 0 14px 26px -12px rgba($primary-color, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba($primary-color, 0.2);
  width: 18rem;
  border-radius: 19px;
  transition: width 0.4s ease-out;

  i {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    color: white;
    display: block;
    font-size: 2rem;
  }

  span {
    padding-left: 1.5rem;
    visibility: visible;
    transition-delay: 0.21s;
  }
}

.round-button-primary-exp:not(:hover) {
  width: 3.3rem;
  border-radius: 20px;
  transition: width 0.4s ease-out;
}

.btn-next {
  background-image: linear-gradient(to right, $primary-color, $secondary-color);
  color: white;
  font-weight: 600;
  display: block;
  border-radius: 100px;
  padding: 0.5rem 2.8rem;
  font-size: 1.5rem;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  border: none;
  &:hover,
  &:active {
    color: white;
  }
}

.btn-round-small {
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  color: white;
  width: 3.3rem;
  height: 3.3rem;
  background-color: $primary-color;
  border: none;
  font-size: 1.7rem;
  font-weight: 700;
}

.btn-primary-shadow {
  background: $primary-color;
  border-radius: 10rem;
  color: white;
  font-size: 1.4rem;
  box-shadow: 0px 0.3rem 0.7rem rgba(0, 0, 0, 0.2);
  font-weight: 600;
  margin: 1.5rem 0.5rem;
  height: 4rem;
  padding: 0.7rem 2rem;
  border: none;
  i {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: -7px;
  }

  span {
    font-size: 1.5rem;
    vertical-align: middle;
  }
}

.btn-icons,
.btn:focus,
.btn-icons:focus,
.btn-icons:active {
  background: none;
  outline: none !important;
  border: none;

  i {
    color: #979696;
    font-size: 2.2rem;
  }
}

.btn-icons:hover {
  background-color: rgba(#acacac, 0.1);
}

.btn-icons {
  i {
    color: $light-gray;
  }
}

.bttn-icon {
  border-radius: 50%;
  border: none;
  padding: 1rem 1rem 0.5rem 1rem;

  i {
    font-size: 2rem !important;
  }
}

.bttn-icon.right {
  position: absolute;
  right: 13%;
  top: 50%;
}

.bttn-icon.left {
  position: absolute;
  left: 13%;
  top: 50%;
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #2fccff;
  color: #ffffff;
}

.onoffswitch-inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch1 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch1-checkbox {
  display: none;
}

.onoffswitch1-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 30px;
}

.onoffswitch1-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch1-inner:before,
.onoffswitch1-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.08) inset;
}

.onoffswitch1-inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #2fccff;
  color: #ffffff;
  border-radius: 30px 0 0 30px;
}

.onoffswitch1-inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
  border-radius: 0 30px 30px 0;
}

.onoffswitch1-switch {
  display: block;
  width: 30px;
  margin: 0px;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
  box-shadow: 0 1px 1px white inset;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
  margin-left: 0;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
  right: 0px;
}

.onoffswitch2 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch2-checkbox {
  display: none;
}

.onoffswitch2-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 5px;
}

.onoffswitch2-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch2-inner:before,
.onoffswitch2-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch2-inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #2fccff;
  color: #ffffff;
}

.onoffswitch2-inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}

.onoffswitch2-switch {
  display: block;
  width: 18px;
  margin: 0px;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 68px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
  margin-left: 0;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
  right: 0px;
}

.onoffswitch3 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch3-checkbox {
  display: none;
}

.onoffswitch3-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #999999;
  border-radius: 0px;
}

.onoffswitch3-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
  display: block;
  float: left;
  position: relative;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
  padding-left: 10px;
  background-color: #eeeeee;
  color: #ffffff;
}

.onoffswitch3-inner .onoffswitch3-inactive {
  padding-right: 10px;
  background-color: #eeeeee;
  color: #ffffff;
  text-align: right;
}

.onoffswitch3-switch {
  display: block;
  width: 18px;
  margin: 0px;
  text-align: center;
  border: 0px solid #999999;
  border-radius: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
  background: #27a1ca;
  left: 0;
}
.onoffswitch3-inactive .onoffswitch3-switch {
  background: #a1a1a1;
  right: 0;
}

.onoffswitch3-active .onoffswitch3-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 18px;
  border-style: solid;
  border-color: #27a1ca transparent transparent #27a1ca;
  border-width: 15px 9px;
}

.onoffswitch3-inactive .onoffswitch3-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 18px;
  border-style: solid;
  border-color: transparent #a1a1a1 #a1a1a1 transparent;
  border-width: 15px 9px;
}

.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
  margin-left: 0;
}

.onoffswitch4 {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch4-checkbox {
  display: none;
}

.onoffswitch4-label {
  display: inline;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #27a1ca;
  border-radius: 0px;
}

.onoffswitch4-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch4-inner:before,
.onoffswitch4-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 26px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.onoffswitch4-inner:before {
  content: "Yes";
  padding-left: 10px;
  background-color: #ffffff;
  color: #27a1ca;
}

.onoffswitch4-inner:after {
  content: "No";
  padding-right: 10px;
  background-color: #ffffff;
  color: #666666;
  text-align: right;
}

.onoffswitch4-switch {
  display: block;
  width: 25px;
  margin: 0px;
  background: #27a1ca;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 65px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-inner {
  margin-left: 0;
}

.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-switch {
  right: 0px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 38px;
  height: 20px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: inline;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 12px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: $primary-color;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 17px;
  background-color: $primary-color;
}

div.switch5 {
  clear: both;
  margin: 0px 0px;
}
div.switch5 > input.switch:empty {
  margin-left: -999px;
}
div.switch5 > input.switch:empty ~ label {
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0px;
  cursor: pointer;
  -moz-user-select: none;
}
div.switch5 > input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  content: "off";
  width: 3.6em;
  height: 1.5em;
  text-indent: 2.4em;
  color: rgb(153, 0, 0);
  background-color: rgb(204, 51, 51);
  border-radius: 0.3em;
  box-shadow: 0px 0.2em 0px rgba(0, 0, 0, 0.3) inset;
}
div.switch5 > input.switch:empty ~ label:after {
  content: " ";
  width: 1.4em;
  height: 1.5em;
  top: 0.1em;
  bottom: 0.1em;
  text-align: center;
  text-indent: 0px;
  margin-left: 0.1em;
  color: rgb(255, 136, 136);
  background-color: rgb(255, 255, 255);
  border-radius: 0.15em;
  box-shadow: 0px -0.2em 0px rgba(0, 0, 0, 0.2) inset;
  transition: all 100ms ease-in 0s;
}
div.switch5 > input.switch:checked ~ label:before {
  content: "on";
  text-indent: 0.5em;
  color: rgb(102, 255, 102);
  background-color: rgb(51, 153, 51);
}
div.switch5 > input.switch:checked ~ label:after {
  margin-left: 2.1em;
  color: rgb(102, 204, 102);
}
div.switch5 > input.switch:focus ~ label {
  color: rgb(0, 0, 0);
}
div.switch5 > input.switch:focus ~ label:before {
  box-shadow: 0px 0px 0px 3px rgb(153, 153, 153);
}

.switch6 {
  max-width: 17em;
  margin: 0 auto;
}
.switch6-light > span,
.switch-toggle > span {
  color: #000000;
}
.switch6-light span span,
.switch6-light label,
.switch-toggle span span,
.switch-toggle label {
  color: #2b2b2b;
}

.switch-toggle a,
.switch6-light span span {
  display: none;
}

.switch6-light {
  display: inline-block;
  height: 30px;
  position: relative;
  overflow: visible;
  padding: 0px;
  margin-left: 0px;
}
.switch6-light * {
  box-sizing: border-box;
}
.switch6-light a {
  display: block;
  transition: all 0.3s ease-out 0s;
}

.switch6-light label,
.switch6-light > span {
  line-height: 30px;
  vertical-align: middle;
}

.switch6-light label {
  font-weight: 700;
  margin-bottom: px;
  max-width: 100%;
}

.switch6-light input:focus ~ a,
.switch6-light input:focus + label {
  outline: 1px dotted rgb(136, 136, 136);
}
.switch6-light input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}
.switch6-light input:checked ~ a {
  right: 0%;
}
.switch6-light > span {
  position: absolute;
  left: -100px;
  width: 100%;
  margin: 0px;
  padding-right: 100px;
  text-align: left;
}
.switch6-light > span span {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: block;
  width: 50%;
  margin-left: 100px;
  text-align: center;
}
.switch6-light > span span:last-child {
  left: 50%;
}
.switch6-light a {
  position: absolute;
  right: 50%;
  top: 0px;
  z-index: 4;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0px;
}

.btn-main {
  cursor: pointer;
}

.btn-circle {
  border: none;
  background-color: #666666;
  width: 2.35rem;
  height: 2.35rem;
  border-radius: 50%;
  color: white;
  i {
    vertical-align: middle;

    font-size: 2rem;
  }
}

.btn.glyphicon {
  top: 0 !important;
}

.ngb-dp-months {
  font-size: 1.3rem;
}

select.custom-select {
  font-size: 1.2rem !important;
}

.bttn-transparent {
  background: none;
  outline: none;
  border: none;
}

.btn-primary {
  background-color: $primary-color !important;
  border: none;
  font-size: 1.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2),
    0 1px 5px 0 rgba(0, 188, 212, 0.12);
  padding: 0.7rem 0.75rem;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary-color !important;
    box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 188, 212, 0.2);
  }
}

.close-modal {
  cursor: pointer;
  font-size: 1.7rem;
  padding: 1rem;
}

.clear-icon-btn {
  background: transparent;
  border: none;
  span {
    font-size: 1.6rem;
  }
}

.remove {
  background-color: transparent;
  border: 1px solid $red-color;
  color: $red-color;
  margin-right: 1rem;
}

.edit {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;

  i {
    font-size: 1.6rem;
  }
}
