.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid $light-gray-2;
  padding: 1rem;
  margin-bottom: 1rem;

  div:first-child {
    color: #9e9e9e;
  }
}

.doc-card {
  display: flex;
  width: 80%;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid $light-gray-2;
  padding: 0.8rem;

  div:nth-child(2),
  div:nth-child(3) {
    position: relative;
    align-self: center;
    text-align: center;
  }

  span.pull-left {
    color: $light-gray;
  }

  span.pull-right {
    color: $light-gray-2;
  }

  .icon:hover {
    color: $red-color;
    cursor: pointer;
  }

  .bttn-view {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    position: absolute;
    top: 35.5%;
    left: 58%;
    background-color: white;
    color: #37c1ce;
    transition: transform 0.1s ease-in;
  }

  .bttn-view ~ span {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    position: absolute;
    font-size: 1.2rem;
    top: 40%;
    right: 5px;
    color: $light-gray;
    transition: transform 0.1s ease-in;
  }
}

.doc-card:hover .bttn-view,
.doc-card:hover .bttn-view ~ span {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.doc-card:not(:hover) .bttn-view,
.doc-card:not(:hover) .bttn-view ~ span {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: all 0.1s ease-in;
}

.contact-card {
  display: flex;
  flex-direction: column;
  width: 26rem;
  margin-top: 2.5rem;
  border-radius: 3px;
  border: 1px solid $light-gray-2;
  padding: 0.8rem;

  .delete {
    color: $light-gray;
  }

  div:nth-child(2) {
    align-self: center;
    text-align: center;
    p:last-child {
      margin-bottom: 2rem;
      color: $light-gray;
      font-size: 1.4rem;
    }

    figure {
      margin: 0 auto;
    }
  }

  div:nth-child(3) {
    background-color: $light-gray-3;
    margin: -0.8rem;
    padding: 1rem 1rem;
    border-top: 1px solid $light-gray-2;
    color: $light-gray;
    font-size: 1.45rem;

    i {
      font-size: 1.5rem;
    }

    p:last-child {
      margin: 0;
    }
  }
}

.round-shape-img {
  width: 6.8rem;
  height: 6.8rem;
  -webkit-shape-outsite: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.round-shape-img img {
  height: 100%;
  box-shadow: 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  transform: translatex(-1.5rem);
}

.contacts-section {
  display: flex;
}

.contact-card:not(:last-child) {
  margin-right: 2rem;
}

.notification-card {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.35rem;
  border-left: 3.5px solid $primary-color;

  div:first-child {
    padding-left: 1rem;
  }

  figure {
    margin: 0;
    margin-right: 2rem;
  }

  div:nth-child(2) p:first-child {
    padding-top: 1rem;
    margin-bottom: 0.6rem;
  }

  div:nth-child(2) p:last-child {
    color: #9e9e9e;
    margin-bottom: 0.5rem;
  }

  div:last-child {
    margin-left: auto;
  }
}
