#contact-info-form {
  margin-top: 1.2rem;
  font-size: 1.2rem;
}

.form-group {
  input,
  textarea {
    font-size: 1.3rem;
    padding: 1.5rem;
    border-radius: 0.3rem;
  }
}

.select-1 {
  padding: 1.5rem;
}

.input-group {
  input {
    font-size: 1.3rem;
    padding: 1.5rem;
    border-radius: 0.4rem;
  }

  .glyphicon {
    font-size: 1.4rem;
  }
}

.form_radio_label {
  margin-right: 2.7rem;
  margin-bottom: 4px;
  position: relative;
}

input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}

.form_radio_btn {
  border: 1px solid rgba(0, 0, 0, 0.18);
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1.1rem;
  background-color: white;
  transition: background-color 0.2s;

  &::after {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 1rem;
    color: white;
    @include absCenter;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.form_radio:checked + .form_radio_label .form_radio_btn::after {
  opacity: 1;
}

.form_radio:checked + .form_radio_label .form_radio_btn {
  background-color: #00d841;
  border: none;
}

.form_radio {
  display: none;
}

.checkbox_label {
  position: relative;
  margin-right: 2.5rem;
}

.form_checkbox_btn {
  height: 16px;
  width: 16px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.9rem;
  background-color: white;
  transition: background-color 0.2s;

  &::after {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 1rem;
    @include center;
    padding-top: 0.33px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.modal-box-heading {
  background-color: white;
}
.checkbox:checked + .checkbox_label .form_checkbox_btn::after {
  opacity: 1;
}

.checkbox:checked + .checkbox_label .form_checkbox_btn {
  background-color: #00d841;
  border: none;
}

.checkbox {
  display: none;
}

label {
  font-size: 1.3rem;
}

.bootstrap-select > .dropdown-toggle {
  height: 3.2rem !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ced4da;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.4rem !important;
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: right;
  white-space: nowrap;
}

.dropdown-menu {
  font-size: 1.3rem;
}

.bootstrap-select .dropdown-toggle .caret {
  visibility: hidden;
}

.bootstrap-select .dropdown-menu {
  width: 200px !important;
}

.selectpicker:disabled + button.dropdown-toggle {
  background-color: #e9ecef;
  cursor: not-allowed;
}
.help-block {
  font-size: 1.3rem;
}

textarea,
input,
select {
  font-size: 1.3rem !important;
}

.search-bar {
  padding: 0.7rem 1rem 0.8rem 2rem;
  border-radius: 2.5rem;
  border: 1px solid #ced4da;
}

div.filter-option-inner-inner {
  color: black !important;
}

.material-icons.md-18 {
  font-size: 18px;
}

//Loan Radio Button
.checkmark {
  background: white;
  min-height: 7rem;
  display: flex;
  padding: 1.5rem 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ced3de;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #5a6c7b;
  font-weight: bold;
  display: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__img {
    width: 5.5rem;
    height: auto;
  }
}

label.container:hover input ~ .checkmark {
  background-color: #f5fbfc;
}

label.container {
  padding: 0px !important;
}

label.container input:checked {
  display: block;
}

/* Hide the browser's default radio button */
label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.container input:checked ~ .checkmark {
  background-color: #f2feff;
  border: 1px solid #37c1ce;
}
