.modal-box {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  font-size: 1.2rem;
  display: none;
  &-content {
    min-height: 48rem;
    @include absCenter;
    width: 50%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
  }

  &-content-sm {
    min-height: 62rem;
    @include absCenter;
    width: 23.3%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }

  &-left {
    width: 33.33333%;
    height: 87%;
    float: left;
  }

  &-right {
    width: 66.66667%;
    min-height: 45rem;
    background-color: $bg-color;
    float: left;
    position: relative;
    border-left: 1px solid $light-gray-2;
    padding: 3rem;

    .btn-next {
      position: absolute;
      right: 2.5rem;
      bottom: 2rem;
    }
  }

  &-heading {
    padding: 2rem;
    border-bottom: 1px solid $light-gray-2;
  }

  .nav.nav-tabs {
    li {
      width: 100%;
      height: 18%;
      list-style: none;
      border-bottom: 1px solid $light-gray-2;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: $light-gray-2;
      border-bottom: 5px solid transparent;

      .step-number {
        background-color: $light-gray-2;
        @include stepNumber;
      }

      a,
      a:hover,
      a:focus {
        text-decoration: none;
        color: $light-gray-2;
        font-size: 1.5rem;
        border: none;
      }
    }

    li.completed {
      border-bottom: 1px solid $light-gray-2;

      a {
        color: $dark-gray;
        font-size: 1.5rem;
      }

      .step-number {
        background-color: $primary-color;
        @include stepNumber;
      }
    }

    li.active {
      border-top: 1px solid $light-gray-2;
      border-bottom: 5px solid $primary-color;
      background-color: $bg-color;
      transition: border-bottom 0.2s;
      font-size: 1.55rem;

      a {
        background-color: $bg-color;
        color: $dark-gray;
      }

      .step-number {
        background-color: $primary-color;
        @include stepNumber;
      }
    }
  }
}

.modal-box-heading {
  i {
    font-size: 1.9rem;
    cursor: pointer;
  }
}

.img-circular {
  width: 120px;
  height: 120px;
  background-size: cover;
  display: block;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.2);
}
