.helper-panel {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  min-height: 3rem;
  background-color: white;
  padding: 1rem;
  color: $light-gray;
  border-radius: 2px;
  border: 1px solid #ebebeb;
  font-size: 1.4rem;

  p {
    padding-left: 1.3rem;
    margin: 0;
    display: inline;
    vertical-align: middle;
    line-height: 2.6rem;
  }
}

.panel-tab {
  font-size: 1.4rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  // padding: 2rem 3rem;
}

.col-md-12,
.col-md-10 {
  padding: 0px !important;
}

.quote-right-side {
  border-left: 1px dashed $light-gray;
  padding-left: 2rem;
}

.invoice-right-side {
  border: 1px dashed $light-gray;
  margin-top: 3.1rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem;
}

.pricing {
  display: flex;
  justify-content: space-between;

  div:first-child {
    margin-right: 1rem;
  }
}

.docs-wrapper {
  background-color: white;
  padding: 1rem 3rem 3.5rem 3rem;
  border-radius: 0.7rem;
  margin-top: 2rem;
  box-shadow: 0px 3px 1rem rgba(0, 0, 0, 0.055);
}

.docs-section {
  display: flex;

  .doc-card:not(:last-child) {
    margin-right: 2.5rem;
  }
}

.po-right-side {
  padding: 1.5rem 1.5rem;
  background-color: $bg-color;
}

.subtotal-price {
  width: 30%;
  border: 1px dashed black;
  padding: 2rem;
  text-align: center;
  margin: 2.5rem 0px;
}

.stats-card {
  border-left: 4px solid $primary-color;
  font-size: 1.4rem;
  text-align: center;

  a:hover,
  a {
    color: $dark-gray;
    text-decoration: none !important;
  }
}

.welcome-panel {
  margin-top: 2rem;
  min-height: 60rem;
  [class^="col"] {
    padding: 0px !important;
  }

  .tab-content {
    margin-top: 1rem;
  }

  .panel-body {
    padding: 0px;
    height: 60rem;
    width: 100%;
  }

  .row {
    margin: 0;
  }

  .panel-left {
    height: 100%;
    min-width: 33%;
    display: block;
    .step {
      list-style: none;
      display: block;
      border-bottom: 1px solid $light-gray-2;
      font-size: 1.5rem;
      white-space: normal;
      // float: left;
      width: 100%;
      height: auto;
      word-wrap: break-word;
      font-weight: 700;
      color: $dark-gray-2;
      &-number {
        background-color: $light-gray-2;
        @include stepNumber;

        &-active {
          background-color: $primary-color;
          @include stepNumber;
        }
      }
    }
    a {
      white-space: normal;
      display: block;
      width: 100%;
      height: 100%;
      padding: 2.3rem;
      word-wrap: break-word;
    }
    .active {
      color: $dark-gray;
      border-bottom: 3px solid $primary-color;
      background-color: $light-gray-3;
    }
  }

  .label {
    font-size: 1.6rem;
    color: $dark-gray-2;
    font-weight: 600;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      color: $dark-gray-2;
    }
  }

  .panel-right {
    height: 90%;
  }
}

.vector-tutorial {
  width: 58%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2rem;
}

.panel-right {
  display: block;
  min-width: 67%;
  height: 100%;
  padding: 3rem;
  height: 38.3rem;
  border-left: 1px solid $light-gray-2;
}

.panel-todo {
  margin-top: 2rem;
  min-height: 46.5rem;

  .panel-header {
    border-bottom: 1px solid $light-gray-2;
    padding: 2rem;
    font-size: 1.7rem;
    color: $dark-gray-2;
    font-weight: 600;

    p {
      margin-bottom: 0px !important;
    }
  }

  .panel-body {
    padding: 0px;
  }

  .todo-item {
    list-style: none;
  }
}

.todo-item {
  border-left: 3px solid $primary-color;
  padding: 1.5rem 0;
  border-bottom: 1px solid $light-gray-2;
  min-height: 8.5rem;
  display: flex;

  .todo-date {
    border-right: 1px solid $light-gray-2;
    margin: 0 auto;
    text-align: center;
    & :first-child {
      font-weight: 600;
      font-size: 1.5rem;
      margin: 0;
    }

    & :nth-child(2) {
      font-size: 1.4rem;
      margin: 0;
    }
  }

  .todo-details {
    padding-left: 1.5rem !important;
    & :first-child {
      margin: 0 !important;
    }
    & :nth-child(2) {
      font-size: 1.4rem;
      margin: 0 !important;
    }
  }
}

.user-details {
  background-image: linear-gradient(#fff 60%, #f1f1f1);
  display: flex;
  flex-direction: column;
  min-height: 67.2rem;

  #profile-image {
    margin-top: 2.5rem;
    align-self: center;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 1.5em;
    figure {
      margin: 0 auto;
    }
  }

  #profile-contact-info {
    border-top: 1px solid $light-gray-2;
    border-left: 3px solid $primary-color;
    margin: 0 -15px;
    padding: 1.5rem;
  }

  #profile-company-info {
    border-top: 1px solid $light-gray-2;
    border-left: 3px solid $secondary-color;
    margin: 0 -15px;
    padding: 1.5rem;
  }
}

.user-settings {
  background-image: linear-gradient(#fff 60%, #f1f1f1);
  min-height: 67.2rem;
  .panel-body {
    padding: 0px;
  }
}

.password-box {
  background-image: linear-gradient(#fff 60%, #f1f1f1);
  width: 100%;
  padding: 5px;
  margin-bottom: 6rem;
  .panel-body {
    padding: 0px;
  }

  .bttn-primary {
    margin-top: 2rem;
  }
}

.panel-header {
  border-bottom: 1px solid $light-gray-2;
  padding: 2rem;
  font-size: 1.7rem;
  color: $dark-gray-2;
  font-weight: 600;
  p {
    margin-bottom: 0px !important;
  }
}

.contact-info-section {
  padding: 2rem;
}

.company-info-section {
  padding: 2rem;
  border-left: 1px solid $light-gray-2;
}

#company-info-form {
  margin-top: 1.2rem;
}

.nav .nav-tabs {
  a:hover {
    font-size: 1.2rem;
  }
}

.counter-panel {
  min-height: 58.5rem;
  margin-top: 2rem;

  .col-md-6:first-child,
  .col-md-12 {
    padding-right: 15px !important;
    padding-left: 3rem !important;
  }

  .counter-box {
    border-radius: 5px;
    background-image: linear-gradient(#fff 100%, #f1f1f1);
    width: 100%;
    height: 28.6rem;
    margin-bottom: 3rem;
    padding-top: 3.8rem;

    p.stats-label {
      text-align: center;
      font-weight: 700;
      font-size: 1.8rem;
      padding-top: 2rem;
    }
    a,
    a:hover {
      text-decoration: none;
      color: #585858;
    }
  }

  .circle {
    height: 17rem;
    width: 17rem;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid $primary-color;

    p {
      text-align: center;
      font-size: 2.8rem;
      font-weight: 800;
      vertical-align: middle;
      line-height: 16.5rem;
    }
  }
}

.add-supplier-box {
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 3.5rem;
}

div[data-notify="container"] {
  width: 100%;
  font-size: 1.4rem;
}

.alert {
  animation: fade 0.2s linear;
}
