.helper-panel {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  min-height: 3rem;
  background-color: white;
  padding: 1rem;
  color: $light-gray;
  border-radius: 2px;
  border: 1px solid #ebebeb;
  font-size: 1.4rem;

  p {
    padding-left: 1.3rem;
    margin: 0;
    display: inline;
    vertical-align: middle;
    line-height: 2.6rem;
  }
}

.panel-tab {
  font-size: 1.4rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 2rem 3rem;
}

.col-md-12,
.col-md-10 {
  padding: 0px !important;
}

.quote-right-side {
  border-left: 1px dashed $light-gray;
  padding-left: 2rem;
}

.invoice-right-side {
  border: 1px dashed $light-gray;
  margin-top: 3.1rem;
  margin-bottom: 1rem;
  padding: 2rem 2.7rem;
}

.pricing {
  display: flex;
  justify-content: space-between;

  div:last-child {
    text-align: center;
    border-left: 1px solid $light-gray;
    align-self: center;
    padding-left: 2rem;
  }

  div:first-child {
    margin-right: -2rem;
  }
}

.docs-section {
  display: flex;

  .doc-card:not(:last-child) {
    margin-right: 3rem;
  }
}

.po-right-side {
  padding: 1.5rem 1.5rem;
  background-color: $bg-color;
}

.subtotal-price {
  border: 1px dashed black;
  padding: 2rem;
  text-align: center;
  margin: 2.5rem 0px;
}

.stats-card {
  border-left: 4px solid $primary-color;
  font-size: 1.4rem;
  text-align: center;
}

.welcome-panel {
  margin-top: 2rem;
  min-height: 46.5rem;
  [class^="col"] {
    padding: 0px !important;
  }

  .panel-body {
    padding: 0px;
  }

  .panel-left {
    height: 100%;
    .step {
      list-style: none;
      width: 100%;
      height: 18%;
      border-bottom: 1px solid $light-gray-2;
      padding: 2.3rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: $dark-gray-2;

      &-number {
        background-color: $light-gray-2;
        @include stepNumber;

        &-active {
          background-color: $primary-color;
          @include stepNumber;
        }
      }
    }
    .active {
      color: $dark-gray;
      border-bottom: 3px solid $primary-color;
      background-color: $light-gray-3;
    }
  }

  .label {
    font-size: 1.6rem;
    color: $dark-gray-2;
    font-weight: 600;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      color: $dark-gray-2;
    }
  }
}

.vector-tutorial {
  width: 23.5rem;
  min-height: 17.3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.panel-right {
  padding: 3rem;
  height: 38.3rem;
  border-left: 1px solid $light-gray-2;
}

.panel-todo {
  margin-top: 2rem;
  min-height: 46.5rem;

  .panel-header {
    border-bottom: 1px solid $light-gray-2;
    padding: 2rem;
    font-size: 1.7rem;
    color: $dark-gray-2;
    font-weight: 600;

    p {
      margin-bottom: 0px !important;
    }
  }

  .panel-body {
    padding: 0px;
  }

  .todo-item {
    list-style: none;
  }
}

.todo-item {
  border-left: 3px solid $primary-color;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid $light-gray-2;
  min-height: 8.5rem;
  display: flex;

  .todo-date {
    border-right: 1px solid $light-gray-2;
    margin: 0 auto;
    text-align: center;
    & :first-child {
      font-weight: 600;
      font-size: 1.5rem;
      margin: 0;
    }

    & :nth-child(2) {
      font-size: 1.4rem;
      margin: 0;
    }
  }

  .todo-details {
    padding-left: 1.5rem !important;
    & :first-child {
      margin: 0 !important;
    }
    & :nth-child(2) {
      font-size: 1.4rem;
      margin: 0 !important;
    }
  }
}

.user-details {
  background-image: linear-gradient(#fff 60%, #f1f1f1);
  display: flex;
  flex-direction: column;
  min-height: 67.2rem;

  div:first-child {
    margin-top: 2.5rem;
    align-self: center;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 1.5em;
    figure {
      margin: 0 auto;
    }
  }

  div:nth-child(2) {
    border-top: 1px solid $light-gray-2;
    border-left: 3px solid $primary-color;
    margin: 0 -15px;
    padding: 1.5rem;
  }

  div:nth-child(3) {
    border-top: 1px solid $light-gray-2;
    border-left: 3px solid $secondary-color;
    margin: 0 -15px;
    padding: 1.5rem;
  }
}

.user-settings {
  background-image: linear-gradient(#fff 60%, #f1f1f1);
  min-height: 67.2rem;
  .panel-body {
    padding: 0px;
  }
}

.panel-header {
  border-bottom: 1px solid $light-gray-2;
  padding: 2rem;
  font-size: 1.7rem;
  color: $dark-gray-2;
  font-weight: 600;
  p {
    margin-bottom: 0px !important;
  }
}

.contact-info-section {
  padding: 2rem;
}

.company-info-section {
  padding: 2rem;
  border-left: 1px solid $light-gray-2;
}

.nav .nav-tabs {
  a:hover {
    font-size: 1.2rem;
  }
}
