.main-table {
  border-collapse: separate;
  margin-top: 1rem;
  border-spacing: 0 1.4rem;
  color: $dark-gray;

  tr {
    background-color: white;
    font-size: 1.4rem;
    box-shadow: 0 14px 20px -15px rgba(0, 0, 0, 0.055);
  }

  th,
  td {
    border: none !important;
    padding: 1.1rem !important;
    vertical-align: middle !important;
  }

  th {
    font-weight: bold !important;
    font-size: 1.35rem !important;
  }

  tr td:last-child,
  tr th:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  tr td:first-child,
  tr th:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.panel-table {
  width: 100%;

  th {
    background-color: $primary-color;
    color: white;
    padding: 0.2rem !important;
    width: 16.5%;
    font-size: 0.62vw;
  }

  td {
    width: 16.5%;
    padding: 0.2rem !important;
    font-size: 1.25rem;
  }
}

table {
  margin: 1rem 0rem;
}

.table-blue {
  margin-top: 2rem;
  border-spacing: 0 1rem;
  width: 100%;
  border-collapse: separate;
  thead {
    color: white;
    font-size: 1.2rem;
    background-color: $primary-color;
    font-weight: 700;

    th:first-child {
      border-radius: 5px 0 0 5px;
    }

    th:last-child {
      border-radius: 0 5px 5px 0;
    }
  }

  tbody tr {
    background-color: white;
    font-size: 1.4rem;
    box-shadow: 0 5px 15px -15px rgba(0, 0, 0, 0.4);

    td:first-child {
      border-radius: 5px 0 0 5px;
    }

    td:last-child {
      border-radius: 0 5px 5px 0;
    }
  }

  th,
  td,
  thead {
    border: none !important;
    padding: 0.8rem 1.8rem;
    vertical-align: middle !important;
  }
}

.products-table {
  width: 100%;
  margin-bottom: 3rem;

  th {
    color: #33c1ce;
    text-align: left;
  }

  thead tr {
    border-bottom: 1px solid #2ab7c4;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
  }

  th,
  td {
    border-collapse: collapse;
    padding: 1rem 1rem 0.3rem 1rem;
  }
}

.border-box {
  padding: 3rem 3.5rem;
  border: 1px solid #e1e1e1;
  word-wrap: break-word;
  display: inline-block;
  max-width: 100%;

  h2 {
    font-weight: bold;
  }

  table td:nth-of-type(1) {
    padding-right: 2rem;
  }

  table {
    margin-bottom: 0px !important;
  }
}
