.main-table {
  border-collapse: separate;
  margin-top: 1rem;
  border-spacing: 0 2rem;
  color: $dark-gray;

  tr {
    background-color: white;
    font-size: 1.4rem;
    box-shadow: 0 14px 20px -15px rgba(0, 0, 0, 0.09);
  }

  th,
  td,
  thead {
    border: none !important;
    padding: 1.1rem !important;
    vertical-align: middle !important;
  }

  th {
    font-weight: bold !important;
    font-size: 1.35rem !important;
  }

  tr td:last-child,
  tr th:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  tr td:first-child,
  tr th:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.panel-table {
  width: 100%;

  th {
    background-color: $primary-color;
    color: white;
    padding: 0.2rem !important;
    width: 16.5%;
    font-size: 0.62vw;
  }

  td {
    width: 16.5%;
    padding: 0.2rem !important;
    font-size: 1.25rem;
  }
}

table {
  margin: 1rem 0rem;
}
