.disabled .round-tab {
  width: 3rem;
  height: 3rem;
  line-height: 2.8rem;
  display: inline-block;
  border-radius: 3rem;
  background: #fff;
  border: 2px solid $light-gray-2;
  color: $light-gray-2;
  text-align: center;
  margin-right: 1rem;
  font-size: 1.6rem;
}

.nav-tabs [data-toggle="tab"]:hover {
  background: transparent;
  border: none;
}
