.disabled .round-tab {
  width: 3rem;
  height: 3rem;
  line-height: 2.8rem;
  display: inline-block;
  border-radius: 3rem;
  background: #fff;
  border: 2px solid $light-gray-2;
  color: $light-gray-2;
  text-align: center;
  margin-right: 1rem;
  font-size: 1.6rem;
}

.nav-tabs [data-toggle="tab"]:hover {
  background: transparent;
  border: none;
}

.stepper-wrapper {
  position: relative;
  height: 100%;
  margin-bottom: 3.2rem;

  .stepper {
    position: absolute;
    width: 100%;
    transition: width 0.2s ease-in-out;
  }

  .tab-pane {
    animation: fade 0.6s;
  }

  .nav.nav-tabs {
    list-style: none;
    width: 100%;
    z-index: 888;
    margin-bottom: 4rem;

    @include respond(phone) {
      background-color: white;
      top: 52px !important;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      position: fixed;
      box-shadow: 0px 3px 8px rgba(98, 117, 160, 0.1);
    }

    li {
      display: flex !important;
      align-items: center;
      padding-left: 1rem;
      box-shadow: 0px 3px 8px rgba(98, 117, 160, 0.1);
      border-radius: 3px;
      background-color: white;
      position: relative;
      display: inline-block;
      height: 5rem;

      @include respond(phone) {
        box-shadow: none;
        width: unset !important;
        white-space: unset !important;
      }
    }

    li.active {
      @include respond(phone) {
        a {
          display: inline-flex;
        }
      }
    }

    li:first-child:nth-last-child(5),
    li:first-child:nth-last-child(5) ~ li {
      width: 18.93%;
    }

    li:first-child:nth-last-child(4),
    li:first-child:nth-last-child(4) ~ li {
      width: 24%;
    }

    li:first-child:nth-last-child(3),
    li:first-child:nth-last-child(3) ~ li {
      width: 32.4%;
    }

    li:first-child:nth-last-child(2),
    li:first-child:nth-last-child(2) ~ li {
      width: 49.5%;
      @include respond(phone) {
        // width: 49.5% !important;
      }
    }

    a {
      font-size: 1.5rem;
      border: none;
      z-index: 100;
      background-color: transparent !important;
      padding: 0px;
      text-align: left !important;

      @include respond(phone) {
        text-align: center !important;
      }

      .step-text {
        padding-top: 3px;
      }
    }
    li:not(:last-child) {
      margin-right: 1%;
    }

    li.completed,
    li.disabled {
      @include respond(phone) {
        a span.step-text {
          display: none;
        }
      }
    }

    li.active {
      @include respond(phone) {
        a span.step-text {
          display: inline-block;
        }
      }
    }

    li.completed,
    li.active {
      position: relative;
      color: #5a6c7b;
      border-left: 3px solid $primary-color;
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;

      @include respond(phone) {
        border-left: 0px;
      }

      .round-tab {
        width: 2.9rem;
        height: 2.9rem;
        line-height: 3rem;
        display: inline-block !important;
        border-radius: 3rem;
        background: $primary-color;
        color: white;
        text-align: center;
        font-size: 1.55rem;
        margin-right: 1rem;
      }

      & > a {
        color: #5a6c7b;
      }
    }

    .active::after {
      content: "";
      position: absolute;
      background-color: white;
      width: 2.5rem;
      height: 2.5rem;
      top: 100%;
      left: 16%;
      z-index: 1;
      transform: rotate(45deg);
      margin-top: -1.25rem;
      box-shadow: 0px 3px 8px rgba(94, 111, 148, 0.1);
      @include respond(phone) {
        display: none;
      }
    }

    .disabled > a {
      color: $light-gray-2;
    }
  }
}

.round-tab {
  position: relative;
}

.help-block p,
.help-block,
.has-error {
  margin-bottom: 0px !important;
  color: #fc2424;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.step-progress-bar-wrapper {
  width: 100%;
  height: 4px;
  background: #d7e5e6;
  position: absolute;
  left: 0;
  bottom: 0;
}

.loan-step-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 68%;
  margin: 0 auto;
  margin-bottom: 12vh;

  .step-header {
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .step-content {
    width: 100%;
  }

  label {
    color: #5a6c7b;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .step-title {
    font-size: 2.3rem;
    color: #5a6c7b;
    font-weight: bold;
  }

  .input-group span {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .form-control {
    height: 3.8rem;
    border: 1px solid #e3e5f1 !important;
  }

  .form-row:not(:last-child) {
    margin-bottom: 1rem;
  }

  .row {
    margin: 0 !important;
  }

  .col-md-4 {
    padding-left: 0 !important;
  }
}
