<h1 class="main-title btn-main margin-bottom-2" (click)="back()"><a class="material-icons">keyboard_backspace</a> Products</h1>
<div class="stepper-wrapper">
  <div class="stepper">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" class="label" href="#productDetails">
          <span class="round-tab">1</span>Add product details
        </a>
      </li>
      <li class="disabled">
        <a data-toggle="tab" class="label" href="#packingDetails">
          <span class="round-tab">2</span>Add packing details
        </a>
      </li>
      <li class="disabled">
        <a data-toggle="tab" class="label" href="#pricingDetails">
          <span class="round-tab">3</span> Add pricing details
        </a>
      </li>
      <li class="disabled">
        <a data-toggle="tab" class="label" href="#shippingDetails">
          <span class="round-tab">4</span>Add shipping details
        </a>
      </li>
      <li class="disabled">
        <a data-toggle="tab" class="label" href="#review"> <span class="round-tab">5</span>Review and confirm </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="productDetails">
        <div class="panel panel-tab">
          <div class="panel-body">
            <div class="panel-header"><p>Product Details</p></div>
            <div class="padding-all-2">
            <app-product-details></app-product-details>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="packingDetails">
        <div class="panel panel-tab">
          <div class="panel-body">
            <div class="panel-header">
              <p>Packing Details</p>
            </div>
            <div class="padding-all-2">
            <app-product-packing-details></app-product-packing-details>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="pricingDetails">
        <div class="panel panel-tab">
          <div class="panel-body">
              <div class="panel-header">
                  <p>Pricing Details</p>
                </div>
                <div class="padding-all-2">
            <app-product-pricing-details></app-product-pricing-details>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="shippingDetails">
        <div class="panel panel-tab">
          <div class="panel-body">
              <div class="panel-header">
                  <p>Shipping Details</p>
              </div>
              <div class="padding-all-2">
            <app-product-shipping-details></app-product-shipping-details>
            </div>
        </div>
      </div>
      </div>
      <div class="tab-pane" id="review">
        <div class="panel panel-tab">
          <div class="panel-body">
              <div class="panel-header">
                  <p>Review Product</p>
              </div>
              <div class="padding-all-2">
            <app-product-review></app-product-review>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
