<p class="main-title margin-bottom">All Notifications</p>

<div class="row margin-none">
  <div class="col-md-10">
    <div
      class="card notification-card"
      *ngFor="let notification of (notifications | paginate: { itemsPerPage: itemsPerPage, currentPage: page })"
      [ngClass]="{ 'unread-notification': notification.read === false }"
    >
      <div>
        <figure
          class="img-circular img-circular-sm"
          [style.background-image]="'url(' + profilePicture(notification) + ')'"
        ></figure>
      </div>
      <div>
        <p *ngIf="notification.type === 'proforma-invoice'">
          <strong>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</strong> has sent you a
          <strong>Proforma Invoice</strong>
        </p>
        <p *ngIf="notification.type === 'purchase-order'">
          <strong>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</strong> has sent you a
          <strong>Purchase Order</strong>
        </p>
        <p *ngIf="notification.type === 'document'">
          <strong>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</strong> has uploaded a
          <strong>Necessary Document</strong>
        </p>
        <p *ngIf="notification.type === 'contract'">
          <strong>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</strong> has uploaded a
          <strong>Necessary Document</strong>
        </p>
        <p>{{ notification.date_created | date: 'dd/MM/yyyy hh:mm aaa' }}</p>
      </div>
      <div class="clear-notification">
        <button class="clear-icon-btn" (click)="clearNotification(notification._id)">
          <span ngbTooltip="Clear Notification" container="body" class="material-icons">clear</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card notification-settings-card">
      <div>Would you like to manage your notifications?</div>
      <div>
        <p>View notification settings</p>
        <a routerLink="/profile">here</a>
      </div>
    </div>
  </div>
</div>

<pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
