<p class="main-title margin-bottom">All Notifications</p>
<div class="card notification-card">
  <div>
    <figure class="img-circular-sm" style="background-image: url('../../../assets/img/prof-img2.jpg')"></figure>
  </div>
  <div>
    <p><strong>Tom Benn</strong> has sent a <strong>Proforma Invoice</strong></p>
    <p>11/13/2018 10:16 AM</p>
  </div>
  <div>
    <button class="round-button-red"><i class="material-icons">delete</i></button>
  </div>
</div>
<div class="card notification-card">
  <div>
    <figure class="img-circular-sm" style="background-image: url('../../../assets/img/prof-img2.jpg')"></figure>
  </div>
  <div>
    <p><strong>Tom Benn</strong> has sent a <strong>Proforma Invoice</strong></p>
    <p>11/13/2018 10:16 AM</p>
  </div>
  <div>
    <button class="round-button-red"><i class="material-icons">delete</i></button>
  </div>
</div>
<div class="card notification-card">
  <div>
    <figure class="img-circular-sm" style="background-image: url('../../../assets/img/prof-img2.jpg')"></figure>
  </div>
  <div>
    <p><strong>Tom Benn</strong> has sent a <strong>Proforma Invoice</strong></p>
    <p>11/13/2018 10:16 AM</p>
  </div>
  <div>
    <button class="round-button-red"><i class="material-icons">delete</i></button>
  </div>
</div>
<div class="card notification-card">
  <div>
    <figure class="img-circular-sm" style="background-image: url('../../../assets/img/prof-img2.jpg')"></figure>
  </div>
  <div>
    <p><strong>Tom Benn</strong> has sent a <strong>Proforma Invoice</strong></p>
    <p>11/13/2018 10:16 AM</p>
  </div>
  <div>
    <button class="round-button-red"><i class="material-icons">delete</i></button>
  </div>
</div>

<pagination-controls class="my-pagination"
(pageChange)="page = $event"
></pagination-controls>
