/* You can add global styles to this file, and also import other style files */
@import "sass/abstracts/mixins";
@import "sass/abstracts/variables";

@import "sass/base/animations";
@import "sass/base/typography";
@import "sass/base/utilities";
@import "sass/base/base";

@import "sass/components/buttons";
@import "sass/components/cards";
@import "sass/components/forms";
@import "sass/components/panels";
@import "sass/components/tables";
@import "sass/components/modals";

@import "sass/layout/footer";
@import "sass/layout/navbars";
@import "sass/layout/main-panel";

@import "sass/pages/error-pages";

.medium {
  font-family: roboto;
  font-weight: 500;
}
.bold {
  font-family: roboto;
  font-weight: bold;
}
.click {
  cursor: pointer;
}
