<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us about the key person in your business.</p>
  </div>

  <form [formGroup]="loan_form" class="col">
    <div formGroupName="businessKeyPerson" #businessKeyPerson>
      <div class="step-content">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="surname1bkp">Full name</label>
            <input type="text" id="surname1bkp" class="form-control" formControlName="fullName" />
          </div>
          <div class="form-group col-md-6">
            <label for="other-names1bkp">Other names</label>
            <input type="text" id="other-names1bkp" class="form-control" formControlName="otherNames" />
          </div>
        </div>

        <label for="ownership-type">What is your gender?</label>
        <div class="row options-wrapper mb-2">
          <div class="col-md-6 pl-0 pr-2 mb-3">
            <label class="container">
              <input type="radio" name="gender" value="male" formControlName="gender" />
              <span class="checkmark">
                Male
              </span>
            </label>
          </div>
          <div class="col-md-6 pl-2 pr-0">
            <label class="container">
              <input type="radio" name="gender" value="female" formControlName="gender" />
              <span class="checkmark">
                Female
              </span>
            </label>
          </div>
        </div>

        <label for="ownership-type">What is your martial status?</label>
        <div class="row options-wrapper mb-2">
          <div class="col-md-6 pl-0 pr-2 mb-3">
            <label class="container">
              <input type="radio" name="maritalStatus" value="married" formControlName="maritalStatus" />
              <span class="checkmark">
                Married
              </span>
            </label>
          </div>
          <div class="col-md-6 pl-2 pr-0">
            <label class="container">
              <input type="radio" name="maritalStatus" value="single" formControlName="maritalStatus" />
              <span class="checkmark">
                Single
              </span>
            </label>
          </div>
        </div>

        <label for="ownership-type">Are you resident of Kenya?</label>
        <div class="row options-wrapper mb-2">
          <div class="col-md-6 pl-0 pr-2 mb-3">
            <label class="container">
              <input
                type="radio"
                checked="checked"
                name="kenyanResident"
                [value]="true"
                formControlName="kenyanResident"
              />
              <span class="checkmark">
                Yes
              </span>
            </label>
          </div>
          <div class="col-md-6 pl-2 pr-0">
            <label class="container">
              <input type="radio" name="kenyanResident" [value]="false" formControlName="kenyanResident" />
              <span class="checkmark">
                No
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
