<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us about the key person in your business.</p>
  </div>

  <div class="step-content">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="surname2">Surname</label>
        <input type="text" id="surname2" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="other-names2">Other names</label>
        <input type="text" id="other-names2" class="form-control" />
      </div>
    </div>

    <label for="ownership-type">What is his/her gender?</label>
    <div class="row options-wrapper mb-2">
      <div class="col-md-6 pl-0 pr-2 mb-3">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            Male
          </span>
        </label>
      </div>
      <div class="col-md-6 pl-2 pr-0">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            Female
          </span>
        </label>
      </div>
    </div>

    <label for="ownership-type">What is his/her martial status?</label>
    <div class="row options-wrapper mb-2">
      <div class="col-md-6 pl-0 pr-2 mb-3">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            Married
          </span>
        </label>
      </div>
      <div class="col-md-6 pl-2 pr-0">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            Single
          </span>
        </label>
      </div>
    </div>

    <label for="ownership-type">Is he/she resident of Kenya?</label>
    <div class="row options-wrapper mb-2">
      <div class="col-md-6 pl-0 pr-2 mb-3">
        <label class="container">
          <input type="radio" checked="checked" name="premises-radio" />
          <span class="checkmark">
            Yes
          </span>
        </label>
      </div>
      <div class="col-md-6 pl-2 pr-0">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            No
          </span>
        </label>
      </div>
    </div>

    (Sole trader only)
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="2">Date of birth</label>
        <input type="text" id="birth-date2" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="PIN4">PIN number</label>
        <input type="text" id="PIN4" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="country4">Country</label>
        <input type="text" id="country4" class="form-control" />
      </div>
      <div class="form-group col-md-3">
        <label for="nationality3">Nationality</label>
        <input type="text" id="nationality3" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="national-id3">National ID</label>
        <input type="text" id="national-id3" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="po-box3">P.O. box</label>
        <input type="text" id="po-box3" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="postal-code4">Postal code</label>
        <input type="text" id="postal-code4" class="form-control" />
      </div>
    </div>
  </div>
</div>
