<h4 class="margin-bottom"><strong>Send quote request to</strong></h4>
<div class="col-md-12">
  <form [formGroup]="additionalDetailsForm">
    <div class="row margin-bottom">
      <div class="col-md-4">
        <div class="center-text-btn">
          <span class="heading-2">Suppliers</span>
          <div class="switch">
            <input id="clients_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" formControlName="send_suppliers" />
            <label for="clients_switch"></label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="center-text-btn">
          <p class="heading-2">Ecosystem</p>
          <div class="switch">
            <input id="ecosystem_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" formControlName="send_ecosystems" />
            <label for="ecosystem_switch"></label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="center-text-btn">
          <p class="heading-2">Avenews-GT</p>
          <div class="switch">
            <input id="avenews_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" formControlName="send_avenews" />
            <label for="avenews_switch"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <select class="form-control selectpicker mb-3" aria-placeholder="Choose clients" formControlName="suppliers" multiple>
          <option *ngFor="let supplier of suppliers" [value]="supplier">{{ supplier.first_name }} {{ supplier.last_name }}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <select class="form-control selectpicker mb-3" aria-placeholder="Choose ecosystem" formControlName="ecosystems" multiple>
            <option *ngFor="let eco of ecosystems" [value]="eco">{{ eco.name }} - {{ eco.type }}</option>
        </select>
      </div>
    </div>
    <div class="form-group" [ngClass]="showFieldStyle('valid_until')">
      <label for="qr_valid_date"> Quote request valid until </label>
      <div class="input-group">
        <input
          id="qr_valid_date"
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          ngbDatepicker
          formControlName="valid_until"
          #dp="ngbDatepicker"
        />
        <div class="input-group-append">
          <button class="btn glyphicon glyphicon-calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
      <div class="help-block">
        <p *ngIf="isFieldInvalid('valid_until')">This field is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="qoute_request_valid">Quote request remarks</label>
      <input
        type="text"
        class="form-control"
        id="qoute_request_valid"
        placeholder="Type quote request remarks here..."
        formControlName="remarks"
      />
      <div class="help-block">
        <p *ngIf="isFieldInvalid('remarks')">This field is required</p>
      </div>
    </div>
  </form>
</div>
<button class="btn-next pull-right" (click)="onSubmit(additionalDetailsForm)" [hidden]="additionalDetailsForm.valid">Submit</button>
<button class="btn-next pull-right" (click)="submit()" [hidden]="!additionalDetailsForm.valid">Submit</button>
