.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: -101%;
  margin-top: -1px;

  li :active {
    background-color: white !important;
    color: black;
  }
}

.user-image {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;

  & :first-child {
    margin-right: 6px;
  }
}
