.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: -101%;
  margin-top: -1px;

  li :active {
    background-color: white !important;
  }
}

.user-image {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;

  & :first-child {
    margin-right: 6px;
  }
}

#flex-notif {
  display: flex;

  & :nth-child(2) {
    margin-top: -5.5px;
    margin-left: -3rem;
  }
}

.see-all {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem;
}
