<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-wrapper">
    <div class="navigation-bar">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navigation-right">
        <li>
          <app-notification-list></app-notification-list>
        </li>
        <li id="user-li">
          <div ngbDropdown placement="bottom-right">
            <div class="user-image">
              <figure
                class="img-circular img-circular-xs"
                [style.background-image]="'url(' + profilePicture + ')'"
              ></figure>
              <a
                id="user-dropdown"
                class="dropdown-toggle dropdown-button"
                data-toggle="dropdown"
                aria-expanded="true"
                ngbDropdownToggle
                >{{ username }}</a
              >
            </div>
            <div ngbDropdownMenu aria-labelledby="user-dropdown">
              <ul>
                <li class="dropdown-item" routerLink="/profile">
                  <i class="material-icons pull-left">settings</i>
                  <span>Settings</span>
                </li>
                <li (click)="logout()" class="dropdown-item">
                  <i class="material-icons pull-left">power_settings_new</i>
                  <span translate>Logout</span>
                </li>
                <!-- <li class="dropdown-submenu dropdown-item">
                <i class="material-icons pull-left" >language</i>
                <span class="test" href="#">Language <span class="caret" style="transform: rotate(90deg)"></span></span>
                <ul class="dropdown-menu sub-ul">
                    <li>
                      <span class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">{{ language }}</span>
                    </li>
                </ul>
              </li> -->
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
