<div class="wrapper">
  <h1 class="main-title btn-main margin-bottom-2" (click)="back()">
    <a class="material-icons">keyboard_backspace</a> Orders
  </h1>
  <!-- Main Generator -->
  <div *ngIf="!isDraft" class="stepper-wrapper">
    <div class="stepper">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" class="label" href="#supplier"><span class="round-tab">1</span>Purchase Order</a>
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#gInvoice"
            ><span class="round-tab">2</span>Generate Proforma Invoice</a
          >
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#review"> <span class="round-tab">3</span>Review and confirm </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="supplier">
          <div class="panel panel-tab">
            <div class="panel-body">
              <div class="padding-all-2">
                <app-order-po [generateOrder]="false" [order]="order"></app-order-po>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="gInvoice">
          <app-order-invoice-generator
            [form]="invoiceForm"
            [products]="products"
            (newInvoiceEvent)="receiveNewInvoice($event)"
            (newDraftInvoice)="draft = $event"
          ></app-order-invoice-generator>
        </div>
        <div class="tab-pane" id="review">
          <div class="panel panel-tab">
            <div class="panel-body">
              <div class="padding-all-2">
                <app-order-invoice
                  (formSubmitted)="formSubmitted = $event"
                  [generateInvoice]="true"
                  [invoice]="invoice"
                ></app-order-invoice>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Invoice draft generator -->
  <div *ngIf="isDraft" class="stepper-wrapper">
    <div class="stepper">
      <ul class="nav nav-tabs draft">
        <li class="active">
          <a data-toggle="tab" class="label" href="#gInvoice"
            ><span class="round-tab">1</span>Generate Proforma Invoice</a
          >
        </li>
        <li class="disabled">
          <a data-toggle="tab" class="label" href="#review"> <span class="round-tab">2</span>Review and confirm </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="gInvoice">
          <app-order-invoice-generator
            [form]="invoiceForm"
            [products]="products"
            (newInvoiceEvent)="receiveNewInvoice($event)"
          ></app-order-invoice-generator>
        </div>
        <div class="tab-pane" id="review">
          <div class="panel panel-tab">
            <div class="panel-body">
              <div class="padding-all-2">
                <app-order-invoice [generateInvoice]="true" [invoice]="invoice"></app-order-invoice>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
