<h1 class="main-title">We're Here to Help</h1>
<p>You can always reach us on one of the below channels</p>
<div class="row mt-5">
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-body">
        <img src="../../assets/img/whatsapp.png" />
        <p class="contact-title">Whatsapp</p>
        <p>+97250-766-5447</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-body">
        <img src="../../assets/img/at.png" />
        <p class="contact-title">Email</p>
        <p>office@avenews-gt.com</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-body">
        <img src="../../assets/img/intercom.png" />
        <p class="contact-title">Intercom</p>
        <a class="intercom-trigger-btn" (click)="openIntercom()">Just Click Me!</a>
      </div>
    </div>
  </div>
</div>
