<div class="wrapper modal-box" id="addContactWizard">
  <div class="modal-box-content-wrapper">
    <div class="modal-box-content">
      <div class="modal-box-heading">
        <i class="material-icons pull-right" (click)="onModalClose()" #closeModal>close</i>
        <h2 *ngIf="!isEdit" translate class="modal-title">Add Contact - Farmer</h2>
        <h2 *ngIf="isEdit" translate class="modal-title">Edit Contact</h2>
      </div>
      <div class="modal-box-center">
        <h3>{{ title }} - step {{ step }} of 2</h3>
      </div>
      <div class="modal-box-center">
        <div class="stepper-wrapper">
          <div class="stepper desktop-stepper">
            <div class="tab-content">
              <div class="row tab-pane active margin-none" id="farmer-details">
                <app-farmer-details [contact]="contact" [isEdit]="isEdit"></app-farmer-details>
              </div>
              <div class="row tab-pane margin-none" id="additional-details">
                <app-additional-details></app-additional-details>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
