.form-group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.margin-bottom {
  margin-bottom: 0.15rem;
}

.modal-box-content {
  width: 63%;
  max-height: 85vh;
  overflow: auto;
}

.stepper {
  position: relative;
  display: inline-block;
}

.contact-help-wrapper {
  display: flex;
  position: absolute;
  bottom: 3rem;
  margin-right: 3rem !important;
  margin-left: 3rem;
  width: 30%;

  #contact-help-text {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p:first-child {
      font-weight: bold;
      font-style: italic;
      font-size: 16px;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 0px;
      font-size: 15px;
    }

    a {
      font-size: 1.4rem;
      color: #37c1ce;
      text-decoration-line: underline;
      font-weight: bold;
      cursor: pointer;
      font-size: 15px;
    }
  }
}
