<div class="panel panel-tab">
  <div class="panel-body">
    <div class="padding-all">
      <div class="border-box">
        <h2>
          QUOTE REQUEST<span *ngIf="!isGenerator" style="font-size: 1.9rem;"> #{{ quoteRequest?.numericId }}</span>
        </h2>
        <table>
          <tr>
            <td class="t-blue t-bold">ISSUE DATE</td>
            <td>{{ quoteRequest?.date_created | date: 'dd/MM/yyyy' }}</td>
          </tr>
          <tr>
            <td class="t-blue t-bold">VALID BY</td>
            <td *ngIf="quoteRequest.valid_by">{{ quoteRequest?.valid_by | date: 'dd/MM/yyyy' }}</td>
            <td *ngIf="!quoteRequest.valid_by">N/A</td>
          </tr>
        </table>
      </div>
      <div class="row" style="padding-top: 5rem;">
        <div class="col-md-9">
          <p class="t-blue t-bold">ISSUED BY</p>
          <p>{{ quoteRequest?.buyer?.first_name }} {{ quoteRequest?.buyer?.last_name }}</p>
          <p>{{ quoteRequest?.buyer?.company_name }}</p>
          <p>{{ quoteRequest?.buyer?.email }}</p>
          <p>
            {{ quoteRequest?.buyer?.address }}, {{ quoteRequest?.buyer?.city }}, {{ quoteRequest?.buyer?.zipcode }},
            {{ quoteRequest?.buyer?.country }}
          </p>
          <p>{{ quoteRequest?.buyer?.phone_number }}</p>

          <div style="padding-top: 2rem;">
            <p class="heading-3">PRODUCTS</p>
            <table class="products-table">
              <thead>
                <tr>
                  <th>PRODUCT</th>
                  <th>PACKAGES</th>
                  <th>AMOUNT</th>
                  <th>SPECIFICATIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="product">
                  <td>
                    <span *ngIf="!product.product_type || product.product_type == 'agricultural'">
                      {{ product.produce }} / {{ product.variety }}
                    </span>
                    <span *ngIf="product.product_type == 'processed' && product.item_package_type">
                      {{ product.produce }} / {{ product.item_measurement_amount | number: '1.2-2' }}
                      {{ product.item_measurement_unit | uppercase }} / {{ product.item_package_type }}
                    </span>
                    <span *ngIf="product.product_type == 'processed' && !product.item_package_type">
                      {{ product.produce }}
                    </span>
                  </td>
                  <td>
                    <span *ngIf="!product.product_type || product.product_type == 'agricultural'">
                      {{ product.quantity_requested | number: '1.0' }} ({{ product.type_of_package }} /
                      {{ product.package_weight | number: '1.2-2' }} {{ product.weight_unit | uppercase }})
                    </span>
                    <span *ngIf="product.product_type == 'processed' && product.item_package_type">
                      {{ product.quantity_requested | number: '1.0' }} ({{ product.type_of_package }} /
                      {{ product.items_per_package | number: '1.0'
                      }}<span *ngIf="product.items_per_package > 1"> items)</span
                      ><span *ngIf="product.items_per_package == 0"> item)</span>
                    </span>
                    <span *ngIf="product.product_type == 'processed' && !product.item_package_type">
                      {{ product.quantity_requested | number: '1.0' }} ({{ product.type_of_package }})
                    </span>
                  </td>
                  <td>
                    <span *ngIf="!product.product_type || product.product_type == 'agricultural'"
                      >{{ product.total_weight_requested | number: '1.2-2' }}
                      {{ product.weight_unit | uppercase }}</span
                    >
                    <span *ngIf="product.product_type == 'processed'">N/A</span>
                  </td>
                  <td>
                    <span id="specification">{{ product.specification || 'N/A' }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="padding-top: 2rem;">
            <div class="row">
              <div class="col-md-9">
                <p class="heading-3">COMMENTS</p>
                <p>
                  {{ quoteRequest?.buyer_comments || 'N/A' }}
                </p>
              </div>
              <div class="col-md-3">
                <div class="border-box center-items pull-right">
                  <p class="heading-3">CURRENCY</p>
                  <p class="t-blue t-bold">{{ quoteRequest?.currency }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isSeller" class="col-md-3">
          <p class="t-blue t-bold">ISSUED FOR</p>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>Contact Name</th>
                <th>Company Name</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let seller of (quoteRequest.sellers | paginate: { itemsPerPage: 5, currentPage: page });
                  let i = index
                "
              >
                <td>{{ seller.first_name }} {{ seller.last_name }}</td>
                <td>{{ seller.company_name || 'N/A' }}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="quoteRequest.sellers?.length > 5" (pageChange)="page = $event">
          </pagination-controls>
        </div>
        <div *ngIf="isSeller && quotation && !seller" class="col-md-3">
          <p class="t-blue t-bold">ISSUED FOR</p>
          <p>{{ quotation?.seller?.first_name }} {{ quotation?.seller?.last_name }}</p>
          <p>{{ quotation?.seller?.company_name }}</p>
          <p>{{ quotation?.seller?.email }}</p>
          <p>
            {{ quotation?.seller?.address }}, {{ quotation?.seller?.city }}, {{ quotation?.seller?.zipcode }},
            {{ quotation?.seller?.country }}
          </p>
          <p>{{ quotation?.seller?.phone_number }}</p>
        </div>
        <div *ngIf="isSeller && !quotation && seller" class="col-md-3">
          <p class="t-blue t-bold">ISSUED FOR</p>
          <p>{{ seller?.first_name }} {{ seller?.last_name }}</p>
          <p>{{ seller?.company_name }}</p>
          <p>{{ seller?.email }}</p>
          <p>
            {{ seller?.address }}, {{ seller?.city }}, {{ seller?.zipcode }},
            {{ seller?.country }}
          </p>
          <p>{{ seller?.phone_number }}</p>
        </div>
      </div>
      <button *ngIf="!isGenerator" class="btn-primary-transp pull-right" (click)="downloadPopup()">
        Download PDF
      </button>
    </div>
  </div>
</div>
<div>
  <button #submitButton *ngIf="isGenerator" class="bttn-primary pull-right" (click)="submitQuoteRequest()">
    Send Quote Request
  </button>
  <button *ngIf="seller" class="bttn-primary pull-right next-step">Generate quotation &rarr;</button>
</div>
