<div class="sm-vp-summary closed-summary" (click)="toggleOrderSummary()">
  <div class="vp-summary-main mb-3">
    <p class="heading-2 mr-2">{{ packagesSum }}</p>
    <p class="heading-2">Packages Selected</p>
    <span class="pull-right heading-2 t-blue"
      >{{ order.subtotal.value | number: '1.2-2' }} {{ order?.currency.value }}</span
    >
  </div>
  <app-order-generator-summary
    [productList]="productList"
    [currency]="order.currency.value"
    [form]="form"
  ></app-order-generator-summary>
</div>
