    <button class="btn-icons pull-right" style="margin-top:.5rem;"><i class="material-icons">keyboard_arrow_right</i></button>
    <button class="btn-icons pull-right" style="margin-top:.5rem;" ><i class="material-icons">keyboard_arrow_left</i></button>
<div class="docs-section clearfix">
  <div class="doc-card-upload">
    <div>
      <label class="material-icons" id="add-btn" for="btn-input">add</label>
      <input type="file" id="btn-input" />
      <p>Upload Document</p>
    </div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
        >delete</span
      >
      <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
        >delete</span
      >
      <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
        >delete</span
      >
      <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
        >delete</span
      >
      <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
        >delete</span
      >
      <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon" placement="top" data-container="body" ngbTooltip="Delete"
        >delete</span
      >
      <span class="pull-right material-icons download" placement="top" ngbTooltip="Download">cloud_download</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <a href="" target="_blank"> <span class="material-icons bttn-view">pageview</span> <span>View</span> </a>
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
</div>
