<div class="docs-section">
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon">delete</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon">delete</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon">delete</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon">delete</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon">delete</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon">delete</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
  <div class="doc-card">
    <div>
      <span class="pull-left">#122</span>
      <span class="material-icons pull-right icon">delete</span>
    </div>
    <div>
      <img src="../../../assets/img/pdf.png" />
      <p class="normal-text-bold">Contract.pdf</p>
      <p class="heading-3">Uploaded by Alex Benn</p>
    </div>
    <div><p class="heading-3">10/28/2018</p></div>
  </div>
</div>
