@import "../../../../assets/sass/abstracts/variables";

.remove {
  background-color: transparent;
  border: 1px solid $red-color;
  color: $red-color;
  margin-right: 1rem;
}

.edit {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;

  i {
    font-size: 1.6rem;
  }
}
