<div class="form-row">
  <div class="form-group col-md-6">
    <label for="loading_location">Loading Location</label>
    <input
      type="text"
      id="loading_location"
      class="form-control"
      #search
      [formControl]="searchControl"
      placeholder="Type loading location here..."
      required
    />
  </div>
  <div class="form-group col-md-6">
    <label for="gps_coordinates">GPS coordinates</label>
    <input class="form-control" id="gps_coordinates" placeholder="GPS coordinates" />
  </div>
</div>

<div class="center-text-btn margin-bottom">
    <label for="international_switch">Product can be sold internationally</label>
    <div class="switch">
      <input id="international_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked />
      <label for="international_switch"></label>
    </div>
  </div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="tariff_code">HS Tariff Code</label>
    <input type="number" placeholder="Type HS tariff code here..." class="form-control" id="tariff_code" />
    <p class="help-block">
      <a target="_blank" href="https://www.tradefinanceglobal.com/freight-forwarding/incoterms/">Search incoterms</a>
      for international shipping
    </p>
  </div>
  <div class="form-group col-md-6">
    <label for="excluded_countries">Excluded countries</label>
    <select class="form-control" id="excluded_countries">
      <option *ngFor="let country of countriesList" [value]="country.viewValue"> {{ country.viewValue }} </option>
    </select>
  </div>
</div>

<button class="btn-primary-filled pull-right next-step">Save</button>
