@import "../../../assets/sass/abstracts/variables";

select {
  font-size: 1.25rem;
  height: 3.2rem;
  border-radius: 0.8rem;
}

.form-row:not(:nth-child(3)) {
  padding-top: 3rem;
}

.btn-primary-filled {
  background-image: linear-gradient(to right, #55d5d1, $primary-color);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}

.form-group {
  padding-bottom: 1.2rem;
}
