<div class="order-summary">
  <p class="heading-2">Products</p>

  <div class="product-item">
    <figure
      class="img-circular-sm margin-none"
      style="background-image: url('../../../../assets/img/chia.jpg');"
    ></figure>
    <div>
      <p>Chia Seeds</p>
      <p>12 USD/kg</p>
    </div>
    <p class="quantity">x1</p>
  </div>
  <div class="product-item">
      <figure
        class="img-circular-sm margin-none"
        style="background-image: url('../../../../assets/img/coffee.jpg');"
      ></figure>
      <div>
        <p>Green Coffee</p>
        <p>12 USD/kg</p>
      </div>
      <p class="quantity">x5</p>
    </div>

    <div class="total">
      <p>TOTAL</p>
      <p class="heading-3-blue">142 USD</p>
    </div>
</div>


