<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us about your business.</p>
  </div>

  <div class="step-content">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="business-name">Business name</label>
        <input type="text" id="business-name" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="business-nature">Nature of business</label>
        <input type="text" id="business-nature" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="registration-date">Date started</label>
        <input type="text" id="registration-date" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="BRN">Registration / ID Number</label>
        <input type="text" id="BRN" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="b-pin">PIN number</label>
        <input type="text" id="b-pin" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="vat">VAT Number</label>
        <input type="text" id="vat" class="form-control" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="physical-adress">Physical address</label>
        <input type="text" id="physical-adress" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="street">Street</label>
        <input type="text" id="street" class="form-control" />
      </div>
    </div>
  </div>
</div>