<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Tell us about your business.</p>
  </div>

  <form [formGroup]="loan_form" class="col">
    <div formGroupName="business_basic_details" #businessBasicDetails>
      <div class="step-content">
        (Sole trader)
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="business-name">Business name</label>
            <input type="text" id="business-name" class="form-control" formControlName="business_name" />
          </div>
          <div class="form-group col-md-6">
            <label for="business-nature">Nature of business</label>
            <div class="input-group">
              <input type="text" id="business-nature" class="form-control" formControlName="business_nature" />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="registration-date">Date started</label>
            <div class="input-group">
              <input
                type="text"
                id="registration-date"
                class="form-control"
                placeholder="DD/MM/YYYY"
                formControlName="registration_date"
              />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="BRN1">Registration / ID Number</label>
            <div class="input-group">
              <input type="text" id="BRN1" class="form-control" formControlName="brn" />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="b-pin1">Company PIN number</label>
            <div class="input-group">
              <input type="text" id="b-pin1" class="form-control" formControlName="b_pin" />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="vat">VAT Number</label>
            <input
              type="text"
              id="vat"
              class="form-control"
              placeholder="(+254) 7XX-XXX-XXX"
              formControlName="vat_number"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="physical-adress">Physical address</label>
            <input type="text" id="physical-address" class="form-control" formControlName="physical_address" />
          </div>
          <div class="form-group col-md-6">
            <label for="street">Street</label>
            <input type="text" id="street" class="form-control" formControlName="street" />
          </div>
        </div>

        (LLC & Partnership)
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="business-name">Business name</label>
            <input type="text" id="business-name" class="form-control" formControlName="business_name" />
          </div>
          <div class="form-group col-md-6">
            <label for="BRN2">Business registration number</label>
            <div class="input-group">
              <input type="text" id="BRN2" class="form-control" formControlName="brn" />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="registration-date">Registration date</label>
            <div class="input-group">
              <input
                type="text"
                id="registration-date"
                class="form-control"
                placeholder="DD/MM/YYYY"
                formControlName="registration_date"
              />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="vat">VAT number</label>
            <div class="input-group">
              <input type="text" id="vat" class="form-control" formControlName="vat_number" />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="b-pin2">Company PIN number</label>
            <div class="input-group">
              <input type="text" id="b-pin2" class="form-control" formControlName="b_pin" />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="telephone">Telephone number</label>
            <input
              type="text"
              id="telephone"
              class="form-control"
              placeholder="(+254) 7XX-XXX-XXX"
              formControlName="phone_number"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email-adress">Email adress</label>
            <div class="input-group">
              <input type="text" id="email-address" class="form-control" formControlName="email_address" />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="website">Company website</label>
            <div class="input-group">
              <input type="text" id="website" class="form-control" formControlName="company_website" />
              <span class="form-control-feedback" id="basic-addon1"
                ><i class="material-icons ml-2 md-18 infoAddon">info</i></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
