@import "../../../assets/sass/abstracts/variables";
@import "../../../assets/sass/abstracts/mixins";

.back {
  cursor: pointer;
}

.header-right {
  margin-left: auto;
}

.header-part {
  flex: 1;
}

.header-part:not(:first-child) {
  border-left: 1px solid #37c1ce;
  padding-left: 1.2rem;
  @include respond(phone) {
    border-left: none;
    padding-left: 0rem;
  }
}

.header-part:not(:last-child) {
  @include respond(phone) {
    border-bottom: 1px solid #37c1ce;
    padding:10px 0px;
  }
}

.header-part:last-child {
  @include respond(phone) {
    padding-top: 10px;
  }
}

#eco-header-wrapper {
  @include respond(phone) {
    flex-direction: column;
  }
}


.social-media {
  padding-top: 7px;
  padding-right: 10px;
}

.feather {
  color: #d3d8df;
  height: 20px;
}
