<div>
  <div class="row">
    <div class="col-12 mt-3">
      <div class="strip">
        <div class="d-flex">
          <div class="card-horizontal d-flex">
            <div class="ellipse-container d-flex">
              <div class="ellipse">
                <p>Oraganiztion Name</p>
                <p>OneFarm ID #1234</p>
              </div>
            </div>
            <div class="info-left d-flex">
              <div class="vertical-flex">
                <p class="name"></p>
                <p class="faded"></p>

              </div>
            </div>
          </div>
          <div class="flex-right">
            <div class="vertical-flex social-media-wrapper">
              <p class="card-text social-media">

                <i data-feather="at-sign"></i>
              </p>
              <p class="card-text social-media phone">

                <i data-feather="phone"></i>
              </p>
              <p class="card-text social-media">

                <i data-feather="map-pin"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
