<div class="dropdown">
  <div id="flex-notif" data-toggle="dropdown" aria-expanded="true">
    <i class="material-icons">notifications</i>
    <span *ngIf="unreadNotificationsAmount" class="notification">{{ unreadNotificationsAmount }}</span>
  </div>
  <ul class="dropdown-menu pull-right notifications">
    <li
      class="dropdown-item"
      *ngFor="let notification of notifications"
      [ngClass]="{ 'unread-notification': notification.read === false }"
    >
      <div class="row" (click)="open(notification)">
        <div class="col-md-2">
          <figure
            class="img-circular img-circular-xs"
            [style.background-image]="'url(' + profilePicture(notification) + ')'"
          ></figure>
        </div>
        <div class="col-md-10 notificationText">
          <span *ngIf="notification.type === 'proforma-invoice'"
            ><b>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</b> sent you a
            <b>Proforma Invoice</b></span
          >
          <span *ngIf="notification.type === 'purchase-order'"
            ><b>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</b> sent you a
            <b>Purchase Order</b></span
          >
          <span *ngIf="notification.type === 'document'"
            ><b>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</b> uploaded a
            <b>Necessary Document</b></span
          >
          <span *ngIf="notification.type === 'contract'"
            ><b>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</b> uploaded a
            <b>Necessary Document</b></span
          >
          <p *ngIf="notification.type === 'quote-request'">
            <strong>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</strong> sent you a
            <strong>Quote Request</strong>
          </p>
          <p *ngIf="notification.type === 'quotation'">
            <strong>{{ notification.emitter.first_name }} {{ notification.emitter.last_name }}</strong> sent you a
            <strong>Quotation</strong>
          </p>
          <p>{{ notification.date_created | date: 'dd/MM/yyyy hh:mm aaa' }}</p>
        </div>
      </div>
    </li>
    <li><a routerLink="/notifications" class="see-all">See All</a></li>
  </ul>
</div>
