:host {
  width: 100%;
}
.form-group {
  margin-bottom: 1.6rem;
}
.margin-bottom {
  margin-bottom: 0.15rem;
}
label {
  font-size: 1.6rem !important;
  font-family: roboto !important;
  font-weight: 400 !important;
}
.flex-columns {
  flex-direction: column;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid #37c1ce !important;
}
.prev-step {
  min-width: 18rem;
  display: block;
}
.btn-feather {
  border-radius: 2px;
  background: #e3e5f1;
  color: #7d8796;
}
.or {
  top: 0.8rem;
}
.modal-box-center {
  padding: 1.6rem 3.2rem;
}

.stepper {
  position: relative;
  display: inline-block;
}
.modal-title {
  font-size: 2rem !important;
  font-family: roboto !important;
  letter-spacing: 0px !important;
  color: #455263 !important;
  margin: 0;
  font-weight: bold;
}
.contact-help-wrapper {
  display: flex;
  position: absolute;
  bottom: 3rem;
  margin-right: 3rem !important;
  margin-left: 3rem;
  width: 30%;

  #contact-help-text {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p:first-child {
      font-weight: bold;
      font-style: italic;
      font-size: 16px;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 0px;
      font-size: 15px;
    }

    a {
      font-size: 1.4rem;
      color: #37c1ce;
      text-decoration-line: underline;
      font-weight: bold;
      cursor: pointer;
      font-size: 15px;
    }
  }
}
.gender {
  font-size: 1.4rem !important;
}
.bttn-primary {
  border-radius: 30px;
  background: #37c1ce;
}
.bttn {
  width: 18rem;
  display: inline-block !important;
}
.date {
  display: inline-flex;
  button {
    font-size: 1.4rem;
  }
}
.has-error .input-group-append {
  border: 1px solid #a94442 !important;
}
input,
select {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #e3e5f1;
  border-radius: 3px !important;
  height: 3.7rem;
}
#input-group .bootstrap-select > .dropdown-toggle,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  height: 3.7rem !important;
}
button:disabled {
  cursor: no-drop;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1;
}
.has-error {
  #gender,
  .file-upload {
    color: red !important;
  }
}
.form-row {
  margin-bottom: 10px;
}
//////////////////////////////////////////////////////////////////////
.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
