<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <div class="panel stats-card">
      <a [routerLink]="['/order/list']" class="panel-body">
        <p class="stats-number">{{ counter.orders }}</p>
        <p class="stats-label">Orders</p>
      </a>
    </div>
  </div>
  <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <div class="panel stats-card">
      <a [routerLink]="['/transaction/list']" class="panel-body">
        <p class="stats-number">{{ counter.quote_requests }}</p>
        <p class="stats-label">Invoices</p>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <div class="panel stats-card">
      <a [routerLink]="['/transaction/list']" class="panel-body">
        <p class="stats-number">{{ counter.proforma_invoices }}</p>
        <p class="stats-label">Products</p>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <div class="panel stats-card">
      <a [routerLink]="['/transaction/list']" class="panel-body">
        <p class="stats-number">{{ counter.purchase_orders }}</p>
        <p class="stats-label">Ecosystems</p>
      </a>
    </div>
  </div> -->
</div>
