<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Do you own your business premises or do you lease?</p>
  </div>

  <form [formGroup]="loan_form" class="col">
    <div formGroupName="businessPremises" #businessPremises>
      <div class="step-content">
        <label for="ownership-type">Type of business premises</label>
        <div class="row options-wrapper">
          <div class="col-md-6 pl-0 mb-3">
            <label class="container">
              <input type="radio" id="owned" name="premises" value="owned" formControlName="premises" />
              <span class="checkmark">
                Owned
              </span>
            </label>
          </div>
          <div class="col-md-6 pl-0 ">
            <label class="container">
              <input type="radio" id="rented" name="premises" value="rented" formControlName="premises" />
              <span class="checkmark">
                Rented
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
