<div class="loan-step-wrapper">
  <div class="step-header">
    <div class="loan-assitant-img"></div>
    <p class="step-title">Do you own your business premises or do you lease?</p>
  </div>

  <div class="step-content">
    <label for="ownership-type">Type of business premises</label>
    <div class="row options-wrapper mb-2">
      <div class="col-md-6 pl-0 mb-3">
        <label class="container">
          <input type="radio" checked="checked" name="premises-radio" />
          <span class="checkmark">
            Formal lease
          </span>
        </label>
      </div>
      <div class="col-md-6 pl-0">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            Informal lease
          </span>
        </label>
      </div>
    </div>
    <div class="row options-wrapper">
      <div class="col-md-6 pl-0 mb-3">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            Owned
          </span>
        </label>
      </div>
      <div class="col-md-6 pl-0 ">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            Mortgaged
          </span>
        </label>
      </div>
    </div>
    <div class="row options-wrapper">
      <div class="pl-0 col mb-4">
        <label class="container">
          <input type="radio" name="premises-radio" />
          <span class="checkmark">
            Outstanding Mortgaged
          </span>
        </label>
      </div>
    </div>

    <label for="ownership-type">Are the business premises insured?</label>
    <div class="row options-wrapper">
      <div class="col-md-6 pl-0">
        <label class="container">
          <input type="radio" checked="checked" name="b-radio" />
          <span class="checkmark">
            Yes
          </span>
        </label>
      </div>
      <div class="col-md-6  pl-0">
        <label class="container">
          <input type="radio" name="b-radio" />
          <span class="checkmark">
            No
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
